table.grid {
	width: 100%;
	background: white;
	border-collapse: collapse; 
	border: 1px solid #165B31; }

table.grid th {
	padding: 5px;
	text-align: left;
	color: white;
	background-color: #b4d6cd; }

table.grid th a {
	text-decoration: none;
	color: Black; }
	
tr.grid-row-odd td,
tr.grid-row-even td,
table.grid th {
	border: 1px solid #165B31; }

tr.grid-row-odd td,
tr.grid-row-even td { 
	padding: 5px; 
	vertical-align: top; }
		
tr.grid-row-last {
	border-bottom-style: none; }

div.grid-header-text {
	padding: 0px; }

table.grid-header-right {
	margin-left: auto;
	margin-right: 0px;
}

div.grid-header-text-right {
	padding: 0px; 
	text-align: right;
}

div.grid-header-icon-asc {
	margin-right: 5px;
	padding-right: 15px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url(/static/images/resources/resources-icon-arrow-down.png);}

div.grid-header-icon-desc {
	margin-right: 5px;
	padding-right: 15px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url(/static/images/resources/resources-icon-arrow-up.png); }
	
td.grid-first-column,
th.grid-first-column {
	padding-left: 10px !important; }

div.table-bottom-tools {
	margin-top: 10px; }
	
div.pager {
	margin-top: 5px; }

div.pager a {
	color: White; }
	
table.td-table-links {
	margin-left: auto; }

td.pager-number,
td.pager-number-active,
td.pager-back,
td.pager-fast-back,
td.pager-forward,
td.pager-fast-forward {
	padding: 0px;
	border: 1px solid #165B31; }

td.pager-number a,
td.pager-back a,
td.pager-fast-back a,
td.pager-forward a,
td.pager-fast-forward a {
	color: Black;
	text-decoration: none;
	display: block;
	padding: 2px 5px 2px 5px; }

td.pager-number-active {
	color: Black;
	padding: 2px 5px 2px 5px;
	background-color: #B4D6CD; }

td.pager-fast-forward-no-click,
td.pager-fast-back-no-click,
td.pager-forward-no-click,
td.pager-back-no-click {
	color: #B4D6CD;
	border: 1px solid #B4D6CD;
	padding: 2px 5px 2px 5px; }

td.pager-number a:hover,
td.pager-fast-forward a:hover,
td.pager-forward a:hover,
td.pager-fast-back a:hover,
td.pager-back a:hover	{
	background-color: #E3F2EC; }
	
input.button-save {	
	border: 1px solid; 
	text-decoration:none; 
	background-color: white; 
	border-color: #B4D6CD; 
	background-color: white;}

input.button-save:hover {	
	background-color: #B4D6CD;}
	
table.grid td a {
	background-image: url(/static/images/resources/resources-icon-arrow-right.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 10px; }