body {
    background-image: none;
    background-color: #444444; }

div.image-expanded-title {
    text-align: center;
    margin-top: 10px;
    font-size: 14pt;
    color: White; }

div.image-expanded-container {
    margin-top: 5px;
    text-align: center; }

div.image-expanded-container img {
    border: 2px solid #111111; }
