body {
	background-position: 0px 60px;
	background-image: url(/static/images/resources/resources-bg.png);
	background-repeat: repeat-x; }

a {
	color: #165B31;
    text-decoration: none}

div.licence {
	border-color: #165B31; }
