{% load i18n %} {% load sass_tags %} {% load compress %}

{% block csslist %}
{% compress css %}
<link href="{% sass_src 'scss/library/jquery-ui@1.12.1.min.css' %}" rel="stylesheet" type="text/css" />
{% endcompress %}
{% endblock %}

<div class="row">
  <div class="col-md-12">
    <div id="map" style="width:100%; min-height: 500px; height: 750px;">
      {% include "database/_full_details_modal.html" %}

      <!-- About this Timelapse Modal-->
      <div class="modal fade" id="aboutTimelapseModalDiv" tabindex="-1" role="dialog" aria-labelledby="aboutTimelapseLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
      
            <div class="modal-header">
              <h5 class="modal-title h4" id="aboutTimelapseLabel">{% trans 'About this Timelapse' %} </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <section>
                <p>
                  {% trans 'This timelapse offers an overall preview as well as demonstration of how the slave movement happened. You may use the database search variables to refine the scope in this timelapse. Addtionally, you may benefit from:' %}
                </p>
              </section>
              <section class="margin-v">
                <div class="text-bold">{% trans 'Voyage Size' %}</div>
                <p>
                  {% trans 'Each circle on this timelapse represents a single voyage and is both sized, according to the number of captives on board, and colored, according to the three icons at the bottom left of the graph.' %}
                </p>
              </section>
              <section class="margin-v">
                <div class="text-bold">{% trans 'Voyage Nationality' %}</div>
                <p>
                  {% trans 'Each circle is color coded and the color code represents the nationality of the slave vessel, but users can instead choose Region of Embarkation, or Region of Disembarkation by clicking on the appropriate icon in the timeline.' %}
                </p>
              </section>
              <section class="margin-v">
                <div class="text-bold">{% trans 'Voyage Details' %}</div>
                <p>
                  {% trans 'To inspect details of an individual voyage, pause and click on a circle.' %}
                </p>
              </section>
            </div>
          </div>
        </div>
      </div><!-- End of About this Timelapse Modal-->
    </div>
  </div>
</div>

<div id="timelapse-container">

  

  <div id="timelapse-top-left">
    <v-year :current-year="timelapse.currentYear"></v-year>
    <div class="timelapse-info-container">
      <div class="timelapse-title">
        {% trans 'See <span id="tab-map-voyage-value"></span> Slave Voyages Cross the Atlantic' %}</div>
    </div>
    <v-voyage-info :data="timelapse.data" :is-visible="timelapse.isVisible"
    @set-row-data="setRowData"
    @close-timelapse-info="closeTimelapseInfo"></v-voyage-info>
  </div>

  <button id="timelapse-top-right" type="button" class="btn btn-sm btn-light margin-h-025" 
    onclick="voyagesMap.showModal('#aboutTimelapseModalDiv');" v-b-tooltip.hover title="{% trans 'Learn more about the Timelapse' %}"><i
      class="fas fa-info-circle"></i></button>

  <div class="col-md-12 flex-container" id="timelapse-bottom-left">
    <div class="flex-end">
      <v-play class="margin-h-025" :ui="timelapse.ui" :control="timelapse.control" @toggle-play="timelapse-toggle-play"></v-play>

      <!-- <div class="margin-h-025">
          <div class="collapse" id="collapseExample">
            PLACE CHART HERE
          </div>
          <a class="btn btn-sm btn-light" data-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-chart"></i>Analyze Captive Movements by Different Groups on a Timeseries Chart
          </a>
        </div> -->
    </div>
  </div>

  <div class="flex" id="timelapse-bottom-right">
    <v-speed :ui="timelapse.ui" :options="timelapse.options" :control="timelapse.control"  class="margin-h-025" :speeds="[0.5, 1, 2, 4]" :multiplier="6" v-b-tooltip.hover
      title="{% trans 'Play at different speeds' %}">
    </v-speed>
    <v-fullscreen type="button" class="btn btn-sm btn-light margin-h-025" v-b-tooltip.hover
      title="{% trans 'Play in full screen' %}"><i class="fas fa-compress"></i></v-fullscreen>
  </div>

</div>