{% load i18n %} {% load sass_tags %} {% load compress %}

{% block csslist %}
	{% compress css %}
	<link href="{% sass_src 'scss/library/jquery-ui@1.12.1.min.css' %}" rel="stylesheet" type="text/css" />
	{% endcompress %}
{% endblock %}

<div class="row" id="animation-container">
  <div class="col-md-12">
    <div id="timeControls">
      <div class="tab-title">{% trans 'See' %} <span id="tab-map-voyage-value"></span> {% trans 'slave voyages cross the Atlantic in a few minutes' %}
				<i class="fa fa-question-circle tooltip-pointer" data-toggle="tooltip" data-placement="top" title="{% trans 'Zoom in to see ports of departure and arrival for your selection. Paths reflect the size of the traffic.' %}"></i>
			</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="map" class="margin-v" style="width:100%; min-height: 500px; height: 750px;">
      <div id="voyage_info_dialog" class="animation_voyage_info animationElement" style="display:none; opacity: 0;">
        <div id="voyage_info_content"></div>
        <div class="animation_voyage_info_close_button">x</div>
      </div>
    </div>
  </div>
</div>

