/* LOGIN FORM */

/* Overwrite the common template style */
#content {
    margin: 0px 0px 0px 0px;
}

.login #container {
    
}

.login #content-main {
    width: 100%;
}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    float: left;
    width: 9em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    width: 14em;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .password-reset-link {
    text-align: center;
}

#login-header {
	/* border-radius: 5px 5px 0px 5px; */
	padding: 10px 10px 15px 10px;
	margin: 0px 0px 10px 0px; 
	border-bottom: 1px solid #DDCA9D;
}

#login-site-warning {
	color: red;
	font-size: 10pt;
}
