{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block stylesheet %}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin/login.css" />{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block branding %}{% endblock %}

{% block topbanner %}{% endblock %}

{% block content %}


<h1>Contribute </h1>

<p>
	The Contribute section of the Voyages website contains data entry forms by which users
	of the website can supply revise existing information in the Voyages Database or supply
	new data. A team of slave trade scholars will review each contribution, as part of the
	peer-review process. Once confirmed, the new or revised information will be incorporated
	in the next version of the Voyages Database. We anticipate releasing a new version every
	three years.
</p>

<p>
	The Contribution entry forms take advantage of possibilities offered by the internet
	to continuously improve the store of knowledge, whether in the traditional form of written
	documents or in the new form of collections of machine-readable data. The Voyages Database
	is itself the product of extensive revisions since the publication of the CD-ROM version of
	the dataset in 1999. The Contribute section will allow the database to evolve in a way that
	respects the high standards of scholarship governing the construction of the original database.
</p>

<p>
	Step-by-step instructions on how to use the data entry forms are provided in the Voyages
	Guide, a PDF file accessible in <a href="{% url 'voyage:guide' %}">“Understanding the Database”</a>.
	For advice on contributing new data, we ask you to read our <a href="#">“Guidelines for Contributors.”</a>
</p>

<p>
	For purposes of managing contributions to the website, contributors are asked to register
	for an account and provide an email address for communication. Once your registration is
	confirmed, you will receive an email with your user name and password, which you can use
	to access the Contribute section (below).
</p>

<h2>Sign in</h2>

<p>
	In order to access the Contribute section, please sign in.
</p>

<!--
<div id="login-header">
<h1 id="site-name">{% trans 'Voyage Admin (Live)' %}
</h1>
<span id="login-site-warning">{% trans 'NOTE: Any changes will take effect immediately' %}</span>
</div>
-->

{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main" style="padding: 5px 5px 5px 100px; background-color: #FFF8CE; border-top: 1px solid #DDCA9D; border-bottom: 1px solid #DDCA9D;">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
    <label for="id_username" class="required">{% trans 'Username:' %}</label> {{ form.username }}
  </div>
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
    <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password }}
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <br />
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Sign in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

<p>If you don't have an account, <a href="{% url 'voyage:newuser' %}">click here</a>.</p>

</div>
{% endblock %}
