{% extends "_base.html" %}
{% load voyage_extras %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}

{% block content %}

<!-- CSS for Trans-Atlantic -->
<link href="{% sass_src 'scss/library/js-offcanvas@1.0.0.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

<link href="{% sass_src 'scss/library/bootstrap-vue-2.0.0-rc.11.css' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/blog.css' %}" rel="stylesheet" type="text/css" />

<div class="nav-header">
	<div>{% trans 'Echoes: The SlaveVoyages Blog' %} - {{ object.name }}</div>
	<div class="navbar-subtitle flex">
		<div class="navbar-subitem">			
			{% block userlinks %}				
			<a class="navbar-subitem-link" href="{% url 'blog:blog' %}">{% trans 'All posts' %}</a> 				
			{% endblock %}			
		</div>
	</div>
</div>


<div class="container-new">
    <div class="row">
      <div class="col-md-12  mb-4  mt-3 left  top">
        <div class="card-body">
          {% thumbnail author.photo "300x300" crop="center" as im %}
            <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
          <p>
          <h1>{% block title %} {{ object.name }} {% endblock title %}
            <br>
            <small>
              {{ object.role }} at <a href="{% url 'blog:institution_detail' object.institution.slug  object.institution.id   %}" >{{ object.institution.name }}</a>
            </small>
          </h1>
          </p>
          <p>
            <div class="card-text blog-content">{{ object.description|default_if_none:"" }}</div>
          </p>
          <hr>
          <h3>Author's posts:</h3>

          <div class="row">
            {% for post in object.post_set.all %}

        <div class="col-md-4">
            <div class="content"> 
                <a href="{% url 'blog:post_detail' post.slug  post.id   %}">
                    <div class="content-overlay"></div> 
                    
                    
                    {% thumbnail post.thumbnail "300x300" crop="center" as im %}                        
                        <img class="content-image" src="{{ im.url }}"  width="100%" height="{{ im.height }}">    
                    {% endthumbnail %}                
                    
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{ post.title }}</h3>
                        <p class="content-text">
                            {% for author in post.authors.all %}            
                                {{ author.name }}
                                {{ forloop.last|yesno:",|"|safe }}
                            {% endfor %}
                        </p>
                    </div>
                </a> 
            </div>
        </div>
        {% endfor %}   
      </div>

        </div>
      </div>
      
    </div>
  </div>

{% endblock %}