{% extends "_base.html" %}
{% load voyage_extras %}
{% load sass_tags %}
{% load i18n %}

{% load thumbnail %}


{% block content %}

{% load staticfiles %}

<!-- Custom js-->
<script type="text/javascript" src="{% static 'blog/scripts/test.js' %}"></script>


<!-- CSS for Trans-Atlantic -->
<link href="{% sass_src 'scss/library/js-offcanvas@1.0.0.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

<link href="{% sass_src 'scss/library/bootstrap-vue-2.0.0-rc.11.css' %}" rel="stylesheet" type="text/css" />

<link href="{% sass_src 'scss/blog.scss' %}" rel="stylesheet" type="text/css" />

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>


<div class="nav-header">
	<div>{% block title %} {% trans 'Echoes: The SlaveVoyages Blog' %} {% endblock title %}</div>
	<div class="navbar-subtitle flex">
		
	</div>
</div>

<div class="container-new">

    <div class="card-columns">
  
      {% for post in post_list %}
        <div class="card">
          <a href="{% url 'blog:post_detail' post.slug   %}">
            <div class="content-overlay"></div> 
            <img class="card-img img-fluid content-image " src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">{{ post.title }}</h3>
              <h4 class="content-title">{{ post.subtitle|default_if_none:"" }}</h4>
              <p class="content-text">
                  {% for author in post.authors.all %}            
                      {{ author.name }}
                      {{ forloop.last|yesno:",|"|safe }}
                  {% endfor %}
              </p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if is_paginated %}  
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation container">
                <div class="dataTables_paginate paging_simple_numbers">
                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.                    
                    <ul class="pagination pagination-sm justify-content-center">                
                        {% if page_obj.has_previous %}
                        <li><a href="?page=1" class="page-link">&laquo; {% trans 'First' %}</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">{% trans 'Previous' %}</a></li>
                        {% endif %}        
                        {# Paginator num pages #}
                        {% for i in paginator_range %}
                            {% if i == results.number %}
                                <li class="paginate_button page-item active">
                                <a href="#" class="page-link">{{ i }}</a>
                                </li>
                            {% else %}
                                <input type="hidden" id="form_page_{{ i }}" value="{{ i }}" name="desired_page" disabled="true">
                                <li class="paginate_button page-item">
                                <a href="#" onclick="retrieve_page('form_page_{{ i }}');" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}            
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">{% trans 'Next' %}</a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">{% trans 'Last' %} &raquo;</a></li>

                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>    
    {% endif %}
  </div>



{% endblock %}