{% extends "_base.html" %}
{% load voyage_extras %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}

{% block content %}

<!-- CSS for Trans-Atlantic -->
<link href="{% sass_src 'scss/library/js-offcanvas@1.0.0.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

<link href="{% sass_src 'scss/library/bootstrap-vue-2.0.0-rc.11.css' %}" rel="stylesheet" type="text/css" />

<link href="{% sass_src 'scss/blog.scss' %}" rel="stylesheet" type="text/css" />


<div class="nav-header">
	<div>{% trans 'Echoes: The SlaveVoyages Blog' %} - {{ object.name }}</div>
	<div class="navbar-subtitle flex">
		<div class="navbar-subitem">			
			{% block userlinks %}				
			<a class="navbar-subitem-link" href="{% url 'blog:blog' %}">{% trans 'All posts' %}</a> 				
			{% endblock %}			
		</div>
	</div>
</div>


<div class="container-new">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              {%if institution.image %}
              <img src="{{ institution.image.url }}" alt="{{ object.name }}"  width="300">
              {% endif %}
              <div class="mt-3">
                <h4>{{ object.name }}</h4>
                <p class="text-secondary mb-1">{{ object.description|default_if_none:"" }}</p>                
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">                        
            {{ profile|safe }}
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container-new">
    <div class="row">
      <div class="col-md-12  mb-4  mt-3 left  top">
        <div class="card-body">
          
          <h3>Institution Authors:</h3>          
          
          {% for author in object.author_set.all %}                 
                <div class="media ">
                  <div class="media-left media-top">
                    {% thumbnail author.photo "64x64" crop="center" as im %}
                      <a href="{% url 'blog:author_bio' author.slug  author.id   %}" >
                        <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                      </a>
                    {% endthumbnail %}
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="{% url 'blog:author_bio' author.slug  author.id   %}" >
                        {{ author.name }}
                      </a>
                    </h4>
                    {{ author.role }}
                  </div>                
              </div>              
              <div class="row mt-3"></div>
          {% endfor %}
        
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}