{% extends "_base.html" %}
{% load voyage_extras %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}

{% block content %}

<!-- CSS for Trans-Atlantic -->
<link href="{% sass_src 'scss/library/js-offcanvas@1.0.0.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/intra.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/library/bootstrap-vue-2.0.0-rc.11.css' %}" rel="stylesheet" type="text/css" />


<div class="nav-header">
	<div>{% trans 'Blog' %} - {{ object.title }}</div>
	<div class="navbar-subtitle flex">
		<div class="navbar-subitem">			
			{% block userlinks %}				
			<a class="navbar-subitem-link" href="{% url 'blog:blog' %}">{% trans 'All posts' %}</a> 				
			{% endblock %}			
		</div>
	</div>
</div>


<div class="container-new">
    <div class="row">
      <div class="col-md-12  mb-4  mt-3 left  top">
        <div class="card-body">
          {% thumbnail post.thumbnail "300x300" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
          <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p>
            {% for tag in post.tags.all %}
              <a href="{% url 'blog:tag' tag.slug   %}">
                <span class="badge badge-pill badge-secondary">{{ tag.name }}</span>
              </a>
            {% endfor %}
          </p>
          <div class="card-text blog-content">{{ object.content | safe }}</div>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}