{% verbatim %}
<li class="nav-item dropdown">

  <v-menu-title :count="filter.captainAndCrew.count" title="Captain and Crew"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="captainAndCrew" sub-group="captainAndCrew" title="Captain and Crew" :filters="filter.captainAndCrew.captainAndCrew" :count="filter.captainAndCrew.captainAndCrew.count" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="Captain and Crew" description="Captain and Crew">
        <div slot="v-modal-content">
          Some help text
        </div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <p>
        filters are: {{scope.filters}}
      </p>

      <v-text @change="changed"
        :filter="scope.filters.var_captain_plaintext">
      </v-text>

      <v-number @change="changed"
        :filter="scope.filters.var_crew_voyage_outset">
      </v-number>

      <v-number @change="changed"
        :filter="scope.filters.var_crew_first_landing">
      </v-number>

      <v-number @change="changed"
        :filter="scope.filters.var_crew_died_complete_voyage">
      </v-number>

    </div>
  </v-panel-singular>

</li>
{% endverbatim %}
