{% verbatim %}

<li class="nav-item dropdown">
	<v-menu-title :count="filter.itinerary.count" title="Itinerary"></v-menu-title>
	<div class="">
		<ul class="dropdown-menu search-menu" id="itinerary" role="menu">

			<v-panel @reset="reset" group="itinerary" sub-group="departure" @apply="apply" title="Place of Departure" :filters="filter.itinerary.departure">

				<div slot="v-panel-header">
					<v-panel-header title="Place of Departure" description="Overall numbers about slaves in the trade">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
	          filters are: {{scope.filters}}
					</p>

					<v-treeselect
						:filter="scope.filters.var_imp_port_voyage_begin"
						@change="changed"
					/>

				</div>
			</v-panel>

			<v-panel @reset="reset" group="itinerary" sub-group="purchase" @apply="apply" title="Place of Slave Purchase" :filters="filter.itinerary.purchase">
				<div slot="v-panel-header">
					<v-panel-header title="Place of Slave Purchase" description="Overall numbers about slaves in the trade">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
	          filters are: {{scope.filters}}
					</p>

					<v-treeselect
						:filter="scope.filters.var_imp_principal_place_of_slave_purchase"
						@change="changed"
					/>

					<v-treeselect
						:filter="scope.filters.var_first_place_slave_purchase"
						@change="changed"
					/>

					<v-treeselect
						:filter="scope.filters.var_second_place_slave_purchase"
						@change="changed"
					/>

					<v-treeselect
						:filter="scope.filters.var_third_place_slave_purchase"
						@change="changed"
					/>
				</div>
			</v-panel>

			<v-panel @reset="reset" group="itinerary" sub-group="call" @apply="apply" title="Places of Call before Atlantic Crossing" :filters="filter.itinerary.call">
				<div slot="v-panel-header">
					<v-panel-header title="Places of Call before Atlantic Crossing" description="Overall numbers about slaves in the trade">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
	          filters are: {{scope.filters}}
					</p>

					<v-treeselect
						:filter="scope.filters.var_port_of_call_before_atl_crossing"
						@change="changed"
					/>

				</div>
			</v-panel>

			<v-panel @reset="reset" group="itinerary" sub-group="landing" @apply="apply" title="Places of Slave Landing" :filters="filter.itinerary.landing">
				<div slot="v-panel-header">
					<v-panel-header title="Places of Slave Landing" description="Overall numbers about slaves in the trade">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
	          filters are: {{scope.filters}}
					</p>

					<v-treeselect
						:filter="scope.filters.var_imp_principal_port_slave_dis"
						@change="changed"
					/>

					<v-treeselect
						:filter="scope.filters.var_first_landing_place"
						@change="changed"
					/>

					<v-treeselect
						:filter="scope.filters.var_second_landing_place"
						@change="changed"
					/>

					<v-treeselect
						:filter="scope.filters.var_third_landing_place"
						@change="changed"
					/>
				</div>
			</v-panel>

			<v-panel @reset="reset" group="itinerary" sub-group="destination" @apply="apply" title="Place where Voyage Ended" :filters="filter.itinerary.destination">
				<div slot="v-panel-header">
					<v-panel-header title="Place where Voyage Ended" description="Overall numbers about slaves in the trade">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
	          filters are: {{scope.filters}}
					</p>

					<v-treeselect
						:filter="scope.filters.var_place_voyage_ended"
						@change="changed"
					/>

				</div>
			</v-panel>

			</ul>
	</div>
</li>

{% endverbatim %}
