{% verbatim %}
<li class="nav-item dropdown">
  <v-menu-title :count="filter.outcome.count" title="Outcome"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="outcome" sub-group="outcome" title="Outcome" :filters="filter.outcome.outcome" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="Outcome" description="Need a bit of work with the backend integration. Please focus on the UI element for now. Will update soon.">
        <div slot="v-modal-content">
          Some help text
        </div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <code v-if="options.debug">{{scope.filters}}</code>
      <v-treeselect
        :filter="scope.filters.var_outcome_voyage"
        v-if="filter.settings.settings.var_search_settings.value.searchTerm"
        @change="changed">
      </v-treeselect>

      <v-treeselect
        :filter="scope.filters.var_outcome_slaves"
        @change="changed">
      </v-treeselect>

      <v-treeselect
        :filter="scope.filters.var_outcome_ship_captured"
        v-if="filter.settings.settings.var_search_settings.value.searchTerm"
        @change="changed">
      </v-treeselect>

      <v-treeselect
        :filter="scope.filters.var_outcome_owner"
        @change="changed">
      </v-treeselect>

      <v-treeselect
        :filter="scope.filters.var_resistance"
        @change="changed">
      </v-treeselect>

    </div>
  </v-panel-singular>

</li>
{% endverbatim %}
