<li class="nav-item dropdown">
  <a id="show-query" class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <div>
      <input type="checkbox" id="checkbox" v-model="isAdvanced">
      <label for="checkbox">{{ isAdvanced }}</label>
    </div>
    <a class="dropdown-item" href="">Menu Item</a>
    <a class="dropdown-item" href="">Menu Item</a>
    <a class="dropdown-item" href="">Menu Item</a>
    <a class="dropdown-item" href="">Menu Item</a>
    <a class="dropdown-item" href="">Menu Item</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="">Menu Item</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a id="configure-query" class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <div>
      <input type="checkbox" id="checkbox" v-model="isAdvanced">
      <label for="checkbox">{{ isAdvanced }}</label>
    </div>
    <a class="dropdown-item" href="">Menu Item</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="">Menu Item</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a id="heart-query" class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-heart" aria-hidden="true"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="#">English</a>
    <a class="dropdown-item" href="#">Português</a>
  </div>
</li>
