{% verbatim %}
<li class="nav-item dropdown">
  <v-menu-title :count="filter.shipNationOwner.count" title="Ship, Nation, Owner"></v-menu-title>

  <div class="">
    <ul class="dropdown-menu search-menu" id="shipNationOwner" role="menu">

      <v-panel @apply="apply" @reset="reset" group="shipNationOwner" sub-group="voyagesAndVessels" title="Voyages and Vessels" :filters="filter.shipNationOwner.voyagesAndVessels">
        <div slot="v-panel-header">
          <v-panel-header title="Voyages and Vessels" description="Voyage ID number and information about the vessel">
            <div slot="v-modal-content">
							Some help text
						</div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <code v-if="options.debug">{{scope.filters}}</code>

          <v-number @change="changed"
            :filter="scope.filters.var_voyage_id">
          </v-number>

          <v-text @change="changed"
            :filter="scope.filters.var_ship_name"
          ></v-text>

          <v-text @change="changed"
            :filter="scope.filters.var_owner"
		        v-if="filter.settings.settings.var_search_settings.value.searchTerm"
          ></v-text>

        </div>
      </v-panel>

      <v-panel @apply="apply" @reset="reset" group="shipNationOwner" sub-group="constructionAndRegistration" title="Construction and Registration" :filters="filter.shipNationOwner.constructionAndRegistration"
      v-if="filter.settings.settings.var_search_settings.value.searchTerm">
        <div slot="v-panel-header">
          <v-panel-header title="Construction and Registration" description="The year and location of slave ship construction and registration">
            <div slot="v-modal-content">
							Some help text
						</div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <code v-if="options.debug">{{scope.filters}}</code>
          <v-number @change="changed"
            :filter="scope.filters.var_year_of_construction">
          </v-number>

          <v-treeselect @change="changed"
            :filter="scope.filters.var_vessel_construction_place_idnum">
          </v-treeselect>

          <v-number @change="changed"
            :filter="scope.filters.var_registered_year">
          </v-number>

          <v-treeselect @change="changed"
            :filter="scope.filters.var_registered_place_idnum">
          </v-treeselect>
        </div>
      </v-panel>

      <v-panel @apply="apply" @reset="reset" group="shipNationOwner" sub-group="flag" title="Flag" :filters="filter.shipNationOwner.flag">
        <div slot="v-panel-header">
          <v-panel-header title="Flag" description="The flag (nationality) of the slave ship">
            <div slot="v-modal-content">
							Some help text
						</div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <code v-if="options.debug">{{scope.filters}}</code>
          <v-treeselect
            :filter="scope.filters.var_nationality"
		        v-if="filter.settings.settings.var_search_settings.value.searchTerm"
            @change="changed">
          </v-treeselect>
          <v-treeselect
            :filter="scope.filters.var_imputed_nationality"
            @change="changed">
          </v-treeselect>
        </div>
      </v-panel>

      <v-panel @apply="apply" @reset="reset" group="shipNationOwner" sub-group="rigTonnageAndGunsMounted" title="Rig, Tonnage, and Guns Mounted" :filters="filter.shipNationOwner.rigTonnageAndGunsMounted"
      >
        <div slot="v-panel-header">
          <v-panel-header title="Rig, Tonnage, and Guns Mounted" description="Additional variables about slave ships">
            <div slot="v-modal-content">
							Some help text
						</div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <code v-if="options.debug">{{scope.filters}}</code>
          <v-treeselect
            :filter="scope.filters.var_rig_of_vessel"
            @change="changed">
          </v-treeselect>

          <v-number @change="changed"
            :filter="scope.filters.var_tonnage">
          </v-number>

          <v-number @change="changed"
            :filter="scope.filters.var_tonnage_mod">
          </v-number>

          <v-number @change="changed"
            :filter="scope.filters.var_guns_mounted">
          </v-number>
        </div>
      </v-panel>



      </ul>
  </div>
</li>
{% endverbatim %}
