{% verbatim %}

<li class="nav-item dropdown">
	<v-menu-title :count="filter.slave.count" title="Slave"></v-menu-title>
	<div class="">
		<ul class="dropdown-menu search-menu" id="slave" role="menu">

			<v-panel @reset="reset" group="slave" sub-group="overallNumbers" @apply="apply" title="Overall Numbers" :filters="filter.slave.overallNumbers">
				<div slot="v-panel-header">
					<v-panel-header title="Overall Numbers" description="Overall numbers about slaves in the trade">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
	          filters are: {{scope.filters}}
					</p>
          <v-number @change="changed"
						:filter="scope.filters.var_imp_total_num_slaves_purchased">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_total_num_slaves_purchased">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_imp_total_slaves_disembarked">
					</v-number>
				</div>
			</v-panel>

			<v-panel @reset="reset" group="slave" sub-group="purchaseNumbers" @apply="apply" title="Purchase Numbers" :filters="filter.slave.purchaseNumbers">
				<div slot="v-panel-header">
					<v-panel-header title="Purchase Numbers" description="Slave purchase numbers">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
						filters are: {{scope.filters}}
					</p>
					<v-number @change="changed"
						:filter="scope.filters.var_num_slaves_intended_first_port">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_num_slaves_carried_first_port">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_num_slaves_carried_second_port">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_num_slaves_carried_third_port">
					</v-number>

				</div>
			</v-panel>

			<v-panel @apply="apply" @reset="reset" group="slave" sub-group="landingNumbers" :filters="filter.slave.landingNumbers" title="Landing Numbers" >
				<div slot="v-panel-header">
					<v-panel-header title="Landing Numbers" description="Landing numbers of slaves">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>
				<div slot="v-panel-content" slot-scope="scope">
					<p>
						filters are: {{scope.filters}}
					</p>
					<v-number @change="changed"
						:filter="scope.filters.var_total_num_slaves_arr_first_port_embark">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_num_slaves_disembark_first_place">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_num_slaves_disembark_second_place">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_num_slaves_disembark_third_place">
					</v-number>

				</div>
			</v-panel>

			<v-panel @apply="apply" @reset="reset" group="slave" sub-group="percentageBySexAndAgeGroup" :filters="filter.slave.percentageBySexAndAgeGroup" title="Percentage by Sex and Age Group">
				<div slot="v-panel-header">
					<v-panel-header title="Percentage by Sex and Age Group" description="Demographic parameters about the slaves">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
						filters are: {{scope.filters}}
					</p>
					<v-number @change="changed"
						:filter="scope.filters.var_imputed_percentage_men">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_imputed_percentage_women">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_imputed_percentage_boys">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_imputed_percentage_girls">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_imputed_percentage_male">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_imputed_percentage_child">
					</v-number>
				</div>
			</v-panel>

			<v-panel @apply="apply" @reset="reset" group="slave" sub-group="otherCharacteristics" :filters="filter.slave.otherCharacteristics" title="Other Characteristics">
				<div slot="v-panel-header">
					<v-panel-header title="Other Characteristics" description="Other characteristics of the slaves">
						<div slot="v-modal-content">
							Some help text
						</div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<p>
						filters are: {{scope.filters}}
					</p>
					<v-number @change="changed"
						:filter="scope.filters.var_imputed_sterling_cash">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_imputed_death_middle_passage">
					</v-number>

					<v-number @change="changed"
						:filter="scope.filters.var_imputed_mortality">
					</v-number>

				</div>
			</v-panel>

			</ul>
	</div>
</li>

{% endverbatim %}
