{% verbatim %}

<li class="nav-item dropdown">
  <v-menu-title :count="searchFilter.groups.source.count" title="Source"></v-menu-title>
  <div class="">
  <ul class="dropdown-menu search-menu" id="source" role="menu">

    <v-panel @apply="apply" @reset="reset" group="source" sub-group="source" title="Data Source" is-advanced="false" :filters="searchFilter.groups.source.source" :count="searchFilter.groups.source.source.count" :visible="true">
      <div slot="v-panel-header">
        <v-panel-header title="Data Source" description="Source of the slave trade data">
          <div slot="v-modal-content">
            Some help text
          </div>
        </v-panel-header>
      </div>

      <div slot="v-panel-content" slot-scope="scope">
        <p>
          filters are: {{scope.filters}}
        </p>
        <v-input @change="changed"
          title="Source"
          description="This is the source of the data. This could be a partial keyword."
          var-name="var_sources_plaintext_search"
          search-term-caption=""
          :filter="scope.filters.var_sources_plaintext_search"
          :is-numeric=false
          :is-imputed=false
          :is-advanced=false>
        </v-input>
      </div>
    </v-panel>
    </ul>
  </div>
</li>

{% endverbatim %}
