<!-- Tabs -->
<ul class="nav nav-tabs trans-tab">
  <li class="nav-item">
    <a class="nav-link active" href="#" data-toggle="tab" data-target="#results">Results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tab" data-target="#summary-statistics">Summary Statistics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tab" data-target="#tables">Tables</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tab" data-target="#custom-graphs">Custom Graphs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tab" data-target="#timeline">Timeline</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tab" data-target="#maps">Maps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="tab" data-target="#animation">Animation</a>
  </li>
</ul>
<!-- End of Tabs -->

<!-- TabContainers -->
<div id="tabsJustifiedContent" class="tab-content">
  <div id="results" class="tab-pane fade active show">
    <table id="results_main_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Voyage ID</th>
          <th>Vessel Name</th>
          <th>Capitain Name</th>
          <th>Year Arrived w. Slaves*</th>
          <th>Principal Region of Slave Purchase*</th>
          <th>Principal Region of Slave Landing*</th>
          <th>Place where Voyage Began*</th>
          <th>Total Slaves Embarked*</th>
          <th>Outcome if Ship Captured*</th>
          <th>Sources</th>
          <!-- <th>I-Am</th> -->
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="summary-statistics" class="tab-pane fade">
    Summary Statistics
  </div>
  <div id="tables" class="tab-pane fade">
    Tables
  </div>
  <div id="custom-graphs" class="tab-pane fade">
    Custom Graphs
  </div>
  <div id="timeline" class="tab-pane fade">
    Timeline
  </div>
  <div id="maps" class="tab-pane fade">
    Maps
  </div>
  <div id="animation" class="tab-pane fade">
    Animation
  </div>
</div>
<!-- End of TabContainers -->
