<!-- Tabs -->
<ul class="nav nav-tabs trans-tab">
  <li class="nav-item">
    <a class="nav-link active" @click="setActive('results')" href="#" data-toggle="tab" data-target="#results">Results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('statistics')" href="#" data-toggle="tab" data-target="#summary-statistics">Summary Statistics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('tables')" href="#" data-toggle="tab" data-target="#tables">Tables</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('visualization')" href="#" data-toggle="tab" data-target="#visualization">Data Visualization</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('timeline')" href="#" data-toggle="tab" data-target="#timeline">Timeline</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('maps')" href="#" data-toggle="tab" data-target="#maps">Maps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="animation" @click="setActive('animation')" href="#" data-toggle="tab" data-target="#maps">Animation</a>
  </li>
</ul>
<!-- End of Tabs -->

<!-- TabContainers -->
<div id="tabsJustifiedContent" class="tab-content">
  <div id="results" class="tab-pane fade active show">
    {% include "voyage/vue/tabs/results-detail.html" %}
  </div>

  <div id="summary-statistics" class="tab-pane fade">
    {% include "voyage/vue/tabs/summary-statistics.html" %}
  </div>
  <div id="tables" class="tab-pane fade">
    {% include "voyage/vue/tabs/tables.html" %}
  </div>
  <div id="visualization" class="tab-pane fade">
    {% include "voyage/vue/tabs/visualization.html" %}
  </div>
  <div id="timeline" class="tab-pane fade">
    {% include "voyage/vue/tabs/timeline.html" %}
  </div>
  <div id="maps" class="tab-pane fade">
    {% include "voyage/vue/tabs/maps.html" %}
  </div>
  <!--
  <div id="animation" class="tab-pane fade">
    {% include "voyage/vue/tabs/animation.html" %}
  </div>
  -->
</div>
<!-- End of TabContainers -->
