{% verbatim %}
<div class="row v-variable-container" v-for="variable in currentQuery">
  <div class='col-md-12'>
    <pre class="text-bold inline variable-text">{{variable.label}}</pre>
    {{variable.op}}
    <pre class="text-bold inline variable-text" v-if="variable.searchTerm" v-text="variable.searchTerm"></pre>
    <span v-else>
      <pre class="text-bold inline variable-text">{{variable.searchTerm0}}</pre>
      <span v-if="variable.searchTerm1">
      and <pre class="text-bold inline variable-text">{{variable.searchTerm1}}</pre>
    </pre>
  </div>
</div>
{% endverbatim %}
