{% verbatim %}
<li class="nav-item dropdown">
  <v-menu-title :count="filter.year.count" title="Year Range"></v-menu-title>
  <v-panel-singular @apply="apply" @reset="reset" group="year" sub-group="year" title="Year Range" :filters="filter.year.year" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="Year Range" description="This is the year range of your search. Please enter a range between 1514 and 1866.">
        <div slot="v-modal-content">
          Some help text
        </div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <code v-if="options.debug">{{scope.filters}}</code>

      <v-number @change="changed"
        :filter="scope.filters.var_imp_arrival_at_port_of_dis">
      </v-number>
    </div>
  </v-panel-singular>
</li>
{% endverbatim %}
