{% verbatim %}
<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{searchFilter.yearRange.value.searchTerm[0]}} - {{searchFilter.yearRange.value.searchTerm[1]}}</a>
  <div class="">
    <ul class="dropdown-menu search-menu" id="range" role="menu">
        <li class="dropdown-item dropdown-item-li search-dropdown-item">
          <div class="popover-content">

            <v-panel-header title="Year Range" description="The year range of your search query" count="0"></v-panel-header>

            <v-input @change="changed"
              title="Year Range"
              description="The year range of your search query. The full extent of time from the first to the last voyage is 1514-1866 (restore it)."
              var-name="imp_arrival_at_port_of_dis"
              search-term-caption="Enter a value"
              :filter="searchFilter.yearRange">
            </v-input>

          </div>
        </li>
      </ul>
  </div>
</li>
{% endverbatim %}
