@import '_variables.less';
ul.contribute_menu {
    padding-left: 0;
    li {
        list-style: none;
        display: inline-block;
        width: 49%;
        a {
            color: #FFF;
            font-weight: normal;
            display: block;
            padding: 20px 15px;
            background-color: @voyagesLightBlue;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
}