documents/publication_logs
*.pyc
build/
dist/
test-results/
localsettings.py*
*~
documents/cache/*
.idea
*.log
.vscode
voyages/sitemedia/scss/**/*.css
voyages/sitemedia/scss/**/*.map
.DS_Store
voyages/static