documents/publication_logs
*.pyc
build/
dist/
test-results/
localsettings.py*
*~
documents/cache/*
.idea
*.log
.vscode
*.css.map
voyages/static/scss/*.css
voyages/static/scss/*.map
.DS_Store
voyages/static