{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block center-content %}
<h1>{% trans "Contribute" %}</h1>

{% url 'voyage:guide' as voyage_guide_url %}
{% url 'contribute:guidelines' as contribute_guidelines_url %}
{% url 'account_signup' as contribute_newuser_url %}
{% url 'account_reset_password'  as password_reset_url %}

<p>
	{% blocktrans %}The Contribute section allows users of the Voyages website to supply and/or revise existing information
    in the Voyages Database. A team of slave trade scholars will review each contribution as part of the peer-review process.
    New and/or revised information will be incorporated in the subsequent updates to the Voyages Database.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}The Contribute feature facilitates collaborative research and information sharing among the global
    network of scholars working to continuously improve the store of knowledge about the slave trade.  These scholars are
    increasingly working across diverse forms of media, from written documents to collections of machine-readable data.
    The Voyages Database is itself the product of extensive revisions since the publication of the CD-ROM version of the
    dataset in 1999. The Contribute section allows the database to continue evolving in a way that respects the high
    standards of scholarship governing the construction of the original database.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Step-by-step instructions on how to use the Contribute forms are provided in the Voyages Guide,
    a PDF file accessible in <a href="{{ voyage_guide_url }}">“Understanding the Database”</a>.
    For further advice on contributing new data, we ask you to read our
    <a href="{{ contribute_guidelines_url }}">“Guidelines for Contributors.”</a>{% endblocktrans %}
</p>

<p>
	{% blocktrans %}For purposes of managing contributions to the website, contributors are asked to register
	for an account and provide an email address for communication.{% endblocktrans %}
</p>

{% if user.is_authenticated %}
	{% trans "You are already signed in." %}
{% else %}

<h2>{% trans "Sign in" %}</h2>

<p>
	{% trans "In order to access the Contribute section, please sign in." %}
</p>

<div style="padding: 5px 5px 5px 100px; background-color: #FFF8CE; border-top: 1px solid #DDCA9D; border-bottom: 1px solid #DDCA9D;">
	{% if form.errors %}
	<p style="color: red">
		{% trans "Your username/email and password didn't match. Please try again." %}
	</p>
	{% endif %}

	<form method="post" action="{% url 'account_login' %}">
		{% csrf_token %}
		<table>
            {{ form.as_table }}
		</table>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
		<input type="hidden" name="next" value="{% url 'contribute:legal' %}" />
		<button type="submit" class="local_account_login_btn">
			{% trans 'Sign in' %}
		</button>
	</form>
		<form action="/accounts/google/login">
			<button type="submit" class="google_login_btn">
				<img src="{{ STATIC_URL}}images/contribute/google_logo.png" width="16px" height="16px" /> {% trans 'Sign in with Google' %}
			</button>
      	</form>
</div>

<p>
	{% blocktrans %}If you don't have an account, <a href="{{ contribute_newuser_url }}">click here</a>.{% endblocktrans %}
</p>
<p>
    {% blocktrans %}If you have forgotten your password click <a href="{{ password_reset_url }}">Forgotten Password</a>.{% endblocktrans %}
</p>
{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}scripts/utils.js"></script>
<script type="text/javascript">
    var params = pageGetParams();
    if (params.next) {
        $('input[name={{ redirect_field_name }}]').remove();
        $('form').append('<input type="hidden" name="{{ redirect_field_name }}" value="' + params.next + '" />');
    }
</script>

{% endblock %}
