{% extends "account/base.html" %}
{% load sass_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block center-content %}
<div class="page-title-1">{% trans "Contribute" %}</div>

{% url 'contribute:guidelines' as contribute_guidelines_url %}

<p>
	{% blocktrans %}Dear Contributors,{% endblocktrans %}
</p>

<p>
	{% blocktrans %}We are currently working to update our website, including its Contribute and the Editorial Platform pages. As a consequence, we will have to temporarily deactivate our contribution channels, including this portal. All other resources will remain intact.
{% endblocktrans %}
</p>

<p>
	{% blocktrans %}If you have any contribution that you would like to make – new voyages, details about existing voyages, information on enslaved and enslaver individuals – we kindly ask you to wait until we reactivate our contribution channels. Alternatively, you may submit your data by email to our project's Operational Committee at <a href="mailto:svopcom@googlegroups.com">svopcom@googlegroups.com</a>. We will save your contribution and submit it for review by our editors. Any approved contribution will be subsequently merged with the SlaveVoyages database.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}SlaveVoyages is a collaborative project. Our database is freely available to the public, and we welcome contributions from researchers and members of the general public. We are currently reviewing contributions to over 3,000 records of voyages and many more records of individual enslaved and enslavers. The forthcoming website update requires us to clear the review of these contributions. We deeply value your collaboration and appreciate your patience. Once the portal reopens, we will notify all users by email and through social media. Thank you very much for your understanding!{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Sincerely,{% endblocktrans %}
</p>

<p>
	{% blocktrans %}The SlaveVoyages Team{% endblocktrans %}
</p>

{% endblock %}