{% load i18n %}

<div class="modal fade" id="referencesModal" tabindex="-1" role="dialog" aria-labelledby="referencesModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="referencesModalLabel">{% trans "Add a source reference" %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="height: 500px; overflow-y: auto;">
                <input type="hidden" name="source_index_field" id="source_index_field" />
                <input type="hidden" name="source_pk_field" id="source_pk_field" />
                <ul class="nav nav-pills" role="tablist" id="tab_control">
                    <li data-tab="primary" data-sourcetype="Primary source" role="presentation" class="active nav-item"><a href="#primary"
                                                                                 class="nav-link active show"
                                                                                 aria-controls="primary"
                                                                                 role="tab" data-toggle="tab">
                        {% trans "Primary source" %}</a></li>
                    <li data-tab="article" data-sourcetype="Article source" role="presentation" class="nav-item"><a href="#article" aria-controls="article" class="nav-link"
                                                                  role="tab" data-toggle="tab">{% trans "Article" %}</a></li>
                    <li data-tab="book" data-sourcetype="Book source" role="presentation" class="nav-item"><a href="#book" aria-controls="book" role="tab" class="nav-link"
                                                               data-toggle="tab">{% trans "Book" %}</a></li>
                    <li data-tab="newspaper" data-sourcetype="Newspaper source" role="presentation" class="nav-item"><a href="#newspaper" aria-controls="newspaper" role="tab" class="nav-link"
                                                                data-toggle="tab">{% trans "Newspaper" %}</a></li>
                    <li data-tab="private" data-sourcetype="Private note or collection source" role="presentation" class="nav-item"><a href="#private" aria-controls="private" role="tab" class="nav-link"
                                                                data-toggle="tab">{% trans "Private note or collection" %}</a></li>
                    <li data-tab="unpub" data-sourcetype="Unpublished secondary source" role="presentation" class="nav-item"><a href="#unpub" aria-controls="unpub" role="tab" class="nav-link"
                                                                data-toggle="tab">{% trans "Unpublished secondary source" %}</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Primary sources tab -->
                    <div role="tabpanel" class="tab-pane active" id="primary">
                        <div class="form-group">
                            <label for="primary_name">{% trans "Name of library or archive" %}</label>
                            <input class="form-control not_selectized" type="text" id="primary_name">
                        </div>
                        <div class="form-group">
                            <label for="primary_loc">{% trans "Location of library/archive" %}</label>
                            <input class="form-control not_selectized" type="text" id="primary_loc">
                        </div>
                        <div class="form-group">
                            <label for="primary_series">{% trans "Series or collection" %}</label>
                            <input class="form-control not_selectized" type="text" id="primary_series">
                        </div>
                        <div class="form-group">
                            <label for="primary_vol">{% trans "Volume or box or bundle" %}</label>
                            <input class="form-control not_selectized" type="text" id="primary_vol">
                        </div>
                        <div class="form-group">
                            <label for="primary_detail">{% trans "Document detail (page or folio number, and/or date of document)" %}</label>
                            <input class="form-control not_selectized" type="text" id="primary_detail">
                        </div>
                        <div class="form-group">
                            <label for="primary_info">{% trans "Information about source" %}</label>
                            <textarea class="form-control not_selectized" id="primary_info"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="primary_url">{% trans "URLs or digitized image of the source to be submitted wherever possible about source" %}</label>
                            <textarea class="form-control not_selectized" id="primary_url"></textarea>
                        </div>
                    </div>
                    <!-- Article sources tab -->
                    <div role="tabpanel" class="tab-pane" id="article">
                        <div class="form-group">
                            <label for="article_author">{% trans "Author" %}</label>
                            <input class="form-control not_selectized" type="text" id="article_author">
                        </div>
                        <div class="form-group">
                            <label for="article_title">{% trans "Title" %}</label>
                            <input class="form-control not_selectized" type="text" id="article_title">
                        </div>
                        <div class="form-group">
                            <label for="article_journal">{% trans "Journal" %}</label>
                            <input class="form-control not_selectized" type="text" id="article_journal">
                        </div>
                        <div class="form-group">
                            <label for="article_volume">{% trans "Volume number" %}</label>
                            <input class="form-control not_selectized" type="text" id="article_volume">
                        </div>
                        <div class="form-group">
                            <label for="article_year">{% trans "Year" %}</label>
                            <input class="form-control not_selectized" type="text" id="article_year">
                        </div>
                        <div class="form-group">
                            <label for="article_first_page">{% trans "Page numbers" %}</label>
                            <div class="flex">
                                <input class="form-control form-control-inline col-sm-2 not_selectized" type="text" id="article_first_page" style="width: 35%;">
                                <div style="display: inline; float: left;">&nbsp;-&nbsp;</div>
                                <input class="form-control form-control-inline col-sm-2 not_selectized" type="text" id="article_last_page" style="width: 35%;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="article_info">{% trans "Other information" %}</label>
                            <textarea class="form-control not_selectized" id="article_info"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="article_url">{% trans "URLs or digitized image of the source to be submitted wherever possible about source" %}</label>
                            <textarea class="form-control not_selectized" id="article_url"></textarea>
                        </div>
                    </div>
                    <!-- Book/Book essay sources tab -->
                    <div role="tabpanel" class="tab-pane" id="book">
                        <div class="form-group">
                            <label for="book_is_essay">{% trans "Source is an essay/chapter in a book" %}</label>
                            <input class="form-control not_selectized col-sm-1" type="checkbox" id="book_is_essay" onchange="$('.book_essay_input_group').toggle(this.checked);">
                        </div>
                        <div class="form-group book_essay_input_group" style="display: none;">
                            <label for="book_essay_title">{% trans "Essay/Chapter title" %}</label>
                            <input class="form-control not_selectized" type="text" id="book_essay_title">
                        </div>
                        <div class="form-group book_essay_input_group" style="display: none;">
                            <label for="book_editors">{% trans "Editors" %}</label>
                            <input class="form-control not_selectized" type="text" id="book_editors">
                        </div>
                        <div class="form-group">
                            <label for="book_author">{% trans "Author" %}</label>
                            <input class="form-control not_selectized" type="text" id="book_author">
                        </div>
                        <div class="form-group">
                            <label for="book_title">{% trans "Title" %}</label>
                            <input class="form-control not_selectized" type="text" id="book_title">
                        </div>
                        <div class="form-group">
                            <label for="book_publisher">{% trans "Publisher" %}</label>
                            <input class="form-control not_selectized" type="text" id="book_publisher">
                        </div>
                        <div class="form-group">
                            <label for="book_pub_place">{% trans "Place of publication" %}</label>
                            <input class="form-control not_selectized" type="text" id="book_pub_place">
                        </div>
                        <div class="form-group">
                            <label for="book_year">{% trans "Year" %}</label>
                            <input class="form-control not_selectized" type="text" id="book_year">
                        </div>
                        <div class="form-group">
                            <label for="book_first_page">{% trans "Page numbers" %}</label>
                            <div class="flex">
                                <input class="form-control form-control-inline col-sm-2 not_selectized" type="text" id="book_first_page" style="width: 35%;">
                                <div style="display: inline; float: left;">&nbsp;-&nbsp;</div>
                                <input class="form-control form-control-inline col-sm-2 not_selectized" type="text" id="book_last_page" style="width: 35%;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="book_info">{% trans "Other information" %}</label>
                            <textarea class="form-control not_selectized" id="book_info"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="book_url">{% trans "URLs or digitized image of the source to be submitted wherever possible about source" %}</label>
                            <textarea class="form-control not_selectized" id="book_url"></textarea>
                        </div>
                    </div>
                    <!-- Newspaper sources tab -->
                    <div role="tabpanel" class="tab-pane" id="newspaper">
                        <div class="form-group">
                            <label for="newspaper_name">{% trans "Name" %}</label>
                            <input class="form-control not_selectized" type="text" id="newspaper_name">
                        </div>
                        <div class="form-group">
                            <label for="newspaper_alternative_name">{% trans "Alternative name" %}</label>
                            <input class="form-control not_selectized" type="text" id="newspaper_alternative_name">
                        </div>
                        <div class="form-group">
                            <label for="newspaper_city">{% trans "City" %}</label>
                            <input class="form-control not_selectized" type="text" id="newspaper_city">
                        </div>
                        <div class="form-group">
                            <label for="newspaper_country">{% trans "Country" %}</label>
                            <input class="form-control not_selectized" type="text" id="newspaper_country">
                        </div>
                        <div class="form-group">
                            <label for="newspaper_info">{% trans "Information about source" %}</label>
                            <textarea class="form-control not_selectized" id="newspaper_info"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="newspaper_url">{% trans "URLs or digitized image of the source to be submitted wherever possible about source" %}</label>
                            <textarea class="form-control not_selectized" id="newspaper_url"></textarea>
                        </div>
                    </div>
                    <!-- Private note or collection sources tab -->
                    <div role="tabpanel" class="tab-pane" id="private">
                        <div class="form-group">
                            <label for="pnc_authors">{% trans "Authors" %}</label>
                            <input class="form-control not_selectized" type="text" id="pnc_authors">
                        </div>
                        <div class="form-group">
                            <label for="pnc_title">{% trans "Title" %}</label>
                            <input class="form-control not_selectized" type="text" id="pnc_title">
                        </div>
                        <div class="form-group">
                            <label for="pnc_location">{% trans "Location" %}</label>
                            <input class="form-control not_selectized" type="text" id="pnc_location">
                        </div>
                        <div class="form-group">
                            <label for="pnc_page">{% trans "Page" %}</label>
                            <input class="form-control not_selectized" type="text" id="pnc_page">
                        </div>
                        <div class="form-group">
                            <label for="pnc_info">{% trans "Information about source" %}</label>
                            <textarea class="form-control not_selectized" id="pnc_info"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="pnc_url">{% trans "URLs or digitized image of the source to be submitted wherever possible about source" %}</label>
                            <textarea class="form-control not_selectized" id="pnc_url"></textarea>
                        </div>
                    </div>
                    <!-- Unpublished secondary sources tab -->
                    <div role="tabpanel" class="tab-pane" id="unpub">
                        <div class="form-group">
                            <label for="unpub_authors">{% trans "Authors" %}</label>
                            <input class="form-control not_selectized" type="text" id="unpub_authors">
                        </div>
                        <div class="form-group">
                            <label for="unpub_title">{% trans "Title" %}</label>
                            <input class="form-control not_selectized" type="text" id="unpub_title">
                        </div>
                        <div class="form-group">
                            <label for="unpub_location">{% trans "Location" %}</label>
                            <input class="form-control not_selectized" type="text" id="unpub_location">
                        </div>
                        <div class="form-group">
                            <label for="unpub_page">{% trans "Page" %}</label>
                            <input class="form-control not_selectized" type="text" id="unpub_page">
                        </div>
                        <div class="form-group">
                            <label for="unpub_info">{% trans "Information about source" %}</label>
                            <textarea class="form-control not_selectized" id="unpub_info"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="unpub_url">{% trans "URLs or digitized image of the source to be submitted wherever possible about source" %}</label>
                            <textarea class="form-control not_selectized" id="unpub_url"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add_source_btn" type="button" class="btn btn-primary">{% trans "Add" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>