{% load i18n %}

<div class="modal fade" id="reviewer_assign_modal" tabindex="-1" role="dialog" aria-labelledby="modal_label" data-backdrop="static" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_label">{% trans "Assign a reviewer" %}</h4>
            </div>
            <div class="modal-body" style="min-height: 250px; overflow-y: auto;">
                <input type="hidden" id="input_contribution_id">
                <div class="form-group">
                    <label for="chosen_reviewer">{% trans "Choose a reviewer" %}</label>
                    <input class="form-control" type="text" id="chosen_reviewer">
                </div>
                <div class="form-group">
                    <label for="editor_message">{% trans "Editor's message" %}</label>
                    <textarea class="form-control" type="text" id="editor_message" rows="10"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="send_request" type="button" class="btn btn-primary">{% trans "Send to reviewer" %}</button>
                <button id="cancel_send" type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // This function is called after a reviewer is assigned
    var afterAssignmentCallback = function() {
        window.location.replace('/contribute/editor_main');
    };

    $('#cancel_send').click(function(e) {
        var reviewer = $('#chosen_reviewer');
        var message = $('#editor_message');
        if ((reviewer.val() != '' || message.val() != '') && !confirm('{% trans "Abort review request?" %}')) {
            e.preventDefault();
            return false;
        }
        // Clear form.
        reviewer[0].selectize.clear();
        message.val('');
    });
    
    var disable_modal_contents = function(disable) {
        var content = $(".modal-content");
        content.toggleClass('busy_disabled', disable);
        content.find("input, textarea, button").prop('disabled', disable);
    };

    $('#send_request').click(function(e) {
        e.preventDefault();
        var reviewer = $('#chosen_reviewer');
        var message = $('#editor_message');
        if (reviewer.val() == '') {
            alert('{% trans "A reviewer must be selected." %}');
            return false;
        }
        disable_modal_contents(true);
        var onDone = function() {
            disable_modal_contents(false);
        };
        $.ajax({
            url: '/contribute/post_review_request',
            method: 'POST',
            data: {
                contribution_id: $('#input_contribution_id').val(),
                reviewer_id: reviewer.val(),
                message: message.val()
            },
            error: function() {
                alert('{% trans "A server error occurred, please contact the webmaster" %}');
            },
            success: function(data) {
                if (data.error) {
                    alert(data.error);
                } else {
                    $('#reviewer_assign_modal').modal('hide');
                    // Clear form.
                    reviewer[0].selectize.clear();
                    message.val('');
                    afterAssignmentCallback();
                }
            }
        })
        .done(onDone)
        .fail(onDone);
        return false;
    });

    $(document).ready(function() {
        $.ajax({
            url: '/contribute/json_reviewers',
            type: 'GET',
            success: function(res) {
                $('#chosen_reviewer').selectize({
                    dropdownParent: null,
                    valueField: 'pk',
                    labelField: 'full_name',
                    searchField: 'full_name',
                    sortField: 'full_name',
                    maxItems: 1,
                    notesButton: false,
                    options: res,
                });
            }
        });
    });
</script>