{% load i18n %}

<div class="col-md-12" id="decision_btn_panel">
    {% if review_request %}
        {% if mode == 'reviewer' or mode == 'review' %}
            <h3>{% trans "Reviewer's decision:" %}</h3>
            <div class="form-group">
                <label for="message_to_editor">
                    {% trans "Message to editor" %}:
                </label>
                <div class="input-group col-sm-8">
                    <textarea class="form-control not_selectized field_notes" id="message_to_editor" name="message_to_editor"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="reviewer_decision">
                    {% trans "Decision" %}:
                </label>
                <div class="input-group col-sm-8">
                    <select class="form-control not_selectized" id="reviewer_decision" name="reviewer_decision">
                        <option>{% trans "Please select..." %}</option>
                        <option value="1">{% trans "Accept" %}</option>
                        <option value="2">{% trans "Reject" %}</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-danger" type="submit" id="submit_editor_btn">{% trans "Submit to editor" %}</button>
        {% endif %}
        {% if mode == 'editorial_review' or mode == 'editor' %}
            <h3>{% trans "Editorial tools:" %}</h3>
            {% if review_request.editor.pk != review_request.suggested_reviewer.pk %}
                <div class="alert alert-info">
                    <span>{% trans "Reviewer's decision:" %}</span> <strong>{% if review_request.final_decision == 1 %}{% trans "Accept" %}{% elif review_request.final_decision == 2 %}{% trans "Reject" %}{% endif %}</strong>
                    <p>
                        {{ review_request.decision_message|default_if_none:'' }}
                    </p>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="decision_message">
                    {% trans "Decision message" %}:
                </label>
                <div class="input-group col-sm-8">
                    <textarea class="form-control not_selectized field_notes" id="decision_message" name="decision_message">{{ review_request.decision_message|default_if_none:'' }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="editorial_decision">
                    {% trans "Decision" %}:
                </label>
                <div class="input-group col-sm-8">
                    <select class="form-control not_selectized" id="editorial_decision" name="editorial_decision">
                        <option>{% trans "Please select..." %}</option>
                        <option value="3">{% trans "Accept" %}</option>
                        <option value="4">{% trans "Reject" %}</option>
                        <option value="5">{% trans "Delete" %}</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-danger" type="submit" id="submit_final_decision_btn">{% trans "Submit final decision" %}</button>
            {% if allow_impute %}
                <button class="btn btn-primary" type="submit" id="impute_btn">{% trans "Impute" %}</button>
            {% endif %}
        {% endif %}
    {% elif mode == 'editorial_review' or mode == 'editor' %}
        {% include "contribute/preview_editor_commands.html" %}
    {% endif %}
</div>

<script type="text/javascript">
    function initDecisionForm(validation) {
        {% if mode == 'reviewer' or mode == 'review' %}
            $('#submit_editor_btn').click(function(e) {
                e.preventDefault();
                var decision = parseInt($('#reviewer_decision option:selected').val());
                if (decision != 1 && decision != 2) {
                    alert('{% trans "Please choose your decision." %}');
                    return false;
                }
                var message_to_editor = $('#message_to_editor').val().trim();
                if (!confirm('{% trans "Please confirm your message and decision." %}\n{% trans "Decision" %}: ' + $('#reviewer_decision option:selected').text() + '\n' + message_to_editor)) {
                    return false;
                }
                var self = $(this);
                var valid = !validation || validation();
                if (!valid) return false;
                self.prop('disabled', true);
                $.ajax({
                    type: "POST",
                    url: '/contribute/review/{{ review_request.pk }}/submit_review_to_editor/',
                    data: $('form').serialize(),
                    success: function (response) {
                        if (response.result == 'OK') {
                            window.location.replace("{% url 'contribute:index' %}");
                        } else {
                            alert(response.result);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error sending decision: ' + textStatus);
                    },
                    complete: function() {
                        self.prop('disabled', false);
                    }
                });
                return false;
            });
        {% endif %}
        {% if mode == 'editorial_review' or mode == 'editor' %}
            {% if allow_impute %}
                $('#impute_btn').click(function() {
                    $.ajax({
                        type: "POST",
                        {% with editor_contribution=review_request.editor_contribution.first %}
                        url: '/contribute/impute_contribution/{{ editor_contribution.pk }}',
                        {% endwith %}
                        data: $('form').serialize(),
                        success: function (response) {
                            if (response.result == 'OK') {
                                window.location.reload();
                            } else {
                                alert(response.result);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('Error sending decision: ' + textStatus);
                        },
                        complete: function() {
                            self.prop('disabled', false);
                        }
                    });
                    return false; 
                });
            {% endif %}
            $('#submit_final_decision_btn').click(function() {
                var decision = parseInt($('#editorial_decision option:selected').val());
                if (decision != 3 && decision != 4 && decision != 5) {
                    alert('{% trans "Please choose your decision." %}');
                    return false;
                }
                var decision_message = $('#decision_message').val().trim();
                if (!confirm('{% trans "Please confirm your message and decision." %}\n{% trans "Decision" %}: ' + $('#editorial_decision option:selected').text() + '\n' + decision_message)) {
                    return false;
                }
                var self = $(this);
                var valid = !validation || validation();
                if (!valid) return false;
                self.prop('disabled', true);
                $.ajax({
                    type: "POST",
                    {% with editor_contribution=review_request.editor_contribution.first %}
                    url: '/contribute/editorial_review/{{ editor_contribution.pk }}/submit_editorial_decision',
                    {% endwith %}
                    data: $('form').serialize(),
                    success: function (response) {
                        if (response.result == 'OK') {
                            window.location.replace("{% url 'contribute:editor_main' %}");
                        } else {
                            alert(response.result);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error sending decision: ' + textStatus);
                    },
                    complete: function() {
                        self.prop('disabled', false);
                    }
                });
                return false;
            });
        {% endif %}
    }
</script>