{% extends "account/base.html" %}
{% load i18n %}

{% block center-content %}
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/contribute/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/contribute.css"> -->

<div class="page-title-1" class="contribute_header">{% trans "Recommend the Deletion of an Existing Voyage" %}</div>

<p>
    {% trans "Please use the box for notes to tell us why the selected voyage(s) should be removed from the database." %}
</p>

<p></p>

{% include "contribute/voyage_selection_table.html" %}
<form action="{% url 'contribute:delete_voyage' %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="ids" id="ids_hidden">
    {{ form.ids.errors }}
    <div class="form-group">
        <label for="notes_input">{% trans "Notes:" %}</label>
        <textarea class="form-control" id="notes_input" name="notes"></textarea>
    </div>
</form>

<p>
    <button class="btn btn-solid" id="confirm_btn" onclick="selection.submitForm();">{% trans "Submit" %}</button>
</p>

<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/forms.js"></script>
<script type="text/javascript">
    var selection = new VoyageSelection(
        "{% url 'contribute:voyage_ajax' %}",
        [
            {% for voyage in voyage_selection %}
                {{ voyage.voyage_id }},
            {% endfor %}
        ],
        true);
</script>
{% endblock %}
