{% extends "account/base.html" %}
{% load i18n %}

{% block center-content %}

<h1>{% trans "Delete contribution" %}</h1>

<p>
    {% trans "Please select voyage(s) and explain the reasons why they should be removed from the database." %}
</p>

{% include "contribute/voyage_selection_table.html" %}
<p></p>

<div>
    <form action="{% url 'contribute:delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="delete_ids" id="delete_ids_hidden">
        {{ form.delete_ids.errors }}
        <div>
            <label for="notes_input">{% trans "Please tell us why the voyage(s) above should be removed:" %}</label><br/>
            <textarea id="notes_input" name="notes"></textarea>
            {{ form.notes.errors }}
        </div>
    </form>
    <p>
        <button id="confirm_btn" onclick="selection.submitForm();">{% trans "Submit" %}</button>
    </p>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/forms.js"></script>
<script type="text/javascript">
    var selection = new VoyageSelection(
        "{% url 'contribute:voyage_ajax' %}",
        [
            {% for voyage in voyage_selection %}
                {{ voyage.voyage_id }},
            {% endfor %}
        ],
        true);
    $('#voyage_id_input').keyup(function (e) {
        if (e.keyCode === 13) {
            selection.lookUp();
        }
    });
</script>
{% endblock %}