{% load i18n %}

  <div class="page-title-1">{% trans "Downloads" %}</div>

  <div class="page-section">
    <div class="form-check">
      <label class="form-check-label" for="committed">
        <input id="committed_check" name="committed" type="checkbox" class="form-check-input" checked>
        {% trans "Submitted by contributor" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="under_review">
        <input id="under_review_check" name="under_review" type="checkbox" class="form-check-input" checked>
        {% trans "Under review" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="rejected">
        <input id="rejected_check" name="rejected" type="checkbox" class="form-check-input" checked>
        {% trans "Rejected" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="accepted_unpublished">
        <input id="accepted_unpublished_check" name="accepted_unpublished" type="checkbox" class="form-check-input" checked>
        {% trans "Accepted (pending publication)" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="published">
        <input id="published_check" name="published" type="checkbox" class="form-check-input">
        {% trans "Published" %}
      </label>
    </div>
  </div>

  <div class="page-section">
    <button class="btn btn-solid btn-sm" id="select_all_downloads">{% trans "Select all" %}</button>
    <button class="btn btn-outline btn-sm" id="clear_all_downloads">{% trans "Clear" %}</button>
  </div>

  <div class="page-section">
    <h2>{% trans "Compatibility options" %}</h2>
    <label class="form-check-label" for="remove_linebreaks">
      <input id="remove_linebreaks" name="remove_linebreaks" type="checkbox" class="form-check-input">
      {% trans "Remove line breaks from CSV cells" %}
    </label>
  </div>

  <div class="page-section">
    <button class="btn btn-solid" id="download_selection">{% trans "Download" %}</button>
    <div id="download_link_retry"></div>
  </div>

<div>
    <span id="last_updated_span"></span>
</div>

<div id="publication_log_pane" class="alert alert-info" style="display: none;">
</div>

<script type="text/javascript">
    var statusChecks = ['accepted_unpublished_check', 'rejected_check', 'under_review_check', 'committed_check', 'published_check'];
    function toggleDownloads(b) {
        for (var i = 0; i < statusChecks.length; ++i) {
            $('#' + statusChecks[i]).prop('checked', b);
        }
    }
    $('#select_all_downloads').click(function() {
        toggleDownloads(true);
    });
    $('#clear_all_downloads').click(function() {
        toggleDownloads(false);
    });
    $('#download_selection').click(function() {
        var postData = {};
        var statusCount = 0;
        for (var i = 0; i < statusChecks.length; ++i) {
            if ($('#' + statusChecks[i]).prop('checked')) {
              postData[statusChecks[i]] = 'True';
              ++statusCount;
            }
        }
        postData.remove_linebreaks = $('#remove_linebreaks').prop('checked') ? 'True' : 'False';
        if (statusCount == 0) {
            alert('{% trans "You must select at least one status" %}');
        } else {
          $.post("{% url 'contribute:download_voyages' %}", postData)
            .fail(function() {
              alert('Server error!');
            })
            .done(function(data) {
              if (data.result == 'OK') {
                $('#download_selection').prop('disabled', true);
                $('#download_link_retry').html('');
                // At this point we have a log_file to monitor.
                // In case the generation is done within a few seconds, we do not bother the user
                // with a message
                var timedCheck = null;
                var onFinished = function() {
                  var downloadUrl = "{% url 'contribute:download_voyages_go' %}?csv_file=" + data.csv_file;
                  window.location = downloadUrl;
                  clearInterval(timedCheck);
                  $('#download_link_retry').html('<a href="' + downloadUrl + '">If the download does not start, click here.</a>');
                  $('#download_selection').prop('disabled', false);
                };
                var checkCounter = 0;
                var canCheck = true;
                timedCheck = setInterval(function() {
                    if (!canCheck) return;
                    canCheck = false;
                    $.post("{% url 'contribute:download_voyages_status' %}", data)
                      .done(function(statusResult) {
                        statusResult = statusResult.status;
                        if (statusResult && statusResult.includes('FINISHED')) {
                          onFinished();
                        } else if (statusResult && statusResult.includes('ERROR')) {
                          clearInterval(timedCheck);
                          alert(statusResult);
                          $('#download_selection').prop('disabled', false);
                        } else {
                          canCheck = true;
                          if (checkCounter == 0) {
                            alert('The CSV generation has started and may take a while to complete. The download will start once it is ready');
                          }
                          ++checkCounter;
                        }
                      });
                  },
                  3000
                );
              } else {
                alert('Server error!');
              }
            });
        }
    });
</script>
