{% load i18n %}

  <div class="page-title-1">{% trans "Downloads" %}</div>

  <div class="page-section">
    <div class="form-check">
      <label class="form-check-label" for="accepted_unpublished">
        <input id="accepted_unpublished_check" name="accepted_unpublished" type="checkbox" class="form-check-input" checked>
        {% trans "Accepted (pending publication)" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="rejected">
        <input id="rejected_check" name="rejected" type="checkbox" class="form-check-input" checked>
        {% trans "Rejected" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="under_review">
        <input id="under_review_check" name="under_review" type="checkbox" class="form-check-input" checked>
        {% trans "Under review" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="comitted">
        <input id="committed_check" name="comitted" type="checkbox" class="form-check-input" checked>
        {% trans "Commited by contributor" %}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="under_review">
        <input id="published_check" name="published" type="checkbox" class="form-check-input">
        {% trans "Published" %}
      </label>
    </div>
  </div>

  <div class="page-section">
    <button class="btn btn-solid btn-sm" id="select_all_downloads">{% trans "Select all" %}</button>
    <button class="btn btn-outline btn-sm" id="clear_all_downloads">{% trans "Clear" %}</button>
  </div>

  <div class="page-section">
    <button class="btn btn-solid" id="download_selection">{% trans "Download" %}</button>
  </div>

<div>
    <span id="last_updated_span"></span>
</div>

<div id="publication_log_pane" class="alert alert-info" style="display: none;">
</div>

<script type="text/javascript">
    var statusChecks = ['accepted_unpublished_check', 'rejected_check', 'under_review_check', 'committed_check', 'published_check'];
    function toggleDownloads(b) {
        for (var i = 0; i < statusChecks.length; ++i) {
            $('#' + statusChecks[i]).prop('checked', b);
        }
    }
    $('#select_all_downloads').click(function() {
        toggleDownloads(true);
    });
    $('#clear_all_downloads').click(function() {
        toggleDownloads(false);
    });
    $('#download_selection').click(function() {
        var args = [];
        for (var i = 0; i < statusChecks.length; ++i) {
            if ($('#' + statusChecks[i]).prop('checked')) {
                args.push(statusChecks[i] + '=True');
            }
        }
        if (args.length == 0) {
            alert('{% trans "You must select at least one status" %}');
        } else {
            window.location = "{% url 'contribute:download_voyages' %}?" + args.join('&');
        }
    });
</script>
