{% extends "account/base.html" %}
{% load i18n %}
{% load voyage_extras %}

{% block center-content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/contribute/bootstrap.min.css">
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#pending" aria-controls="home" role="tab" data-toggle="tab">{% trans "Voyages list" %}</a></li>
    <li role="presentation"><a href="#profile" aria-controls="requests" role="tab" data-toggle="tab">{% trans "Requests list" %}</a></li>
    <li role="presentation"><a href="#messages" aria-controls="users" role="tab" data-toggle="tab">{% trans "Users list" %}</a></li>
    <li role="presentation"><a href="#voyages" aria-controls="voyages" role="tab" data-toggle="tab">{% trans "Voyages list" %}</a></li>
    <li role="presentation"><a href="#sources" aria-controls="sources" role="tab" data-toggle="tab">{% trans "Source codes" %}</a></li>
    <li role="presentation"><a href="#publish" aria-controls="publish" role="tab" data-toggle="tab">{% trans "Publish new database version" %}</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="pending">
    </div>
    <div role="tabpanel" class="tab-pane" id="requests">
    </div>
    <div role="tabpanel" class="tab-pane" id="users">
    </div>
    <div role="tabpanel" class="tab-pane" id="voyages">
    </div>
    <div role="tabpanel" class="tab-pane" id="sources">
    </div>
    <div role="tabpanel" class="tab-pane" id="publish">
    </div>
  </div>

</div>

<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/bootstrap.min.js"></script>
<script type="text/javascript">
    // Dynamically load tab contents.
    var loadedTabs = {};
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var href = $(e.target).attr('href');
        if (loadedTabs.hasOwnProperty(href)) return;
        if (href == '#sources') {
            $.get("/admin/voyage/voyagesources/", function(data) {
                $(href).hide();
                $(href).html(data);
                $(href).find(':not(#container):not(#content):not(#content *)').hide();
                $(href).show();
                loadedTabs[href] = 'done';
            });
        }
    })
    // TODO: remove this code once styling is done.
    $("#center-content").css('width', '900px');
</script>
{% endblock %}