{% extends "account/base.html" %}
{% load i18n %}

{% block center-content %}

<h1>{% trans "Edit voyage contribution" %}</h1>

<p>
    {% trans "Please select the voyage you wish to edit." %}
</p>

{% include "contribute/voyage_selection_table.html" %}
<p></p>

<div>
    <form action="{% url 'contribute:edit_voyage' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="ids" id="ids_hidden">
        {{ form.ids.errors }}
        <div>
            <label for="notes_input">{% trans "Notes:" %}</label><br/>
            <textarea id="notes_input" name="notes"></textarea>
            {{ form.notes.errors }}
        </div>
    </form>
    <p>
        <button id="confirm_btn" onclick="selection.submitForm();">{% trans "Begin" %}</button>
    </p>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/forms.js"></script>
<script type="text/javascript">
    var selection = new VoyageSelection(
        "{% url 'contribute:voyage_ajax' %}",
        [
            {% for voyage in voyage_selection %}
                {{ voyage.voyage_id }},
            {% endfor %}
        ],
        false);
</script>
{% endblock %}