{% extends "account/base.html" %}
{% load i18n %}
{% load voyage_extras %}

{% block center-content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/contribute/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/datatables.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/contribute/selectize.bootstrap3.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/contribute.css">
<style>
    .tab-pane {
        padding: 15px;
        min-height: 400px;
    }

    .busy_disabled {
        opacity: 0.8;
        pointer-events: none;
    }
    
    #requests_table > tbody > tr > td .btn {
        margin: 2px;
        width: 100%;
    }
</style>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#pending" aria-controls="voyages" role="tab" data-toggle="tab">{% trans "Voyages list" %}</a></li>
    <li role="presentation"><a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">{% trans "Requests list" %}</a></li>
    <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">{% trans "Users list" %}</a></li>
    <li role="presentation"><a href="#sources" aria-controls="sources" role="tab" data-toggle="tab">{% trans "Source codes" %}</a></li>
    <li role="presentation"><a href="#publish" aria-controls="publish" role="tab" data-toggle="tab">{% trans "Publish new database version" %}</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="pending">
    </div>
    <div role="tabpanel" class="tab-pane" id="requests">
        <table id="requests_table" class="table table-">
            <thead>
            <tr>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Contributor" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Voyage ID" %}</th>
                <th>{% trans "Ship" %}</th>
                <th>{% trans "Reviewer" %}</th>
                <th>{% trans "Response" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="users">
        <a href="/admin/auth/user/">{% trans "Users on Live Admin" %}</a>
    </div>
    <div role="tabpanel" class="tab-pane" id="voyages">
    </div>
    <div role="tabpanel" class="tab-pane" id="sources">
        <a href="/admin/voyage/voyagesources/">{% trans "Sources on Live Admin" %}</a>
    </div>
    <div role="tabpanel" class="tab-pane" id="publish">
    </div>
  </div>

</div>

{% include "contribute/assign_reviewer_dialog.html" %}

<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/selectize.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/datatables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/js.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/editorial.js"></script>
<script type="text/javascript">
    var reviewClasses = ['alert-info', 'alert-success', 'alert-danger'];
    // Dynamically load tab contents.
    var loadedTabs = {};
    var loadTabData = function(href) {
        if (href == '#requests') {
            var types = {'edit': '{% trans "Edit voyage" %}',
                         'delete': '{% trans "Delete voyage" %}',
                         'merge': '{% trans "Merge voyages" %}',
                         'new': '{% trans "New voyage" %}'};
            $.ajax({
                url: '/contribute/json_pending_requests',
                success: function(data) {
                    loadedTabs[href] = data;
                    $('#requests_table > tbody > tr').remove();
                    for (var key in data) {
                        var row = data[key];
                        var responseId = parseInt(row['response_id']) || 0;
                        $('#requests_table > tbody:last-child').append(
                            '<tr><td>' +
                            ('<a href="/contribute/interim_summary/' + key + '/editor">@@@</a>')
                                .replace('@@@', types[row['type']]) + '</td><td>' + row['contributor'] + '</td><td>' +
                            row['date_created'].substring(0, 10) + '</td><td>' + row['voyage_ids'].join(', ') + '</td><td>' +
                            row['voyage_info'].join(', ') +
                            '</td><td class="review_cell" data-id="' + key + '">' +
                            (row['review_request_id'] == 0
                                ? '<button class="reviewer_assign_btn btn btn-primary">{% trans "Assign" %}</button>'
                                : row['reviewer'] +
                                    '<br /><button class="review_archive_btn btn btn-danger">{% trans "Archive request" %}</button>') +
                            (row['editor_contribution_id']
                                ? '<p><a class="btn btn-primary" role="button" href="/contribute/editorial_review/' + row['review_request_id'] + '">{% trans "Editorial Review" %}</a></p>'
                                : '') + '</td><td>' +
                            '<span class="' + reviewClasses[responseId] + '">' + row['response'] + '</span></td><td>' + row['reviewer_final_decision'] + '</td></tr>');
                    }
                    $('#requests_table').DataTable();
                    $(".reviewer_assign_btn").click(function() {
                        $('#input_contribution_id').val($(this).parent().data('id'));
                        $('#reviewer_assign_modal').modal('show');
                    });
                    $(".review_archive_btn").click(function() {
                        if (!confirm('{% trans "Confirm archival of this request? Any response the reviewer may have sent will be ignored." %}')) return false;
                        $.ajax({
                            url: '/contribute/post_archive_review_request',
                            method: 'POST',
                            data: {
                                contribution_id: $(this).parent().data('id')
                            },
                            success: function(data) {
                                if (data.error) {
                                    alert(data.error);
                                } else {
                                    loadTabData('#requests');
                                }
                            }
                        });
                    });
                }
            });
        }
    };

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var href = $(e.target).attr('href');
        if (loadedTabs.hasOwnProperty(href)) return;
        loadTabData(href);
    });
    
    afterAssignmentCallback = function() {
        loadTabData('#requests');
    };

    // TODO: remove this code once styling is done.
    $("#center-content").css('width', '900px');
</script>
{% endblock %}