{% extends "account/base.html" %}
{% load i18n %}
{% load sass_tags %}

<!-- The landing page when users log in via contribute login -->

{% block title %}{% trans "User Home" %}{% endblock %}

{% block center-content %}
<link href="{% sass_src 'scss/contribute.scss' %}" rel="stylesheet" type="text/css" />

<div class="white-board">
	<div class="page-title-2">{% trans "Welcome to the Contribute Section" %}</div>

	<ul class="contribute_menu row">
		{% if request.user.is_staff %}
		<!-- Is enabled only if the user is a staff member -->
		<li class="live_admin col-sm-12 col-md-6 col-lg-4">
			<a href="{% url 'admin:index' %}">{% trans "Live Admin" %}</a></h3>
		</li>
		{% endif %}
		<li class="col-sm-12 col-md-6 col-lg-4">
			<a href="{% url 'contribute:new_voyage' %}">{% trans "New Voyage" %}</a>
		</li>
		<li class="col-sm-12 col-md-6 col-lg-4">
			<a href="{% url 'contribute:edit_voyage' %}">{% trans "Edit Existing Voyage" %}</a>
		</li>
		<li class="col-sm-12 col-md-6 col-lg-4">
			<a href="{% url 'contribute:merge_voyages' %}">{% trans "Merge Voyages" %}</a>
		</li>
		<li class="col-sm-12 col-md-6 col-lg-4">
			<a href="{% url 'contribute:delete_voyage' %}">{% trans "Recommend Voyage Deletion" %}</a>
		</li>
		{% if request.user.is_superuser %}
		<!-- Is enabled only if the user is a super user -->
		<li class="live_admin col-sm-12 col-md-6 col-lg-4">
			<a href="{% url 'contribute:editor_main' %}">{% trans "Editorial Platform" %}</a></h3>
		</li>
		{% endif %}
	</ul>
	{% for c in contributions %}
		{% if forloop.first %}
			<div class="page-title-2">{% trans "Contributions" %}</div>
			<table class="table table-hover table-striped">
				<thead>
				<tr>
					<th>{% trans "Voyage ID(s)" %}</th>
					<th>{% trans "Type of contribution" %}</th>
					<th>{% trans "Status" %}</th>
				</tr>
				</thead>
				<tbody>
		{% endif %}
					<tr class='clickable-row' data-href="{% url 'contribute:interim' contribution_type=c.type contribution_id=c.id %}">
						<td>
						{{ c.contribution.get_related_voyage_ids|join:", " }}
						<td>{{ c.type }}</td>
						<td>
							{% if c.contribution.status == 0 %}
								{% trans "Pending" %}
							{% elif c.contribution.status == 1 %}
								{% trans "Submitted" %}
							{% elif c.contribution.status == 2 %}
								{% trans "Under review" %}
							{% elif c.contribution.status == 3 %}
								{% trans "Approved" %}
							{% elif c.contribution.status == 4 %}
								{% trans "Rejected" %}
							{% elif c.contribution.status == 5 %}
								{% trans "Published" %}
							{% endif %}
						</td>
					</tr>
		{% if forloop.last %}
				</tbody>
			</table>
		{% endif %}
	{% endfor %}
	{% for r in review_requests %}
		{% if forloop.first %}
			<div class="page-title-2">{% trans "Review requests" %}</div>
			<table class="table table-hover table-striped">
				<thead>
				<tr>
					<th>{% trans "Review Id"  %}</th>
					<th>{% trans "Editor" %}</th>
					<th>{% trans "Status" %}</th>
				</tr>
				</thead>
				<tbody>
		{% endif %}
					<tr class='clickable-row' data-href="{% url 'contribute:review' review_request_id=r.pk %}">
						<td>
						{{ r.pk }}
						<td>{{ r.editor }}</td>
						<td>
							{% if r.response == 0 %}
								{% trans "Not replied" %}
							{% elif r.response == 1 %}
								{% trans "Accepted for review" %}
							{% endif %}
						</td>
					</tr>
		{% if forloop.last %}
				</tbody>
			</table>
		{% endif %}
	{% endfor %}
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".clickable-row").click(function() {
			window.document.location = $(this).data("href");
		});
	});
</script>
{% endblock %}
