{% extends "account/base.html" %}
{% load i18n %}

{% block center-content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/contribute/selectize.bootstrap3.css">
<style>
    .var_group {
        margin: 10px;
    }

	.broad_region {
		margin-left: 10px;
		font-weight: bold;
	}

	.region {
		margin-left: 20px;
		font-style: italic;
		height: 0px;
		padding: 0px !important;
	}

	.port {
		height: 0px;
		margin-left: 30px;
		padding: 0px !important;
	}

	.expanded, .search_match {
		height: auto !important;
		padding: 3px 12px !important;
	}

	.search_match {
		margin-left: 5px !important;
	}

	.geo_complement {
		color: #B0B0B0;
	}

	.cell_hover {
		background-color: darkgray;
	}

	#demographics_table td {
		width: 85px;
		height: 52px;
		cursor: text;
	}

	#demographics_table td, #demographics_table th {
		vertical-align: middle !important;
	}
</style>

<h1>{% trans "Interim voyage" %}</h1>

<p>
    {% trans "Some intro text." %}
</p>

<form action="{{ request.get_full_path }}" method="post" class="form-horizontal">
    {% csrf_token %}
    <div>
        <a role="button" data-toggle="collapse" href="#ship_nation_owners" aria-expanded="false" aria-controls="ship_nation_owners">
          <h1>{% trans "Ship, nation, owners" %}</h1>
        </a>
    </div>
    <div id="ship_nation_owners" class="collapse col-md-12 var_group">
        <div class="form-group">
            {% with form.name_of_vessel as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.ship_construction_place as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.ship_registration_place as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.year_ship_constructed as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-2">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.year_ship_registered as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-2">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.national_carrier as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <select id="id_{{ f.html_name }}" name="{{ f.html_name }}">
                        <option value=""></option>
                        <optgroup label='{% trans "Nationalities" %}'>
                            {% for val,text in f.field.choices %}
                                {% if val != '' %}
                                    <option value="{{ val }}"{% if f.value == val %} selected{% endif %}>{{ text }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.rig_of_vessel as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <select id="id_{{ f.html_name }}" name="{{ f.html_name }}">
                        <option value=""></option>
                        <optgroup label='{% trans "Rig of vessel" %}'>
                            {% for val,text in f.field.choices %}
                                {% if val != '' %}
                                    <option value="{{ val }}"{% if f.value == val %} selected{% endif %}>{{ text }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.tonnage_of_vessel as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-2">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.ton_type as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <select id="id_{{ f.html_name }}" name="{{ f.html_name }}">
                        <option value=""></option>
                        <optgroup label='{% trans "Tonnage type" %}'>
                            {% for val,text in f.field.choices %}
                                {% if val != '' %}
                                    <option value="{{ val }}"{% if f.value == val %} selected{% endif %}>{{ text }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.guns_mounted as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-2">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.first_ship_owner as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.second_ship_owner as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.additional_ship_owners as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
    </div>
    <div>
        <a role="button" data-toggle="collapse" href="#outcome" aria-expanded="false" aria-controls="outcome">
          <h1>{% trans "Voyage outcome" %}</h1>
        </a>
    </div>
    <div id="outcome" class="collapse col-md-12 var_group">
        <div class="form-group">
            {% with form.voyage_outcome as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <select id="id_{{ f.html_name }}" name="{{ f.html_name }}">
                        <option value=""></option>
                        <optgroup label='{% trans "Voyage outcome" %}'>
                            {% for val,text in f.field.choices %}
                                {% if val != '' %}
                                    <option value="{{ val }}"{% if f.value == val %} selected{% endif %}>{{ text }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.african_resistance as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <select id="id_{{ f.html_name }}" name="{{ f.html_name }}">
                        <option value=""></option>
                        <optgroup label='{% trans "African resistance" %}'>
                            {% for val,text in f.field.choices %}
                                {% if val != '' %}
                                    <option value="{{ val }}"{% if f.value == val %} selected{% endif %}>{{ text }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            {% endwith %}
        </div>
    </div>
    <div>
        <a role="button" data-toggle="collapse" href="#itinerary" aria-expanded="false" aria-controls="itinerary">
          <h1>{% trans "Voyage itinerary" %}</h1>
        </a>
    </div>
    <div id="itinerary" class="collapse col-md-12 var_group">
        <div class="form-group">
            {% with form.first_port_intended_embarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.second_port_intended_embarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.first_port_intended_disembarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.second_port_intended_disembarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.port_of_departure as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.number_of_ports_called_prior_to_slave_purchase as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-2">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.first_place_of_slave_purchase as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.second_place_of_slave_purchase as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.third_place_of_slave_purchase as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.principal_place_of_slave_purchase as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.place_of_call_before_atlantic_crossing as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.number_of_new_world_ports_called_prior_to_disembarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-2">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.first_place_of_landing as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.second_place_of_landing as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.third_place_of_landing as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.principal_place_of_slave_disembarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.port_voyage_ended as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    <input class="select_port" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
    </div>
    <div>
        <a role="button" data-toggle="collapse" href="#dates" aria-expanded="false" aria-controls="dates">
          <h1>{% trans "Voyage dates" %}</h1>
        </a>
    </div>
    <div id="dates" class="collapse col-md-12 var_group">
        <div class="form-group">
            {% with form.date_departure as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-3">
                    <input class="date_input" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.date_slave_purchase_began as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-3">
                    <input class="date_input" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.date_vessel_left_last_slaving_port as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-3">
                    <input class="date_input" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.date_first_slave_disembarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-3">
                    <input class="date_input" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.date_second_slave_disembarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-3">
                    <input class="date_input" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.date_third_slave_disembarkation as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-3">
                    <input class="date_input" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.date_return_departure as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-3">
                    <input class="date_input" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.date_voyage_completed as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-3">
                    <input class="date_input" id="id_{{ f.html_name }}" name="{{ f.html_name }}" value="{{ f.value }}">
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.length_of_middle_passage as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-2">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
    </div>
    <div>
        <a role="button" data-toggle="collapse" href="#crew" aria-expanded="false" aria-controls="crew">
          <h1>{% trans "Captain and crew" %}</h1>
        </a>
    </div>
    <div id="crew" class="collapse col-md-12 var_group">
        <div class="form-group">
            {% with form.first_captain as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.second_captain as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            {% with form.third_captain as f %}
                {{ f.errors }}
                {{ f.label_tag }}
                <div class="input-group col-sm-8">
                    {{ f }}
                </div>
            {% endwith %}
        </div>
        <div class="form-group">
            <label for="interim_slave_number_CREW1">
                {% trans "Crew at voyage outset" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_CREW1" name="interim_slave_number_CREW1">
            </div>
            <label for="interim_slave_number_CREW2">
                {% trans "Crew at departure from last port of slave purchase" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_CREW2" name="interim_slave_number_CREW2">
            </div>
            <label for="interim_slave_number_CREW3">
                {% trans "Crew at first landing of slaves" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_CREW3" name="interim_slave_number_CREW3">
            </div>
            <label for="interim_slave_number_CREW4">
                {% trans "Crew when return voyage began" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_CREW4" name="interim_slave_number_CREW4">
            </div>
            <label for="interim_slave_number_CREW5">
                {% trans "Crew at end of voyage" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_CREW5" name="interim_slave_number_CREW5">
            </div>
            <label for="interim_slave_number_CREW">
                {% trans "Number of crew unspecified" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_CREW" name="interim_slave_number_CREW">
            </div>
            <label for="interim_slave_number_SAILD1">
                {% trans "Crew died before first place of trade in Africa" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SAILD1" name="interim_slave_number_SAILD1">
            </div>
            <label for="interim_slave_number_SAILD2">
                {% trans "Crew died while ship was on African coast" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SAILD2" name="interim_slave_number_SAILD2">
            </div>
            <label for="interim_slave_number_SAILD3">
                {% trans "Crew died during Middle Passage" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SAILD3" name="interim_slave_number_SAILD3">
            </div>
            <label for="interim_slave_number_SAILD4">
                {% trans "Crew died in the Americas" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SAILD4" name="interim_slave_number_SAILD4">
            </div>
            <label for="interim_slave_number_SAILD5">
                {% trans "Crew died on return voyage" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SAILD5" name="interim_slave_number_SAILD5">
            </div>
            <label for="interim_slave_number_CREWDIED">
                {% trans "Crew died during complete voyage" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_CREWDIED" name="interim_slave_number_CREWDIED">
            </div>
            <label for="interim_slave_number_NDESERT">
                {% trans "Total number of crew deserted" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_NDESERT" name="interim_slave_number_NDESERT">
            </div>
        </div>
    </div>
    <div>
        <a role="button" data-toggle="collapse" href="#slave_numbers_main" aria-expanded="false" aria-controls="slave_numbers_main">
          <h1>{% trans "Slaves (numbers)" %}</h1>
        </a>
    </div>
    <div id="slave_numbers_main" class="collapse col-md-12 var_group">
        <div class="form-group">
            <label for="interim_slave_number_SLINTEND">
                {% trans "Slaves intended from first port of purchase" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLINTEND" name="interim_slave_number_SLINTEND">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_SLINTEN2">
                {% trans "Slaves intended from second port of purchase" %}:
            </label>            
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLINTEN2" name="interim_slave_number_SLINTEN2">
            </div>            
        </div>
        <div class="form-group">
            <label for="interim_slave_number_NCAR13">
                {% trans "Slaves carried from first port of purchase" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_NCAR13" name="interim_slave_number_NCAR13">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_NCAR15">
                {% trans "Slaves carried from second port of purchase" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_NCAR15" name="interim_slave_number_NCAR15">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_NCAR17">
                {% trans "Slaves carried from third port of purchase" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_NCAR17" name="interim_slave_number_NCAR17">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_TSLAVESP">
                {% trans "Total slaves purchased in Africa" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_TSLAVESP" name="interim_slave_number_TSLAVESP">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_TSLAVESD">
                {% trans "Total slaves on board at departure from last slaving port" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_TSLAVESD" name="interim_slave_number_TSLAVESD">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_SLAARRIV">
                {% trans "Total slaves arrived at first port of disembarkation" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLAARRIV" name="interim_slave_number_SLAARRIV">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_SLAS32">
                {% trans "Slaves disembarked at first place" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLAS32" name="interim_slave_number_SLAS32">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_SLAS36">
                {% trans "Slaves disembarked at second place" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLAS36" name="interim_slave_number_SLAS36">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_SLAS39">
                {% trans "Slaves disembarked at third place" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLAS39" name="interim_slave_number_SLAS39">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_SLADAFRI">
                {% trans "Slaves deaths before leaving Africa" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLADAFRI" name="interim_slave_number_SLADAFRI">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_SLADVOY">
                {% trans "Slaves deaths between Africa and the Americas" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLADVOY" name="interim_slave_number_SLADVOY">
            </div>
        </div>
        <div class="form-group">
            <label for="interim_slave_number_SLADAMER">
                {% trans "Slaves deaths between arrival and sale" %}:
            </label>
            <div class="input-group col-sm-2">
                <input type="number" class="form-control slave_number_field" id="interim_slave_number_SLADAMER" name="interim_slave_number_SLADAMER">
            </div>
        </div>
    </div>
    <div>
        <a role="button" data-toggle="collapse" href="#sources" aria-expanded="false" aria-controls="sources">
          <h1>{% trans "Sources" %}</h1>
        </a>
    </div>
    <div id="sources" class="collapse col-md-12 var_group">
    </div>
    <div>
        <a role="button" data-toggle="collapse" href="#demographics" aria-expanded="false" aria-controls="demographics">
          <h1>{% trans "Slaves (characteristics)" %}</h1>
        </a>
    </div>
    <div id="demographics" class="collapse col-md-12 var_group">
        <div id="hidden_div" style="display:none">
            <input type="number" id="cell_editor" style="width: 65px;">
        </div>
        <table id="demographics_table" class="table table-striped" style="width: auto">
            <thead>
                <th></th>
                <th>{% trans "Men" %}</th>
                <th>{% trans "Women" %}</th>
                <th>{% trans "Boys" %}</th>
                <th>{% trans "Girls" %}</th>
                <th>{% trans "Males" %}</th>
                <th>{% trans "Females" %}</th>
                <th>{% trans "Adults" %}</th>
                <th>{% trans "Children" %}</th>
                <th>{% trans "Infants" %}</th>
            </thead>
            <tbody>
                <tr>
                    <th>{% trans "Embarked slaves (first port)" %}</th>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <th>{% trans "Embarked slaves (second port)" %}</th>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <th>{% trans "Embarked slaves (third port)" %}</th>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <th>{% trans "Died on voyage" %}</th>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <th>{% trans "Disembarked slaves (first port)" %}</th>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <th>{% trans "Disembarked slaves (second port)" %}</th>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label for="notes_slaves_demographics">
                {% trans "Notes for slaves characteristics" %}:
            </label>
            <div class="input-group col-md-8">
                <textarea class="form-control not_selectized" id="notes_slaves_demographics" name="notes_slaves_demographics"></textarea>
            </div>
        </div>
    </div>
    <p></p>
    <div class="form-group col-md-12">
        <button class="btn btn-primary" type="submit">{% trans "Submit voyage" %}</button>
        <button class="btn btn-danger" type="submit" name="submit_val" value="delete" id="delete_contrib">{% trans "Delete contribution" %}</button>
    </div>
</form>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/bootstrap.min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/selectize.js">
</script>
<script type="text/javascript">
    // Existing voyage(s) data.
    var voyages = {{ voyages_data|safe }};

    var getValues = function(name) {
        var values = {};
        var length = 0;
        for (var id in voyages) {
            var v = voyages[id];
            if (v.hasOwnProperty(name)) {
                var value = v[name];
                if (value != null) {
                    if (!values.hasOwnProperty(value)) {
                        values[value] = [];
                        ++length;
                    }
                    values[value].push(id);
                }
            }
        }
        return length > 0 ? values : null;
    };

    var getGroupName = function(ids) {
        return (ids.length > 1 ? gettext('Voyages') : gettext('Voyage')) +
                ' ' + ids.join(', ');
    };

    var selectizeInput = function(input) {
        var values = getValues(input.attr('name'));
        var optgroups = [];
        for (var value in values) {
            var ids = values[value];
            optgroups.push({ id: value, label: getGroupName(ids), $order: -1 });
        }
        var nodeName = input[0].nodeName.toUpperCase();
        if (values && nodeName == 'INPUT') {
            var options = [];
            var currentValue = input.val();
            optgroups.push({ id: 'typed', label: gettext('Typed value')});
            if (currentValue != '') {
                options.push({ source: 'typed', value: currentValue });
            }
            for (var value in values) {
                options.push({ source: value, value: value });
            }
            input.selectize({
                create: function (x, callback) {
                    callback({ source: 'typed', value: x });
                },
                persist: false,
                closeAfterSelect: false,
                options: options,
                labelField: 'value',
                valueField: 'value',
                optgroups: optgroups,
                optgroupField: 'source',
                optgroupLabelField: 'label',
                optgroupValueField: 'id',
                searchField: ['value'],
                maxItems: 1,
                plugins: ['optgroup_columns', 'restore_on_backspace']
            });
            if (options.length == 1 && currentValue == '') {
                input.val(options[0].value);
            }
        } else if (nodeName == 'SELECT') {
            var $s = input.selectize({
                optgroupField: 'source',
                sortField: 'text',
                lockOptgroupOrder: true,
                onInitialize: function() {
                    for (var key in optgroups) {
                        var og = optgroups[key];
                        this.addOptionGroup(og.id, og);
                    }
                    for (var value in values) {
                        var found = -1;
                        var list = this.options;
                        for (var i in list) {
                            if (list[i].value == value) {
                                found = i;
                                break;
                            }
                        }
                        if (found < 0) continue;
                        this.options[found] = { source: value, value: list[found].value, text: list[found].text };
                    }
                },
            });
        } else {
            addNotesPopup(input.attr('name'), input.parent());
        }
        input.addClass('form-control');
    };

    var regions = {};
    var broad_regions = {};

    $(document).ready(function() {
        $('#delete_contrib').click(function(e) {
            if (!confirm('{% trans "The contribution will be deleted and this partial contribution will be lost. Continue anyway?" %}')) {
                e.preventDefault();
            }
        });

        $('input[type=text], input[type=number], select, textarea')
            .not('.select_port')
            .not('.date_input')
            .not('.not_selectized')
            .each(function () {
                var f = $(this);
                selectizeInput(f);
            }
        );

        $.ajax('/contribute/places_ajax', {
            success: function(originalPorts) {
                for (var i = 0; i < originalPorts.length; ++i) {
                    var item = originalPorts[i];
                    if (item.type == "region") {
                        regions[item.pk] = item;
                    } else if (item.type == "broad_region") {
                        broad_regions[item.pk] = item;
                    }
                    item.source = 'data';
                }
                $(".select_port").each(function() {
                    var self = $(this);
                    var ports = originalPorts.slice(0);
                    var values = getValues(self.attr('name'));
                    var optgroups = [ { id: 'data', label: '{% trans 'Ports' %}' } ];
                    for (var value in values) {
                        for (var j = 0; j < ports.length; ++j) {
                            var p = ports[j];
                            if (p.type == 'port' && p.value == value) {
                                // Found the port matching a pre-existing value.
                                var copy = jQuery.extend({}, p);
                                copy.type = 'existing';
                                copy.source = getGroupName(values[value]);
                                optgroups.push({ id: copy.source, label: copy.source });
                                ports.unshift(copy);
                                break;
                            }
                        }
                    }
                    var portItemDisplay = function(data, escape) {
                        var region = regions[data.parent];
                        var broad_region = broad_regions[region.parent];
                        return '<div>' + escape(data.port) + '<span class="geo_complement"> &laquo; ' + region.region + ' &laquo; ' + broad_region.broad_region + '</span></div>';
                    };
                    self.selectize({
                        maxItems: 1,
                        options: ports,
                        optgroups: optgroups,
                        optgroupField: 'source',
                        optgroupLabelField: 'label',
                        optgroupValueField: 'id',
                        valueField: 'value',
                        searchField: ['port', 'region', 'broad_region'],
                        render: {
                            option: function(data, escape) {
                                if (data.type == 'port') {
                                    return '<div class="port region_' + data.parent + '">' + escape(data.port) + '</div>';
                                }
                                if (data.type == 'region') {
                                    return '<div id="r_' + data.pk + '" data-pk="' + data.pk + '" class="mouse_transparent region broad_region_' + data.parent + '">' + escape(data.region) + '</div>';
                                }
                                if (data.type == 'existing') {
                                    return portItemDisplay(data, escape);
                                }
                                return '<div id="br_' + data.pk + '" data-pk="' + data.pk + '" class="mouse_transparent broad_region">' + escape(data.broad_region) + '</div>';
                            },
                            item: portItemDisplay,
                        }
                    });
                });
            }
        });

        // Handle dates.
        var dateOptions = [];
        for (var i = {{ voyage_span_first_year }}; i < {{ voyage_span_last_year }}; ++i) {
            dateOptions.push({ type: 'year', label: i, value: 'y' + i });
        }

        {% get_current_language as LANGUAGE_CODE %}
        var locale = "{{ LANGUAGE_CODE }}";
        var getMonthName = function(i) {
            var date = new Date(i + "/01/2015");
            return date.toLocaleString(locale, { month: "long" });
        };
        var leadingZero = function(d) {
            return d < 10 ? '0' + d : '' + d;
        };
        for (var i = 1; i <= 12; ++i) {
            var month = getMonthName(i);
            dateOptions.push({ type: 'month', label: month, value: 'm' + leadingZero(i) });
        }
        for (var i = 1; i <= 31; ++i) {
            dateOptions.push({ type: 'day', label: (i < 10 ? '0' : '') + i, value: 'd' + leadingZero(i) });
        }
        var parseDateValue = function(val) {
            var items = val.split(',');
            var year = '';
            var month = '';
            var day = '';
            for (var i = 0; i < items.length; ++i) {
                var item = items[i];
                if (item.startsWith('y')) {
                    year = parseInt(item.substring(1));
                } else if (item.startsWith('m')) {
                    month = parseInt(item.substring(1));
                } else if (item.startsWith('d')) {
                    day = parseInt(item.substring(1));
                }
            }
            return { year: year, month: month, day: day };
        };
        $(".date_input").each(function() {
            var self = $(this);
            var optgroups = [
                { type: 'year', name: '{% trans "Year in the range" %} {{ voyage_span_first_year }} - {{ voyage_span_last_year }}'},
                { type: 'month', name: '{% trans "Month" %}'},
                { type: 'day', name: '{% trans "Day" %}'},
            ];
            var values = getValues(self.attr('name'));
            var options = dateOptions.slice(0);
            var existing = {};
            for (var value in values) {
                if (value == ',,') continue;
                // Parse value in MM,DD,YYYY format.
                var parse = value.split(',');
                if (parse.length != 3) continue;
                parse[0] = parseInt(parse[0]);
                parse[1] = parseInt(parse[1]);
                parse[2] = parseInt(parse[2]);
                var label = '';
                if (parse[2] != '' && !isNaN(parse[2])) label += parse[2];
                if (parse[0] != '' && !isNaN(parse[0])) label += ', ' + getMonthName(parse[0]);
                if (parse[1] != '' && !isNaN(parse[1])) label += ', ' + parse[1];
                var item = { type: value, label: label, value: 'full_' + value, year: parse[2], month: parse[0], day: parse[1] };
                existing[item.value] = item;
                options.unshift(item);
                optgroups.unshift({ type: value, name: getGroupName(values[value]) });
            }
            var current_value = self.attr('value');
            var parse = current_value.split(',');
            current_value = '';
            if (parse.length == 3) {
                var valid = []
                if (parse[2] != '' && !isNaN(parse[2])) valid.push('y' + parse[2]);
                if (parse[0] != '' && !isNaN(parse[0])) valid.push('m' + leadingZero(parse[0]));
                if (parse[1] != '' && !isNaN(parse[1])) valid.push('d' + leadingZero(parse[1]));
                current_value = valid.join(',');
            }
            self.val(current_value);
            self.selectize({
                options: options,
                maxItems: 3,
                searchField: ['label'],
                valueField: 'value',
                labelField: 'label',
                optgroupLabelField: 'name',
                optgroupValueField: 'type',
                optgroupField: 'type',
                optgroups: optgroups,
                render: {
                    option: function(data, escape) {
                        if (data.type == 'year') {
                            return '<div style="display:none;">' + escape(data.label) + '</div>';
                        }
                        if (data.type == 'month') {
                            return '<div class="month">' + escape(data.label) + '</div>';
                        }
                        return '<span>' + escape(data.label) + '&nbsp;</span>' + (data.label % 10 == 0 ? '<br />' : '');
                    },
                }
            });
            var inside = false;
            this.selectize.on('item_add', function(value, item) {
                if (inside) return;
                if (value.startsWith('full')) {
                    this.clear();
                    inside = true;
                    var data = existing[value];
                    if (!isNaN(data.year)) this.addItem('y' + data.year);
                    if (!isNaN(data.month)) this.addItem('m' + leadingZero(data.month));
                    if (!isNaN(data.day)) this.addItem('d' + leadingZero(data.day));
                    inside = false;
                    return;
                }
                // See if there is an item with the same type already selected,
                // if so, delete the item so only the new entry is kept.
                var type = value.charAt(0);
                for (var i = 0; i < this.items.length; ++i) {
                    var val = this.items[i];
                    if (val.charAt(0) == type && val != value) {
                        this.removeItem(val);
                        break;
                    }
                }
                var clone = this.items.slice(0).sort();
                // Place the items in the appropriate order:
                for (var i = clone.length - 1; i >= 0; --i) {
                    var val = clone[i];
                    this.removeItem(val);
                }
                inside = true;
                for (var i = clone.length - 1; i >= 0; --i) {
                    var val = clone[i];
                    this.addItem(val);
                }
                inside = false;
            });
        });

        // Store numbers in an object.
        var numbers = {
        {% for k, v in numbers.items %}
            {% if v %}
                '{{ k }}': {{ v }},
            {% endif %}
        {% endfor %}
        };

        // Set demographic table.
        var demographics_column_headers = ['MEN', 'WOMEN', 'BOY', 'GIRL', 'MALE', 'FEMALE', 'ADULT', 'CHILD', 'INFANT'];
        var demographics_row_indices = [ 1, 4, 5, 2, 3, 6 ];
        var demographics_rows = $.map(
            $("#demographics_table").find("tbody").find("tr"),
            function(row, i) {
                return $(row).find("td");
            }
        );

        // Set numeric inputs and demographics matrix.
        var NUMBERS_KEY_PREFIX = 'interim_slave_number_';
        var regex = new RegExp('^' + NUMBERS_KEY_PREFIX + '([A-Z]+)([0-9])$');
        for (var key in numbers) {
            var match = regex.exec(key);
            var found = false;
            if (match) {
                var col = demographics_column_headers.indexOf(match[1]);
                var row = demographics_row_indices.indexOf(parseInt(match[2]));
                if (col >= 0 && row >= 0 && row < 6) {
                    $(demographics_rows[row][col]).html(numbers[key]);
                    found = true;
                }
            }
            if (!found) {
                $("input[name='" + key + "']")[0].selectize.setValue(numbers[key]);
            }
        }

        $("#demographics_table td").hover(
            function() {
                $(this).addClass('cell_hover');
            },
            function() {
                $(this).removeClass('cell_hover');
            }
        );

        var current_cell = null;
        var editor = $('#cell_editor');

        $("#demographics_table td").click(function() {
            if (current_cell) return;
            current_cell = $(this);
            var value = parseInt(current_cell.html());
            current_cell.html('');
            editor.appendTo(current_cell);
            editor.focus();
            editor.blur(function() {
                if (current_cell) {
                    var value = editor.val();
                    current_cell.html(value);
                    current_cell = null;
                    editor.appendTo($('#hidden_div'));
                }
            });
            editor.keyup(function(e) {
                if (e.keyCode == 13) {
                    editor.blur();
                }
            });
            editor.val(value);
        });

        $('form').submit(function() {
            $("input[name^='date']").each(function() {
                var self = $(this);
                // Convert date to the expected format MM,DD,YYYY
                var date = parseDateValue(self.val());
                self.val(date.month + ',' + date.day + ',' + date.year);
            });
            // Append demographics matrix.
            var form = $(this);
            for (var i = 0; i < demographics_rows.length; ++i) {
                for (var j = 0; j < demographics_column_headers.length; ++j) {
                    var value = parseInt($(demographics_rows[i][j]).html());
                    if (!isNaN(value)) {
                        form.append('<input type="hidden" name="' +
                            NUMBERS_KEY_PREFIX + demographics_column_headers[j] + demographics_row_indices[i] +
                            '" value="' + value + '" />');
                    }
                }
            }
            return true;
        });
    });

    // Special handling of port/region/broad region selection.
    var protoSelectOption = Selectize.prototype.onOptionSelect;
    Selectize.prototype.onOptionSelect = function(e) {
        if (e && e.preventDefault) {
            e.preventDefault();
            var target = $(e.currentTarget);
            var className = "expanded";
            if (this.$control_input.val() != '' && !this.options.create) {
                // Clear search if user selected an option.
                id = target.attr('id');
                this.$control_input.val('');
                this.refreshOptions();
                if (id) {
                    target = $("#" + id);
                }
            }
            var nextActive = null;
            if (target.hasClass("broad_region")) {
                $(".broad_region,.region,.port").removeClass(className);
                target.addClass(className);
                $(".broad_region_" + target.data('pk')).addClass(className);
                nextActive = $(".broad_region_" + target.data('pk') + ":last");
            } else if (target.hasClass("region")) {
                $(".port").removeClass(className);
                target.addClass(className);
                $(".region_" + target.data('pk')).addClass(className);
                nextActive = $(".region_" + target.data('pk') + ":last");
            } else {
                protoSelectOption.apply(this, arguments);
            }
            var activateOptionWithDelay = function(opt, fn) {
                window.setTimeout(function() {
                    self.setActiveOption(opt);
                    if (fn) {
                        fn();
                    }
                }, 200);
            };
            if (nextActive) {
                var self = this;
                activateOptionWithDelay(nextActive, function() {
                    activateOptionWithDelay(target);
                });
            }
        } else {
            protoSelectOption.apply(this, arguments);
        }
    };
</script>
{% endblock %}