{% extends "account/base.html" %}
{% load i18n %}
{% load voyage_extras %}

{% block title %}{% trans "Verify submitted information" %}{% endblock %}

{% block center-content %}
{% with blank_text='' %}
<div id="toogles">
    <input type="checkbox" id="show_blanks"> <label for="show_blanks">{% trans "Blank inputs" %}</label>
    <input type="checkbox" id="show_existing" checked> <label for="show_existing" id="show_existing_label">{% trans "Previous values" %}</label>
    <input type="checkbox" id="show_notes" checked> <label for="show_notes">{% trans "Notes" %}</label>
</div>
<div class="col-md-12" id="data_display">
    <div class="row group_header">
        <span class="col-sm-4">{% trans "Variable" %}</span>
        <span class="col-sm-4 old_values_header"></span>
        <span class="col-sm-4">{% trans "Contributed value" %}</span>
    </div>
    <h3>{% trans "Ship, nation, owners" %}</h3>
    {% with form.name_of_vessel as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.ship_construction_place as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.ship_registration_place as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.year_ship_constructed as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.year_ship_registered as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.national_carrier as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.rig_of_vessel as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.tonnage_of_vessel as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.ton_type as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.guns_mounted as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.first_ship_owner as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.second_ship_owner as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.additional_ship_owners as f %}
        <div class="multiline_value row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}

    <h3>{% trans "Voyage outcome" %}</h3>

    <div class="row group_header">
    </div>
    {% with form.voyage_outcome as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.african_resistance as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}

    <h3>{% trans "Voyage itinerary" %}</h3>

    <div class="row group_header">
    </div>
    {% with form.first_port_intended_embarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.second_port_intended_embarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.first_port_intended_disembarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.second_port_intended_disembarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.number_of_ports_called_prior_to_slave_purchase as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.first_place_of_slave_purchase as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.second_place_of_slave_purchase as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.third_place_of_slave_purchase as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.principal_place_of_slave_purchase as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.place_of_call_before_atlantic_crossing as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.number_of_new_world_ports_called_prior_to_disembarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.first_place_of_landing as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.second_place_of_landing as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.third_place_of_landing as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.principal_place_of_slave_disembarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.port_voyage_ended as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}_name"></div>
            <span id="{{ f.html_name }}">{{ f|selected_choice|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}

    <h3>{% trans "Voyage dates" %}</h3>

    <div class="row group_header">
    </div>
    {% with form.date_departure as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="date_value old_values" id="old_{{ f.html_name }}"></div>
            <span class="date_value" id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.date_slave_purchase_began as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="date_value old_values" id="old_{{ f.html_name }}"></div>
            <span class="date_value" id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.date_vessel_left_last_slaving_port as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="date_value old_values" id="old_{{ f.html_name }}"></div>
            <span class="date_value" id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.date_first_slave_disembarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="date_value old_values" id="old_{{ f.html_name }}"></div>
            <span class="date_value" id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.date_second_slave_disembarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="date_value old_values" id="old_{{ f.html_name }}"></div>
            <span class="date_value" id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.date_third_slave_disembarkation as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="date_value old_values" id="old_{{ f.html_name }}"></div>
            <span class="date_value" id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.date_return_departure as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="date_value old_values" id="old_{{ f.html_name }}"></div>
            <span class="date_value" id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.date_voyage_completed as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="date_value old_values" id="old_{{ f.html_name }}"></div>
            <span class="date_value" id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.length_of_middle_passage as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}

    <h3>{% trans "Captain and crew" %}</h3>

    <div class="row group_header">
    </div>
    {% with form.first_captain as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.second_captain as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    {% with form.third_captain as f %}
        <div class="row{% if f.value == None or f.value == '' %} blank{% endif%}">
            {{ f.label_tag }}
            <div class="old_values" id="old_{{ f.html_name }}"></div>
            <span id="{{ f.html_name }}">{{ f.value|default_if_none:blank_text }}</span>
        </div>
    {% endwith %}
    <div class="row">
        <label for="interim_slave_number_CREW1">
        {% trans "Crew at voyage outset" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_CREW1"></div>
        <span id="interim_slave_number_CREW1"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_CREW2">
        {% trans "Crew at departure from last port of slave purchase" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_CREW2"></div>
        <span id="interim_slave_number_CREW2"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_CREW3">
        {% trans "Crew at first landing of slaves" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_CREW3"></div>
        <span id="interim_slave_number_CREW3"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_CREW4">
        {% trans "Crew when return voyage began" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_CREW4"></div>
        <span id="interim_slave_number_CREW4"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_CREW5">
        {% trans "Crew at end of voyage" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_CREW5"></div>
        <span id="interim_slave_number_CREW5"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_CREW">
        {% trans "Number of crew if voyage stage unknow" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_CREW"></div>
        <span id="interim_slave_number_CREW"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_SAILD1">
        {% trans "Crew died before first place of trade in Africa" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_SAILD1"></div>
        <span id="interim_slave_number_SAILD1"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_SAILD2">
        {% trans "Crew died while ship was on African coast" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_SAILD2"></div>
        <span id="interim_slave_number_SAILD2"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_SAILD3">
        {% trans "Crew died during middle passage" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_SAILD3"></div>
        <span id="interim_slave_number_SAILD3"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_SAILD4">
        {% trans "Crew died in the Americas" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_SAILD4"></div>
        <span id="interim_slave_number_SAILD4"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_SAILD5">
        {% trans "Crew died on return voyage" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_SAILD5"></div>
        <span id="interim_slave_number_SAILD5"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_CREWDIED">
        {% trans "Crew died during complete voyage" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_CREWDIED"></div>
        <span id="interim_slave_number_CREWDIED"></span>
    </div>
    <div class="row">
        <label for="interim_slave_number_NDESERT">
        {% trans "Total number of crew deserted" %}:
        </label>
        <div class="old_values" id="old_interim_slave_number_NDESERT"></div>
        <span id="interim_slave_number_NDESERT"></span>
    </div>

    <h3>{% trans "Slaves (numbers)" %}</h3>

    <div class="row group_header">
    </div>
	<div class="row">
		<label for="interim_slave_number_SLINTEND">
						{% trans "Slaves intended from first port of purchase" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLINTEND"></div>
		<span id="interim_slave_number_SLINTEND"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_SLINTEN2">
						{% trans "Slaves intended from second port of purchase" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLINTEN2"></div>
		<span id="interim_slave_number_SLINTEN2"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_NCAR13">
						{% trans "Slaves carried from first port of purchase" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_NCAR13"></div>
		<span id="interim_slave_number_NCAR13"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_NCAR15">
						{% trans "Slaves carried from second port of purchase" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_NCAR15"></div>
		<span id="interim_slave_number_NCAR15"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_NCAR17">
						{% trans "Slaves carried from third port of purchase" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_NCAR17"></div>
		<span id="interim_slave_number_NCAR17"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_TSLAVESP">
						{% trans "Total slaves purchased in Africa" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_TSLAVESP"></div>
		<span id="interim_slave_number_TSLAVESP"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_TSLAVESD">
						{% trans "Total slaves on board at departure from last slaving port" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_TSLAVESD"></div>
		<span id="interim_slave_number_TSLAVESD"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_SLAARRIV">
						{% trans "Total slaves arrived at first port of disembarkation" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLAARRIV"></div>
		<span id="interim_slave_number_SLAARRIV"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_SLAS32">
						{% trans "Slaves disembarked at first place" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLAS32"></div>
		<span id="interim_slave_number_SLAS32"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_SLAS36">
						{% trans "Slaves disembarked at second place" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLAS36"></div>
		<span id="interim_slave_number_SLAS36"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_SLAS39">
						{% trans "Slaves disembarked at third place" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLAS39"></div>
		<span id="interim_slave_number_SLAS39"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_SLADAFRI">
						{% trans "Slaves deaths before leaving Africa" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLADAFRI"></div>
		<span id="interim_slave_number_SLADAFRI"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_SLADVOY">
						{% trans "Slaves deaths between Africa and the Americas" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLADVOY"></div>
		<span id="interim_slave_number_SLADVOY"></span>
	</div>
	<div class="row">
		<label for="interim_slave_number_SLADAMER">
						{% trans "Slaves deaths between arrival and sale" %}:
		</label>
		<div class="old_values" id="old_interim_slave_number_SLADAMER"></div>
		<span id="interim_slave_number_SLADAMER"></span>
	</div>

    <h3>{% trans "Slaves (characteristics)" %}</h3>

    <table id="demographics_table" class="table table-striped" style="width: auto">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Men" %}</th>
                <th>{% trans "Women" %}</th>
                <th>{% trans "Boys" %}</th>
                <th>{% trans "Girls" %}</th>
                <th>{% trans "Males" %}</th>
                <th>{% trans "Females" %}</th>
                <th>{% trans "Adults" %}</th>
                <th>{% trans "Children" %}</th>
                <th>{% trans "Infants" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{% trans "Embarked slaves (first port)" %}</th>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <th>{% trans "Embarked slaves (second port)" %}</th>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <th>{% trans "Embarked slaves (third port)" %}</th>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <th>{% trans "Died on voyage" %}</th>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <th>{% trans "Disembarked slaves (first port)" %}</th>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <th>{% trans "Disembarked slaves (second port)" %}</th>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
        </tbody>
    </table>
    <span id="id_slaves_demographics"><!-- Placeholder for notes on the demographics table. --></span>

    <h3>{% trans "Sources" %}</h3>

    {% if interim.pre_existing_sources.all %}
        <h4>{% trans "Current source references" %}</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans "Voyage ID(s)" %}</th>
                <th>{% trans "Short reference" %}</th>
                <th>{% trans "Full reference" %}</th>
                <th>{% trans "Action" %}</th>
                <th>{% trans "Notes" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for source in interim.pre_existing_sources.all %}
                <tr>
                    <td>{{ source.voyage_ids }}</td>
                    <td>{{ source.original_ref }}</td>
                    <td>{{ source.full_ref|safe }}</td>
                    <td class="text-center">
                        <span class="glyphicon glyphicon-{% if source.action = 0 %}ok{% endif %}{% if source.action = 1 %}pencil{% endif %}{% if source.action = 2 %}remove{% endif %}"></span>
                    </td>
                    <td>
                        {{ source.notes }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

        <h4>{% trans "Contributed source references" %}</h4>

        <table id="sources_table" style="display:none;" class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Type of source" %}</th>
                    <th>{% trans "Details" %}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    {% if contribution.notes %}
        <h3>{% trans "General comments" %}</h3>

        <span>{{ contribution.notes }}</span>
    {% endif %}

    <h3>{% trans "Contributor" %}</h3>

    <p>
        <label for="contributor_name">{% trans "Name" %}:</label>
        <span id="contributor_name">{% if request.user.get_full_name != '' %}{{ request.user.get_full_name }}{% else %}{{ request.user }}{% endif %}</span>
    </p>
    <p>
        <label for="contributor_email">{% trans "E-mail" %}:</label>
        <span id="contributor_email">{{ request.user.email }}</span>
    <p>

    <hr />
    <label for="timestamp">{% trans "Summary date" %}:</label>
    <span id="timestamp"></span>
</div>
<br />
<br />
<div id="summary_toolbar" style="padding-top:6px; padding-bottom:6px; background-color:rgba(255,255,255,0.85)">
    <div class="btn-group">
        <button type="button" class="btn btn-default" aria-label="Print" id="print_button">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;{% trans "Print" %}
        </button>
        {% if contribution.status <= 1 and user.pk == contribution.contributor.pk %}
            <button type="button" class="btn btn-default" aria-label="Edit" id="edit_contrib">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;{% trans "Edit contribution" %}
            </button>
            <button type="button" class="btn btn-primary" aria-label="Submit" id="submit_contrib">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;{% trans "Submit your contribution" %}
            </button>
            <button type="button" class="btn btn-danger" aria-label="Cancel" id="delete_contrib">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;{% trans "Cancel contribution" %}
            </button>
        {% endif %}
    </div>
</div>
{% endwith %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/interim.js"></script>
<script type="text/javascript">
    "use strict";
    $('#print_button').click(function() {
        print($('#data_display').html());
    });

    function print(data) {
        var title = gettext('Print contribution');
        var mywindow = window.open('', 'my div', 'height=640,width=800');
        mywindow.document.write('<html><head><title>' + title + '</title>');
        mywindow.document.write('<link rel="stylesheet" href="{{ STATIC_URL }}css/contribute/bootstrap.min.css" type="text/css" />');
        mywindow.document.write('<style>' + $('#local_styles').html() + '</style>');
        mywindow.document.write('</head><body>');
        mywindow.document.write('<div class="container body-content">' + data + '</div>');
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }

    // Existing voyage(s) data.
    var voyages = {{ voyages_data|safe }};
    var voyage_ids = Object.keys(voyages);

    $('.multiline_value span').each(function() {
        var $span = $(this);
        $span.html($span.html().replace(/\r?\n/i, '<br />'));
    });

    var alternateBackground = function() {
        var child = $("#data_display").children(".row").first();
        var isAlternate = false;
        while (child.length == 1) {
            if (child.hasClass('row')) {
                var isGroupHeader = child.hasClass('group_header');
                if (isGroupHeader) {
                    isAlternate = false;
                }
                else if (child.css('display') != 'none') {
                    child.toggleClass('alternate_row', isAlternate);
                    isAlternate = !isAlternate;
                }
            }
            child = child.next();
        }
    };

    var toggleFuncFactory = function(className) {
        return function () {
            var checked = $(this).prop('checked');
            $(className).toggle(checked);
            alternateBackground();
        };
    };

    var preExistingClasses = '.old_values, .old_values_header';
    if (voyage_ids.length == 0) {
        $('#show_existing, #show_existing_label').hide();
        $(preExistingClasses).hide();
    } else {
        $('#show_existing').change(toggleFuncFactory(preExistingClasses));
    }

    $('#show_blanks').change(toggleFuncFactory('.blank'));
    $('#show_notes').change(toggleFuncFactory('.notes'));

    var dateFormat = function(date_val) {
        var arr = date_val.split(',');
        var result = '';
        if (arr.length == 3) {
            var d = { year: parseInt(arr[2]), month: parseInt(arr[0]), day: parseInt(arr[1]) };
            {% get_current_language as LANGUAGE_CODE %}
            var locale = "{{ LANGUAGE_CODE }}";
            d.month = isNaN(d.month) ? null : getMonthLocaleName(locale, d.month);
            d.year = isNaN(d.year) ? null : d.year;
            d.day = isNaN(d.day) ? null : d.day;
            arr = [d.month, d.day, d.year];
            var sep = ' ';
            if (locale == 'pt') {
                sep = '/';
                arr = [d.day, d.month, d.year];
            }
            for (var i = 2; i >= 0; --i) {
                if (!arr[i]) {
                    arr.splice(i, 1);
                }
            }
            result = arr.join(sep);
        }
        return result;
    };

    $('span.date_value, div.date_value .old_single_value').each(function() {
        var $this = $(this);
        var date = dateFormat($this.html());
        $this.html(date);
        if (date == '') {
            $this.parent().addClass('blank');
        }
    });

    var numbers = {
    {% for k, v in numbers.items %}
        {% if v %}
            '{{ k }}': {{ v }},
        {% endif %}
    {% endfor %}
    };

    $('span').each(function() {
        var $this = $(this);
        var id = $this.attr('id');
        if (id && id.startsWith(NUMBERS_KEY_PREFIX)) {
            var val = numbers[id];
            if (val) {
                $this.html(val);
            } else {
                $this.parent().addClass("blank");
            }
        }
    });
    
    $('.old_values').each(function() {
        var $div = $(this);
        var parent = $div.closest('.row');
        var name = $div.attr('id').substring(4);
        var values = getVoyagesValues(voyages, name);
        var voyagesCount = voyage_ids.length;
        if (values) {
            // Remove blank class from parent.
            parent.removeClass('blank');
            var list = [];
            for (var key in values) {
                if (key == ',,') continue;
                var item = '';
                if (voyagesCount > 1) {
                    item = '<strong>' + values[key].join(', ') + ':</strong> ';
                }
                list.push(item + '<span class="old_single_value">' + key + '</span>');
            }
            if (list.length > 0) {
                $div.append(list.join('<br />'));
            }
        }
    });

    demographicsTable(numbers, false, voyages);
    ageAndSexTable(numbers, false, voyages);

    var all_source_types = [
        {{ interim.primary_sources.all|jsonify }},
        {{ interim.article_sources.all|jsonify }},
        {{ interim.book_sources.all|jsonify }},
        {{ interim.other_sources.all|jsonify }}
    ];
    var k = 0;
    for (var i = 0; i < all_source_types.length; ++i) {
        var col = all_source_types[i];
        for (var j = 0; j < col.length; ++j) {
            var source = sourceFactory(col[j], ++k);
            $('#sources_table > tbody:last-child').append(
                '<tr id="row_source_' + source.id + '"><td>' +
                source.type + '</td><td>' + source.toString() +
                '</td></tr>');
        }
    }
    if (k) {
        $('#sources_table').show();
    } else {
        $('#sources_table').after('<span class="glyphicon glyphicon-exclamation-sign">&nbsp;</span><span>{% trans "There are no contributed source references" %}</span>');
    }

    var notes = {{ interim.notes|safe }};
    for (var key in notes) {
        var $div = $('#' + key);
        $div.after('<div class="notes"><span class="glyphicon glyphicon-comment"></span>&nbsp;' + notes[key] + '</div>');
        $div.closest('.row').removeClass('blank');
    }

    $('#show_blanks,#show_existing,#show_notes').trigger('change');

    $('#delete_contrib').click(function(e) {
        if (confirm('{% trans "The contribution will be deleted. Continue anyway?" %}')) {
            $('#delete_form').submit();
        }
    });
    $('#edit_contrib').click(function(e) {
        if (confirm('{% trans "Return to contribution for editing?" %}')) {
            window.location.href = $('#delete_form')[0].action + "?revert_to_pending=true";
        }
    });
    $('#submit_contrib').click(function(e) {
        if (confirm('{% trans "Once you submit your contribution you will not be able to edit it further. To resume editing, just save the data entry form and it will appear on the Contribute Home page. Submit your contribution?" %}')) {
            $('#commit_form').submit();
        }
    });
    $('#timestamp').html(new Date());

    $("#data_display > .row > label, #data_display > .row > span, #data_display > .row > .old_values").addClass("col-sm-4");
    $(".old_values_header").html(voyage_ids.length > 1 ? '{% trans "Merged voyages" %}' : '{% trans "Voyage" %} #' + voyage_ids[0]);
    alternateBackground();
    // TODO: remove this code once styling is done.
    $("#center-content").css('width', '900px');
</script>
<form id="commit_form" action='{% url "contribute:interim_commit" contribution_type=contribution.type contribution_id=contribution.pk %}' method="post">{% csrf_token %}</form>
<form id="delete_form" action='{% url "contribute:interim" contribution_type=contribution.type contribution_id=contribution.pk %}' method="post">{% csrf_token %}<input type="hidden" value="delete" name="submit_val"></form>
{# Styles should move to Head - but this currently breaks the general layout #}
<link rel="stylesheet" href="{{ STATIC_URL }}css/contribute/bootstrap.min.css">
<style id="local_styles">
    .blank_value {
        color: lightgray;
    }

    .blank > span:after {
        color: gray;
        content: '{% trans "(blank)" %}';
    }

    .notes {
        color: gray;
        margin-left: 15px;
        display: inline-block;
        float: right;
    }

    #demographics_table td {
        text-align: right;
    }

    #summary_toolbar {
        z-index: 10;
    }

    .group_header {
        font-weight: 700;
        font-size: 16px;
    }

    .group_header, .alternate_row {
        background-color: lightgray;
    }
</style>
{% endblock %}