{% extends "_base.html" %}
{% load sass_tags %}
{% load compress %}
{% load i18n %}

{% block title %}
	{% trans 'Contribution to the Origins Database' %}
{% endblock %}

{% block content %}

<div class="trans-container">
    <div id="center-content-inner" class="enslaved-content">
        <center>
            <h1>{% trans "Origins Contribution Review" %}</h1>
        </center>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h3 class="card-title">[[ contrib_data.enslaved.modern_name ]]</h5>
                        <h4 v-if="contrib_data.enslaved.historical_name" class="card-subtitle mb-2 text-muted">[[ contrib_data.enslaved.historical_name ]] {% trans "(historical)" %}</h6>
                        <p class="card-text">
                            [[ genders[contrib_data.enslaved.gender || 0] ]]
                            {% trans "embarked on " %}
                            [[ contrib_data.enslaved.region_of_embarkation ]]
                        </p>
                        <hr />
                        <h4>Contributed Names</h4>
                        <ul>
                            <li v-for="cn in contrib_data.contributed_names">
                                [[ cn.name ]]
                                <div v-if="cn.audio" style="display: inline; margin-left: 10px;">
                                    <i class="fa fa-play" aria-hidden="true" v-bind:data="cn.audio" onclick="audioCommand(this.getAttribute('data'), 'play')"></i>
                                    <i class="fa fa-pause" aria-hidden="true" v-bind:data="cn.pk" onclick="audioCommand(null, 'pause')"></i>
                                </div>
                            </li>
                        </ul>
                        <div v-if="contrib_data.prev_name_contributions">
                            {% trans "Previous contributions" %}: [[ contrib_data.prev_name_contributions.join(';') ]]
                        </div>
                        <h4>Contributed Language Groups</h4>
                        <span v-if="contrib_data.is_multilingual">{% trans "Multilingual" %}</span>
                        <ul>
                            <li v-for="cl in contrib_data.contributed_language_groups">
                                [[ cl.language_group_name ]] ([[ cl.modern_country_name ]])
                            </li>
                        </ul>
                        </div>
                    </div>
                    <p>TO-DO</p>
                    <ul>
                        <li>✓ List modern name contributions</li>
                        <li>✓ Audio playback</li>
                        <li>✓ Language group</li>
                        <li>✓ Previous contributed names</li>
                        <li>Propagation tools</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h3>Propagation</h3>                    
                    <label for="propagatedName">{% trans "Propagated Name" %}:</label>
                    <input class="form-control" name="propagatedName" type="text" v-model="propagatedName" />
                    <label for="propagatedCountry">{% trans "Propagated Modern Country" %}:</label>
                    <select id="propagatedCountry" class="form-control" v-model="propagatedCountry">
                        <option value="remove">{% trans "Delink Modern Country" %}</option>
                        <option v-if="contrib_data.contributed_language_groups" disabled>--- {% trans "User Contributed" %} ---</option>
                        <option v-if="cl.modern_country_pk" v-for="cl in contrib_data.contributed_language_groups" v-bind:value="cl.modern_country_pk">[[ cl.modern_country_name ]]</option>
                        <option disabled>--- {% trans "Editorial Choices" %} ---</option>
                        <option v-for="country in modernCountryChoices" v-bind:value="country.pk">[[ country.name ]]</option>
                    </select>
                    <label for="propagatedLang">{% trans "Propagated Language Group" %}:</label>
                    <select id="propagatedLang" class="form-control" v-model="propagatedLanguage">
                        <option value="remove">{% trans "Delink Language Group" %}</option>
                        <option v-if="contrib_data.contributed_language_groups" disabled>--- {% trans "User Contributed" %} ---</option>
                        <option v-for="cl in contrib_data.contributed_language_groups" v-bind:value="cl.pk">[[ cl.language_group_name ]]</option>
                        <option v-if="languageGroupChoices.length > 0" disabled>--- {% trans "Editorial Choices" %} ---</option>
                        <option v-for="lang in languageGroupChoices" v-bind:value="lang.pk">[[ lang.name ]]</option>
                    </select>
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans "Name(s)" %}</th>
                                <th>{% trans "Gender" %}</th>
                                <th>{% trans "Embarkation" %}</th>
                                <th>{% trans "Propagate Name" %}</th>
                                <th>{% trans "Propagate Language Group" %}</th>
                                <th>{% trans "Notes" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ STATIC_URL }}scripts/library/vue@2.6.7.min.js" type="text/javascript"></script>
<script>
    const genders = [null, '{% trans "male" %}', '{% trans "female" %}'];
    let currentPlay = { file: '' };
    const audioCommand = (audio_file, cmd) => {
        if (cmd === 'play') {
            if (currentPlay.file !== audio_file) {
                if (!!currentPlay.audio) {
                    currentPlay.audio.pause();
                }
                currentPlay.file = audio_file;
                const audio = new Audio(audio_file);
                audio.addEventListener("canplaythrough", (event) => {
                    audio.play();
                    currentPlay.audio = audio;
                });
            } else if (currentPlay.audio?.readyState >= 3) {
                currentPlay.audio.play();
            }
        } else if (cmd === 'pause' && currentPlay.audio) {
            currentPlay.audio.pause();
        }
    };
    const fetchGet = async (url) => {
        const res = await fetch(url);
        return await res.json();
    };
    async function initialize() {
        const contrib_data = await fetchGet("/contribute/origins_contribution_details/{{ contribution.pk }}")
        const { modernCountryChoices, languageGroupChoices, m2m } = await fetchGet('/contribute/language_choices');
        modernCountryChoices.sort((a, b) => a.name.localeCompare(b.name));
        const allLanguages = {};
        for (const l of languageGroupChoices) {
            allLanguages[l.pk] = l;
        }
        let propagatedCountry = null;
        let propagatedLanguage = null;
        const viewModel = new Vue({
            el: "#center-content-inner",
            delimiters: ['[[', ']]'],
            data: {
                contrib_data,
                propagatedName: contrib_data.contributed_names.length === 1 ? contrib_data.contributed_names[0].name : '',
                modernCountryChoices,
                propagatedCountry,
                propagatedLanguage
            },
            computed: {
                languageGroupChoices: function() {
                    if (!this.propagatedCountry) {
                        return [];
                    }
                    return m2m
                        .filter(x => x.moderncountry_id === this.propagatedCountry)
                        .map(x => allLanguages[x.languagegroup_id]);
                }
            }
        });
    }
    try {
        initialize();
    } catch {
        alert("An error has occurred");
    }
</script>

{% endblock %}