{% load i18n %}

<div class="row">
  <div class="col-md-12">
  <form>
    <div class="form-row align-items-center">
      <label class="control-label col-sm-2" for="voyage_id_input">{% trans "Voyage ID" %}:</label>
      <div class="col-auto">
        <input class="form-control" type="number" id="voyage_id_input">
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-primary trans-btn" id="lookup_btn" onclick="selection.lookUp(); return false;" type="button">{% trans "Search" %}</button>
      </div>
    </div>
  </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <table id="results_table" style="display: none;" class="table table-striped">
      <thead>
      <tr>
          <th>{% trans "Voyage ID" %}</th>
          <th>{% trans "Ship" %}</th>
          <th>{% trans "Year arrived in the Americas" %}</th>
          <th>{% trans "Captain" %}</th>
          <th>Action</th>
      </tr>
      </thead>
      <tbody>
          {% for voyage in voyage_selection %}
              <tr id="row_{{ voyage.voyage_id }}">
                  <td>{{ voyage.voyage_id }}</td>
                  <td>{{ voyage.ship }}</td>
                  <td>{{ voyage.year_arrived }}</td>
                  <td>{{ voyage.captain }}</td>
                  <td><a href="#" onclick="selection.remove({{ voyage.voyage_id }}); return false;">remove</a></td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>
</div>
