{% load i18n %}


<div class="col-sm-12 form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="voyage_id_input">{% trans "Voyage ID" %}:</label>
        <div class="col-sm-2">
            <input class="form-control" type="number" id="voyage_id_input">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" id="lookup_btn" onclick="selection.lookUp(); return false;" type="button">{% trans "Look up" %}</button>
        </div>
    </div>

    <div class="col-sm-10">
    <table id="results_table" style="display: none;" class="table table-striped">
        <thead>
        <tr>
            <th class="text-right">{% trans "Voyage ID" %}</th>
            <th class="text-center">{% trans "Ship" %}</th>
            <th class="text-center">{% trans "Year arrived in the Americas" %}</th>
            <th class="text-center">{% trans "Captain" %}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            {% for voyage in voyage_selection %}
                <tr id="row_{{ voyage.voyage_id }}">
                    <td class="text-right">{{ voyage.voyage_id }}</td>
                    <td>{{ voyage.ship }}</td>
                    <td class="text-center">{{ voyage.year_arrived }}</td>
                    <td>{{ voyage.captain }}</td>
                    <td><a href="#" onclick="selection.remove({{ voyage.voyage_id }}); return false;">x</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>