{% extends "base.html" %}
{% load sass_tags %}

<!-- The basic template for pages in the Education section -->
{% load i18n %}
{% block title %}{% trans 'About the Project' %}{% endblock %}

{% block csslist %}
	<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
	<link href="{% sass_src 'scss/resources.scss' %}" rel="stylesheet" type="text/css" />
	<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
	<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

	<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/education/education.css"> -->
	<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/education/education-info.css"> -->
	{% block pagecsslist %}{% endblock %}
{% endblock %}

{% block content %}
<div class="container-new">

  <div class="row  row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			{% block left-menu %}
				{% include "education/left-menu.html" %}
			{% endblock %}
		</div>

    <div class="col-md-8 col-xs-12 col-lg-9 ">
			{% block center-content %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
