{% extends "base.html" %}

<!-- The landing page of the Education section -->
{% load i18n %}
{% block title %}{% trans "Educational Materials" %}{% endblock %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/section-index.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/education/education.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/education/education-index.css">
{% endblock %}

{% block content %}
<div id="index-intro-band">

	<div id="index-intro-title">
		{% trans "Educational Materials" %}
	</div>

	<div id="index-intro-text">
		{% blocktrans %}One of the goals of the
		Trans-Atlantic Slave Trade Database has been to bring the work of
		historians to a primary and secondary school audience, allowing
		students to engage in the process of historical inquiry. To that end,
		a variety of lesson plans spanning a range of grade levels have been
		developed to offer teachers diverse approaches from which to teach
		students about the largest forced migration in history. These lesson
		plans are tied to national standards in Social Studies (National
		Council for the Social Studies), History (National Center for History
		in the Schools), and Geography (National Council Geography Education).
		Relevant lesson plans and educational resources located on other
		websites have also been identified, to help educators build a broad
		study of the trans-Atlantic slave trade into their curriculum.{% endblocktrans %}
	</div>

</div>

<div id="section-titles">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="section-title"><a href="{% url education:lesson-plans %}">{% trans "Lesson Plans" %}</a></td>
			<td class="section-title"><a href="{% url education:others %}">{% trans "Web Resources" %}</a></td>
		</tr>
	</table>
</div>

<div id="section-descs">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>

			<td class="section-desc">{% blocktrans %}In order to present the Trans-Atlantic
			Slave Trade Database to a broader audience, particularly a 6-12
			grade audience, a dedicated team of teachers and curriculum
			developers from around the United States developed lesson plans that
			explore the database. Utilizing the various resources of the
			website, these lessons plans allow students to engage the history
			and legacy of the Atlantic slave trade in diverse and meaningful
			ways. The lessons are all aligned with national standards in history
			(National Center for History in the Schools), social studies
			(National Council for the Social Studies), and geography (National
			Council for Geography Education) and range in both their grade
			levels and activities. The lessons also suggest readings for more
			information about the Slave Trade.{% endblocktrans %}</td>

			<td class="section-desc">{% blocktrans %}The websites listed here provide a
			variety of resources, including but not limited to lesson plans,
			interactive maps, and narratives of enslaved Africans.{% endblocktrans %}</td>

		</tr>
	</table>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
