{% extends "education/educationbase.html" %}

{% block title %}Web Resources{% endblock %}

{% block pagecsslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/education-links.css">
{% endblock %}

{% block center-content %}

<h1>Web Resources</h1>
<p>
	The websites listed here provide a variety of resources, including but not limited to lesson
	plans, interactive maps, and narratives of enslaved Africans.
</p>

<a name="hitchcock">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		The Atlantic Slave Trade and Slave Life in the Americas: A Visual Record
	</div>
	<div class="link-sub-title">
		The Virginia Foundation for the Humanities, the Digital Media Lab at the University of Virginia Library
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info">Historical images, text</td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://hitchcock.itc.virginia.edu/Slavery/index.php">http://hitchcock.itc.virginia.edu/Slavery/index.php</a></td>
	</tr>
</table>

<a name="inmotionaame">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		In Motion: African-American Migration Experience
	</div>
	<div class="link-sub-title">
		Schomburg Center, New York Public Library
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info">Narrative, text, images, maps, lesson plans</td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://www.inmotionaame.org">http://www.inmotionaame.org</a></td>
	</tr>
</table>

<a name="collegeboard">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		YES: The Young Epidemiology Scholars Program
	</div>
	<div class="link-sub-title">
		College Board
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info">Lesson plan on Mortality &amp; Slave Trade</td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://www.collegeboard.com/prod_downloads/yes/4297_MODULE_12.pdf">http://www.collegeboard.com/prod_downloads/yes/4297_MODULE_12.pdf</a></td>
	</tr>
</table>

<a name="thirteen">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		Thirteen: National Teachers Training Institute
	</div>
	<div class="link-sub-title">
		National Teacher Training Institute
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info">Lesson plan on Triangle Trade &amp; Middle Passage</td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://www.thirteen.org/edonline/ntti/resources/lessons/h_economy">http://www.thirteen.org/edonline/ntti/resources/lessons/h_economy</a></td>
	</tr>
</table>

<a name="nchs">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		National Center for History in the Schools
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info">Preview of unit (five lessons) on Atlantic Slave Trade</td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://nchs.ucla.edu/NH175-preview.pdf">http://nchs.ucla.edu/NH175-preview.pdf</a>
		<br>
		<a href="http://www.learner.org/channel/courses/amerhistory/pdf/AtlanticSlaveTrade_LOne.pdf">http://www.learner.org/channel/courses/amerhistory/pdf/AtlanticSlaveTrade_LOne.pdf</a> (First lesson included) </td>
	</tr>
</table>

<a name="slaveryinamerica">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		Slavery in America
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info"> Lesson plans, maps, interactive media, essays
		<br>
		Slave Trade and broader experiences of Slavery in North America </td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://www.slaveryinamerica.org/history/overview.htm">http://www.slaveryinamerica.org/history/overview.htm</a>
		<br>
		<a href="http://www.slaveryinamerica.org/history/hs_lessonplans.htm">http://www.slaveryinamerica.org/history/hs_lessonplans.htm</a> (various topics)
		<br>
		<a href="http://www.slaveryinamerica.org/history/hs_lp_slaveports.htm">http://www.slaveryinamerica.org/history/hs_lp_slaveports.htm</a> (West African ports) </td>
	</tr>
</table>

<a name="antislavery">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		Breaking the Silence
	</div>
	<div class="link-sub-title">
		Anti-Slavery International and UNESCO's Associated Schools Project Network
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info"> Lessons and activities on slave trade and slavery, interactive maps, slave routes </td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://old.antislavery.org/breakingthesilence/">http://old.antislavery.org/breakingthesilence/</a></td>
	</tr>
</table>

<a name="understandingslavery">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		Understanding Slavery
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info"> Lesson and activities, visual materials, and background information </td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://www.understandingslavery.com">http://www.understandingslavery.com</a></td>
	</tr>
</table>

<a name="bbc">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		Abolition of the Slave Trade
	</div>
	<div class="link-sub-title">
		BBC
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info"> Interactive materials, articles and videoclips </td>
	</tr>
	<tr>
		<td class="link-info-label">WWW address</td>
		<td class="link-info"><a href="http://www.bbc.co.uk/abolition">http://www.bbc.co.uk/abolition</a></td>
	</tr>
</table>

<a name="comitedeliaison">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		Comité de Liaison et d'Application des Sources Historiques
		<br />
		(Mémoire St Barth | Histoire de Saint-Barthélemy)
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info"> Resources dedicated to the history of Saint-Barthelemy (FWI) :
		slave trade, slavery, their abolition and impact on this island of the Lesser Antilles </td>
	</tr>
	<tr>
		<td class="link-info-label">WWW&nbsp;address</td>
		<td class="link-info"><a href="http://www.MemoireStBarth.com">http://www.MemoireStBarth.com</a></td>
	</tr>
</table>

<a name="allianceinternationale">&nbsp;</a>

<div class="link-title">
	<div class="link-main-title">
		Les Anneaux de la Mémoire: Alliance Internationale
	</div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="link-info">
	<tr>
		<td class="link-info-label">Content</td>
		<td class="link-info"> A range of interactive resources and materials pertaining to the history of slavery
		and the slave trade mainly in the francophone world. </td>
	</tr>
	<tr>
		<td class="link-info-label">WWW&nbsp;address</td>
		<td class="link-info"><a href="http://www.anneauxdelamemoire.org">http://www.anneauxdelamemoire.org</a></td>
	</tr>
</table>

{% endblock %}

