/**Horizontal navigation bar**/
#main_nav {
	position: absolute;
	top: 0px;
	left: 240px;
	width: 100%;	
	background: #008CA8 url('images/menu/menu-bg.png') repeat-y;
	height:60px;
	padding: 4px 0 0 0;
}

html>body #main_nav {
	margin: 0 0 0 0;
}

#main_nav ul{
	padding:5px 0 0 0;
	list-style-type:none;
	margin:-5px 0 0 0px;
	float:left;
}

html>body #main_nav ul {
	margin: -4px 0 0 0px;
}


#groups ul li {
	display:inline;
	font-size:12px;
}	
	
#groups ul li a:hover {
	background-color:#666666;
}	

#toplinks li ul li {
	padding: 0 0 0 0;
}

#toplinks li{
	float:left;
}

#block05 a {
	width: 120px;
}

#block04 a {
	width: 120px;
}

#block03 a {
	width: 100px;
}

#block02 a {
	width: 180px;
}

#block01 a {
	width: 120px;
}

#main_nav ul li a:hover {
	background: #00334C;
}

#main_nav li.active a:hover {
	background: #00334C;
}

#main_nav li.active {
	background: #00334C;
}

#toplinks a {
	padding:5px 0 10px 0;
	color: #fff; 
	display: block; 
	height: 38px; 
	line-height: 18px; 
	margin: 0; 
	overflow: hidden; 
	position: relative; 
	text-align: center; 
	text-decoration: none;
    font-size: 9pt;
}

#toplinks .linkbox ul {
	width:178px;
	float:left;
	border-right:1px solid #ddd;
	margin:0 0 0 10px;
	}
	
#toplinks .linkbox ul:last-child {
	border-right:none;
}
	
#main_nav ul li .linkbox ul li {
	display:block;
	width: 170px;
	padding:3px 0 10px 0;
	}
	
#main_nav ul li .linkbox ul li a {
	padding:0 0 0 0;
	width:170px;
	text-align:left;
	height:auto;
}

#main_nav ul li .linkbox ul li a:hover{
	background-color:inherit;
	text-decoration:underline;
}

.linkbox {
	clear: both;
	width: 615px;
	position:absolute;
	left:-999em;
	z-index:100;	
	opacity:0.92;
	filter:alpha(opacity=90);
	color:#fff;
	border-bottom:1px solid #aaa;
	text-transform:none;
	text-align:left;
	background:#00334C;
	margin-left: 0px; 
}

.linkbox2 {
	width: 200px;
}

#toplinks li.hover .linkbox { 
	left: auto;
}

