{% load i18n %}

<li class="nav-item dropdown">
  <v-menu-title :count="filter.itinerary.count" title="{% trans 'Voyage' %}"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="itinerary" title="{% trans 'Voyage' %}" sub-group="itinerary"
    :filters="filter.itinerary.itinerary" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="{% trans 'Voyage' %}" description="{% trans '' context 'Enslaver Voyage search panel description' %}">
        <div slot="v-modal-content"></div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <v-number @change="changed"
        :filter="scope.filters.var_voyage_id">
      </v-number>

      <v-text @change="changed"
        :filter="scope.filters.var_ship_name"
      ></v-text>

      <v-number
        :filter="scope.filters.var_year_range"
        @change="changed">
      </v-number>
      
      <v-treeselect
        :filter="scope.filters.var_voyage_datasets"
        @change="changed">
      </v-treeselect>

    </div>
  </v-panel-singular>
</li>
