{% load i18n %}

<li class="nav-item dropdown">
  <v-menu-title :count="filter.sources.count" title="{% trans 'Sources' %}"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="sources" title="{% trans 'Sources' %}" sub-group="sources" :filters="filter.sources.sources" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="{% trans 'Sources' %}" description="{% trans 'Description' %}">
        <div slot="v-modal-content"></div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <v-text @change="changed"
        :filter="scope.filters.var_source"
      ></v-text>
    </div>
  </v-panel-singular>
</li>
