div#variables-list table.simple-table {
	}

div#variables-list table.simple-table {
	border-collapse: collapse; }

div#variables-list table.simple-table td {
	padding: 2px 5px; }

div#variables-list table.simple-table td.check {
	text-align: center; }

div#variables-list table.simple-table td.number {
	text-align: right; }

div#variables-list table.simple-table td.header-group,
div#variables-list table.simple-table td.header-group-first {
	font-weight: bold;
	padding-left: 0px;
	font-size: 12pt;
	border-bottom: 1px solid Black; }

div#variables-list table.simple-table td.header-group {
	padding-top: 15px; }

div#variables-list table.simple-table td.header {
	background-color: #F2DA9E;
	/* background-color: White; */
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-top: 1px solid Black;
	border-bottom: 1px dotted Black; }

div#variables-list table.simple-table td.first {
	background-color: White;
	border-bottom: 1px solid #DDCA9D; }

div#variables-list table.simple-table td.odd {
	background-color: White;
	border-top: 1px solid #DDCA9D;
	border-bottom: 1px solid #DDCA9D; }

div#variables-list table.simple-table td.even {
	background-color: #FFF5C2;
	border-top: 1px solid #DDCA9D;
	border-bottom: 1px solid #DDCA9D; }

p.into {
	margin: 0px 0px 15px 0px; }
