div.detail-title {
	font-size: 16pt;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-top: 10px; }
	
div.detail-link-back {
	margin-top: 10px;
	margin-bottom: epx;
	margin-left: 15px; }
	
table.detail {
	margin-left: 15px;
	margin-bottom: 15px;
	border-collapse: collapse;  }

td.detail-label-main,
td.detail-label {
	white-space: nowrap;
	border: 1px solid #895D03;
	padding: 5px;
	font-weight: bold;
	text-align: left; }

td.detail-label-main {
	vertical-align: top;
	background-color: #EED083; }

td.detail-label {
	background-color: #F8ECCD; }

td.detail-data {
	border: 1px solid #895D03;
	text-align: left;
	padding: 5px; }
	
div.map-legend-section-title {
	background-color: #F2E3B8;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 10px;
	border-bottom: 0px solid #895D03; }
	
div.legend {
	margin-left: 10px; }

div.map-legend-section {
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 10px; }

input.map-legend-refresh {
	margin-top: 0px; }

td.gallery-image,
td.gallery-image-selected {
	vertical-align: top;
	width: 160px; }
	
div.gallery-image {
	margin-left: auto;
	margin-right: auto;
	width: 100px; }

div.gallery-image img {
	cursor: pointer;
	border: 1px solid #895D03; }

div.gallery-image-text {
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px; }

div.gallery-image-label {
	margin-top: 3px;
	text-align: center; }

div.gallery-image-description {
	text-align: center; }
	
	
div.grid-tooltip {
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 2; 
    font: normal 8pt sans-serif; 
    
}



table.bubble {
	display: none;
	position: absolute; }
 
td.bubble-11 {
	width: 12px;
	height: 12px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-11-right.png); }	
	
td.bubble-11 div {
	width: 12px;
	height: 12px; }
	
td.bubble-12 {
	height: 12px;
	overflow: hidden;
	background-repeat: repeat-x;
	background-image: url(../images/bubble-12.png); }	
	
td.bubble-13 {
	width: 32px;
	height: 12px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-13-right.png); }	

td.bubble-13 div {
	width: 32px;
	height: 12px; }

td.bubble-21 {
	width: 12px;
	overflow: hidden;
	background-repeat: repeat-y;
	background-image: url(../images/bubble-21-right.png); }	
	
td.bubble-22 {
	color: White;
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(../images/bubble-22.png); }	
	
td.bubble-23 {
	width: 32px;
	overflow: hidden;
	background-repeat: repeat-y;
	background-image: url(../images/bubble-23-right.png); }	
	
td.bubble-31 {
	width: 12px;
	height: 32px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-33-right.png); }	
	
td.bubble-32 {
	height: 32px;
	overflow: hidden;
	background-repeat: repeat-x;
	background-image: url(../images/bubble-32.png); }	
	
td.bubble-33 {
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-31-right.png); }
	
div.voyage-route-popup-place-name {
	font-weight: bold;
	font-size: 12pt; }
	
div.voyage-route-legend {
	margin-left: 10px; }
	
div.voyage-route-legend-leg {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #4C5966; }
	
div.voyage-route-legend-place {
	padding-top: 5px;
	padding-left: 35px;
	padding-bottom: 5px;
	background-repeat: no-repeat; }
	
div.voyage-route-legend-place-name {
	font-weight: bold;
	font-size: 11pt; }	
	
div.voyage-route-legend-place-purpose {
	}

div.voyage-route-legend-leg-info-lines {
	padding-top: 5px;
	border-top: 1px dotted #4C5966; }
	
span.detail-data-rollover {
	color: Gray; }
