div.database-graph-options {
	border: 1px solid #895D03;
	background-color: #EED083;
	padding: 5px 10px 5px 10px;	}

div.event-line-left-selector {
	cursor: move; }

div.event-line-selector-handle {
	cursor: w-resize;
	background-color: #CA4223; }

div.event-line-graph-container {
	border: 0px solid Black; }

div.event-line-selector-container {
	-border: 1px solid #DEC77E; }

table.event-line-left-label {
	-background-color: #AAFFFF; }

table.event-line-top-label {
	-background-color: #AAFFFF; }

div.event-line-graph {
	border: 1px solid Black;
	-background-color: #EEFFFF; }
	
div.event-line-selector {
	opacity: 0.5;
	filter: alpha(opacity = 50);
	background-color: #F1E7C8; }

div.event-line-indicator {
	opacity: 0.3;
	filter: alpha(opacity = 30);
	background-color: #333333; }
	
div.event-line-indicator-container {
	-background-color: #EEEEEE;}

div.event-line-indicator-label {
	background-color: White;
	border: 1px solid Black;
	padding: 5px; }

.timeline-color {
	background-color: #F1E7C8;
	background-color: #CA4223; }

div.event-line-graph-container,
div.event-line-selector-container {
	border: 1px solid #571B1D; }

table.event-line-legend {
	margin-left: 70px;
	margin-bottom: 15px; }

td.event-line-legend-sample {
	padding-right: 5px; }

td.event-line-legend-sample div {
	border: 1px solid Black;
	overflow: hidden;
	width: 12px;
	height: 12px; }
	
td.event-line-legend-name {
	}

td.event-line-legend-value {
	padding-right: 5px; }

td.event-line-legend-horizontal {
	padding-right: 10px;}

div.event-line-grid-major,
div.event-line-grid-minor {
	background-color: #F1E7C8;
	background-color: #F1E7C8; }
	
div.database-graphs-legend-box {
	overflow: hidden;
	width: 10px;
	height: 10px;
	border: 1px solid Black; }

div.database-graphs-frame {
	border-left: 1px solid #EEDAA2;
	border-bottom: 1px solid #EEDAA2;
	border-right: 1px solid #EEDAA2;
	padding: 15px 10px 10px 10px; }

div.database-graphs-tabs div.tabs-selection {
	margin-top: 5px; }

div.database-graphs-tabs div.tabs-selection {
	background-image: url(../images/database-inner-tabs-bg.png);
	background-position: bottom left;
	background-repeat: repeat-x; }
	
div.database-graphs-tabs td.tabs-tab-left-selected {
	padding: 0px;
	height: 26px;
	width: 10px;
	overflow: hidden;
	background-image: url(../images/database-inner-tabs-selected-left.png);
	background-repeat: no-repeat; }

div.database-graphs-tabs td.tabs-tab-middle-selected {
	padding: 0px;
	vertical-align: middle;
	height: 26px;
	background-image: url(../images/database-inner-tabs-selected-center.png);
	background-repeat: repeat-x; }	
	
div.database-graphs-tabs td.tabs-tab-right-selected {
	padding: 0px;
	height: 26px;
	width: 10px;
	overflow: hidden;
	background-image: url(../images/database-inner-tabs-selected-right.png);
	background-repeat: no-repeat; }
	
div.database-graphs-tabs td.tabs-tab-left {
	padding: 0px;
	height: 26px;
	width: 10px;
	overflow: hidden;
	background-image: url(../images/database-inner-tabs-left.png);
	background-repeat: no-repeat; }

div.database-graphs-tabs td.tabs-tab-middle {
	padding: 0px;
	vertical-align: middle;
	height: 26px;
	background-image: url(../images/database-inner-tabs-center.png);
	background-repeat: repeat-x; }	
	
div.database-graphs-tabs td.tabs-tab-right {
	padding: 0px;
	height: 26px;
	width: 10px;
	overflow: hidden;
	background-image: url(../images/database-inner-tabs-right.png);
	background-repeat: no-repeat; }
	
td.database-graps-tab-xy {
	cursor: pointer;
	vertical-align: middle;
	padding: 0px 0px 0px 30px;
	background-image: url(../images/database-graps-tab-xy.png);
	background-repeat: no-repeat; }
	
td.database-graps-tab-bar {
	cursor: pointer;
	vertical-align: middle;
	padding: 0px 0px 0px 30px;
	background-image: url(../images/database-graps-tab-bar.png);
	background-repeat: no-repeat; }
	
td.database-graps-tab-pie {
	cursor: pointer;
	vertical-align: middle;
	padding: 0px 0px 0px 30px;
	background-image: url(../images/database-graps-tab-pie.png);
	background-position: top left;
	background-repeat: no-repeat; }
	
td.database-graps-tab-xy-selected {
	cursor: pointer;
	vertical-align: middle;
	padding: 0px 0px 0px 30px;
	background-image: url(../images/database-graps-tab-xy-selected.png);
	background-repeat: no-repeat; }
	
td.database-graps-tab-bar-selected {
	cursor: pointer;
	vertical-align: middle;
	padding: 0px 0px 0px 30px;
	background-image: url(../images/database-graps-tab-bar-selected.png);
	background-repeat: no-repeat; }
	
td.database-graps-tab-pie-selected {
	cursor: pointer;
	vertical-align: middle;
	padding: 0px 0px 0px 30px;
	background-image: url(../images/database-graps-tab-pie-selected.png);
	background-position: top left;
	background-repeat: no-repeat; }