div.menu-popup-item-main-first,
div.menu-popup-item-main,
div.menu-popup-item-main-last {
	width: 265px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 255px center;
	background-image: url(../images/icon-arrow-right.png); }

div.menu-popup-item-main-first {
	border-bottom: 1px solid #EEDAA2; }

div.menu-popup-item-main {
	border-bottom: 1px solid #EEDAA2; }

div.menu-popup-item-main-last {
	}

div.menu-popup-item-main-first {
	cursor: pointer;
	border-bottom: 1px solid #EEDAA2;
	padding-bottom: 5px;
	padding-top: 5px;
	background-repeat: no-repeat;
	background-position: 255px center;
	background-image: url(../images/icon-arrow-right.png); }

div.menu-popup-item-main-first:hover,
div.menu-popup-item-main:hover,
div.menu-popup-item-main-last:hover {
	background-color: #F1E7C8; }

div.menu-popup-submenu-frame {
	z-index: 1;	
	top: -7px;
	left: 260px;
	position: relative;
	display: none; }

div.menu-popup-submenu {
	position: absolute;
	border: 1px solid #895D03; }

div.menu-popup-submenu-item {
	white-space: nowrap;
	color: Black !important;
	cursor: pointer;
	background-color: White;
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; }	
			
div.menu-popup-submenu-item:hover {
	background-color: #CA4223;
	color: White !important; }

div.menu-slider-item-main-collapsed {
	cursor: pointer;
	border-bottom: 2px solid #F1E7C8;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url(icon-arrow-right.png); }	

div.menu-slider-item-main-expanded {
	cursor: pointer;
	border-bottom: 2px solid #F1E7C8;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url(icon-arrow-down.png); }	

div.menu-slider-item-main-collapsed:hover {
	background-color: #F1E7C8; }

div.menu-slider-item-main-expanded:hover {
	background-color: #F1E7C8; }

div.menu-slider-submenu {
	border-bottom: 2px solid #F1E7C8; }
		
div.menu-slider-submenu-item {
	cursor: pointer;
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 25px; }

div.menu-slider-submenu-item:hover {
	color: White;
	background-color: #CA4223; }
	
span.attribute-selected {
	font-weight: normal;
	color: #E2873B; }