td.vstable {
    text-align:right;
}

th.vstable {
    text-align:right;
    background-color: #EED083;
}

a {
	color: #8A5D04; }
	
a:hover {
	color: Black; }
	
div.licence {
	border-color: #C09C42; }

table.vstable {
    background: white;
    border-collapse: collapse;
    border: 1px solid #895D03;
}

.vstable {
    border: 1px solid #895D03;
}

.vstableborder {
    border: 1px solid #895D03;
}