/* General style */
body {
    background:  #FFFFFF url('/static/images/voyage/voyage-bg.png') repeat-x 0px 60px;
}

/* Default link color */
a {
    color: #8A5D04;
}

input {
    font-size: 8pt;
    margin-bottom: 5px;
    margin-top: 2px;
}

select {
    font-size: 8pt;
}

.bold {
    font-weight: bold;
}


/* Override the default width (from base.css) */
#main-content-container {
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both;
}

h1 {
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

/* Two-column view style */
#left-menu, #center-content {
	display: block;
	float: left;
	margin: 0;
    padding: 0;
}

/* Set the width of the left search menu */
#left-menu {
	padding: 10px 5px 10px 5px;
	width: 20%;
	border: #895D03 1px solid;
}

/* Set the width of the main content */
#center-content {
    position: absolute;
    left: 20.8%;
    width: 79.2%;
    border-top: #895D03 1px solid;
    float: left;
    background-color: #FFFFFF;
    z-index: 1;
    overflow: hidden;
}

.box-main-table, .box-main-table-tail {
    margin-bottom: 15px;
}

.box-text-label {
    font-weight: bold;
    padding: 3px;
}

/* Header text and color of each search box */
.box-collapsed .box-header, .box-expanded .box-header,
.box-expanded .box-header-tail, .box-collapsed .box-header-tail,
.box-collapsed .box-header-head, .box-expanded .box-header-head{
    padding: 3px 3px 0px 5px;
    background-color: #EDD99F;
    height: 15pt;
    overflow: hidden;
}

/* Gap and corner style of collapsed boxes */
.box-collapsed .box-header {
    margin: 2px 5px 5px 5px;
    -moz-border-radius: 7px;
	border-radius: 7px;
    border: #8A5D04 1px solid;
}

/* No bottom margin between the header and body search box */
.box-expanded .box-header {
    margin: 2px 5px 0px 5px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    /* No bottom border */
    border-top: #8A5D04 1px solid;
    border-left: #8A5D04 1px solid;
    border-right: #8A5D04 1px solid;
}

/* Default background image for each search box body */
.box-mid-end, .box-mid {
    background: #FFFFFF url('/static/images/voyage/database-box-content-center.png') repeat-x;
    margin: 0 5px 0 5px;
    padding: 5px 5px 5px 10px;
    min-height: 30px;
    border: #8A5D04 1px solid;
}

.box-mid-end {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    min-height: 30px;
}


.box-collapsed .box-mid-end, .box-collapsed .box-mid {
    display: none;
}

.box-button {
    float: right;
    margin: 0;
    padding: 0 20px 0 0;
    display: block;
    height: 14pt;
    cursor: pointer;
}

.box-expanded .box-button {
    background: #EDD99F url('/static/images/voyage/database-box-minus.png') no-repeat;
}

.box-collapsed .box-button {
    background: #EDD99F url('/static/images/voyage/database-box-plus.png') no-repeat;
}

.box-header-head {
    margin: 2px 5px 0px 5px;
    border-top: #8A5D04 1px solid;
    border-left: #8A5D04 1px solid;
    border-right: #8A5D04 1px solid;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.box-collapsed .box-header-head {
    border: #8A5D04 1px solid;
}

.box-collapsed .box-header-tail {
    margin: 0px 5px 5px 5px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    border-bottom: #8A5D04 1px solid;
    border-left: #8A5D04 1px solid;
    border-right: #8A5D04 1px solid;
}

.box-expanded .box-header-tail {
    margin: 0px 5px 0px 5px;
   -moz-border-radius: 0px;
	border-left: #8A5D04 1px solid;
    border-right: #8A5D04 1px solid;
}


/* Result section */
.search-main-table {
	width: 100%;
	border-top: 1px solid #895D03; }

.search-main-panel {
	vertical-align: top;
    margin: 0;
    padding: 0;
}

div.permlink-info {
	margin-bottom: 5px; }

/* Result section */
.tabs-selection {
	margin: 0;
    padding: 0;
    background: url('/static/images/voyage/database-tabs-bg.png') repeat-x 0 0;
}

.tabs-selection ul {
    width: 100%;
    padding: 15px 0 4px 0;
    margin: 0;
}

.tabs-selection ul li {
	display: inline;
    padding: 0;
    margin-left: 13px;
    margin-right: -10px;
}

.tab-menu-item {
	padding: 6px 13px 3px 13px;
	color: #000000;
	font-size: 8pt;
	text-decoration: none;
	background-color: #EED083;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;

    border-top: #8A5D04 1px solid;
    border-left: #8A5D04 1px solid;
    border-right: #8A5D04 1px solid;
}

.tab-menu-item-selected {
	color: #000000;
	background-color: #FFFFFF;
    border-bottom: #FFFFFF 1px solid;
}

.search-panel {
    min-height: 60px;
    padding: 10px;
}

.no_result_box {
    display: block;
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #038DA6;
    border-radius: 7px;
}

.no_result_box_head {
    background-color: #DBF7FD;
}