body {
	background-position: 0px 60px;
	background-image: url('/static/images/voyage/voyage-bg.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
}

h1 {
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

#left-menu, #center-content {
	display: block;
	float: left;
	margin: 5px 0px 15px 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #C09C42 1px solid;
	background-color: #FFFFFF;
	padding: 10px 8px 10px 8px;
}

/* Set the width of the left-menu */
#left-menu {
	padding: 10px 5px 10px 5px;
	width: 270px;
}

/* Set the width of the main content */
#center-content {
	width: 570px;
	padding: 10px 12px 10px 12px;
}

div.left-menu-box {
	padding-left: 10px;
	padding-right: 10px;
}

div.left-menu-box a {
	display: block;
	color: Black;
	text-decoration: none;
}

div.left-menu-box a:hover {
	background-color: #FFF5C2;
}

div.left-menu-box ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div.secondary-menu-item-0 a, div.secondary-menu-item-0-selected a {
	background-image: url('/static/images/voyage/secondary-menu-symbol-0.png');
	background-repeat: no-repeat;
	background-position: 2px 4px;
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #E4D6B1;
}

div.secondary-menu-item-1 a {
	color: #8A5D04;
	background-image: url('/static/images/voyage/secondary-menu-symbol-1.png');
	background-repeat: no-repeat;
	background-position: 16px 4px;
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #E4D6B1;
}

div.secondary-menu-item-1-selected a {
    background-color: #FFF5C2;
    color: #8A5D04;
	background-image: url('/static/images/voyage/secondary-menu-symbol-1.png');
	background-repeat: no-repeat;
	background-position: 16px 4px;
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #E4D6B1;
}


div.voyage_selected a {
	background-color: #FFF5C2;
}

p {
	line-height: 160%;
}

td.number {

	text-align: right;
}

table.method-prev-next {
	margin-bottom: 10px;
	width: 100%;
}

td.method-prev {
	padding-left: 5px;
	text-align: left;
}

td.method-next {
	padding-right: 5px;
	text-align: right;
}

table.method-prev-next td.method-prev a {
	background-image: url('/static/images/voyage/database-icon-arrow-left.png');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 10px;
	text-decoration: none;
}

table.method-prev-next td.method-next a {
	background-image: url('/static/images/voyage/database-icon-arrow-right.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 10px;
	text-decoration: none;
}

table.method-prev-next td.method-prev a:hover, table.method-prev-next td.method-next a:hover {
	text-decoration: underline;
}

div.method-info {
	xborder-top: 1px solid Black;
	border-bottom: 1px solid Black;
	padding-bottom: 10px;
}

div.method-info span.method-author {
	font-weight: bold;
}

div.method-info span.method-date {
	font-style: italic;
}

a {
	color: #8A5D04;
}

table.methodborder {
	border-collapse: collapse;
}

div.licence {
	border-color: #C09C42;
}

div#variables-list table.simple-table {
	}

div#variables-list table.simple-table {
	border-collapse: collapse; }

div#variables-list table.simple-table td {
	padding: 2px 5px;
    text-align: left;
}

div#variables-list table.simple-table td.check {
	text-align: center; }

div#variables-list table.simple-table td.number {
	text-align: right; }

div#variables-list table.simple-table td.header-group,
div#variables-list table.simple-table td.header-group-first {
	font-weight: bold;
	padding-left: 0px;
	font-size: 12pt;
	border-bottom: 1px solid Black; }

div#variables-list table.simple-table td.header-group {
	padding-top: 15px; }

div#variables-list table.simple-table td.header {
	background-color: #F2DA9E;
	/* background-color: White; */
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-top: 1px solid Black;
	border-bottom: 1px dotted Black; }

div#variables-list table.simple-table td.first {
	background-color: White;
	border-bottom: 1px solid #DDCA9D; }

tr.odd_row td {
	background-color: White;
	border-top: 1px solid #DDCA9D;
	border-bottom: 1px solid #DDCA9D; }

tr.even_row td  {
	background-color: #FFF5C2;
	border-top: 1px solid #DDCA9D;
	border-bottom: 1px solid #DDCA9D; }