
.no_result_box {
    padding: 10px 20px 20px 20px;
    display: block;
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #038DA6;
    border-radius: 10px;
    background: #FFFFFF url('/static/images/voyage/voyage-info-box-header-middle.png') repeat-x;
}

.no_result_box_head {
    background-color: #DBF7FD;
}

.no-result-title {
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #028DA6; }
