/*  Styles for flyout menus (General and Basic variables) */
div.menu-popup-item-main-first,
div.menu-popup-item-main,
div.menu-popup-item-main-last {
    padding: 5px 0px 5px 5px;
	cursor: pointer;
}

div.menu-popup-item-main-first {
	border-bottom: 1px solid #EEDAA2; }

div.menu-popup-item-main {
	border-bottom: 1px solid #EEDAA2; }

div.menu-popup-item-main-last {
	}

div.menu-popup-item-main-first , div.menu-popup-item-main {
    border-bottom: 1px solid #EEDAA2;
}

div.menu-popup-item-main-first , div.menu-popup-item-main,
div.menu-popup-item-main-last {
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;
    background: url('/static/images/voyage/icon-arrow-right.png') no-repeat 95% center;
}

div.menu-popup-item-main:hover,
div.menu-popup-item-main-last:hover {
	background-color: #F1E7C8;
    cursor : pointer;
}

div.menu-popup-submenu-frame {
	z-index: 99;
	top: -7px;
	left: 85%;
	position: relative;
}

div.menu-popup-submenu {
	position: absolute;
	border: 1px solid #895D03; }

div.menu-popup-submenu-item {
	white-space: nowrap;
	color: Black;
	cursor: pointer;
	background-color: White;
    padding: 2px 10px 2px 10px;
}
			
div.menu-popup-submenu-item:hover {
	background-color: #CA4223;
	color: White !important; }


div.side-box {
    border-bottom: 1px solid #EEDAA2;
    color: black;
    margin: 0 0 5px;
    padding-bottom: 5px;
}

div.side-box table, div.side-box tr {
    width: 100%;
}

.query-builder-button img {
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding: 0 2px 0 2px;
}

.query-builder-label {
    display: inline-block;
    margin-bottom: 5px;
    width: 225px;
}

div.attribute-selected {
    color: #E2873B ;
}

.query-builder {
    min-height: 15px;
}

input.query-builder-text {
    background-color: #F1E7C8;
    border: 0 none;
    padding: 2px;
    width: 260px;
}


.display_inline {
    display: inline-block;
}

div.query-builder-edit-list {
	padding: 2px;
	background-color: #F1E7C8;
	overflow: scroll;
	height: 200px;
}

.medium_field, .short_field {
    background-color: #F1E7C8;
    border: 0 none;
    padding: 2px;
}

.short_field_white {
    width: 60px;
}

.short_field {
    width: 71px;
}

.medium_field {
    width: 90px;
}

div.query-builder-edit-list label {
    display: none;
}

div.query-builder-edit-list ul li label {
    display: inherit;
}

div.query-builder-edit-list ul {
    padding: 0;
    margin: 0;
}

div.query-builder-edit-list ul li {
    list-style-type:  none;
    padding: 0;
    margin: 0;
}

div.query-builder-edit-list ul li {
    list-style-type: none;
}
div.query-builder-edit-list-expandable {
    background-color: #F1E7C8;
    overflow: scroll;
    height: 200px;
}

div.query-builder-edit-list-expandable ul, div.query-builder-edit-list-expandable ul ul {
    margin: 0;
    padding: 0;
}


div.query-builder-edit-list-expandable ul li {
    list-style-type: none;
    margin-left: 5px;
}


div.query-builder-edit-list-expandable ul ul li {
    list-style-type: none;
    padding-left: 25px;
}

div.query-builder-edit-list-expandable ul ul ul li {
    list-style-type: none;
    padding-left: 35px;
}

div.query-builder-list-item-collapsed, div.query-builder-list-item-expanded {
    display: inline-block;
    overflow: visible;
    width: 10px;
    height: 11px;
}

div.query-builder-list-item-collapsed {
    background: url('/static/images/voyage/icon-arrow-right.png') 0 0 no-repeat;
}

div.query-builder-list-item-expanded {
    background: url('/static/images/voyage/icon-arrow-down.png') 0 0 no-repeat;
}

.simple-field {
    margin: 0;
    padding: 0;
}

.simple-field ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}

.simple-field ul {
    margin: 0;
    padding: 0;
}

.date_field_short, .date_field_long {
    background-color: #F1E7C8;
    border: 0 none;
    padding: 2px;
}

.date_field_short {
    width: 21px;
}

.date_field_long {
    width: 31px;
}

.month-list span {
    padding: 1px;
    cursor: pointer;
}

.month-toggled {
    background-color: #F1E7C8;
}

.month-untoggled {
    background-color: #FFFFFF;
}