/*  Styles for flyout menus (General and Basic variables) */
div.menu-popup-item-main-first,
div.menu-popup-item-main,
div.menu-popup-item-main-last {
    padding: 5px 0px 5px 5px;
	cursor: pointer;
}

div.menu-popup-item-main-first {
	border-bottom: 1px solid #EEDAA2; }

div.menu-popup-item-main {
	border-bottom: 1px solid #EEDAA2; }

div.menu-popup-item-main-last {
	}

div.menu-popup-item-main-first , div.menu-popup-item-main {
    border-bottom: 1px solid #EEDAA2;
}

div.menu-popup-item-main-first , div.menu-popup-item-main,
div.menu-popup-item-main-last {
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;
    background: url('/static/images/voyage/icon-arrow-right.png') no-repeat 95% center;
}

div.menu-popup-item-main:hover,
div.menu-popup-item-main-last:hover {
	background-color: #F1E7C8;
    cursor : pointer;
}

div.menu-popup-submenu-frame {
	z-index: 1;	
	top: -7px;
	left: 260px;
	position: relative;
}

div.menu-popup-submenu {
	position: absolute;
	border: 1px solid #895D03; }

div.menu-popup-submenu-item {
	white-space: nowrap;
	color: Black !important;
	cursor: pointer;
	background-color: White;
    padding: 2px 10px 2px 10px;
}
			
div.menu-popup-submenu-item:hover {
	background-color: #CA4223;
	color: White !important; }