div.tabs-body {
	border: 1px solid #8A5D04; }

td.tabs-tab-left {
	background-image: url(../images/assessment-tabs-normal-left.png); }
	
td.tabs-tab-middle {
	background-image: url(../images/assessment-tabs-normal-center.png); }

td.tabs-tab-right {
	background-image: url(../images/assessment-tabs-normal-right.png); }

td.tabs-tab-left-selected {
	background-image: url(../images/assessment-tabs-selected-left.png); }

td.tabs-tab-middle-selected {
	background-image: url(../images/assessment-tabs-selected-center.png); }
	
td.tabs-tab-right-selected {
	background-image: url(../images/assessment-tabs-selected-right.png); }

div.tabs-selection {
	background-image: url(../images/assessment-tabs-bg.png);
	background-repeat: repeat-x; }