body {
	background-position: 0px 60px;
	background: #FFFFFF url("/static/images/assessment/assessment-bg.png") repeat-x;
}

	
a {
	color: #05768A; }
	
div.licence {
	border-color: #73C5E9; }	

#left-menu, #center-content {
	display: block;
	float: left;
	margin: 8px 0px 15px 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #73C5E9 1px solid;
	background-color: #FFFFFF;
	padding: 10px;
}
