<div class="dropdown padding-left-none pull-right">
  <span class="dropdown-toggle search-menu" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{fa-icon "cog" size=11}}
  </span>
  <ul class="dropdown-menu menu-canvas" role="menu" aria-labelledby="time-range" style="min-height: 200px;">
    <form>
      <h3 class="menu-canvas-title">Show advanced search filters</h3>
      <div class="menu-canvas-content">
        <div class="menu-item-description">
          For most users, basic search filters provide most of the faceting functionality while not being overwhelming. Advanced filters provide more granular filters that add on top of the basic filters.
          {{#paper-switch value=showAdvanced onChange=(action "toggle")}}
            Show advanced search filters
          {{/paper-switch}}
        </div>
      </div>
    </form>
  </ul>
</div>
