{% extends "base.html" %}

{% block title %}Assessing the Slave Trade {% endblock %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/section-index.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources-index.css">
{% endblock %}

{% block content %}
<div id="index-intro-band">

	<div id="index-intro-title">
		Resources
	</div>

	<div id="index-intro-text">
		This section of the Voyages website provides resources for putting
		information in the databases into historical context.  The materials presently consist of a
		database of images contemporary to the slave trade and a database of names of Africans rescued
		from slave vessels in the nineteenth century, during the period of suppression.
	</div>

</div>

<div id="section-titles">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="section-title"><a href="/resources/images.html">Images</a></td>
			<td class="section-title"><a href="/resources/origins.html">Name Database</a></td>
		</tr>
	</table>
</div>

<div id="section-descs">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>

			<td class="section-desc">Representations of the trans-Atlantic slave trade,
			an activity that lasted for centuries, changed over time. With permission
			from various archives and libraries, selected images enable one to picture
			people, places, artifacts and vessels of the slave trade era.  Links are
			provided to relevant voyages in the Voyages Database.</td>

			<td class="section-desc">African Origins contains information about the migration
			histories of Africans forcibly carried on slave ships into the Atlantic. Using the
			personal details of 91,491 Africans liberated by International Courts of Mixed
			Commission and British Vice Admiralty Courts, this resource makes possible new
			geographic, ethnic, and linguistic data on peoples captured in Africa and
			pulled into the slave trade. Through contributions to this website by Africans,
			members of the African Diaspora, and others, we hope to set in motion the rediscovery
			of the backgrounds of the millions of Africans captured and sold into slavery during
			suppression of transatlantic slave trading in the 19th century.</td>

		</tr>
	</table>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
