div.lesson-plan-title {
	background-color: #E9EFF6; 
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	font-size: 12pt;
	font-weight: bold; }
	
div.lesson-plan-detail {
	margin: 0px 5px 20px 5px; }
	
div.lesson-plan-title span.download {
	font-weight: normal;
	font-size: 8pt; }	
	
div.lesson-plan-author,
div.lesson-plan-grade-level,
div.lesson-plan-course,
div.lesson-plan-keywords {
	color: #7995BE;
	line-height: 160%; }
	
span.lesson-plan-grade-level,
span.lesson-plan-course,
span.lesson-plan-keywords {
	color: Black;
	font-weight: normal; }
	
span.lesson-plan-author-name {
	color: Black;
	font-weight: bold; }

div.lesson-plan-standards-title, div.lesson-plan-abstract-title {
	border-top: 1px dotted #7A96BF;
	padding-top: 5px;
	margin-top: 5px;
	font-weight: bold;
	line-height: 160%; }
	
div.lesson-plan-standards-title {
	margin-top: 5px; }
	
ul.lesson-plan-standards {
	margin: 0px;
	line-height: 160%;	
	padding: 0px;
	margin-bottom: 5px;
	list-style: none; }
	
ul.lesson-plan-standards-listing {
	list-style: disc; }
	
div.lesson-plan-abstract {
	line-height: 140%; }	
