<div class="cover-image-container">
  <div class="cover-image landing-container">
    <div class="container">
      <section id="jumbotron">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <div class="display-3">Explore more than 35,000 slaving voyages</div>
            <div class="lead">The Trans-Atlantic Slave Trade Database has information on more than 35,000 slaving voyages that forcibly embarked over 10 million Africans for transport to the Americas between the 16th and 19th centuries. It oers researchers, students and
              the general public a chance to rediscover the reality of one of the largest forced movements of peoples in world history.</div>
          </div>
        </div>
      </section>
      {{partial "partials/databases"}}
    </div>
  </div>
</div>

<section id="section1" class="padding-bottom-0 landing-section">
  {{mapbox-map}}
</section>

<section id="section2" class="padding-bottom-0 landing-section section-statistics">
  <div class="container">
    <div class='row'>
      <div class="col-md-12 text-center section-statistics-title">
        Slave Voyages features databases and resources that include
      </div>
      <div class="col-md-3 text-center ">
        <i class="fa fa-bold fa-5x"></i>
        <h2 class="section-statistics-number">91,491</h2>
        <h3>African Names</h3>
      </div>

      <div class="col-md-3 text-center ">
        <i class="fa fa-balance-scale fa-5x"></i>
        <h2 class="section-statistics-number">35,942</h2>
        <h3>Slave Trades</h3>
      </div>

      <div class="col-md-3 text-center ">
        <i class="fa fa-file-picture-o fa-5x"></i>
        <h2 class="section-statistics-number">230+</h2>
        <h3>Images</h3>
      </div>

      <div class="col-md-3 text-center">
        <i class="fa fa-file-text-o fa-5x"></i>
        <h2 class="section-statistics-number">30+</h2>
        <h3>Essays</h3>
      </div>

      <div class="col-md-12 text-center section-statistics-title">
        and you can also <span style="text-decoration:underline; cursor: pointer;">contribute</span> to our collections
      </div>
    </div>
  </div>
</section>

<section id="section2" class="padding-bottom-0 landing-section">
  <div class="row margin-right-none">
    <div class="col-md-6 text-center sponsors-card">
      <h3 class="sv-card-title">Sponsors</h3>
      <div><img src="/assets/images/site/EU_hz_280.svg" class="sponsors-partners-logo" style="height: 6em; margin: 5em 0;"></div>
      <div><img src="/assets/images/site/logo-hutchins-center-african-african-american-research.png" class="sponsors-partners-logo" style="height: 6em; margin: 5em 0;"></div>
      <div><img src="/assets/images/site/neh.svg" class="sponsors-partners-logo" style="height: 6em; margin: 5em 0;"></div>
    </div>
    <div class="col-md-6 text-center partners-card">
      <h3 class="sv-card-title">Partners</h3>
      <div><img src="/assets/images/site/EU_hz_280.svg" class="sponsors-partners-logo" style="height: 6em;"></div>
      <div><img src="/assets/images/site/UC_Santa_Cruz_Horizontal.svg" class="sponsors-partners-logo" style="height: 5em;"></div>
      <div><img src="/assets/images/site/university_of_hall.svg" class="sponsors-partners-logo" style="height: 4em; "></div>
      <div><img src="/assets/images/site/ufrj-black.svg" class="sponsors-partners-logo" style="height: 8em;"></div>
      <div><img src="/assets/images/site/logo_desktop-2x.png" class="sponsors-partners-logo" style="height: 5em;"></div>
    </div>
  </div>
</section>

{{partial "partials/index-footer"}} {{partial "partials/footer"}}
