{% load i18n %}

<li class="nav-item dropdown">
  <v-menu-title :count="filter.culturalAssociation.count" title="{% trans 'Cultural Association' %}"></v-menu-title>

  <div class="">
    <ul class="dropdown-menu search-menu" id="culturalAssociation" role="menu">

      <v-panel @apply="apply" @reset="reset" group="culturalAssociation" sub-group="name" title="{% trans 'Cultural Association' %}" :filters="filter.culturalAssociation.name">
        <div slot="v-panel-header">
          <v-panel-header title="{% trans 'Cultural Association' %}" description="{% trans 'Description' %}">
            <div slot="v-modal-content"></div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <v-number @change="changed"
            :filter="scope.filters.var_age">
          </v-number>

          <v-treeselect
            :filter="scope.filters.var_gender"
            @change="changed">
          </v-treeselect>

          <v-number @change="changed"
            :filter="scope.filters.var_stature">
          </v-number>
        </div>
      </v-panel>
      </ul>
  </div>
</li>
