{% load i18n %}

<li class="nav-item dropdown" v-if="localStorage.enslavedDataset==0">
  <v-menu-title :count="filter.culturalAssociation.count" title="{% trans 'Cultural Association' %}"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="culturalAssociation" title="{% trans 'Personal Data' %}" sub-group="culturalAssociation"
    :filters="filter.culturalAssociation.culturalAssociation" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="{% trans 'Cultural Association' %}" description="{% trans 'Description' %}">
        <div slot="v-modal-content"></div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <!-- <v-treeselect
        :filter="scope.filters.var_register_country"
        @change="changed">
      </v-treeselect> -->

      <!-- <v-treeselect
        :filter="scope.filters.var_ethnicity"
        @change="changed">
      </v-treeselect> -->

      <v-treeselect
        :filter="scope.filters.var_language_groups"
        @change="changed">
      </v-treeselect>
    </div>
  </v-panel-singular>
</li>