{% load i18n %}

<li class="nav-item dropdown" v-if="localStorage.enslavedDataset==0">
  <v-menu-title :count="filter.fate.count" title="{% trans 'Fate' %}"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="fate" title="{% trans 'Fate' %}" sub-group="fate" :filters="filter.fate.fate" align="left">
    <div slot="v-panel-header">
      <span class="badge badge-pill badge-secondary tooltip-pointer" data-toggle="tooltip" data-placement="top" title="To be implemented."> TO-DO </span>
      <v-panel-header title="{% trans 'Post Disembarkation Location' %}" description="{% trans 'Description' %}">
        <div slot="v-modal-content"></div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <v-treeselect
        :filter="scope.filters.var_post_disembarkation_location"
        @change="changed">
      </v-treeselect>
    </div>
  </v-panel-singular>
</li>
