{% load i18n %}

<li class="nav-item dropdown">
  <v-menu-title :count="filter.itinerary.count" title="{% trans 'Itinerary' %}"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="itinerary" title="{% trans 'Personal Data' %}" sub-group="itinerary"
    :filters="filter.itinerary.itinerary" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="{% trans 'Itinerary' %}" description="{% trans 'Description' %}">
        <div slot="v-modal-content"></div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <v-number @change="changed"
        :filter="scope.filters.var_voyage_id">
      </v-number>

      <v-text @change="changed"
        :filter="scope.filters.var_ship_name"
        v-if="localStorage.enslavedDataset==0"
      ></v-text>

      <v-treeselect
        :filter="scope.filters.var_embarkation_ports"
        @change="changed">
      </v-treeselect>

      <v-treeselect
        :filter="scope.filters.var_disembarkation_ports"
        v-if="localStorage.enslavedDataset==0"
        @change="changed">
      </v-treeselect>

      <!-- <v-text @change="changed"
        :filter="scope.filters.var_geocode"
      ></v-text> -->

      <v-number
        :filter="scope.filters.var_year_range"
        @change="changed">
      </v-number>

      <v-treeselect
        :filter="scope.filters.var_intended_disembarkation_port"
        v-if="localStorage.enslavedDataset==0"
        @change="changed">
      </v-treeselect>

      <v-treeselect
        :filter="scope.filters.var_voyage_dataset"
        v-if="localStorage.enslavedDataset==0"
        @change="changed">
      </v-treeselect>
    </div>
  </v-panel-singular>
</li>
