{% load i18n %}

<li class="nav-item dropdown">
  <v-menu-title :count="filter.personalData.count" title="{% trans 'Personal Data' %}"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="personalData" title="{% trans 'Personal Data' %}" sub-group="personalData"
    :filters="filter.personalData.personalData" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="{% trans 'Personal Data' %}" description="{% trans 'Description' %}">
        <div slot="v-modal-content"></div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <v-number @change="changed"
        :filter="scope.filters.var_age_range">
      </v-number>

      <v-treeselect
        :filter="scope.filters.var_age_gender"
        @change="changed">
      </v-treeselect>
    </div>
  </v-panel-singular>
</li>