{% extends "_base.html" %} {% load sass_tags %} {% load compress %}

{% load i18n %}
{% block csslist %}
    {% compress css %}
    <link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
    {% endcompress %}
    <link href="{% sass_src 'scss/past_contribute.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}maps/css/leaflet.css" />
    {% compress css %}
    <link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/search-ui.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/v-component.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/trans-search.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/animations.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/sidebar.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/library/loading.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/library/vue-treeselect@0.0.37.min.css' %}" rel="stylesheet" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block title %}
    {% trans 'People of Atlantic Slave Trade - Database of the Enslavers' %}
{% endblock %}

{% block content %}
<div id="past-contribute" v-cloak>
    <div class="nav-header">
      <div>{% trans "People of Atlantic Slave Trade - Database of the Enslaved" %}</div>
      <div class="navbar-subtitle flex">
        <div class="navbar-subitem">
          <a data-toggle="collapse" href="{% url 'past:database' %}" role="button" aria-expanded="false" aria-controls="panelCollapse">
            <div class="btn-navbar">
              <i class="fas fa-arrow-circle-left"></i>
              {% trans 'Back to Search' %}
            </div>
          </a>
        </div>
        <div class="navbar-subitem">
          {% trans 'Contribute to origins of the name of this person' %}
        </div>

      </div>
    </div>

    <form id="form" name="form" method="post" action="{% url 'resources:origins' %}"
      enctype="application/x-www-form-urlencoded" >{% csrf_token %}
        <div class="container-new">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
                    {% include "past-contribute/_left-menu.html" %}
                </div>
                <div class="col-md-8 col-xs-12 col-lg-9 pl-5">
                    <div class="row">
                      <div>
                        <ul class="nav nav-pills mb-3 contribute-navbar" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <span class="navbar-text font-weight-bold text-secondary" >{% trans 'Select to contribute' %}:</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">{% trans 'Names & Pronunciation' %}<span v-if="total_names > 0"> ([[ total_names ]])</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">{% trans 'Ethnics and Language Groups' %}</a>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <form>
                        <div class="tab-content container-fluid p-0" id="pills-tabContent">
                          {% include "past-contribute/_name_pronunciation.html" %}
                          {% include "past-contribute/_ethnics_language_group.html" %}
                        </div>
                      </form>
                    </div>
                  </div>
            </div>
    </form>
    {% include "past-contribute/_full_details_modal.html" %}
</div>

<script>
    var AFRICAN_ID = {{ id }};
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>

{% endblock %}

{% block footer %}
{% endblock %}


{% block jslist %}

{% include '_scripts.html' %}

<!-- Highcharts -->
{% compress js %}

<script src="{{ STATIC_URL }}scripts/library/vue-treeselect@0.0.37.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/string-utils.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/jquery.qtip@2.1.1.min.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL }}scripts/library/menu-aim.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/vue-clipboard2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/uuidv4@8.3.2.min.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}maps/js/leaflet.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/includes/animation.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/includes/build-request-body.js"></script>

<script src="{{ STATIC_URL }}scripts/vue/variables/constructors.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/includes/menu-aim.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/vue/includes/sidebar.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/vue/includes/search_term.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/vue/includes/form-data.js" type="text/javascript"></script>


{% endcompress %}

<!-- vue components -->
<script src="{{ STATIC_URL }}scripts/vue/components/v-treeselect.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/v-toggle.js"></script>
<!-- vue components -->

<script src="{{ STATIC_URL }}scripts/vue/past/includes/helpers.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/vue/past-contribute/app.js" type="text/javascript"></script>

{% endblock %}
