{% verbatim %}
<li class="nav-item dropdown">
  <v-menu-title title="Captain and crew" :count="filter.captainAndCrew.count"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset"
    group="captainAndCrew" title="Captain and Crew" sub-group="captainAndCrew"
    :filters="filter.captainAndCrew.captainAndCrew" align="left">
    <div slot="v-panel-header">
      <v-panel-header title="Captain and crew" description="">
        <div slot="v-modal-content"></div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <code v-if="options.debug">{{scope.filters}}</code>

      <v-text @change="changed"
        :filter="scope.filters.var_captain">
      </v-text>

      <v-number @change="changed"
        :filter="scope.filters.var_crew_voyage_outset">
      </v-number>

      <v-number @change="changed"
        :filter="scope.filters.var_crew_first_landing"
        v-if="filter.settings.settings.var_search_settings.value.searchTerm">
      </v-number>

      <v-number @change="changed"
        :filter="scope.filters.var_crew_died_complete_voyage">
      </v-number>

    </div>
  </v-panel-singular>

</li>
{% endverbatim %}
