{% load i18n %}

<li class="nav-item dropdown" v-if="filter.settings.settings.var_search_settings.value.searchTerm">
  <v-menu-title :count="filter.dates.count" title="{% trans 'Dates' %}"></v-menu-title>

  <div class="">
    <ul class="dropdown-menu search-menu" id="dates" role="menu">

      <v-panel @apply="apply" @reset="reset" group="dates" sub-group="overallDates" title="{% trans 'Voyage duration' %}" :filters="filter.dates.overallDates">
        <div slot="v-panel-header">
          <v-panel-header title="{% trans 'Voyage duration' %}" description="{% trans 'Please enter an integer as the search term (days)' %}">
            <div slot="v-modal-content"></div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <code v-if="options.debug">{{scope.filters}}</code>

          <v-number @change="changed"
            :filter="scope.filters.var_length_middle_passage_days">
          </v-number>

          <v-number @change="changed"
            :filter="scope.filters.var_imp_length_home_to_disembark">
          </v-number>

        </div>
      </v-panel>

      <v-panel @apply="apply" @reset="reset" group="dates" sub-group="durationDates" title="{% trans 'Dates during voyage' %}" :filters="filter.dates.durationDates">
        <div slot="v-panel-header">
          <v-panel-header title="{% trans 'Dates during voyage' %}" description="{% trans 'Please follow the format of YYYY/MM/DD. All dates are inclusive.' %}">
            <div slot="v-modal-content"></div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <code v-if="options.debug">{{scope.filters}}</code>

          <v-number @change="changed"
            :filter="scope.filters.var_imp_arrival_at_port_of_dis">
          </v-number>

          <v-datepicker
						:filter="scope.filters.var_voyage_began"
						@change="changed">
          </v-datepicker>
          
          <v-datepicker
						:filter="scope.filters.var_slave_purchase_began"
						@change="changed">
          </v-datepicker>

          <v-datepicker
						:filter="scope.filters.var_date_departed_africa"
						@change="changed">
          </v-datepicker>

          <v-datepicker
						:filter="scope.filters.var_first_dis_of_slaves"
						@change="changed">
          </v-datepicker>

          <v-datepicker
						:filter="scope.filters.var_departure_last_place_of_landing"
						@change="changed">
          </v-datepicker>

          <v-datepicker
						:filter="scope.filters.var_voyage_completed"
						@change="changed">
          </v-datepicker>

        </div>
      </v-panel>
    </ul>
</li>