{% load i18n %}

<li class="nav-item dropdown">
	<v-menu-title :count="filter.itinerary.count" title="{% trans 'Itinerary' %}"></v-menu-title>
	<div class="">
		<ul class="dropdown-menu search-menu" id="itinerary" role="menu">

			<v-panel @reset="reset" group="itinerary" sub-group="departure" @apply="apply" title="{% trans 'Place of departure' %}" :filters="filter.itinerary.departure">

				<div slot="v-panel-header">
					<v-panel-header title="{% trans 'Place of departure' %}" description="{% trans 'Locations where the voyage began' %}">
						<div slot="v-modal-content"></div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<code v-if="options.debug">{{scope.filters}}</code>

					<v-treeselect
						:filter="scope.filters.var_imp_port_voyage_begin_id"
						@change="changed"
					/>

				</div>
			</v-panel>

			<v-panel @reset="reset" group="itinerary" sub-group="purchase" @apply="apply" title="{% trans 'Place of purchase' %}" :filters="filter.itinerary.purchase">
				<div slot="v-panel-header">
					<v-panel-header title="{% trans 'Place of purchase' %}" description="{% trans 'Locations where captives embarked' %}">
						<div slot="v-modal-content"></div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<code v-if="options.debug">{{scope.filters}}</code>
					<v-treeselect
						:filter="scope.filters.var_imp_principal_place_of_slave_purchase_id"
						@change="changed">
					</v-treeselect>

					<v-treeselect
						:filter="scope.filters.var_first_place_slave_purchase_id"
						v-if="filter.settings.settings.var_search_settings.value.searchTerm"
						@change="changed">
					</v-treeselect>

					<v-treeselect
						:filter="scope.filters.var_second_place_slave_purchase_id"
						v-if="filter.settings.settings.var_search_settings.value.searchTerm"
						@change="changed">
					</v-treeselect>

					<v-treeselect
						:filter="scope.filters.var_third_place_slave_purchase_id"
						v-if="filter.settings.settings.var_search_settings.value.searchTerm"
						@change="changed">
					</v-treeselect>
				</div>
			</v-panel>

			<v-panel @reset="reset" group="itinerary" sub-group="call" @apply="apply" title="{% trans 'Places of call before Atlantic crossing' %}" :filters="filter.itinerary.call"
			v-if="filter.settings.settings.var_search_settings.value.searchTerm">
				<div slot="v-panel-header">
					<v-panel-header title="{% trans 'Places of call before Atlantic crossing' %}" description="{% trans '' %}">
						<div slot="v-modal-content"></div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<code v-if="options.debug">{{scope.filters}}</code>
					<v-treeselect
						:filter="scope.filters.var_port_of_call_before_atl_crossing_id"
						@change="changed">
					</v-treeselect>

				</div>
			</v-panel>

			<v-panel @reset="reset" group="itinerary" sub-group="landing" @apply="apply" title="{% trans 'Place of landing' %}" :filters="filter.itinerary.landing">
				<div slot="v-panel-header">
					<v-panel-header title="{% trans 'Place of landing' %}" description="{% trans 'Locations where captives disembarked' %}">
						<div slot="v-modal-content"></div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<code v-if="options.debug">{{scope.filters}}</code>
					<v-treeselect
						:filter="scope.filters.var_imp_principal_port_slave_dis_id"
						@change="changed">
					</v-treeselect>

					<v-treeselect
						:filter="scope.filters.var_first_landing_place_id"
		        v-if="filter.settings.settings.var_search_settings.value.searchTerm"
						@change="changed">
					</v-treeselect>

					<v-treeselect
						:filter="scope.filters.var_second_landing_place_id"
		        v-if="filter.settings.settings.var_search_settings.value.searchTerm"
						@change="changed">
					</v-treeselect>

					<v-treeselect
						:filter="scope.filters.var_third_landing_place_id"
		        v-if="filter.settings.settings.var_search_settings.value.searchTerm"
						@change="changed">
					</v-treeselect>
				</div>
			</v-panel>

			<v-panel @reset="reset" group="itinerary" sub-group="destination" @apply="apply" title="{% trans 'Place where voyage ended' %}" :filters="filter.itinerary.destination">
				<div slot="v-panel-header">
					<v-panel-header title="{% trans 'Place where voyage ended' %}" description="{% trans '' %}">
						<div slot="v-modal-content"></div>
					</v-panel-header>
				</div>

				<div slot="v-panel-content" slot-scope="scope">
					<code v-if="options.debug">{{scope.filters}}</code>
					<v-treeselect
						:filter="scope.filters.var_place_voyage_ended_id"
						@change="changed">
					</v-treeselect>

				</div>
			</v-panel>

			</ul>
	</div>
</li>