
{% load i18n %}

<!-- Search Settings -->
<li class="nav-item dropdown">
  <v-menu-title :count="filter.settings.count" :disable-caret="true">
    <i class="fa fa-cog" aria-hidden="true" slot="menu-title" data-toggle="tooltip" data-placement="top" title="{% trans 'Adjust search settings' %}"></i>
  </v-menu-title>

  <v-panel-singular title="{% trans 'Search settings' %}" :count="false" group="options" sub-group="settings" align="right" :filters="filter.settings.settings" :control-invisible="true">
    <div slot="v-panel-header">
      <v-panel-header
        title="{% trans 'Search settings' %}"
        description="{% trans 'Settings about your search in the database' %}"
        :modal-disabled="true">
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <!-- <v-toggle @change="changed"
        :filter="filter.settings.settings.var_search_settings">
      </v-toggle> -->

      <v-toggle @change="changed"
        :filter="filter.settings.settings.var_display_settings">
      </v-toggle>
    </div>
  </v-panel-singular>
</li>
<!-- Search Settings -->

<!-- Saved Searches -->
<li class="nav-item dropdown">
  <v-menu-title :count="false" :disable-caret="true">
    <i class="fa fa-star" aria-hidden="true" slot="menu-title" data-toggle="tooltip" data-placement="top" title="{% trans 'Save a search' %}"></i>
  </v-menu-title>

  <v-panel-singular title="{% trans 'Saved searches' %}" :count="false" :filters="null" group="options" sub-group="saved" align="right" :control-disabled="true" :control-invisible="true">
    <div slot="v-panel-header">
      <v-panel-header
        title="{% trans 'Saved searches' %}"
        description="{% trans 'You can save a search by creating a link that can be later used to retreive your particular set of search variables. You may also share your search by sharing the link to this search with other people.' %}"
        :modal-disabled="true">
      </v-panel-header>
    </div>

    <div slot="v-panel-content">
      <v-saved-searches
        title="{% trans 'Saved searches' %}"
        description="{% trans '' %}"
        :saved="saved"
        @load="load"
        @save="save"
        @clear="clear">
      </v-saved-searches>
    </div>
  </v-panel-singular>

</li>
<!-- Saved Searches -->


