{% verbatim %}

<li class="nav-item dropdown">
  <v-menu-title :count="filter.source.count" title="Source"></v-menu-title>

  <v-panel-singular @apply="apply" @reset="reset" group="source" sub-group="source" title="" :filters="filter.source.source" align="right">
    <div slot="v-panel-header">
      <v-panel-header title="Source" description="">
        <div slot="v-modal-content"></div>
      </v-panel-header>
    </div>

    <div slot="v-panel-content" slot-scope="scope">
      <code v-if="options.debug">{{scope.filters}}</code>

      <v-text @change="changed" :filter="scope.filters.var_sources_plaintext">
      </v-text>
    </div>
  </v-panel-singular>
</li>

{% endverbatim %}
