ul#team {
	margin: 0px;
	padding: 0px; }

ul#team li {
	margin: 0px 0px 15px 0px;
	padding: 0px;
	list-style: none; }

ul#team li ul {
	margin: 0px;
	padding: 5px 0px 0px 40px; }

ul#team li ul li {
	padding: 5px 0px 0px 0px;
	margin: 0px;
	list-style: disc;
	color: #737E88; }
	
ul#team div.group {
	xcolor: #737E88;
	font-size: 11pt;
	font-weight: normal; }

ul#team span.person {
	color: Black;
	font-weight: bold; }

ul#team span.place {
	xcolor: Black;
	font-style: italic; }
