[mysqld]
innodb_log_buffer_size         = 512M
innodb_write_io_threads        = 16
innodb_thread_concurrency      = 0

net_read_timeout = 30
wait_timeout = 28800

innodb_buffer_pool_size = 448M
innodb_log_file_size    = 512M

key_buffer_size           = 16M
max_allowed_packet        = 16M
max_connections           = 30
thread_cache_size         = 8
thread_stack              = 192K

[mysqldump]
quick
quote-names
max_allowed_packet        = 16M

[isamchk]
key_buffer_size           = 8M
