{% load i18n %}

<div class="row" v-if="interim.type === 'split'">
    <div class="col-md-6 form-inline">
        <label for="identities">{% trans "Identity:" %}</label>
        <select v-model="selectedIdentity" name="identities" class="form-control">
            <option v-for="identity in interim.identities" v-bind:value="identity">
                [[identity.personal_data.principal_alias]]
            </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="btn-group" role="group" aria-label="Alias actions">
            <div class="dropdown" v-if="interim.type === 'split'">
                <button v-bind:class="{ disabled: !selectedIdentity || !selectedAlias }"
                    class="btn btn-secondary dropdown-toggle" type="button" id="moveDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% trans "Move to Identity" %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a v-on:click="moveAlias"
                        v-bind:class="{ disabled: identity === selectedIdentity }"
                        v-bind:value="identity.id"
                        v-for="identity in interim.identities"
                        class="dropdown-item" href="#">[[identity.personal_data.principal_alias]] (id [[ identity.id ]])</a>
                </div>
            </div>
            <button type="button" v-bind:class="{ disabled: !selectedIdentity }" class="btn btn-primary"
                data-toggle="modal" data-target="#newAliasModal">{% trans "New Alias" %}</button>
            <button type="button" v-on:click="setPrincipal" v-bind:class="{ disabled: !selectedAlias }"
                class="btn btn-secondary">{% trans "Set as Principal" %}</button>
            <button type="button" v-on:click="delSelAlias" v-bind:class="{ disabled: !selectedAlias }"
                class="btn btn-danger">{% trans "Delete Alias" %}</button>
        </div>
        <div>
            <select v-model="selectedAlias" id="aliases-select" name="aliases" size="6"
                class="form-control enslaver_contrib_fullspan_control ">
                <option v-for="alias in selectedIdentity.aliases" class="list-group-item"
                    v-bind:class="{ bold: alias.name === selectedIdentity.personal_data.principal_alias }"
                    v-bind:value="alias.id">[[ alias.name ]] (id [[ alias.id ]])</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-group" role="group" aria-label="Voyage-Alias">
            <div class="dropdown">
                <button v-bind:class="{ disabled: !selectedAlias || selectAliasChildren.length === 0 }"
                    class="btn btn-secondary dropdown-toggle" type="button" id="moveDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% trans "Move to" %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a v-on:click="moveChildren"
                        v-bind:value="alias.id"
                        v-bind:class="{ disabled: selectedAlias === alias.id }"
                        v-for="alias in selectedIdentity.aliases"
                        class="dropdown-item" href="#">[[ alias.name ]] (id [[ alias.id ]])</a>
                </div>
            </div>
            <button type="button" v-on:click="showChildInfo" v-bind:class="{ disabled: selectAliasChildren.length === 0 }"
                class="btn btn-info">Show</button>
            <button type="button" v-on:click="unlinkChildren"
                v-bind:class="{ disabled: !selectedAlias || selectAliasChildren.length === 0 }" class="btn btn-danger">{% trans "Unlink" %}
            </button>
            <button type="button" v-bind:class="{ disabled: !selectedAlias }"
                class="btn btn-primary" type="button"
                data-toggle="modal" data-target="#linkVoyageModal" aria-expanded="false">
                {% trans "Link Voyage" %}
            </button>
        </div>
        <div v-if="selectedAlias">
            <select v-model="selectAliasChildren" multiple id="voyages-select" name="voyages" size="6"
                class="form-control enslaver_contrib_fullspan_control">
                <option disabled v-if="selAlias().voyages?.length === 0">
                    {% trans "No linked voyage" %}
                </option>
                <option v-for="voyage in selAlias().voyages" class="list-group-item" v-bind:value="'V' + [[ voyage.pk ]]">
                    {% trans "Voyage" %} [[ voyage.pk ]] - [[ voyage.ship_name ]], [[ voyage.arrival.replaceAll(',', '') ]] [[ voyage.role ? `(${enslaverRoles[voyage.role]})` : "" ]]
                </option>
                <option disabled v-if="selAlias().relations?.length === 0">
                    {% trans "No enslavement relations" %}
                </option>
                <option v-for="relation in selAlias().relations" class="list-group-item" v-bind:value="'R' + [[ relation.pk ]]">
                    {% trans "Relation" %} [[ relation.pk ]] - [[ formatCsvDate(relation.date) ]], 
                    {% trans "with" %} [[ relation.enslaved_count ]] {% trans "enslaved" %}, 
                    [[ relation.enslavers_count ]] {% trans "enslavers" %}.
                </option>
            </select>
        </div>
    </div>
</div>

<div class="modal fade" id="newAliasModal" tabindex="-1" role="dialog" aria-labelledby="newAliasModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="newAliasModalLabel">{% trans "Create New Alias" %}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="newAliasInput" v-model="createAliasInput" autofocus>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="createAlias">{% trans "Add" %}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="linkVoyageModal" tabindex="-1" role="dialog" aria-labelledby="linkVoyageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="linkVoyageModalLabel">{% trans "Link Voyage to Alias" %}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="linkVoyageIdField">{% trans "Voyage ID" %}:</label>
                <input class="form-control" name="linkVoyageIdField" type="number" v-model="linkVoyageInput" autofocus />
                <label for="linkVoyageRoleField">{% trans "Enslaver Role" %}:</label>
                <select v-model="linkVoyageRole" name="linkVoyageRoleField" class="form-control">
                    <option v-for="[ key, val ] in Object.entries(enslaverRoles)" v-bind:value="key">
                        [[val]]
                    </option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-bind:class="{ disabled: !linkVoyageInput || !linkVoyageRole }" v-on:click="linkVoyage">{% trans "Link" %}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>