body {
	background-color: #E2F2F5;
	margin: 0;
	font-family: Arial, Helvetica, Bitstream Vera Sans, Sans, sans-serif;
	font-size: 8pt;
}

a {
	color: #008CA5;
}

table.top-bar {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #008CA5;
	display: block;
	border-bottom: 3px #B5DEE6 solid;
}

.top-bar tr, .top-bar td {
	border-collapse: collapse;
	border-style: none;
}

.top-bar-logo {
	width: 20%;
}
.top-bar-logo, .top-bar-logo img {
	padding: 0;
	margin: 0;
	display: block;
}

.top-bar-menu-wrapper {
	width: 78%;
	text-align: right;
}

.top-bar-menu {
	overflow: hidden;
	margin: 30px 0 0 0;
	height: 30px;
}

.top-bar-menu ul {
	float: right;
}

.top-bar-menu ul li {
	display: inline;
}

.top-bar-menu-item {
	padding: 6px 12px 6px 12px;
	margin: 6px 0px 0px 2px;
	color: #FFFFFF;
	font-size: 8pt;
	width: 120%;
	text-decoration: none;
	background-color: #40A9BE;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.top-bar-menu-selected {
	color: #008CA5;
	background-color: #B5DEE6;
}

div#help-section-title {clear; both;
	background-color: #B5DEE6;
	height: 45px;
	display: block;
	color: #FFFFFF;
	margin: 0px;
	padding: 0 0 2px 10px;
	font-weight: 500;
	font-size: 30pt;
	font-family: "Times New Roman", Times, serif;
}

#main-content {
	padding: 3px 15px 10px 15px;
}

/* Demos section */
.demo-links {
	position: absolute;
	top: 70px;
	left: 100px;
	color: #FFFFFF;
	padding-left: 20px;
}

.demo-links ul li {
	display: inline;
}

.demo-links ul li a {
	padding: 3px 5px 3px 5px;
	text-decoration: none;
	color: #008CA5;
}

.demo-links ul li a:hover {
	background-color: #40A9BE;
	color: #FFFFFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.demo-links ul li a.demo-link-active {
	background-color: #008CA5;
	color: #FFFFFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.demo-description, .demo-video {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	margin-top: 10px;
}

.demo-video {
	padding-top: 19px;
	background-color: #000000;
}

/* Legal section */
table.persmissions {
	border-collapse: collapse;
}

table.persmissions th, table.persmissions td {
	vertical-align: top;
	padding: 0.5em 0.75em;
	border: 1px solid #40A9BE;
	background-color: #F1F9FA;
}

table.persmissions th {
	background-color: #B5DEE6;
	text-align: left;
}

table.persmissions div.asset {
	font-weight: bold;
}

table.persmissions td.citations div.format {
}

table.persmissions td.citations div.format span.format {
	font-weight: bold;
}

table.persmissions td.citations div.example {
	border-top: 1px dotted #40A9BE;
	margin-top: 0.5em;
	padding-top: 0.5em;
}

table.persmissions td.citations div.example span.example {
	font-weight: bold;
}

/* Sitemap section */



div#sitemap-content {
	margin-top: 20px;
}

div#sitemap-content ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

div#sitemap-content ul li {
	font-size: 11pt;
	font-weight: bold;
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

div#sitemap-content ul li a:hover {
	text-decoration: underline;
}

div#sitemap-content ul li a {
	text-decoration: none;
	color: #000000;
}

div#sitemap-content ul ul {
	padding: 0px;
	margin: 5px 0px 10px 10px;
	list-style: disc;
}

div#sitemap-content ul ul li {
	line-height: 140%;
	color: #000000;
	font-size: 8pt;
	font-weight: normal;
	margin: 0px 0px 0px 40px;
	padding: 0px;
}

div#sitemap-content ul ul li a {
	text-decoration: none;
	color: #008CA5;
}

#block01, #block02, #block03 {
	
}

#block04, #block05 {
	position: absolute;
	top: 160px;
	left: 300px;
}
#block05 {
	position: absolute;
	top: 230px;
	left: 300px;
}

/* top bar */

div.faq-search {
	padding: 3px 0px 3px 25px; 
	background-color: White; }
	
input.faq-search-box {
	width: 100px;
	background-color: White; }

/* faq */

div.faq-list a {
	color: #008CA5 }

div.faq-list-cont {
	position: fixed;
	top: 110px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto; }

span.search-keyword {
	padding: 0px 2px 0px 2px;
	background-color: #FFFFAA; }

div.faq-main div.faq-category {
	border-bottom: 1px solid #B5DEE6;
	font-size: 11pt;
	font-weight: bold;
	margin-left: 25px;
	margin-right: 10px;
	margin-top: 10pt;
	margin-bottom: 2pt; }
	
div.faq-main div.faq {
	margin-left: 25px;
	margin-right: 10px; }

div.faq-main div.faq-question {
	line-height: 140%;
	font-weight: bold;
	margin-top: 10pt;
	margin-bottom: 5pt; }

div.faq-main div.faq-answer {
	}

div.faq-main div.faq-answer p {
	margin-top: 0pt;
	margin-bottom: 5pt;
	line-height: 140%; }
	
ul.faq-toc {
	padding: 0px;
	margin: 10pt 0px 0px 40px; }
	
li.faq-category {
	padding: 0px;
	margin: 0px;
	line-height: 140%; }
	
li.faq-category a {
	text-decoration: none; }
	
li.faq-category a:hover {
	text-decoration: underline; }
