<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Search UI for Voyages</title>

<link rel="stylesheet" href="{{ STATIC_URL }}css/contribute/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/voyage/beta/jquery-ui.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/voyage/beta/selectize.bootstrap3.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/voyage/beta/bootstrap.vertical-tabs.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/voyage/beta/font-awesome.css">
<link rel="stylesheet" href="{{ STATIC_URL }}datatables/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}datatables/buttons.bootstrap.min.css" />

<script src="{{ STATIC_URL }}scripts/voyage/beta/jquery-3.1.1.min.js"></script>
<script src="{{ STATIC_URL }}scripts/library/jquery-ui@1.12.1.min.js"></script>
<script src="{{ STATIC_URL }}scripts/library/selectize.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/includes/search_term.js"></script>
<script src="{{ STATIC_URL }}scripts/library/bootstrap@3.3.7.min.js"></script>
<script src="{{ STATIC_URL }}datatables/datatables.min.js"></script>
<script src="{{ STATIC_URL }}datatables/dataTables.buttons.min.js"></script>
<script src="{{ STATIC_URL }}datatables/buttons.bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}datatables/buttons.colVis.min.js"></script>
<script src="{{ STATIC_URL }}datatables/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/library/js.cookie@2.1.0.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/contribute/common.js"></script>
<script type="text/javascript" src="/jsi18n/"></script>

<style>
.navbar-default {
  background-color: #008ca8;
  border-color: #005b6f;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #abd9ab;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #abd9ab;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #008ca8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #abd9ab;
  background-color: #005b6f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #005b6f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #abd9ab;
  background-color: #005b6f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #abd9ab;
  background-color: #005b6f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #abd9ab;
  background-color: #005b6f;
}
.navbar-default .navbar-toggle {
  border-color: #005b6f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #005b6f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #abd9ab;
}

.navbar-brand {
    padding: 0px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #abd9ab;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #abd9ab;
    background-color: #005b6f;
  }
}

#search_pane {
    background-color: rgba(220, 237, 241, 0.9);
    padding: 20px;
	margin-top: -20px;
    border-color: #005b6f;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

.active > a {
	color: orange;
}

.navhost {
	display: flex;
	flex-flow: column;
	/*position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;*/
	z-index: 10;
}

html, body {
    height: 100%;
}

#main_content {
	flex: 1 1 auto;
	overflow-y: auto;
	min-height: 0px;
}
.navbar {
    border-radius: 0px;
}

.form-control {
	display: inline;
	width: auto;
}

.number-input {
	width: 100px;
}

.geo_complement {
  color: #B0B0B0;
}

.broad_region {
  margin-left: 10px;
  font-weight: bold;
}

.region {
  margin-left: 20px;
  font-style: italic;
  height: 0px;
  padding: 0px !important;
}

.port {
  height: 0px;
  margin-left: 30px;
  padding: 0px !important;
}

.expanded, .search_match {
  height: auto !important;
  padding: 3px 12px !important;
}

.selectize-input {
	max-height: 140px;
	overflow-y: auto;
}

.select_port > .selectize-input {
	height: 140px;
}

.region.active {
  height: auto !important;
  padding: 3px 12px !important;
}

.port.active {
  height: auto !important;
  padding: 3px 12px !important;
}
.leaflet-top {
	z-index: 1;
}

html, body, .viewport {
	width: 100%;
	height: 100%;
	margin: 0;
}

.vbox {
	display: flex;
	flex-direction: column;
}

.keyboard-binding {
	font-size: 70%;
}

div.dt-button-collection {
	width: auto;
}

.gray {
	filter: grayscale(1);
}

.map_node_aggregate_table {
	border-collapse: collapse;
}

.map_node_aggregate_table tr th {
	border:1px solid gray;
	margin: 2px;
}

.map_node_aggregate_table tr td {
	border:1px solid gray;
	margin: 2px;
}

.map_node_aggregate_table tfoot tr td {
	font-weight: bold;
}

.map_node_aggregate_table td.number {
	text-align: right;
}

</style>
</head>

<body class="vbox viewport">
  <div class="vbox viewport">
	<div class="navhost">
		<nav class="navbar navbar-default">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#"><img style="height: 100%;" src="{{ STATIC_URL }}/images/menu/logo.png" alt="Voyages" /></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
				<li>
					<a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#search_pane" title="Keyboard shortcut: CTRL + S">
						<i class="fa fa-search" aria-hidden="true"></i>
						<span>Search</span> <span class="keyboard-binding">(Ctrl + S)</span>
					</a>
				</li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Voyages Database</a>
				  <ul class="dropdown-menu">
					<li><a href="#">Understanding</a></li>
					<li><a href="#">Search</a></li>
					<li><a href="#">Downloads</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Contribute</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acessing the Slave Trade</span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Educational Materials</a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action 1</a></li>
					<li><a href="#">Action 2</a></li>
				  </ul>
				</li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>
		<div id="search_pane" class="collapse" style="position: absolute; top: 72px; width: 100%;">
			<div style="display: flex;">
				<div style="flex: 0;">
					<div class="btn-group-vertical" role="group">
						<button id="search_btn" type="button" class="btn btn-success">Search<br/><span class="keyboard-binding">(Ctrl + Enter)</span></button>
						<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#search_pane" id="dismiss_btn" title="Close the search pane without running the query">Dismiss</button>
						<button type="button" class="btn btn-default" id="clear_btn">Clear</button>
						<button type="button" class="btn btn-default not-implemented" title="Obtain a permanent link to this search query">Save query</button>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								History <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" id="search_history_dropdown">
								<li><a href="#">No search history</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div style="flex: 1; padding-left: 25px;">
					<div class="form-group">
						<label for="year_range" class="control-label">Year range:</label>
						<input type="text" class="form-control" id="year_range" style="color:#f6931f; font-weight:bold; width: 100px; display: inline;">
						<p></p>
						<div style="padding-left: 8px;">
							<div id="slider-range" style="max-width: 250px;"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="current_search" class="control-label">Current search:</label>
						<select id="current_search" style="width: 100%" placeholder="Search voyages... Press CTRL+ENTER when the query is done or click on the Search button."></select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="main-content" class="container-fluid" style="/*margin-top: 58px; height: calc(100% - 60px); */ height: 100%; display: flex; width: 100%;">
		<div id="left-tabs" style="width: 100px;">
			<ul class="nav nav-tabs tabs-left">
				<li class="active"><a href="#results" data-toggle="tab"><center><i class="fa fa-bars fa-2x" aria-hidden="true"></i><p>Results</p></center></a></li>
				<li><a href="#stats" data-toggle="tab"><center><i class="fa fa-object-group fa-2x" aria-hidden="true"></i><p>Statistics</p></center></a></li>
				<li><a href="#tables" data-toggle="tab"><center><i class="fa fa-table fa-2x"></i><p>Tables</p></center></a></li>
				<li><a href="#graphs" data-toggle="tab"><center><i class="fa fa-bar-chart fa-2x"></i><p>Graphs</p></center></a></li>
				<li><a href="#timeline" data-toggle="tab"><center><i class="fa fa-calendar fa-2x"></i><p>Timeline</p></center></a></li>
				<li><a href="#maps" data-toggle="tab"><center><i class="fa fa-map fa-2x"></i><p>Maps</p></center></a></li>
				<li><a href="#animation" data-toggle="tab"><center><i class="fa fa-ship fa-2x"></i><p>Animation</p></center></a></li>
			</ul>
		</div>
		<div class="tab-content" style="flex-grow: 1; padding-left: 15px; height: 100%;">
			<div id="results" class="tab-pane fade in active">
				<h3>Search Results</h3>
				<table id="results_main_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Voyage identification number</th>
                <th>Vessel name</th>
                <th>Capitain's name</th>
                <th>Year arrived with slaves*</th>
                <th>Principal region of slave purchase*</th>
                <th>Principal region of slave landing*</th>
                <th>Place where voyage began*</th>
                <th>Total slaves embarked*</th>
                <th>Outcome of voyage if ship captured*</th>
                <th>Sources</th>
                <th>I-Am</th>
            </tr>
        </thead>
        </tfoot>
    </table>
			</div>
			<div id="stats" class="tab-pane fade">
				<h3>Statistics</h3>
				<p class="dummy_content">Some content.</p>
			</div>
			<div id="tables" class="tab-pane fade">
				<h3>Tables</h3>
				<p class="dummy_content">Some content.</p>
			</div>
			<div id="timeline" class="tab-pane fade">
				<h3>Timeline</h3>
				<p class="dummy_content">Some content.</p>
			</div>
			<div id="graphs" class="tab-pane fade">
				<h3>Graphs</h3>
				<p class="dummy_content">Some content.</p>
			</div>
			<div id="maps" class="tab-pane fade">
				<h3>Maps</h3>
				<div id="map" style="width:100%;"></div>
			</div>
			<div id="animation" class="tab-pane fade">
				<h3>Animation</h3>
				<div id="timeControls" class="animation_voyage_controls" style="display:none;">
						<h1 class="animation_voyage_year_label" id="yearLabel"></div>
						<div class="control animation_voyage_year_slider" id="slider" style="width: 200px;"></div>
						<button class="animation_voyage_pause_button" type="button" id="pauseBtn">Pause</button>
						<button class="animation_voyage_play_button" type="button" id="playBtn" style="display:none;">Play</button>
				</div>
				<div id="tooltip" class="animation_voyage_info" style="display:none; opacity: 0;">
						<div id="tooltip_content"></div>
						<div class="animation_tooltip_close_button">x</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="search_input_modal" tabindex="-1" role="dialog" aria-labelledby="Search Input">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="search_input_title"></h4>
			<span id="search_input_help_text">
			</span>
		  </div>
		  <div class="modal-body" id="search_input_body">
		  </div>
		  <div class="modal-footer">
			<div id="search_input_validation"></div>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="submit" class="btn btn-primary" id="search_input_save_btn">Add to query <span class="keyboard-binding">(Enter)</span></button>
			<button type="submit" class="btn btn-success" id="search_input_run_btn">Add and perform query <span class="keyboard-binding">(Ctrl + Enter)</span></button>
		  </div>
		</div>
	  </div>
	</div>
	<script>
		var SEARCH_MIN_YEAR = 1514;
		var SEARCH_MAX_YEAR = 1866;
		var YEAR_RANGE_VARNAME = 'imp_arrival_at_port_of_dis';
		var selectize = null;
		var $modal = $('#search_input_modal');
		var modalResult = false;
		var searchHistory = [];
		var modalCallback = function() {};
		$(document).on('keydown', function(e) {
			var c = String.fromCharCode(e.which);
			if (e.ctrlKey && (c == 's' || c == 'S')) {
				$('#search_pane').collapse('show');
				e.preventDefault();
				return true;
			}
		});
		var focusOnSearchBox = function() {
			if (selectize) selectize.focus();
		};
		$("#search_pane").on('shown.bs.collapse', focusOnSearchBox);
		$("#search_input_modal").on('hidden.bs.modal', focusOnSearchBox);
		var dialogSaveAction = function(e) {
			modalResult = modalCallback();
			if (!modalResult) {
				e.preventDefault();
				return false;
			}
			$("#search_input_modal").modal('hide');
		};
		$("#search_input_save_btn").click(dialogSaveAction);
		$("#search_input_run_btn").click(function(e) {
			dialogSaveAction(e);
			setTimeout(search, 1000);
		});
		$(".not-implemented").click(function() {
			alert('This is an early prototype. Functionality not yet implemented! When implemented, it will save this query in a database and provide you with a permanent link that can be shared publicly.');
		});
		var escape_html = function(str) {
			return (str + '')
				.replace(/&/g, '&amp;')
				.replace(/</g, '&lt;')
				.replace(/>/g, '&gt;')
				.replace(/"/g, '&quot;');
		};
		var minLengthValidator = function(minLength) {
			var error = 'The entry must have at least ' + minLength + ' characters';
			return function(s) {
				return s.length >= minLength ? [] : [error];
			}
		};
		var dateRangeValidation = function(arr) {
			var errors = [];
			for (var i = 0; errors.length == 0 && i < 2; ++i) {
				var value = parseInt(arr[i]);
				if (isNaN(value)) continue;
				if (value < SEARCH_MIN_YEAR) {
					errors.push('Year is below minimum value: ' + SEARCH_MIN_YEAR);
				}
				if (value > SEARCH_MAX_YEAR) {
					errors.push('Year is above maximum value: ' + SEARCH_MAX_YEAR);
				}
			}
			return errors;
		};
		var searchTerms = [
			RangeSearchTerm(new VariableInfo('voyage_id', 'ship_nation_owners', 'Voyage ID'), '', null, 'Voyage id help text'),
			TextSearchTerm(new VariableInfo('intra_american_voyage', 'ship_nation_owners', 'Is I-Am voyage?'), 'equals', null, 'Type true or false.', minLengthValidator(4)),
			TextSearchTerm(new VariableInfo('ship_name', 'ship_nation_owners', 'Vessel Name'), 'contains', null, 'Please type one or more words (or even partial words) that should appear in the name of the vessel. The search is case insensitive.', minLengthValidator(3)),
			TextSearchTerm(new VariableInfo('owner', 'ship_nation_owners', 'Vessel Owners'), 'contains', null, 'Look for names of slave vessel owners.', minLengthValidator(3)),
			PlaceSearchTerm(new VariableInfo('imp_port_voyage_begin_idnum', 'itinerary', 'Place voyage began*'), 'is one of', null, 'Select the places where voyages began.', null),
			PlaceSearchTerm(new VariableInfo('imp_principal_place_of_slave_purchase_idnum', 'itinerary', 'Principal place of slave purchase*'), 'is one of', null, 'help text.', null),
			PlaceSearchTerm(new VariableInfo('imp_principal_port_slave_dis_idnum', 'itinerary', 'Principal place of slave landing*'), 'is one of', null, 'help text.', null),
			PlaceSearchTerm(new VariableInfo('place_voyage_ended_idnum', 'itinerary', 'Place voyage ended'), 'is one of', null, 'Select the places where voyages ended.', null),
			RangeSearchTerm(new VariableInfo(YEAR_RANGE_VARNAME, 'dates', 'Year arrived with slaves*'), '', null, 'The imputed year in which the ship arrived with slaves at the first? port of disembarkation', dateRangeValidation),
			TextSearchTerm(new VariableInfo('captain', 'captain_crew', 'Captain\'s Name'), 'contains', null, 'Look for names of slave vessel captains.', minLengthValidator(3)),
			RangeSearchTerm(new VariableInfo('imp_total_num_slaves_purchased', 'numbers', 'Total slaves embarked*'), '', null, 'total_slaves_embarked help text', null, 3),
			RangeSearchTerm(new VariableInfo('imp_total_slaves_disembarked', 'numbers', 'Total slaves disembarked*'), '', null, 'total_slaves_disembarked help text', null, 3),
			TextSearchTerm(new VariableInfo('sources_plaintext_search', 'source', 'Source'), 'contains', null, 'Please type one or more words (or even partial words) that should appear in the source references for the voyage. The search is case insensitive.', minLengthValidator(3)),
		];
		var searchTermsDict = {};
		for (var i = 0; i < searchTerms.length; ++i) {
			var item = searchTerms[i];
			searchTermsDict[item.varName] = item;
		}
		var refreshSearchItem = function(varName) {
			var searchTerm = searchTermsDict[varName];
			var $a = $('#' + searchTerm.linkId);
			if ($a) {
				$a.text(searchTerm.linkText(escape_html));
			}
		};
		var displayVariableInput = function(varName) {
			var searchTerm = searchTermsDict[varName];
			$("#search_input_help_text").html(searchTerm.description);
			$("#search_input_title").html('Search term for <em>' + searchTerm.label + '</em>');
			$("#search_input_validation").html('');
			var content = searchTerm.inputHtml(escape_html);
			$("#search_input_body").html(content);
			searchTerm.initInput();
			modalCallback = function() {
				searchTerm.updateFromHtmlInput();
				refreshSearchItem(varName);
				var validationErrors = searchTerm.validate();
				if (validationErrors.length > 0) {
					$("#search_input_validation").html('<ul class="validation_errors"><li>' + validationErrors.join('</li><li>') + '</li></ul>');
					return false;
				}
				return true;
			};
			$modal.one('shown.bs.modal', searchTerm.inputFocus);
			if (searchTerm.enterKeyPress) {
				$modal.keypress(function(e) {
					if (e.which == 13) {
						if (searchTerm.enterKeyPress()) {
						  var btnId = e.ctrlKey ? "#search_input_run_btn" : "#search_input_save_btn";
							$(btnId).click();
						}
					}
				});
			}
			modalResult = false;
			$modal.modal({ backdrop: 'static' });
		}
		var mainDatatable = null;
		var currentSearchObj = {items: []};
		var resultsTableSearchCallback = function() {
			// Reload datatables.
			if (mainDatatable) {
				mainDatatable.ajax.reload();
			}
		}
		var searchCallback = resultsTableSearchCallback;
		function search() {
			$('#search_pane').collapse("hide");
			var activeSearchTerms = jQuery.map($('#current_search').val(), function(id) {
				var term = searchTermsDict[id];
				// Here we allow custom search types to generate their backend terms.
				var backendSearchTerm = term.hasOwnProperty('getBackendSearchTerm')
					? term.getBackendSearchTerm()
					: term.getSearchTerm();
				return { varName: term.varName, op: term.operatorLabel, searchTerm: backendSearchTerm };
			});
			var $yearRange = $("#year_range");
			// Check if the user explicitly specified the year search.
			var hasYearSearch = activeSearchTerms.some(function(t) {
				var match = t.varName == YEAR_RANGE_VARNAME;
				if (match) {
					var range = t.searchTerm;
					range = [range[0], range[1] || range[0]];
					$yearRange.val(range[0] + ' - ' + range[1]);
					$yearRange.change();
				}
				return match;
			});
			if (!hasYearSearch) {
				// Add year range to search.
				var yearRange = $yearRange.val().split('-');
				if (yearRange.length == 2) {
					var first = parseInt(yearRange[0]);
					var last = parseInt(yearRange[1]);
					if (!isNaN(first) && !isNaN(last)) {
						activeSearchTerms.push({varName: YEAR_RANGE_VARNAME, op: 'is between', searchTerm: [first, last]});
					}
				}
			}
      // debugger;
			currentSearchObj = {items: activeSearchTerms, orderBy: []};
			// Store current search on session storage.
			var searchState = {
				currentSearchObj: currentSearchObj,
				searchTerms: jQuery.map($('#current_search').val(), function(id) { return searchTermsDict[id].serialize(); }),
				yearRange: $("#year_range").val()
			};
			var serializedSearch = JSON.stringify(searchState);
			sessionStorage.setItem('searchState', serializedSearch);
			// Check if this is a new search
			var d = new Date();
			var isRepeat = false;
			searchHistory.some(function(h) {
				isRepeat = h.search == serializedSearch;
				if (isRepeat) {
					h.date = d;
				}
				return isRepeat;
			});
			if (!isRepeat) {
				var label = $('#current_search').val();
				searchHistory.push({ label: label == '' ? '*' : label, search: serializedSearch, date: d });
			}
			sessionStorage.setItem('searchHistory', JSON.stringify(searchHistory));
			updateHistory();
			searchCallback();
		}
		$('#search_btn').click(search);
		function restoreSerializedSearch(searchStateStr) {
				try {
					var searchState = JSON.parse(searchStateStr);
					currentSearchObj = searchState['currentSearchObj'];
					var oldSearchTerms = searchState['searchTerms'];
					$("#year_range").val(searchState['yearRange']);
					$("#year_range").change();
					selectize.clear();
					oldSearchTerms.forEach(function(oldTerm) {
						searchTermsDict[oldTerm.varName].deserialize(oldTerm, function(t) {
							selectize.addItem(t.varName, true);
						});
					});
				} catch (e) { }
		}
		function clearHistory() {
			searchHistory = [];
			sessionStorage.setItem('searchHistory', '[]');
			updateHistory();
		}
		function restoreHistory(element) {
			restoreSerializedSearch($(element).data('search'));
		}
		function updateHistory() {
			var $menu = $('#search_history_dropdown');
			$menu.empty();
			if (searchHistory.length > 0) {
				$menu.append($('<li onclick="clearHistory(); return false;"><a href="#">Clear History</a></li><li role="separator" class="divider"></li>'));
				searchHistory.sort(function(a, b) { return new Date(b.date).getTime() - new Date(a.date).getTime(); });
				searchHistory.forEach(function (history) {
					var $item = $('<li onclick="restoreHistory(this); return false;"><a href="#">Search query on ' + history.label + ' at ' + history.date + '</a></li>');
					$item.data('search', history.search);
					$menu.append($item);
				});
			} else {
				$menu.append($('<li><a href="#">No search history</a></li>'));
			}
		}
		Selectize.define('search_term_box', function(options) {
			var self = this;
			self.addItem = (function() {
				var original = self.addItem;
				return function(value, silent) {
					var context = this;
					var args = arguments;
					if (silent) {
							original.apply(context, args);
							refreshSearchItem(value);
							return;
					}
					displayVariableInput(value);
					$modal.one('hidden.bs.modal', function (e) {
						if (modalResult) {
							original.apply(context, args);
							refreshSearchItem(value);
						}
					});
				};
			})();
			self.onKeyDown = (function() {
				var original = self.onKeyDown;
				return function(e) {
					var context = this;
					var args = arguments;
					if (e.keyCode == 13 && e.ctrlKey) {
						e.preventDefault();
						// Do search.
						search();
					} else {
						original.apply(context, args);
					}
				};
			})();
		});
		$(function() {
			$("#slider-range").slider({
				range: true,
				min: SEARCH_MIN_YEAR,
				max: SEARCH_MAX_YEAR,
				values: [ SEARCH_MIN_YEAR, SEARCH_MAX_YEAR ],
				slide: function(event, ui) {
					$("#year_range").val(ui.values[0] + " - " + ui.values[1]);
					var formGroup = $(this).closest('.form-group');
					formGroup.toggleClass('has-error', false);
				}
			});
			$("#year_range").val($("#slider-range").slider("values", 0) +
				" - " + $("#slider-range").slider("values", 1));
			$("#year_range").change(function() {
				var re = /^([0-9]{4})\s*-\s*([0-9]{4})$/;
				var val = $("#year_range").val();
				var minYear = SEARCH_MIN_YEAR;
				var maxYear = SEARCH_MAX_YEAR;
				var found = val.match(re);
				var formGroup = $(this).closest('.form-group');
				if (found) {
					minYear = parseInt(found[1]);
					maxYear = parseInt(found[2]);
					formGroup.toggleClass('has-error', false);
				} else {
					formGroup.toggleClass('has-error', true);
				}
				if (minYear < SEARCH_MIN_YEAR) minYear = SEARCH_MIN_YEAR;
				if (maxYear > SEARCH_MAX_YEAR) maxYear = SEARCH_MAX_YEAR;
				if (minYear > maxYear) minYear = maxYear;
				$("#slider-range").slider('values', 0, minYear);
				$("#slider-range").slider('values', 1, maxYear);
			});
			$("#current_search").selectize({
				plugins: {
					'remove_button': true,
					'dropdown_header': {
						'title': 'Select a variable that will be used in the query. You may start typing to filter variables.'
					},
					'optgroup_columns': true,
					'search_term_box': true},
				options: searchTerms,
				optgroups: [
					{$order: 0, id: 'ship_nation_owners', label: 'Ship, Nation, Owners'},
					{$order: 1, id: 'outcome', label: 'Voyage Outcome'},
					{$order: 2, id: 'itinerary', label: 'Voyage Itinerary'},
					{$order: 3, id: 'dates', label: 'Voyage Dates'},
					{$order: 4, id: 'captain_crew', label: 'Captain and Crew'},
					{$order: 5, id: 'numbers', label: 'Slave Numbers'},
					{$order: 6, id: 'characteristics', label: 'Slave Characteristics'},
					{$order: 7, id: 'source', label: 'Source'},
				],
				labelField: 'label',
				searchField: ['label'],
				valueField: 'varName',
				optgroupField: 'group',
				optgroupLabelField: 'label',
				optgroupValueField: 'id',
				delimiter: ',',
				maxItems: 1000,
				render: {
					item: function(data, escape) {
						return data.render(escape);
					}
				}
			});
			selectize = $("#current_search")[0].selectize;
			selectize.$control.on('mousedown', 'a.search_query_link', function(e) {
				var $item = $(e.currentTarget);
				var varName = $item.data('var_name');
				displayVariableInput(varName);
			});

			$('#clear_btn').click(function() {
				selectize.clear();
				$("#year_range").val(SEARCH_MIN_YEAR + ' - ' + SEARCH_MAX_YEAR);
				$("#year_range").change();
				search();
			});

			var categoryNames = [
				"Ship, nation, owners",
				"Voyage Dates",
				"Voyage Itinerary",
				"Slave (numbers)",
				"Voyage Outcome",
				"Sources",
			];
			var allColumns = [
				{ data: "var_voyage_id", category: 0, header: "Voyage identification number" },
				{ data: "var_ship_name", category: 0, header: "Vessel name" },
				{ data: "var_captain_plaintext", category: 0, header: "Capitain's name" },
				{ data: "var_" + YEAR_RANGE_VARNAME, category: 1, header: "Year arrived with slaves*" },
				{ data: "var_imp_principal_place_of_slave_purchase_lang_en", category: 2, header: "Principal region of slave purchase*" },
				{ data: "var_imp_principal_port_slave_dis_lang_en", category: 2, header: "Principal region of slave landing*" },
				{ data: "var_imp_port_voyage_begin_lang_en", category: 2, header: "Place where voyage began*", "visible": false },
				{ data: "var_imp_total_num_slaves_purchased", category: 3, header: "Total slaves embarked*", "visible": false },
				{ data: "var_outcome_ship_captured_lang_en", category: 4, header: "Outcome of voyage if ship captured*", "visible": false },
				{ data: "var_sources_plaintext", category: 5, header: "Sources", "visible": false },
				{ data: "var_intra_american_voyage", category: 0, header: "Intra American Voyage", "visible": false },
			];
			var categories = $.map(categoryNames, function(name) {
				return { name: name, columns: [] };
			});
			allColumns.forEach(function(c, index) {
				categories[c.category].columns.push({
					extend: 'columnToggle',
					text: c.header,
					columns: index,
				});
			});
			var columnToggleMenu = {
				extend: 'collection',
				text: '<span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>',
				titleAttr: 'Configure visible columns',
				buttons: $.map(categories, function(category) {
					return category.columns.length == 1 && category.columns[0].text === category.name
						? category.columns[0]
						: {
								extend: 'collection',
								text: category.name,
								buttons: category.columns
							};
				})
			};

			// See if we have the last search on session storage.
			var searchStateStr = sessionStorage.getItem('searchState');
			if (searchStateStr) {
				restoreSerializedSearch(searchStateStr);
			}
			// Now let us check whether we have the search history in the session storage.
			var searchHistoryStr = sessionStorage.getItem('searchHistory');
			if (searchHistoryStr) {
				try {
					searchHistory = JSON.parse(searchHistoryStr);
				} catch (e) {
					searchHistory = [];
				}
				updateHistory();
			}

			mainDatatable = $('#results_main_table').DataTable({
        ajax: {
					url: "876167cf-bc40-44f7-9557-ee8117d94008/beta_ajax_search",
					type: 'POST',
					data: function(d) {
						if (d.order) {
							currentSearchObj.orderBy = $.map(d.order, function(item) {
								var columnIndex = mainDatatable
									? mainDatatable.colReorder.order()[item.column]
									: item.column;
								return {name: allColumns[columnIndex].data.substring(4), direction: item.dir};
							});
						}
            debugger;
						console.log( JSON.stringify({ searchData: currentSearchObj, tableParams: d, output: 'resultsTable' }));
						return JSON.stringify({ searchData: currentSearchObj, tableParams: d, output: 'resultsTable' });
					}
				},
				dom: 'Bfrtip',
				lengthMenu: [
            [ 10, 25, 50, 100 ],
            [ '10 rows', '25 rows', '50 rows', '100 rows' ]
        ],
				buttons: [
					'pageLength',
					columnToggleMenu,
					{
						extend: 'collection',
						text: '<span class="glyphicon glyphicon-cloud-download"></span>',
						titleAttr: 'Download results',
						buttons: [
							{
								text: 'CSV - not implemented',
								action: function() { alert('not implemented yet'); },
							},
							{
								text: 'Excel - this one works!',
								action: function() {
									var visibleColumns = $.map($.makeArray(mainDatatable.columns().visible()), function(visible, index) {
										return visible ? allColumns[index].data : undefined;
									});
									var form = $("<form action='876167cf-bc40-44f7-9557-ee8117d94008/beta_ajax_download' method='post'>{% csrf_token %}</form>");
									form.append($("<input name='data' type='hidden'></input>").attr('value', JSON.stringify({ searchData: currentSearchObj, cols: visibleColumns })));
									form.appendTo('body').submit().remove();
								},
							}
						]
					}
				],
				//pagingType: "input",
				bFilter: false,
				processing: true,
				serverSide: true,
        columns: allColumns,
				stateSave: true,
				stateDuration: -1,
				colReorder: true,
    	});
		});
		var mapError = function() {
			$map.removeClass('gray');
			alert('Failed to load map data!');
		}
		var mapFlowSearchCallback = function() {
			var $map = $('#map');
			$map.addClass('gray');
			$.ajax({
				url: "876167cf-bc40-44f7-9557-ee8117d94008/beta_ajax_search",
				type: 'POST',
				data: JSON.stringify({ searchData: currentSearchObj, output: 'mapFlow' }),
				success: function(data) {
					eval(data);
					voyagesMap.clear();
					voyagesMap.setNetworkFlow(ports, flows);
					$map.removeClass('gray');
				},
				error: mapError,
			});
		};
		var mapAnimationSearchCallback = function() {
			var $map = $('#map');
			$map.addClass('gray');
			$.ajax({
				url: "876167cf-bc40-44f7-9557-ee8117d94008/beta_ajax_search",
				type: 'POST',
				data: JSON.stringify({ searchData: currentSearchObj, output: 'mapAnimation' }),
				success: function(data) {
					voyagesMap.clear();
					$map.removeClass('gray');
					animationHelper.startAnimation(data);
				},
				error: mapError,
			});
		};
		var mapLoaded = false;
		var animationScriptsLoaded = false;
		var noOp = function () {};
		var tabDeselectedCallback = noOp;
		var allLoadedScripts = {};
		function loadScript(url) {
			var dfd = new $.Deferred();
			var callback = function() {
				dfd.resolve('script loaded');
				allLoadedScripts[url] = true;
			};
			if (allLoadedScripts.hasOwnProperty(url)) {
				callback();
				return;
			}
			var script = document.createElement('script');
			script.type = 'text/javascript';
			script.async = false;
			script.onreadystatechange = callback;
			script.onload = callback;
			script.src = url;
			document.getElementsByTagName('head')[0].appendChild(script);
			return dfd;
		}
		function loadCss(url) {
			$('head').append('<link rel="stylesheet" href="' + url + '" type="text/css" />');
		}
		var loadMap = function(done) {
			if (!mapLoaded) {
				loadCss('{{ STATIC_URL }}maps/css/leaflet.css');
				loadCss('{{ STATIC_URL }}maps/css/MarkerCluster.css');
				loadCss('{{ STATIC_URL }}maps/css/MarkerCluster.Default.css');
				loadScript('{{ STATIC_URL }}maps/js/leaflet.js')
					.then(loadScript('{{ STATIC_URL }}maps/js/leaflet.markercluster.js'))
					.then(loadScript('{{ STATIC_URL }}maps/js/leaflet.polylineDecorator.js'))
					.then(function() {
						$.when(
								loadScript('{{ STATIC_URL }}maps/js/routeNodes.js'),
								loadScript('{{ STATIC_URL }}maps/js/voyagesMap.js'),
						)
						.then(function() {
							voyagesMap.
									init('1750', '{{ STATIC_URL }}maps/', routeNodes, links).
									setMaxPathWidth(20).
									setPathOpacity(0.75);
							$(window).on("resize", function() {
									$("#map").height($('#left-tabs').height() - 70);
									voyagesMap._map.invalidateSize();
							}).trigger("resize");
							voyagesMap._map.invalidateSize();
							mapLoaded = true;
							done();
						});
					});
			} else {
				done();
			}
		};
		var loadAnimationScripts = function(done) {
			if (!animationScriptsLoaded) {
				loadCss('{{ STATIC_URL }}css/animation.css');
				$.when(
					loadScript('{{ STATIC_URL }}scripts/library/d3.min.js'),
					loadScript('{{ STATIC_URL }}maps/js/arc.js'),
					loadScript('{{ STATIC_URL }}maps/js/leaflet.geodesic.min.js')
				)
				.then(loadScript('{{ STATIC_URL }}scripts/vue/includes/animation.js'))
				.then(function() {
					animationScriptsLoaded = true;
					done();
				});
			} else {
				done();
			}
		};
		$('.nav-tabs a').on('shown.bs.tab', function(event) {
    	var active = $(event.target).attr('href');
		  searchCallback = noOp;
			tabDeselectedCallback();
			if (active == '#results') {
				searchCallback = resultsTableSearchCallback;
				searchCallback();
				tabDeselectedCallback = noOp
			} else if (active == '#maps') {
				loadMap(function() {
					$('#map').appendTo($(active));
					voyagesMap._map.invalidateSize();
					searchCallback = mapFlowSearchCallback;
					searchCallback();
					tabDeselectedCallback = noOp;
				});
			} else if (active == '#animation') {
				loadMap(function() {
					loadAnimationScripts(function() {
						$('#map').appendTo($(active));
						voyagesMap._map.invalidateSize();
						searchCallback = mapAnimationSearchCallback;
						searchCallback();
						tabDeselectedCallback = function() {
							animationHelper.stopAnimation();
						};
					});
				});
			}
		});
	</script>
</body>
</html>
