{% load i18n %}
<!-- Left menu for Understanding the Database -->

<div class="left-menu-title">
	<h3>{% trans "Understanding the Database" %}</h3>
</div>

<div class="secondary-menu-item-0">
	<a href="#" id="c01_s01_cover">{% trans "Guide" %}</a>
</div>

<div class="secondary-menu-item-0">
	<a href="#" id="c01_s02_cover">{% trans "Methodology" %}</a>
</div>

<div class="secondary-menu-subitems-0" id="c01_s02_submenu">

	<div class="secondary-menu-item-1" id="c01_s02_p01">
		<a href="#">{% trans "Introduction" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p02">
		<a href="#">{% trans "Coverage of the Slave Trade" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p03">
		<a href="#">{% trans "Nature of Sources" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p04">
		<a href="#">{% trans "Cases and Variables" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p05">
		<a href="#">{% trans "Data Variables" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p06">
		<a href="#">{% trans "Age Categories" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p07">
		<a href="#">{% trans "Date" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p08">
		<a href="#">{% trans "Names" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p09">
		<a href="#">{% trans "Imputed Variables" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p10">
		<a href="#">{% trans "Geographic Data" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p11">
		<a href="#">{% trans "Imputed Voyage Dates" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p12">
		<a href="#">{% trans "Classification as a Trans-Atlantic Slaving Voyage" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p13">
		<a href="#">{% trans "Voyage Outcomes" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p14">
		<a href="#">{% trans "Inferring Places of Trade" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p15">
		<a href="#">{% trans "Imputing Numbers of Slaves" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p16">
		<a href="#">{% trans "Regions of Embarkation and Disembarkation" %}</a>
	</div>
	<div class="secondary-menu-item-1"id="c01_s02_p17">
		<a href="#">{% trans "Age and Gender Ratios" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p18">
		<a href="#">{% trans "National Carriers" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p19">
		<a href="#">{% trans "Tonnage" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p20">
		<a href="#">{% trans "Resistance and Price of Slaves" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p21">
		<a href="#">{% trans "Appendix" %}</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p22">
		<a href="#">{% trans "Notes" %}</a>
	</div>
</div>
<div class="secondary-menu-item-0">
	<a href="#" id="c01_s03_cover" >{% trans "Variable List" %}</a>
</div>
<div class="secondary-menu-item-0">
	<a href="#" id="source_cover">{% trans "Sources" %}</a>
</div>
<div class="secondary-menu-subitems-0" id="source_submenu">
		<div class="secondary-menu-item-1" id="source_documentary_sources">
		    <a href="#">{% trans "Documentary Sources" %}</a>
	    </div>

</div>