{% load i18n %}


<h1>{% trans "Variable list" %}</h1>

<p>{% blocktrans %}The variable list provides summary information on variables of the Voyages Database in the "Search the Database"
    section. The variables are displayed here in the form of short labels. The second column gives their equivalents in
    the downloadable SPSS version of the database, where variable names take the form of acronyms. These names are also
    used in downloads of data for listings, tables and graphics from the website.{% endblocktrans %}</p>

<p>{% blocktrans %}Variables without an asterisk are "data variables" - information as found in a primary source documenting a slaving
    voyage. Variables followed by an asterisk are "imputed variables." They include information, such as the mortality
    rate on slave voyages, that is calculated from data variables as well as information which, although not directly
    documented, can be supplied on the basis of patterns observed in data variables.{% endblocktrans %}</p>

<div id="variables-list">
<table border="0" cellspacing="0" cellpadding="0" class="simple-table">
    <tr>
        <td colspan="7" class="header-group-first">Ship, nation, owners</td>
    </tr>
    <tr>
        <td class="header">Variables</td>
        <td class="header">SPSS</td>
        <td class="header">Voyages</td>
        <td class="header">Estimates</td>
        <td class="header">Basic</td>
        <td class="header">General</td>
        <td class="header">Note</td>
    </tr>
    <tr>
        <td class="first">Voyage identification number</td>
        <td class="first">voyageid</td>
        <td class="first number">34,946</td>
        <td class="first check"></td>
        <td class="first check">&bull;</td>
        <td class="first check">&bull;</td>
        <td class="first"></td>
    </tr>
    <tr>
        <td class="even">Voyage in 1999 CD-ROM</td>
        <td class="even">evgreen</td>
        <td class="even number">26,555</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Vessel name</td>
        <td class="odd">shipname</td>
        <td class="odd number">33,352</td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Flag</td>
        <td class="even">national</td>
        <td class="even number">26,054</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Flag*</td>
        <td class="odd">natinimp</td>
        <td class="odd number">33,417</td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd">Flag regrouped into seven major national carriers</td>
    </tr>
    <tr>
        <td class="even">Place constructed</td>
        <td class="even">placcons</td>
        <td class="even number">8,888</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Year constructed</td>
        <td class="odd">yrcons</td>
        <td class="odd number">6,189</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Place registered</td>
        <td class="even">placreg</td>
        <td class="even number">7,228</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Year registered</td>
        <td class="odd">yrreg</td>
        <td class="odd number">4,515</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Rig</td>
        <td class="even">rig</td>
        <td class="even number">22,483</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Tonnage</td>
        <td class="odd">tonnage</td>
        <td class="odd number">17,606</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Standardized tonnage*</td>
        <td class="even">tonmod</td>
        <td class="even number">16,655</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even">Converted to pre-1786 British registered tons</td>
    </tr>
    <tr>
        <td class="odd">Guns mounted</td>
        <td class="odd">guns</td>
        <td class="odd number">6,118</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Vessel owners</td>
        <td class="even">owner</td>
        <td class="even number">21,070</td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td colspan="7" class="header-group">Voyage Outcome</td>
    </tr>
    <tr>
        <td class="header">Variables</td>
        <td class="header">SPSS</td>
        <td class="header">Voyages</td>
        <td class="header">Estimates</td>
        <td class="header">Basic</td>
        <td class="header">General</td>
        <td class="header">Note</td>
    </tr>
    <tr>
        <td class="first">Particular outcome of voyage</td>
        <td class="first">fate</td>
        <td class="first number">34,946</td>
        <td class="first check"></td>
        <td class="first check"></td>
        <td class="first check">&bull;</td>
        <td class="first"></td>
    </tr>
    <tr>
        <td class="even">Outcome of voyage for slaves*</td>
        <td class="even">fate2</td>
        <td class="even number">34,946</td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even">Derived from particular outcome</td>
    </tr>
    <tr>
        <td class="odd">Outcome of voyage if ship captured*</td>
        <td class="odd">fate3</td>
        <td class="odd number">34,946</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd">Derived from particular outcome</td>
    </tr>
    <tr>
        <td class="even">Outcome of voyage for owner*</td>
        <td class="even">fate4</td>
        <td class="even number">34,946</td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even">Derived from particular outcome</td>
    </tr>
    <tr>
        <td class="odd">African resistance</td>
        <td class="odd">resistance</td>
        <td class="odd number">557</td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td colspan="7" class="header-group">Voyage Itinerary</td>
    </tr>
    <tr>
        <td class="header">Variables</td>
        <td class="header">SPSS</td>
        <td class="header">Voyages</td>
        <td class="header">Estimates</td>
        <td class="header">Basic</td>
        <td class="header">General</td>
        <td class="header">Note</td>
    </tr>
    <tr>
        <td class="first">Place where voyage began*</td>
        <td class="first">ptdepimp</td>
        <td class="first number">30,761</td>
        <td class="first check"></td>
        <td class="first check">&bull;</td>
        <td class="first check">&bull;</td>
        <td class="first">Same as data variable in most cases, but derived from port of return for certain Brazilian
            voyages
        </td>
    </tr>
    <tr>
        <td class="even">First place of slave purchase</td>
        <td class="even">plac1tra</td>
        <td class="even number">21,255</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Second place of slave purchase</td>
        <td class="odd">plac2tra</td>
        <td class="odd number">2,706</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Third place of slave purchase</td>
        <td class="even">plac3tra</td>
        <td class="even number">506</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Principal place of slave purchase*</td>
        <td class="odd">mjbyptimp</td>
        <td class="odd number">26,639</td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd">Place where largest number of captives embarked</td>
    </tr>
    <tr>
        <td class="even">Places of call before Atlantic crossing</td>
        <td class="even">npafttra</td>
        <td class="even number">1,673</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">First place of slave landing</td>
        <td class="odd">sla1port</td>
        <td class="odd number">24,915</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Second place of slave landing</td>
        <td class="even">adpsale1</td>
        <td class="even number">1,197</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Third place of slave landing</td>
        <td class="odd">adpsale2</td>
        <td class="odd number">83</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Principal place of slave landing*</td>
        <td class="even">mjslptimp</td>
        <td class="even number">30,295</td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even">Place where largest number of captives disembarked</td>
    </tr>
    <tr>
        <td class="odd">Place where voyage ended</td>
        <td class="odd">portret</td>
        <td class="odd number">10,645</td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td colspan="7" class="header-group">Voyage Dates</td>
    </tr>
    <tr>
        <td class="header">Variables</td>
        <td class="header">SPSS</td>
        <td class="header">Voyages</td>
        <td class="header">Estimates</td>
        <td class="header">Basic</td>
        <td class="header">General</td>
        <td class="header">Note</td>
    </tr>
    <tr>
        <td class="first">Year arrived with slaves*</td>
        <td class="first">yearam</td>
        <td class="first number">34,946</td>
        <td class="first check">&bull;</td>
        <td class="first check">&bull;</td>
        <td class="first check">&bull;</td>
        <td class="first">Standard variable for classification by year of voyage</td>
    </tr>
    <tr>
        <td class="even">Date voyage began</td>
        <td class="even">date_dep</td>
        <td class="even number">22,231</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Date trade began in Africa</td>
        <td class="odd">date_buy</td>
        <td class="odd number">6,551</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Date vessel departed Africa</td>
        <td class="even">date_leftAfr</td>
        <td class="even number">8,072</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Date vessel arrived with slaves</td>
        <td class="odd">date_land1</td>
        <td class="odd number">17,533</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Date vessel departed for home port</td>
        <td class="even">date_depam</td>
        <td class="even number">5,614</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Date voyage completed</td>
        <td class="odd">date_end</td>
        <td class="odd number">10,414</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Voyage length, home port to slaves landing (days)*</td>
        <td class="even">voy1imp</td>
        <td class="even number">12,659</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even">Difference between date voyage began and date vessel arrived with slaves</td>
    </tr>
    <tr>
        <td class="odd">Middle passage (days)*</td>
        <td class="odd">voy2imp</td>
        <td class="odd number">7,002</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd">Difference between date vessel left Africa and date it arrived with slaves</td>
    </tr>
    <tr>
        <td colspan="7" class="header-group">Captain and Crew</td>
    </tr>
    <tr>
        <td class="header">Variables</td>
        <td class="header">SPSS</td>
        <td class="header">Voyages</td>
        <td class="header">Estimates</td>
        <td class="header">Basic</td>
        <td class="header">General</td>
        <td class="header">Note</td>
    </tr>
    <tr>
        <td class="first">Captain's name</td>
        <td class="first">captain</td>
        <td class="first number">30,894</td>
        <td class="first check"></td>
        <td class="first check">&bull;</td>
        <td class="first check">&bull;</td>
        <td class="first"></td>
    </tr>
    <tr>
        <td class="even">Crew at voyage outset</td>
        <td class="even">crew1</td>
        <td class="even number">12,656</td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Crew at first landing of slaves</td>
        <td class="odd">crew3</td>
        <td class="odd number">2,268</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Crew deaths during voyage</td>
        <td class="even">crewdied</td>
        <td class="even number">4,438</td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td colspan="7" class="header-group">Slaves (numbers)</td>
    </tr>
    <tr>
        <td class="header">Variables</td>
        <td class="header">SPSS</td>
        <td class="header">Voyages</td>
        <td class="header">Estimates</td>
        <td class="header">Basic</td>
        <td class="header">General</td>
        <td class="header">Note</td>
    </tr>
    <tr>
        <td class="first">Number of slaves intended at first place of purchase</td>
        <td class="first">slintend</td>
        <td class="first number">7,049</td>
        <td class="first check"></td>
        <td class="first check"></td>
        <td class="first check">&bull;</td>
        <td class="first"></td>
    </tr>
    <tr>
        <td class="even">Slaves carried from first port of purchase</td>
        <td class="even">ncar13</td>
        <td class="even number">1,874</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Slaves carried from second port of purchase</td>
        <td class="odd">ncar15</td>
        <td class="odd number">1,874</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Slaves carried from third port of purchase</td>
        <td class="even">ncar17</td>
        <td class="even number">1,874</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Total slaves embarked</td>
        <td class="odd">tslavesd</td>
        <td class="odd number">8,272</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Total slaves embarked*</td>
        <td class="even">slaximp</td>
        <td class="even number">33,366</td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even">Estimated embarkations</td>
    </tr>
    <tr>
        <td class="odd">Number of slaves arriving at first place of landing</td>
        <td class="odd">slaarriv</td>
        <td class="odd number">18,269</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Number of slaves disembarked at first place of landing</td>
        <td class="even">slas32</td>
        <td class="even number">2,521</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Number of slaves disembarked at second place of landing</td>
        <td class="odd">slas36</td>
        <td class="odd number">2,521</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Number of slaves disembarked at third place of landing</td>
        <td class="even">slas39</td>
        <td class="even number">2,521</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even"></td>
    </tr>
    <tr>
        <td class="odd">Total slaves disembarked*</td>
        <td class="odd">slamimp</td>
        <td class="odd number">33,047</td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd">Estimated disembarkations</td>
    </tr>
    <tr>
        <td colspan="7" class="header-group">Slaves (characteristics)</td>
    </tr>
    <tr>
        <td class="header">Variables</td>
        <td class="header">SPSS</td>
        <td class="header">Voyages</td>
        <td class="header">Estimates</td>
        <td class="header">Basic</td>
        <td class="header">General</td>
        <td class="header">Note</td>
    </tr>
    <tr>
        <td class="first">Percentage men*</td>
        <td class="first">menrat7</td>
        <td class="first number">3,404</td>
        <td class="first check"></td>
        <td class="first check">&bull;</td>
        <td class="first check">&bull;</td>
        <td class="first">Captives identified by age and gender</td>
    </tr>
    <tr>
        <td class="even">Percentage women*</td>
        <td class="even">womrat7</td>
        <td class="even number">3,404</td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even">Captives identified by age and gender</td>
    </tr>
    <tr>
        <td class="odd">Percentage boys*</td>
        <td class="odd">boyrat7</td>
        <td class="odd number">3,403</td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd">Captives identified by age and gender</td>
    </tr>
    <tr>
        <td class="even">Percentage girls*</td>
        <td class="even">girlrat7</td>
        <td class="even number">3,403</td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even">Captives identified by age and gender</td>
    </tr>
    <tr>
        <td class="odd">Percentage male*</td>
        <td class="odd">malrat7</td>
        <td class="odd number">3,891</td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd">Captives identified by gender (males/females)</td>
    </tr>
    <tr>
        <td class="even">Percentage children*</td>
        <td class="even">chilrat7</td>
        <td class="even number">4,219</td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even check">&bull;</td>
        <td class="even">Captives identified by age group (adults/children)</td>
    </tr>
    <tr>
        <td class="odd">Sterling cash price in Jamaica*</td>
        <td class="odd">jamcaspr</td>
        <td class="odd number">966</td>
        <td class="odd check"></td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd"></td>
    </tr>
    <tr>
        <td class="even">Slave deaths during middle passage*</td>
        <td class="even">vymrtimp</td>
        <td class="even number">6,438</td>
        <td class="even check"></td>
        <td class="even check"></td>
        <td class="even check">&bull;</td>
        <td class="even">Documented or difference between embarked and disembarked captives (data variables)</td>
    </tr>
    <tr>
        <td class="odd">Mortality rate*</td>
        <td class="odd">vymrtrat</td>
        <td class="odd number">6,404</td>
        <td class="odd check"></td>
        <td class="odd check">&bull;</td>
        <td class="odd check">&bull;</td>
        <td class="odd">Slave deaths during Middle Passage divided by number of captives leaving Africa</td>
    </tr>
    <tr>
        <td colspan="7" class="header-group">Source</td>
    </tr>
    <tr>
        <td class="header">Variables</td>
        <td class="header">SPSS</td>
        <td class="header">Voyages</td>
        <td class="header">Estimates</td>
        <td class="header">Basic</td>
        <td class="header">General</td>
        <td class="header">Note</td>
    </tr>
    <tr>
        <td class="first">Sources</td>
        <td class="first">source</td>
        <td class="first number">34,931</td>
        <td class="first check"></td>
        <td class="first check">&bull;</td>
        <td class="first check">&bull;</td>
        <td class="first"></td>
    </tr>
</table>
</div>

