{% load i18n %}

<div class="left-menu-title">
	<h3>{% trans 'Understanding the Database' %}</h3>
</div>

<div class="secondary-menu-item-0">
	<a href="#" id="c01_s01_cover">Guide</a>
</div>

<div class="secondary-menu-item-0">
	<a href="#" id="c01_s02_cover">Methodology</a>
</div>

<div class="secondary-menu-subitems-0" id="c01_s02_submenu">

	<div class="secondary-menu-item-1" id="c01_s02_p01">
		<a href="#" >Introduction</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p02">
		<a href="#" >Coverage of the Slave Trade</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p03">
		<a href="#" >Nature of Sources</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p04">
		<a href="#" >Cases and Variables</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p05">
		<a href="#">Data Variables</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p06">
		<a href="#">Age Categories</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p07">
		<a href="#">Dates</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p08">
		<a href="#">Names</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p09">
		<a href="#">Imputed Variables</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p10">
		<a href="#">Geographic Data</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p11">
		<a href="#">Imputed Voyage Dates</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p12">
		<a href="#">Classification as a Trans-Atlantic Slaving Voyage</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p13">
		<a href="#">Voyage Outcomes</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p14">
		<a href="#">Inferring Places of Trade</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p15">
		<a href="#">Imputing Numbers of Slaves</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p16">
		<a href="#">Regions of Embarkation and Disembarkation</a>
	</div>
	<div class="secondary-menu-item-1"id="c01_s02_p17">
		<a href="#">Age and Gender Ratios</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p18">
		<a href="#">National Carriers</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p19">
		<a href="#">Tonnage</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p20">
		<a href="#">Resistance and Price of Slaves</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p21">
		<a href="#">Appendix</a>
	</div>
	<div class="secondary-menu-item-1" id="c01_s02_p22">
		<a href="#">Notes</a>
	</div>
</div>
<div class="secondary-menu-item-0">
	<a href="#" id="c01_s03_cover" >Variable List</a>
</div>
<div class="secondary-menu-item-0">
	<a href="#" id="c01_s04_cover">Sources</a>
</div>
<div class="secondary-menu-subitems-0"  id="c01_s04_submenu">
	<div class="secondary-menu-item-1">
		<a href="#" id="c01_s04_p01">Documentary Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="#" id="c01_s04_p02">Newspapers</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="#" id="c01_s04_p03">Published Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="#" id="c01_s04_p04">Unpublished Secondary Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="#" id="c01_s04_p05">Private Notes and Collections</a>
	</div>
</div>