{% load i18n %}
<h2>{% trans "National Carriers</h2>

<p>
	{% blocktrans %}We have also made some assumptions in order to project a fuller picture of national carriers in the trade.
	The set identifies the national affiliations of 26,055 or 75 percent of the voyages in the data set.
	The variable that carries this information is “Flag” (NATIONAL). For a further 7,364 ventures, the context of the
	voyage and the name of the ship owner or captain make inferences about place of registration possible, and thus we
	created an imputed variable of national affiliation that contains affiliations for 33,419 voyages. This is “Flag*”
	(NATINIMP). For some ships, no method enables one to impute the national registration. From 1839, the British allowed
	their cruisers to take slave ships flying the Portuguese flag into British Vice-Admiralty Courts for confiscation
	under British law. In response to this (and to similar legislation in 1845 that extended the provision to the
	Brazilian flag), many slave ships abandoned ship registration papers altogether. In addition, there are undoubtedly
	some voyages that registered in one country but that belonged to nationals of another, and others that sailed under
	false papers. Some British ships sailing under the French flag in the late eighteenth century are examples of the
	first; both British and United States owners sailing with Portuguese and Spanish papers after 1807—sometimes fraudulent,
	sometimes not—are examples of the second. Overall, these cases probably account for less than 1 percent of the ships
	included in the data set. It is also difficult to separate voyages made by ships owned in Britain from those owned in
	the British Americas and later in the United States. Some vessels identified as "British" were likely registered in
	the British Americas, and a similar problem of geographic specificity arises with the Portuguese and Brazilian ships
	in the nineteenth century. A frequency count of this imputed flag variable is nevertheless of interest and indicates
	that 12,014 voyages were British and that a further 2,175 were registered in the British Americas. Of the other principal
	nations, 11,426 are identified as Portuguese or Brazilian; 4,192 were French; 1,577 were Dutch; 1,579 were Spanish or
	Uruguayan; and 404 flew the flags of various Baltic states (mainly Danish), including Brandenburg-Prussia. Many of
	the voyages of unknown nationality were likely Portuguese, but even if they all were, Portuguese voyages are still
	somewhat underrepresented in the Voyages Database.{% endblocktrans %}
</p>
