{% load i18n %}
<h2>{% trans "Imputing Numbers of Slaves" %}</h2>

<p>
	{% blocktrans %}A second set of inferences is suggested by the data on numbers of slaves leaving Africa and arriving in the New (and
	in some cases, the Old) World. Although 26,216 voyages in the data set arrived with slaves, and a further 7,192 could
	have done so, the sources provide the actual number on board at arrival for only 18,269 voyages. On the African side,
	the data are much weaker, with only 8,272 yielding information on the number of slaves leaving Africa, out of 29,095
	voyages that left with slaves, and a further 3,335 that could have done so. Because most of those studying the slave
	trade are interested in the captives rather than the ships, some inference would seem appropriate for those ships
	that traded without leaving anything in the historical record about the slaves they carried. The first step in making
	reasonable inferences is to draw on the number of captives who might have been reported for the same voyage at an
	earlier or later stage of its itinerary.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Only 5,803 voyages in the revised database contain numbers of both captives embarked and captives disembarked,
	but for a further 2,404 we have the figure for departures alone and for 12,279 numbers arrived alone. Imputed totals
	for the missing information may be made from the large subset of voyages that provide information on deaths during
	the passage. The Voyages Database contains 6,438 voyages for which a ratio of deaths to slaves embarked may be
	calculated. Deaths as a proportion of those embarked differed markedly by African region of embarkation. Table 2
	shows breakdowns of shipboard mortality as a percentage of those slaves taken on board.{% endblocktrans %}
</p>

<div align="center">

	<p style="font-weight:bold">
		{% trans "Table 2. Slaves died on board ships reaching the Americas as a percentage of those embarked, by African region of embarkation, 1527-1866" %}
	</p>

	<table border="1" cellpadding="2" class="methodborder">
		<tr>
			<td>&nbsp;</td>
			<td class="number">{% trans "Deaths/Embarked(%)" %}</td>
			<td class="number">{% trans "Standard Deviation" %}</td>
			<td class="number">{% trans "Number of Voyages" %}</td>

		</tr>
		<tr>
			<td>{% trans "Senegambia" %}</td>
			<td class="number">10.9%</td>
			<td class="number">13.7%</td>
			<td class="number">421</td>
		</tr>

		<tr>
			<td>{% trans "Sierra Leone" %}</td>
			<td class="number">9.8%</td>
			<td class="number">16.5%</td>
			<td class="number">231</td>
		</tr>
		<tr>

			<td>{% trans "Windward Coast" %}</td>
			<td class="number">9.6%</td>
			<td class="number">11.9%</td>
			<td class="number">111</td>
		</tr>
		<tr>
			<td>{% trans "Gold Coast" %}</td>

			<td class="number">12.0%</td>
			<td class="number">13.5%</td>
			<td class="number">654</td>
		</tr>
		<tr>
			<td>{% trans "Bight of Benin" %}</td>
			<td class="number">11.7%</td>
			<td class="number">14.3%</td>
			<td class="number">1,197</td>
		</tr>
		<tr>
			<td>{% trans "Bight of Biafra" %}</td>
			<td class="number">19.1%</td>
			<td class="number">18.8%</td>
			<td class="number">646</td>
		</tr>
		<tr>
			<td>{% trans "West-central Africa" %}</td>
			<td class="number">9.1%</td>
			<td class="number">11.7%</td>
			<td class="number">2,464</td>
		</tr>
		<tr>
			<td>{% trans "South-east Africa" %}</td>
			<td class="number">19.3%</td>
			<td class="number">16.5%</td>
			<td class="number">356</td>
		</tr>
		<tr>
			<td>{% trans "Region cannot be identified" %}</td>
			<td class="number">17.4%</td>
			<td class="number">17.7%</td>
			<td class="number">358</td>
		</tr>
		<tr>
			<td>{% trans "All Africa" %}</td>
			<td class="number">11.9%</td>
			<td class="number">14.2%</td>
			<td class="number">6,438</td>
		</tr>
	</table>
</div>

<p>
	{% blocktrans %}The breakdown of mortality ratios by African region is used here as the basis for imputing numbers arrived
	in the Americas where totals leaving Africa exist, and for numbers leaving Africa where the numbers on board
	at arrival in the Americas are known.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}There remain 12,819 voyages with no information about the numbers of slaves on board ship. Indeed, we do
	not even know if some of these ships carried slaves. The CD-ROM database divided such unknowns into just two
	groups, one sailing from North American ports and the other departing from all other ports in the Atlantic.
	Behind such categorization was the recognition that the slave vessels from North America were substantially
	smaller than the average. Separate means were calculated for the two groups, adjusted in the case of the
	larger group for region of embarkation in Africa where this information was available. In the Voyages
	Database a more refined strategy is adopted. A more complete data set now allows us to focus on the type
	of vessel as well as the route the voyage followed in forming estimates of captives transported where such
	information is missing. The number of captives on board was very much a function of the type of ship as well
	as place of trade in Africa, and to a lesser extent in the Americas. Moreover, the size of the type of vessel
	as reflected in its rig changed over time. The Appendix table attempts to take into account these factors by
	showing average number of captives both embarked and disembarked for 155 separate combinations of first, rig
	of vessel and time period; and second, where these were not available, place of trade in Africa; and third,
	a separate grouping of 18 types of vessels – smaller than those from the rest of the Atlantic World before
	1800 - built in North America. A small group of vessels have no information on either rig or place of trade
	and estimates of captives for these are classed as “No rig” in the Appendix table. The means for these 155
	categories were added to voyage records, as appropriate, whenever data on slaves could not be extracted from
	the sources. Users should note that in all cases these averages might be termed “running” in the sense that
	that as we added data to the database we recalculated the statistics reported in the Appendix table. And as
	augmentation of the dataset is set to continue then the imputed values will vary as data are added in the
	future. Users should thus not expect to find that the imputed values assigned to any given ship
	type are always the same or, indeed, will remain the same.{% endblocktrans %}
</p>