{% extends "voyage/voyagebase.html" %}
{% load sass_tags %}
{% load i18n %}
{% load voyage_extras %}
{% block title %}{% trans 'Sources (bibliography)' %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://npmcdn.com/js-offcanvas@1.0/dist/_css/minified/js-offcanvas.css">
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/database-sources.css">

<div class="container-new">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			<div class="sidebar-header-container">
				<div class="sidebar-title-1">{% trans "Download" %}</div>
			</div>
			<div class="sidebar-section">
				<div class="secondary-menu-item-0">
					<a href="#download1">{% trans "The 2010 Version of the Trans-Atlantic Slave Trade Database" %}</a>
				</div>
				<div class="secondary-menu-item-0">
					<a href="#download2">{% trans "The Trans-Atlantic Slave Trade Database" %}</a>
				</div>
				<div class="secondary-menu-item-0">
					<a href="#download3">{% trans "Estimates Spreadsheet" %}</a>
				</div>
				<div class="secondary-menu-item-0">
					<a href="#download4">{% trans "African Names Database" %}</a>
				</div>
			</div>
		</div>

		<div class="col-md-8 col-xs-12 col-lg-9 ">
			<p class="hidden-md">
				<button type="button" class="btn btn-trans btn-sm" data-toggle="offcanvas">
	        <div>
	          <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
	          <span>Toggle Sidebar</span>
	        </div>
	      </button>
			</p>
			<div id="center-content-inner">
				<div class="page-title-1">Downloads</div>
				<a name="download1"></a>
				<div class="page-title-2">The 2010 Version of the Trans-Atlantic Slave Trade Database</div>
				<p>The {db_year} version of the transatlantic slave trade database contains 35,941 voyages compared to 34,940 in 2008 (and 27,233 in the 1999 version of the database that appeared on CD-ROM). However, since 2008, several hundred corrections have been
					made and additional information added. Thus 86 of the 2008 voyages have been deleted either because we found they had been entered twice, or because we discovered that a voyage was not involved in the transatlantic slave trade. Voyage id 16772, the
					Pye, Captain Adam, turned out to have carried slaves from Jamaica to the Chesapeake, but obtained its captives in Jamaica, not Africa. Offsetting the deletions are 94 voyages added on the basis of new information. Further many voyages that are common
					to both 2008 and 2010 versions of the database contain information that was not available in 2008 (see table 1 of &ldquo;Understanding the Database&rdquo;). The 2010 version has 276 variables, compared with 99 in the Voyages Database available online.
					Users interested in working with this larger data set can download it in a file formatted for use with SPSS software. A variable in this dataset (EVGREEN) identifies voyages on the CD-ROM version published in 1999. Because some users may find it
					useful to view data as it existed in 1999, the CD-ROM version can also be selected for download. A codebook describing all variable names, variable labels, and values of the expanded dataset can be downloaded as a separate PDF document. With only
					a few exceptions, it retains variable names in the original 1999 CD-ROM version. The 2008 version of the database may also be downloaded.</p>

				<table class='table table-responsive'>
					<thead>
						<tr>
							<th>Filename</th>
							<th>Description</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>tastdb-exp-2010.sav</td>
							<td>Expanded dataset (2010, SPSS format)</td>
							<td><a href="{{MEDIA_URL}}download/tastdb-exp-2010.sav">Download</a></td>
						</tr>
						<tr>
							<td>tastdb-exp-2008.sav</td>
							<td>Expanded dataset (2008, SPSS format)</td>
							<td><a href="{{ MEDIA_URL }}download/tastdb-exp-2008.sav">Download</a></td>
						</tr>
						<tr>
							<td>tastdb-1999.sav</td>
							<td>Original CD-ROM dataset (1999, SPSS format)</td>
							<td><a href="{{ MEDIA_URL }}download/tastdb-1999.sav">Download</a></td>
						</tr>
						<tr>
							<td>SPSS Codebook</td>
							<td>Codebook</td>
							<td><a href="{{MEDIA_URL}}download/Codebook2013_5-3_final.pdf" target="blank">Download</a></td>
						</tr>
					</tbody>
				</table>

				<a name="download2"></a>
				<div class="page-title-2">The Trans-Atlantic Slave Trade Database</div>
				<p>This data set of the Trans-Atlantic Slave Trade Database contains the 99 variables available through the Voyages Database on this website. It is made available in three formats: SPSS (.sav), comma delimited (.csv), and dBase (.dbf). Users interested
					in working with this data set with their preferred software may select an edition year and file format below.</p>

				<table class='table table-responsive'>
					<thead>
						<tr>
							<th>Filename</th>
							<th>Description</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>tastdb-2010.sav</td>
							<td>2010, SPSS</td>
							<td><a href="{{ MEDIA_URL }}download/tastdb-2010.sav">Download</a></td>
						</tr>
						<tr>
							<td>tastdb-2010.csv</td>
							<td>2010, Comma-Delimited</td>
							<td><a href="{{ MEDIA_URL }}download/tastdb-2010.csv">Download</a></td>
						</tr>
						<tr>
							<td>tastdb-2010.dbf</td>
							<td>2010, dBase</td>
							<td><a href="{{ MEDIA_URL }}download/tastdb-2010.dbf">Download</a></td>
						</tr>
					</tbody>
				</table>

				<a name="download3"></a>
				<div class="page-title-2">Estimates Spreadsheet</div>
				<p>The Estimates section uses data from the expanded Trans-Atlantic Slave Trade Database dataset, aggregated by regions of embarkation and disembarkation, but also incorporates published series of embarkations and disembarkations for particular regions
					when these data provide more accurate estimates than the database itself. Users interested in exploring the complex methodology involved in generating the estimates, or in testing the extent to which alternative assumptions lower or augment estimates
					of the full volume of the slave trade (in its entirety or for a national carrier or period of time), can download below an Excel-formatted copy of the spreadsheet estimating the full volume of the slave trade by national carrier and year of arrival,
					the SPSS file applying estimates of volume in the spreadsheet to data on exports and imports aggregated by national carrier, year of arrival, and the route of the voyage from region of embarkation to region of disembarkation, and a PDF version of
					the essay detailing the methodology used.</p>


				<table class='table table-responsive'>
					<thead>
						<tr>
							<th>Filename</th>
							<th>Description</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2010 estimates-excel.xlsx</td>
							<td>Estimates Spreadsheet</td>
							<td><a href="{{ MEDIA_URL }}download/2010-estimates-excel.xlsx">Download</a></td>
						</tr>
						<tr>
							<td>2010 estimates-SPSS.sav</td>
							<td>Estimates SPSS</td>
							<td><a href="{{ MEDIA_URL }}download/2010-estimates-SPSS.sav">Download</a></td>
						</tr>
						<tr>
							<td>2010 estimates-method.pdf</td>
							<td>Methodology Essay</td>
							<td><a href="{{ MEDIA_URL }}download/2010estimates-method.pdf">Download</a></td>
						</tr>
					</tbody>
				</table>

				<a name="download4"></a>
				<div class="page-title-2">African Names Database</div>
				<p>This database contains personal information of 91,491 Africans taken from captured slave ships or from African slave trading sites after 1807 as a result of the British navy&rsquo;s attempt to suppress the slave trade. It includes names, stature,
					sex/age category, country of origin, the name and database id of the slave vessel involved, year of arrival, and ports of embarkation and disembarkation. These variables may be searched on the African Names Database page of the present site. They
					have also been incorporated into <a href="http://www.african-origins.org" target="_blank">African-Origins.org</a> that provides in addition opportunities to view and contribute to the ethnolinguistic identification of the African names.</p>

				<table class='table table-responsive'>
					<thead>
						<tr>
							<th>Filename</th>
							<th>Description</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>AfricanNamesDatabase.csv</td>
							<td>African Names Database</td>
							<td><a href="{{ MEDIA_URL }}download/AfricanNamesDatabase.csv">Download</a></td>
						</tr>
					</tbody>
				</table>

				Questions about downloading or using these datasets? Please contact <a href="mailto:voyages@emory.edu"> voyages@emory.edu</a>.

			</div>

		</div>
	</div>
</div>

{% endblock %}
