{% load i18n %}

<div class="page-title-1">{% trans "A Guide to the Trans-Atlantic Slave Trade Database" %}</div>

<p>
	{% blocktrans %}This guide provides instructions on how to navigate the website and use the three databases: the Voyages Database, the Estimates database,
	and the Images database. It concludes with a section on how to contribute new information to the Voyages Database.
	The guide is provided as a PDF file to allow users to reference it in a separate window or to download and print it.{% endblocktrans %}

</p>
<p>
	<ul><li>{% blocktrans %}<a href="{{ MEDIA_URL }}download/VoyagesGuide.pdf" target="blank">VoyagesGuide.pdf</a>{% endblocktrans %}</li></ul>
</p>
