<div class="left-menu-title">
	<h3>Understanding the Database </h3>
</div>

<div class="secondary-menu-item-0-selected">
	<a href="guide.html">Guide</a>
</div>

<div class="secondary-menu-item-0">
	<a href="method-01.html">Methodology</a>
</div>

<div class="secondary-menu-subitems-0">
	<script type="text/javascript">
		document.writeln(getleftmenu(methodology_toc, "voyage","method"));
	</script>
	
	<!-- For no-script envs -->
	<noscript>
	<div class="secondary-menu-item-1">
		<a href="method-01.html">Introduction</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-02.html">Coverage of the Slave Trade</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-03.html">Nature of Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-04.html">Cases and Variables</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-05.html">Data Variables</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="agecategories.html">Age Categories</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-06.html">Dates</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-07.html">Names</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-08.html">Imputed Variables</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-09.html">Geographic Data</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-10.html">Imputed Voyage Dates</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-11.html">Classification as a Trans-Atlantic Slaving Voyage</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-12.html">Voyage Outcomes</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-13.html">Inferring Places of Trade</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-14.html">Imputing Numbers of Slaves</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-15.html">Regions of Embarkation and Disembarkation</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-16.html">Age and Gender Ratios</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-17.html">National Carriers</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-18.html">Tonnage</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-19.html">Resistance and Price of Slaves</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-20.html">Appendix</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="method-21.html">Notes</a>
	</div>
	</noscript>
</div>



<div class="secondary-menu-item-0">
	<a href="variables.html">Variable List</a>
</div>
<div class="secondary-menu-item-0">
	<a href="sources.html?type=documentary">Sources</a>
</div>

<div class="secondary-menu-subitems-0">
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=documentary">Documentary Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=newspapers">Newspapers</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=published">Published Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=unpublished">Unpublished Secondary Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=private">Private Notes and Collections</a>
	</div>
</div>