{% load i18n %} 

<div class="left-menu-title">
	<h3>{% trans 'Understanding the Database' %}</h3>
</div>

<div class="secondary-menu-item-0">
	<a href="#" id="voyage-guide-intro">Guide</a>
</div>

<div class="secondary-menu-item-0">
	<a href="#" id="voyage-methodology">Methodology</a>
</div>

<div class="secondary-menu-subitems-0" id="methodology00">
	
	<div class="secondary-menu-item-1" id="method-01">
		<a href="#" >Introduction</a>
	</div>
	<div class="secondary-menu-item-1" id="method-02">
		<a href="#" >Coverage of the Slave Trade</a>
	</div>
	<div class="secondary-menu-item-1" id="method-03">
		<a href="#" >Nature of Sources</a>
	</div>
	<div class="secondary-menu-item-1" id="method-04">
		<a href="#" >Cases and Variables</a>
	</div>
	<div class="secondary-menu-item-1" id="method-05">
		<a href="#">Data Variables</a>
	</div>
	<div class="secondary-menu-item-1" id="method-06">
		<a href="#">Age Categories</a>
	</div>
	<div class="secondary-menu-item-1" id="method-07">
		<a href="#">Dates</a>
	</div>
	<div class="secondary-menu-item-1" id="method-08">
		<a href="#">Names</a>
	</div>
	<div class="secondary-menu-item-1" id="method-09">
		<a href="#">Imputed Variables</a>
	</div>
	<div class="secondary-menu-item-1" id="method-10">
		<a href="#">Geographic Data</a>
	</div>
	<div class="secondary-menu-item-1" id="method-11">
		<a href="#">Imputed Voyage Dates</a>
	</div>
	<div class="secondary-menu-item-1" id="method-12">
		<a href="#">Classification as a Trans-Atlantic Slaving Voyage</a>
	</div>
	<div class="secondary-menu-item-1" id="method-13">
		<a href="#">Voyage Outcomes</a>
	</div>
	<div class="secondary-menu-item-1" id="method-14">
		<a href="#">Inferring Places of Trade</a>
	</div>
	<div class="secondary-menu-item-1" id="method-15">
		<a href="#">Imputing Numbers of Slaves</a>
	</div>
	<div class="secondary-menu-item-1" id="method-16">
		<a href="#">Regions of Embarkation and Disembarkation</a>
	</div>
	<div class="secondary-menu-item-1"id="method-17">
		<a href="#">Age and Gender Ratios</a>
	</div>
	<div class="secondary-menu-item-1" id="method-18">
		<a href="#">National Carriers</a>
	</div>
	<div class="secondary-menu-item-1" id="method-19">
		<a href="#">Tonnage</a>
	</div>
	<div class="secondary-menu-item-1" id="method-20">
		<a href="#">Resistance and Price of Slaves</a>
	</div>
	<div class="secondary-menu-item-1" id="method-21">
		<a href="#">Appendix</a>
	</div>
	<div class="secondary-menu-item-1" id="method-22">
		<a href="#">Notes</a>
	</div>
</div>
<div class="secondary-menu-item-0">
	<a href="variables.html">Variable List</a>
</div>
<div class="secondary-menu-item-0">
	<a href="sources.html?type=documentary">Sources</a>
</div>
<div class="secondary-menu-subitems-0">
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=documentary">Documentary Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=newspapers">Newspapers</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=published">Published Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=unpublished">Unpublished Secondary Sources</a>
	</div>
	<div class="secondary-menu-item-1">
		<a href="sources.html?type=private">Private Notes and Collections</a>
	</div>
</div>