{% load i18n %}
<h2>{% trans "Voyage Outcomes" %}</h2>

<p>
	{% blocktrans %}Obviously, not all slave ships made it to the Americas, or even to Africa. Fortunately the data set is quite rich in
	information on the outcome of voyages. The data set allows for 177 different voyage outcomes. As with the geographical
	variables, some regrouping is required to make these more manageable. The first regrouping, “Outcome of voyage for slaves”
	(FATE2), takes the standpoint of the Africans on board, and asks where the ship disembarked its slaves. The majority were
	disembarked in the Americas, but about 12 percent in the present sample died during the voyage. In addition, some who left
	African ports actually disembarked in another part of Africa or on the island of St. Helena (about two percent of all slaves
	recorded). Most of this latter group were captured by British naval cruisers in the nineteenth century, though a very few,
	in the previous century, ended up in Europe. A second regrouping, “Outcome of voyage if ship captured” (FATE3), is concerned
	with the fate of the ship and who might have interfered with its voyage. Slaves rebelled, shore-based Africans or pirates
	attacked ships, and one European power would often try to seize ships flying the flag of other powers, especially in wartime.
	Finally, a third regrouping, “Outcome of voyage for owner” (FATE4), takes the standpoint of the owners, and groups voyages on
	the basis of whether the ships reached the Americas, and if not, whether it was human agency or natural hazard that was
	responsible.  As indicated, each of these three regroupings is represented by a different variable.{% endblocktrans %}
</p>