{% load i18n %}
<div class="page-title-2">{% trans "Age categories" %}</div>

<p>
	{% blocktrans %}Age categories must also be used with care.(6) The expanded version of the Voyages Database includes four variables
	distinguishing the number of captives by age and gender: adult males ("men"), adult females ("women"), male children ("boys"),
	and female children ("girls");  three variables classifying slaves by age, without specifying gender: “adults,” “children,”
	and “infants” (reported often as "infants at the breast"),; and two variables classifying them by gender, but not by age: “males”
	and “females.”  These data variables replicate how slaves were categorized in primary sources.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Age and sex definitions changed over time and among carriers. Arrivals in the early Iberian Americas were assigned
	a ratio of what a prime male slave would cost—the latter being termed a pieça da Indes. A child would receive a rating
	of half a <i>pieça</i>, a woman 0.8, and so on. It has not proved possible to infer age and gender breakdowns from aggregated <i>pieças</i>. In the 1660–1730 period, the London-based Royal African Company (RAC) defined children as about ten years of
	age or younger. For most of the British and French slave trades, a height (about four feet four inches) and/or age
	(about puberty) criterion distinguished adults from children. In the nineteenth century, captured slave ships of all
	nations, but mainly Spanish and Brazilian, had their human cargoes recorded by a variety of courts, some British, some
	international. There is little doubt that the criterion used to separate out adults was sexual maturity as assessed by
	physical appearance, which for most Africans at this time would probably occur in the mid-teens, but could vary according
	to the diet prevalent in the areas from which Africans were drawn as well as according to the eye of the purchasers.
	Yet another categorization emerges from Cuban slave trade data (1790–1820) taken from the Seville archives, which
	adds "men-boys" and "women-girls" to the previous categories. These we included among men and women, respectively.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}All these measurements are of course imprecise, with even a clear age definition of "ten years and younger" hinging
	on casual inspection by Europeans, because many African cultures did not attach importance to knowledge of exact ages.
	In nineteenth-century court records, different officials often recorded slightly different distributions of the same
	group of slaves. However, in documents with information on height of slaves, classification as an adult is there is
	correlated with height (specifically the teenage growth spurt) and sexual maturity.  Thus the RAC’s definition of
	children as under the age of ten less excluded individuals that other definitions would have included as children
	As the RAC records form the bulk of the age and gender information for 1660–1710, the share of children for this
	period is biased downward.{% endblocktrans %}
</p>
