{% extends "voyage/voyagebase.html" %}
{% load sass_tags %}

<!-- Basic template for pages in the Voyage section -->
{% load i18n %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/search-ui.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/library/select2.min.scss' %}" rel="stylesheet" type="text/css" />


{% endblock %}
{% block title %}{% trans 'Search The Voyages Database' %}{% endblock %}

{% block jslist %}
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/qtip/jquery.qtip.min.js"></script>
<script src="{{ STATIC_URL }}scripts/voyage/voyage-search.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/menu-aim.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/select2.min.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}scripts/new-ui/menu-aim.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/new-ui/form-data.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
{% verbatim %}
<div id="search-bar">
<!-- SearchNav -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<div class="nav-container">
		<!-- <a href="/" class="navbar-brand">Search</a> -->
		<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#searchNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="searchNav">
			<ul class="navbar-nav ">
				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ship, Nation, Owner</a>
					<div class="">
						<ul class="dropdown-menu search-menu" id="shipNationOwner" role="menu">
								<li class="dropdown-item dropdown-item-li" data-submenu-id="vin">
									Voyage Identification Number
									<div id="vin" class="search-submenu popover">
											<h3 class="popover-title">Voyage Identification Number</h3>
											<div class="popover-content">

												<div class="form-group">
													<label for="form-vin">Voyage Identification Number</label>
													<input type="number" v-model="searchFilter.vin.current" id="form-vin" class="form-control">
												 </div>

												 <form-value-component tag-id="form-vin-2" form-label="Voyage Identification Number 2" v-model="searchFilter.vin.current" >formform</form-value-component>

												 <div class="form-group">
 													<p>VIN current is: <code>{{ searchFilter.vin.current }}</code></p>
													<p>VIN default is: <code>{{ searchFilter.vin.default }}</code></p>
													<p>VIN hasChanged is: <code>{{ searchFilter.vin.hasChanged }}</code></p>
 												 </div>

												 <button v-on:click="vinApply" v-bind:disabled="!searchFilter.vin.hasChanged" class="btn btn-primary btn-sm">Apply</button>
												 <button v-on:click="vinReset" v-bind:disabled="!searchFilter.vin.hasChanged" class="btn btn-outline-primary btn-sm">Reset</button>

											</div>
									</div>
								</li>

								<li class="dropdown-item dropdown-item-li" data-submenu-id="cdrom">
										Voyage in 1999 CD-ROM
										<div id="cdrom" class="search-submenu popover">
												<h3 class="popover-title">Voyage in 1999 CD-ROM</h3>
												<div class="popover-content">

													<div class="form-group">
  													<label for="form-cdrom">Voyage in 1999 CD-ROM</label>
														<form-checkbox tag-id="form-cdrom" form-label="Voyage in 1999 CD-ROM" v-model="searchFilter.cdrom.current"></form-checkbox>
  												 </div>

													 <div class="form-group">
															<p>cdrom current is: <code>{{ searchFilter.cdrom.current }}</code></p>
															 <p>cdrom default is: <code>{{ searchFilter.cdrom.default }}</code></p>
															 <p>cdrom hasChanged is: <code>{{ searchFilter.cdrom.hasChanged }}</code></p>
														</div>

												</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li" data-submenu-id="vessel">
										Vessel Name and Owners
										<div id="vessel" class="search-submenu popover">
												<h3 class="popover-title">Vessel Name and Owner</h3>
													<div class="form-group">
														<label for="form-vessel-name">Vessel Name</label>
														<input type="text" v-model="searchFilter.vesselName.current" id="form-vessel-name" class="form-control">
													</div>

												 <div class="form-group">
 													<label for="form-vessel-owner">Vessel Owner</label>
 													<input type="text" v-model="searchFilter.vesselOwner.current" id="form-vessel-owner" class="form-control">
 												 </div>

												 <div class="form-group">
													 <p>vesselName current is: <code>{{ searchFilter.vesselName.current }}</code></p>
 													<p>vesselName default is: <code>{{ searchFilter.vesselName.default }}</code></p>
 													<p>vesselOwner current is: <code>{{ searchFilter.vesselOwner.current }}</code></p>
													<p>vesselOwner default is: <code>{{ searchFilter.vesselOwner.default }}</code></p>
													<p>vessel hasChanged is: <code>{{ searchFilter.vessel.hasChanged }}</code></p>
 												 </div>

												 <button v-bind:disabled="!searchFilter.vessel.hasChanged" v-on:click="vesselApply" v-bind:disabled="!searchFilter.vessel.hasChanged" class="btn btn-primary btn-sm">Apply</button>
												 <button v-bind:disabled="!searchFilter.vessel.hasChanged" v-on:click="vesselReset" v-bind:disabled="!searchFilter.vessel.hasChanged" class="btn btn-outline-primary btn-sm">Reset</button>

										</div>
								</li>

								<li v-if="isAdvanced" class="dropdown-item dropdown-item-li" data-submenu-id="flag">
										Flag
										<div id="flag" class="search-submenu popover">
												<h3 class="popover-title">Flag</h3>
												<div class="popover-content">
													<div class="form-group">
														<label for="form-flag">Flag</label>
														<form-select2-multiple tag-id="form-flag" tag-name="countries[]" v-bind:data="searchFilter.flag.data"></form-select2-multiple>
													</div>

													<div class="form-group">
														<label for="form-flag-imputed">Flag Imputed</label>
														<form-select2-multiple tag-id="form-flag-imputed" tag-name="countries[]" v-bind:data="searchFilter.flagImputed.data"></form-select2-multiple>
													</div>

												</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li" data-submenu-id="construction">
										Construction and Registration
										<div id="construction" class="search-submenu popover">
												<h3 class="popover-title">Construction and Registration</h3>
												<div class="popover-content">Image</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li" data-submenu-id="rig">
										Rig
										<div id="rig" class="search-submenu popover">
												<h3 class="popover-title">Rig</h3>
												<div class="popover-content">
													<div class="form-group">
														<label for="form-rig">Rig</label>
														<form-select2-multiple tag-id="form-rig" tag-name="rigs[]" v-bind:data="searchFilter.rig.data"></form-select2-multiple>
													</div>
												</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li" data-submenu-id="gun">
										Tonnage and Guns Mounted
										<div id="gun" class="search-submenu popover">
												<h3 class="popover-title">Tonnage and Guns Mounted</h3>
												<div class="popover-content">Image</div>
										</div>
								</li>

							</ul>
					</div>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Source
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Menu Item</a>
					</div>
				</li>

			</ul>

			<ul class="navbar-nav ml-auto ">
				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Cog
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div>
							<input type="checkbox" id="checkbox" v-model="isAdvanced">
							<label for="checkbox">{{ isAdvanced }}</label>
						</div>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Menu Item</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						?
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#">English</a>
						<a class="dropdown-item" href="#">Português</a>
					</div>
				</li>

			</ul>
		</div>
	</div>
</nav><!-- End of SearchNav -->



<div class="container-new">
	<div class="row row-offcanvas row-offcanvas-right">

		<div class="col-md-12 col-lg-12 col-xs-12">
		<!-- <div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
      <div class="sidebar-title-1"> sidebar </div>
    </div>
		<div class="col-md-8 col-xs-12 col-lg-9 ">
			<p class="hidden-md">
        <button type="button" class="btn btn-trans btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
            <span>Toggle Sidebar</span>
          </div>
        </button>
      </p> -->

			<!-- CurrentQuery -->
				<code>{{searchQuery}}</code>

			<!-- End of CurrentQuery -->

			<!-- Tabs -->
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link active" href="#" data-toggle="tab" data-target="#results">Results</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#" data-toggle="tab" data-target="#stats">Summary Statistics</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Tables</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Custom Graphs</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Timeline</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Maps</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Animation</a>
			  </li>

			  <li class="nav-item">
			    <a class="nav-link disabled" href="#">Disabled</a>
			  </li>
			</ul><!-- End of Tabs -->



			<!-- TabContainers -->
			<div id="tabsJustifiedContent" class="tab-content">
          <div id="results" class="tab-pane fade active show">
              Results
							<br/>
							<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
							<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          </div>
          <div id="stats" class="tab-pane fade">
              Stats
          </div>
          <div id="messages1" class="tab-pane fade">
              Something else
          </div>
      </div>
			<!-- End of TabContainers -->
		</div>

	</div>
</div>



</div>


<style>
.popover {
	display: none;
}

</style>



<script>

// value component
Vue.component("form-value-component", {
	props: ["tagId", "formLabel", "value"],
	template: `
	<div class="form-group">
		<label :for="tagId">{{formLabel}}</label>
		<input type="number" :id="tagId" v-bind:value="value" @input="updateValue($event.target.value)" class="form-control" >
	</div>`,
	methods: {
		updateValue: function (value) {
      this.$emit('input', value)
    }
	}
});

// select2 multiple component
Vue.component("form-select2-multiple", {
	props: {
		tagId: String,
		tagName: String,
		data: Array
	},
	template: `<select :id="tagId" :name="tagName" multiple="multiple"></select>`,
	mounted: function() {
    $(this.$el).select2({
			 width: '100%',
			 data: this.data
		});
  }
});

Vue.component("form-checkbox", {
	props: {
		checked: Boolean,
		formLabel: String,
		tagId: String
	},

	template: `
		<div class="form-check">
			<label class="form-check-label">
				<input class="form-check-input" :tag-id="tagId" type="checkbox" :checked="checked" @change="$emit('input', $event.target.checked)">
				{{formLabel}} ha {{checked}}
			</label>
		</div>`,

	mounted: function(){

	},
	methods: {
		updateValue: function (value) {
      this.$emit('input', value)
    }
	}
});




		// main app
		var searchBar = new Vue({
			el: "#search-bar",
			delimiters: ['{{', '}}'],
			data: {
				text: "text",
				isAdvanced: true,
				searchFilter: {
					vin: {
						default: "",
						current: "",
						hasChanged: false,
					},
					vesselName: {
						default: "",
						current: "",
						hasChanged: false,
					},
					vesselOwner: {
						default: "",
						current: "",
						hasChanged: false,
					},
					vessel: {
						hasChanged: false,
					},
					flag: {
						default: "",
						current: "",
						data: flagData,
						hasChanged: false,
					},
					flagImputed: {
						default: "",
						current: "",
						data: flagImputedData,
						hasChanged: false,
					},
					rig: {
						default: "",
						current: "",
						data: rigData,
						hasChanged: false,
					},
					cdrom: {
						default: false,
						current: false,
						hasChanged: false,
					}
				},
				searchQuery: {
					vin: {
						value: null
					},
					vesselName: {
						value: null
					},
					vesselOwner: {
						value: null
					},
					flag: {
						value: null
					},
					flagImputed: {
						value: null
					}
				}
			},
			watch: {
					isAdvanced: function(val){
						$menu.menuAim({
								activate: activateSubmenu,
								deactivate: deactivateSubmenu
						});
					},
					searchFilter: {
						handler: function(val){
							// voyage identification number
							val.vin.hasChanged = val.vin.default !== val.vin.current

							// vessel name
							val.vesselName.hasChanged = val.vesselName.default !== val.vesselName.current

							// vessel owner
							val.vesselOwner.hasChanged = val.vesselOwner.default !== val.vesselOwner.current

							// vessel
							val.vessel.hasChanged = val.vesselName.hasChanged || val.vesselOwner.hasChanged

							// flag
							val.flag.hasChanged = val.flag.default !== val.flag.current

							// flagImputed
							val.flagImputed.hasChanged = val.flagImputed.default !== val.flagImputed.current

						},
						deep: true,
				},
			},

			methods: {
				vinApply: function(val){
					this.searchQuery.vin.value = this.searchFilter.vin.current;
				},
				vinReset: function(val){
					this.searchFilter.vin.current = this.searchFilter.vin.default;
					this.searchQuery.vin.value = this.searchFilter.vin.default;
				},
				vesselApply: function(val){
					this.searchQuery.vesselName.value = this.searchFilter.vesselName.current;
					this.searchQuery.vesselOwner.value = this.searchFilter.vesselOwner.current;
				},
				vesselReset: function(val){
					this.searchFilter.vesselName.current = this.searchFilter.vesselName.default;
					this.searchFilter.vesselOwner.current = this.searchFilter.vesselOwner.default;
					this.searchQuery.vesselName.value = this.searchFilter.vesselName.default;
					this.searchQuery.vesselOwner.value = this.searchFilter.vesselOwner.default;
				}
			}

		})













</script>

{% endverbatim %}
{% endblock %}
