{% extends "voyage/voyagebase.html" %}
{% load sass_tags %}

<!-- Basic template for pages in the Voyage section -->
{% load i18n %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/search-ui.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/library/select2.min.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/v-component.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans-search.scss' %}" rel="stylesheet" type="text/css" />

<!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/> -->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/select2@4.0.3/dist/css/select2.min.css"/>
{% endblock %}

{% block title %}{% trans 'Search The Voyages Database' %}{% endblock %}

{% block content %}
<style>
	.popover {
		display: none;
	}
</style>

{% verbatim %}
<div id="search-bar">
<!-- SearchNav -->
<div style="color: white; background: #0c9ab1 !important; padding: .5rem 4rem 0; font-size: 1.25rem; font-weight:bold;">Trans-Atlantic Slave Trade Database</div>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark trans-search-bar">

	<div class="nav-container">
		<!-- <a href="/" class="navbar-brand">Search</a> -->
		<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#searchNav">
			<span class="navbar-toggler-icon"></span>
		</button>





		<div class="navbar-collapse collapse" id="searchNav">


			<ul class="navbar-nav ">


				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{searchFilter.yearRange.value.searchTerm[0]}} - {{searchFilter.yearRange.value.searchTerm[1]}}</a>
					<div class="">
						<ul class="dropdown-menu search-menu" id="range" role="menu">
								<li class="dropdown-item dropdown-item-li search-dropdown-item">
									<div class="popover-content">

										<v-panel-header title="Year Range" description="The year range of your search query" count="0"></v-panel-header>

										<v-input @change="changed"
					            title="Year Range"
					            description="The year range of your search query. The full extent of time from the first to the last voyage is 1514-1866 (restore it)."
					            var-name="imp_arrival_at_port_of_dis"
					            search-term-caption="Enter a value"
											:filter="searchFilter.yearRange">
					          </v-input>

										<!-- <form-value-component tag-id="form-year-range-from" form-label="Year from" v-model="searchFilter.yearRange.current.searchTerm[0]" ></form-value-component>
										<form-value-component tag-id="form-year-range-to" form-label="Year to" v-model="searchFilter.yearRange.current.searchTerm[1]" ></form-value-component>

										<div class="form-group">
										 <p>Year from is: <code>{{ searchFilter.yearRange.current.searchTerm[0] }}</code></p>
										 <p>Year to is: <code>{{ searchFilter.yearRange.current.searchTerm[1] }}</code></p>
										 <p>YearRange hasChanged is: <code>{{ searchFilter.yearRange.hasChanged }}</code></p>
										</div>

										<button v-on:click="vinApply" v-bind:disabled="!searchFilter.yearRange.hasChanged" class="btn btn-primary btn-sm">Apply</button>
										<button v-on:click="vinReset" v-bind:disabled="!searchFilter.yearRange.hasChanged" class="btn btn-outline-primary btn-sm">Reset</button> -->

									</div>
								</li>
							</ul>
					</div>
				</li>

				<li class="nav-item dropdown">
					<v-menu-title :count="total" title="Ship, Nation, Owner"></v-menu-title>

					<div class="">
						<ul class="dropdown-menu search-menu" id="shipNationOwner" role="menu">

							<v-panel @announced="announce" title="Voyages and Vessels" is-advanced="false" @applied="changed">
								<div slot="v-panel-header">
									<v-panel-header title="Voyages and Vessels" description="Parameters about voyages and vessels" count="0"></v-panel-header>
								</div>

								<div slot="v-panel-content">
									<v-input @change="changed"
										title="Voyage Identification Number"
										description="Each voyage in the database has a unique identification number. This could be a range."
										var-name="imp_arrival_at_port_of_dis"
										search-term-caption=""
										:filter="searchFilter.vin"
										:is-numeric=true>
									</v-input>

									<v-input @change="changed"
										title="Vessel Names"
										description="The name of the vessels. This could be a partial keyword."
										var-name="imp_arrival_at_port_of_dis"
										search-term-caption=""
										:filter="searchFilter.vin"
										:is-numeric=false>
									</v-input>

									<v-input @change="changed"
										title="Vessel Owners"
										description="The name of the vessel owners. This could be a partial keyword."
										var-name="imp_arrival_at_port_of_dis"
										search-term-caption=""
										:filter="searchFilter.vin"
										:is-numeric=false>
									</v-input>

<!--
									<div class="form-group">
										<label for="form-vin">Voyage Identification Number</label>
										<input type="number" v-model="searchFilter.vin.current.searchTerm[0]" id="form-vin" class="form-control">
									 </div>

									 <form-value-component tag-id="form-vin-2" form-label="Voyage Identification Number 2" v-model="searchFilter.vin.current.searchTerm[0]" >formform</form-value-component>

									 <div class="form-group">
										<p>VIN current is: <code>{{ searchFilter.vin.current }}</code></p>
										<p>VIN default is: <code>{{ searchFilter.vin.default }}</code></p>
										<p>VIN hasChanged is: <code>{{ searchFilter.vin.hasChanged }}</code></p>
									 </div>

									 <button v-on:click="vinApply" v-bind:disabled="!searchFilter.vin.hasChanged" class="btn btn-primary btn-sm">Apply</button>
									 <button v-on:click="vinReset" v-bind:disabled="!searchFilter.vin.hasChanged" class="btn btn-outline-primary btn-sm">Reset</button>
-->
								</div>
							</v-panel>

								<v-panel @announced="announce"  title="Flag" is-advanced="false" @applied="changed">
									<div slot="v-panel-header">
										<v-panel-header title="Flag" description="Parameters about Flag" count="0"></v-panel-header>
									</div>

									<div slot="v-panel-content">
										<!-- <v-input @change="changed"
											title="Flag"
											description="The flag of a ship. This could be a partial "
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption="Enter an flag's name"
											:filter="searchFilter.yearRange">
										</v-input> -->

										<v-select3
											title="Flag"
											:filter="searchFilter.flag.data"
											description="The flag of a ship. Choose from the following."
											var-name="imp_arrival_at_port_of_dis"
											:is-imputed=false
											:is-advanced=true>
										</v-select3>

										<v-select3
											title="Flag Imputed"
											:filter="searchFilter.flag.data"
											description="The flag of a ship. Choose from the following."
											var-name="imp_arrival_at_port_of_dis"
											:is-imputed=true
											:is-advanced=false>
										</v-select3>

										<!-- <div class="form-group">
											<label for="form-flag">Flag</label>
											<v-select3
												title="Flag"
												:filter="searchFilter.flag.data"
												description="The flag of a ship. Choose from the following."
												var-name="imp_arrival_at_port_of_dis">
											</v-select3>

											<form-select2-multiple tag-id="form-flag" tag-name="countries[]" v-bind:data="searchFilter.flag.data"></form-select2-multiple>
										</div> -->

										<!-- <div class="form-group">
											<label for="form-flag-imputed">Flag Imputed</label>
											<form-select2-multiple tag-id="form-flag-imputed" tag-name="countries[]" v-bind:data="searchFilter.flagImputed.data"></form-select2-multiple>
										</div> -->
									</div>
								</v-panel>

								<v-panel @announced="announce" title="Construction and Registration" is-advanced="false">
									<div slot="v-panel-header">
										<v-panel-header title="Construction and Registration" description="Parameters about Construction and Registration" :count="count"></v-panel-header>
									</div>

									<div slot="v-panel-content">
										<v-input @change="changed"
											title="Year Constructed"
											description="Enter the year when the ships were constructed. This could be a range."
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption=" "
											:filter="searchFilter.vin"
											:is-numeric=true>
										</v-input>

										<v-input @change="changed"
											title="Place Constructed"
											description="Enter the place where the ships were constructed. This could be a partial keyword."
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption=""
											:filter="searchFilter.vin"
											:is-numeric=false>
										</v-input>

										<v-input @change="changed"
											title="Year Registered"
											description="Enter the year when the ships were registered. This could be a range."
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption=""
											:filter="searchFilter.vin"
											:is-numeric=true>
										</v-input>

										<v-input @change="changed"
											title="Place Registered"
											description="Enter the place where the ships were registered. This could be a partial keyword."
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption=""
											:filter="searchFilter.vin">
										</v-input>
									</div>
								</v-panel>

								<v-panel @announced="announce" title="Rig, Tonnage, and Guns Mounted" is-advanced="false">
									<div slot="v-panel-header">
										<v-panel-header title="Rig, Tonnage, and Guns Mounted" description="Parameters about Rig, Tonnage, and Guns Mounted" count="0"></v-panel-header>
									</div>

									<div slot="v-panel-content">
										<v-input @change="changed"
											title="Rig"
											description="The rig of the ship. Choose from the following."
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption=""
											:filter="searchFilter.vin">
										</v-input>

										<v-input @change="changed"
											title="Tonnage"
											description="The tonnage of the ships. This could be a range."
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption=""
											:filter="searchFilter.vin"
											:is-numeric=true>
										</v-input>

										<v-input @change="changed"
											title="Standardized Tonnage"
											description="This is the standardized tonnage calculated by the algorithms. This could be a range."
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption=""
											:filter="searchFilter.vin"
											:is-imputed=true
											:is-advanced=true>
										</v-input>

										<v-input @change="changed"
											title="Guns Mounted"
											description="This is the guns mounted on the ship. This could be a range."
											var-name="imp_arrival_at_port_of_dis"
											search-term-caption=""
											:filter="searchFilter.vin"
											:is-numeric=true>
										</v-input>
									</div>
								</v-panel>

								<!-- <li v-if="isAdvanced" class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="rig-tonnage-guns">
										<div class="dropdown-menu-title">Rig, Tonnage, and Guns Mounted</div>
										<div id="rig-tonnage-guns" class="search-submenu popover">
												<div class="popover-content">

													<v-panel-header title="Rig, Tonnage, and Guns Mounted" description="Parameters about Rig, Tonnage, and Guns Mounted" count="0"></v-panel-header>

													<v-input @change="changed"
														title="Rig"
														description=""
														var-name="imp_arrival_at_port_of_dis"
														search-term-caption="Enter an flag's name"
														:filter="searchFilter.yearRange">
													</v-input>

													<v-input @change="changed"
														title="Tonnage"
														description=""
														var-name="imp_arrival_at_port_of_dis"
														search-term-caption="Enter an flag's name"
														:filter="searchFilter.yearRange">
													</v-input>

													<v-input @change="changed"
														title="Standardized Tonnage"
														description=""
														var-name="imp_arrival_at_port_of_dis"
														search-term-caption="Enter an flag's name"
														:filter="searchFilter.yearRange">
													</v-input>

													<v-input @change="changed"
														title="Guns Mounted"
														description=""
														var-name="imp_arrival_at_port_of_dis"
														search-term-caption="Enter an flag's name"
														:filter="searchFilter.yearRange">
													</v-input>


												</div>
										</div>
								</li> -->

<!--
								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="cdrom">
										Voyage in 1999 CD-ROM
										<div id="cdrom" class="search-submenu popover">
												<h3 class="popover-title">Voyage in 1999 CD-ROM</h3>
												<div class="popover-content">

													<div class="form-group">
  													<label for="form-cdrom">Voyage in 1999 CD-ROM</label>
														<form-checkbox tag-id="form-cdrom" form-label="Voyage in 1999 CD-ROM" v-model="searchFilter.cdrom.current"></form-checkbox>
  												 </div>

													 <div class="form-group">
															<p>cdrom current is: <code>{{ searchFilter.cdrom.current }}</code></p>
															 <p>cdrom default is: <code>{{ searchFilter.cdrom.default }}</code></p>
															 <p>cdrom hasChanged is: <code>{{ searchFilter.cdrom.hasChanged }}</code></p>
														</div>

												</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="vessel">
										Vessel Name and Owners
										<div id="vessel" class="search-submenu popover">
												<h3 class="popover-title">Vessel Name and Owner</h3>
												<form-value-component tag-id="form-vessel-name" form-label="Vessel Name" v-model="searchFilter.vesselName.current"></form-value-component>
												<form-value-component tag-id="form-vessel-owner" form-label="Vessel Owner" v-model="searchFilter.vesselOwner.current"></form-value-component>

												 <div class="form-group">
													<p>vesselName current is: <code>{{ searchFilter.vesselName.current }}</code></p>
 													<p>vesselName default is: <code>{{ searchFilter.vesselName.default }}</code></p>
 													<p>vesselOwner current is: <code>{{ searchFilter.vesselOwner.current }}</code></p>
													<p>vesselOwner default is: <code>{{ searchFilter.vesselOwner.default }}</code></p>
													<p>vessel hasChanged is: <code>{{ searchFilter.vessel.hasChanged }}</code></p>
 												 </div>

												 <button v-bind:disabled="!searchFilter.vessel.hasChanged" v-on:click="vesselApply" v-bind:disabled="!searchFilter.vessel.hasChanged" class="btn btn-primary btn-sm">Apply</button>
												 <button v-bind:disabled="!searchFilter.vessel.hasChanged" v-on:click="vesselReset" v-bind:disabled="!searchFilter.vessel.hasChanged" class="btn btn-outline-primary btn-sm">Reset</button>

										</div>
								</li>



								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="construction">
										Construction and Registration
										<div id="construction" class="search-submenu popover">
												<h3 class="popover-title">Construction and Registration</h3>
												<div class="popover-content">
													<form-value-component tag-id="form-year-construction" form-label="Year of Construction" v-model="searchFilter.yearConstruction.current"></form-value-component>
													<form-value-component tag-id="form-year-registration" form-label="Year of Registration" v-model="searchFilter.yearRegistration.current"></form-value-component>
												</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="rig">
										Rig
										<div id="rig" class="search-submenu popover">
												<h3 class="popover-title">Rig</h3>
												<div class="popover-content">
													<div class="form-group">
														<label for="form-rig">Rig</label>
														<form-select2-multiple tag-id="form-rig" tag-name="rigs[]" v-bind:data="searchFilter.rig.data"></form-select2-multiple>
													</div>
												</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="gun">
										Tonnage and Guns Mounted
										<div id="gun" class="search-submenu popover">
												<h3 class="popover-title">Tonnage and Guns Mounted</h3>
												<div class="popover-content">
													<form-value-component tag-id="form-tonnage" form-label="Tonnage" v-model="searchFilter.tonnage.current"></form-value-component>
													<form-value-component tag-id="form-standardized-tonnage" form-label="Standardized Tonnage" v-model="searchFilter.standardizedTonnage.current"></form-value-component>
													<form-value-component tag-id="form-guns" form-label="Guns Mounted" v-model="searchFilter.guns.current"></form-value-component>

												</div>
										</div>
								</li> -->

							</ul>
					</div>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Outcome</a>
					<div class="">
						<ul class="dropdown-menu search-menu" id="outcome-menu" role="menu">
								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="outcome">
									Particular Outcome of Voyage
									<div id="outcome" class="search-submenu popover">
											<h3 class="popover-title">Particular Outcome of Voyage</h3>
											<div class="popover-content">

												<div class="form-group">
													<label for="form-flag">Particular Outcome of Voyage</label>
													<!-- <form-select2-multiple tag-id="form-outcome-of-voyage" tag-name="countries[]" v-bind:data="searchFilter.flag.data"></form-select2-multiple> -->
												</div>

												 <button v-on:click="vinApply" v-bind:disabled="!searchFilter.vin.hasChanged" class="btn btn-primary btn-sm">Apply</button>
												 <button v-on:click="vinReset" v-bind:disabled="!searchFilter.vin.hasChanged" class="btn btn-outline-primary btn-sm">Reset</button>

											</div>
									</div>
								</li>

								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="outcome-for-slaves">
										<div class="dropdown-menu-title">Outcome of Voyage for Slaves</div>
										<div id="outcome-for-slaves" class="search-submenu popover">
												<h3 class="popover-title">Outcome of Voyage for Slaves</h3>
												<div class="popover-content">



													 <div class="form-group">
															<p>slaves current is: <code>{{ searchFilter.cdrom.current }}</code></p>
															 <p>slaves default is: <code>{{ searchFilter.cdrom.default }}</code></p>
															 <p>slaves hasChanged is: <code>{{ searchFilter.cdrom.hasChanged }}</code></p>
														</div>

												</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="outcome-if-captured">
										Outcome of Voyage if Ship Captured
										<div id="outcome-if-captured" class="search-submenu popover">
												<h3 class="popover-title">Outcome of Voyage if Ship Captured</h3>

												<div class="form-group">
												 <label for="form-flag">Outcome of Voyage if Captured</label>
												 <!-- <form-select2-multiple tag-id="form-outcome-of-voyage-if-captured" tag-name="countries[]" v-bind:data="searchFilter.flag.data"></form-select2-multiple> -->
											 </div>

												 <button v-bind:disabled="!searchFilter.vessel.hasChanged" v-on:click="vesselApply" v-bind:disabled="!searchFilter.vessel.hasChanged" class="btn btn-primary btn-sm">Apply</button>
												 <button v-bind:disabled="!searchFilter.vessel.hasChanged" v-on:click="vesselReset" v-bind:disabled="!searchFilter.vessel.hasChanged" class="btn btn-outline-primary btn-sm">Reset</button>

										</div>
								</li>

								<li v-if="isAdvanced" class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="outcome-for-owner">
										Outcome of Voyage for Owner
										<div id="outcome-for-owner" class="search-submenu popover">
												<h3 class="popover-title">Outcome of Voyage for Owner</h3>
												<div class="popover-content">
													<div class="form-group">
													 <label for="form-flag">Outcome of Voyage for Owner</label>
													 <!-- <form-select2-multiple tag-id="form-outcome-of-voyage-for-owner" tag-name="countries[]" v-bind:data="searchFilter.flag.data"></form-select2-multiple> -->
												 </div>
												</div>
										</div>
								</li>

								<li class="dropdown-item dropdown-item-li search-dropdown-item" data-submenu-id="outcome-african-resistance">
										African Resistance
										<div id="outcome-african-resistance" class="search-submenu popover">
												<h3 class="popover-title">African Resistance</h3>
												<div class="popover-content">
													<!-- <form-value-component tag-id="form-year-construction" form-label="Year of Construction" v-model="searchFilter.yearConstruction.current"></form-value-component>
													<form-value-component tag-id="form-year-registration" form-label="Year of Registration" v-model="searchFilter.yearRegistration.current"></form-value-component> -->
												</div>
										</div>
								</li>

							</ul>
					</div>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Itinerary
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Menu Item</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Captain and Crew
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Menu Item</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Slave
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Menu Item</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						Source
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Menu Item</a>
					</div>
				</li>

			</ul>

			<ul class="navbar-nav ml-auto ">

				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-angle-double-down" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div>
							<input type="checkbox" id="checkbox" v-model="isAdvanced">
							<label for="checkbox">{{ isAdvanced }}</label>
						</div>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Menu Item</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div>
							<input type="checkbox" id="checkbox" v-model="isAdvanced">
							<label for="checkbox">{{ isAdvanced }}</label>
						</div>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<a class="dropdown-item" href="">Menu Item</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Menu Item</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#">English</a>
						<a class="dropdown-item" href="#">Português</a>
					</div>
				</li>

			</ul>
		</div>
	</div>
</nav><!-- End of SearchNav -->



<div class="trans-container">
	<div class="row row-offcanvas row-offcanvas-right">

		<div class="col-md-12 col-lg-12 col-xs-12">
		<!-- <div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
      <div class="sidebar-title-1"> sidebar </div>
    </div>
		<div class="col-md-8 col-xs-12 col-lg-9 ">
			<p class="hidden-md">
        <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
            <span>Toggle Sidebar</span>
          </div>
        </button>
      </p> -->

			<!-- <div class="v-database-title">Trans-Atlantic Slave Trade Database Search</div>
			<div class="v-database-description">These are the results based on your search query. You can view your results in multiple ways that are organized in tabular forms below.</div> -->

			<!-- CurrentQuery -->
				<!-- <code>{{searchQuery}}</code> -->

			<!-- End of CurrentQuery -->

			<!-- Tabs -->
			<ul class="nav nav-tabs trans-tab">
			  <li class="nav-item">
			    <a class="nav-link active" href="#" data-toggle="tab" data-target="#results">Results</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#" data-toggle="tab" data-target="#stats">Summary Statistics</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Tables</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Custom Graphs</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Timeline</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Maps</a>
			  </li>
				<li class="nav-item">
			    <a class="nav-link" href="#">Animation</a>
			  </li>

			  <li class="nav-item">
			    <a class="nav-link disabled" href="#">Disabled</a>
			  </li>
			</ul><!-- End of Tabs -->




			<!-- TabContainers -->
			<div id="tabsJustifiedContent" class="tab-content">
          <div id="results" class="tab-pane fade active show">


							<table id="results_main_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
				            <tr>
				                <th>Voyage identification number</th>
				                <th>Vessel name</th>
				                <th>Capitain's name</th>
				                <th>Year arrived with slaves*</th>
				                <th>Principal region of slave purchase*</th>
				                <th>Principal region of slave landing*</th>
				                <th>Place where voyage began*</th>
				                <th>Total slaves embarked*</th>
				                <th>Outcome of voyage if ship captured*</th>
				                <th>Sources</th>
				                <!-- <th>I-Am</th> -->
				            </tr>
				        </thead>
								<tbody>
								</tbody>
							</table>
          </div>
          <div id="stats" class="tab-pane fade">
              Stats
          </div>
          <div id="messages1" class="tab-pane fade">
              Something else
          </div>
      </div>
			<!-- End of TabContainers -->
		</div>

	</div>
</div>



</div>


{% endverbatim %}



{% endblock %}

{% block jslist %}
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="https://unpkg.com/select2@4.0.3/dist/js/select2.js"></script>

<script src="{{ STATIC_URL }}scripts/library/string-utils.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/qtip/jquery.qtip.min.js"></script>
<script src="{{ STATIC_URL }}scripts/voyage/voyage-search.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/menu-aim.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/select2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/selectize.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/search_term.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/dt-search.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}scripts/new-ui/menu-aim.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/new-ui/form-data.js" type="text/javascript"></script>

<!-- vue components -->
<script src="{{ STATIC_URL }}scripts/vue/components/v-menu-title.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/v-textbox.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/v-select.js"></script>
<!-- <script src="{{ STATIC_URL }}scripts/vue/components/v-select2.js"></script> -->
<script src="{{ STATIC_URL }}scripts/vue/components/v-select3.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/v-treeselect.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/v-panel.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/input.js"></script>
<!-- vue components -->

<script src="{{ STATIC_URL }}scripts/vue/search.js" type="text/javascript"></script>

{% endblock %}
