<h1> Construction of the Trans-Atlantic Slave Trade Database: Sources and Methods</h1>

<div class="method-info">
	<span class="method-author"><b>David Eltis</b></span>
	<span class="method-location">(Emory University)</span>, <span class="method-date">2010</span>
</div>

<h2>Dates</h2>

<p>
	Dates of slave voyage sailings and arrivals are useful categories for sorting voyages in the data set. We therefore
	decided to broaden the definition of "departure" dates and we estimated years of arrival in the Americas for select voyages.
	For the non-British slave voyages, dates of departure generally refer to the date the vessels sailed from port, although in
	the records of massive departures from Bahia de Todos os Santos in Brazil, the date of the issue of the license to export
	tobacco (the only data available for hundreds of voyages) is sometimes more than a month different from the date of permission
	to clear port when this source is also available. Similar variance appears in the large British trade. We assumed that the date
	crew entered pay (listed on Bristol or Liverpool muster rolls) was the date of departure (or close to it); and, for many voyages,
	this assumption is confirmed by analysis of other sources. Other "departure" dates included in the new slave trade data set are:
	the date vessels cleared customs; the dates Mediterranean passes were issued; the dates bonds were given; the dates sailors’
	pension monies were lodged; and the dates of vessel registration. These events usually occurred within 1-2 months of departure.
	London slave vessels cleared customs at Gravesend and often sailed from the "Downs," the shallows off the Kent coast. During
	contrary south-westerly winds, departures from the Downs were often delayed for several weeks. We included these dates of sail
	from the Downs as London "departure" dates. A separate variable defines these various "departure" dates. Reports of slave vessel
	arrivals in the Americas generally reached Europe within six to ten weeks. Without other documentary support we assumed the year
	or (in select cases) month of arrival, when the evidence was clear from the timing of gazette listings. Bristol and Liverpool
	muster rolls frequently record the dates the crew deserted ship or were discharged from pay in the Americas. For many voyages
	we assumed that these were arrival dates. When multiple dates were reported in the sources, the editors chose the latest dates
	for departures and the earliest dates for arrivals.<span class="superscript">(7)</span>
</p>

<p>
	One further convention is adopted for vessels captured off Africa without slaves. Some voyages in the data set that were
	captured by pirates or ships of other nations display a date of departure from Africa even though they had no slaves on board.
	In such cases the date of departure from the coast should be read as the date of capture. The great majority of such instances
	occurred in the nineteenth century when British naval vessels captured many empty slave vessels as part of their efforts to suppress
	the slave trade.
</p>

<p>
	The new data set includes variables that report the place and year of construction for most vessels in the British slave
	trade. Merchants often purchased ships from other trades and converted them to slavers. The British slaving fleet also included
	prizes captured from the French, Spanish, Dutch, or Americans during the many wars of the eighteenth century. Shipping sources,
	such as Lloyd’s Registers of Shipping, often do not distinguish whether a vessel was "French-built" or a "French prize." Similarly,
	the year of construction in the documents may refer to the year the vessel was captured, made free or rebuilt. As it is unlikely
	that many British merchants purchased vessels built in France in an open market, the user should assume that a "French-built"
	vessel was likely a war prize. Vessels reported as "French prizes," on the other hand, may not have been built in France. These
	ships could in fact have been built in Britain and subsequently captured and renamed by French merchants.
</p>