{% load i18n %}

{% load humanize %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/database-search-graph.css">

<h1>Timeline</h1>
<div class="database-graph-options">
<table style="border-collapse: collapse;">
<tbody>
<tr>
<td style="padding: 0px 15px 0px 0px;">Display variable</td>
<td style="padding: 0px 5px 0px 0px;">
{% csrf_token %}
    {% for field in timeline_form %}{{ field }}{% endfor %}
</td>
<td style="padding: 0px 5px 0px 0px;">
<input type="submit" value="{% trans 'Show' %}" name="timeline_button" style="margin-bottom: 0px; margin-top: 0px;" onclick="submitWithValue('tab_timeline');">
</td>
</tr>
</tbody>
</table>
</div>

<script type="text/javascript">

$(function () {
    $('#chartdiv').highcharts({
        xAxis: {
            minPadding: 0.05,
            maxPadding: 0.05
        },

        yAxis: {
            title: {
                text: ''
            }
            {% if timeline_chart_settings.suffix %}
            , labels: {
                format: '{value}%'
            }
            {% endif %}
            {% if timeline_chart_settings.min %}
            , min: {{ timeline_chart_settings.min }}
            {% endif %}
            {% if timeline_chart_settings.max %}
            , max: {{ timeline_chart_settings.max }}
            {% endif %}
            {% if timeline_chart_settings.tickInterval %}
            , tickInterval: {{ timeline_chart_settings.tickInterval }}
            {% endif %}
        },

        chart: {
            type: 'column',
            zoomType: 'x',
            resetZoomButton: {
                position: {
                    x: 0,
                    y: -30
                }
            },
            selectionMarkerFill: 'rgba(248, 243, 228, 0.75)'
        },

        series: [{
            data: {{ timeline_data }},
            name: "{{ timeline_chart_settings.name }}"
        }],

        plotOptions: {
                column: {
                    groupPadding: 0.2,
                    borderWidth: 0,
                    color: 'rgba(202, 32, 65, 1)'
                }
        },
        tooltip: {
            crosshairs: {
                color: 'green',
                dashStyle: 'solid'
            },
            shared: true,
            useHTML: true,
            headerFormat: '<small>{point.key}</small><table>',
            pointFormat: '<tr><td>{series.name}: </td>' +
            '<td style="text-align: right"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>'
            {% if timeline_chart_settings.suffix %}, valueSuffix: '{{ timeline_chart_settings.suffix }}'{% endif %}
        },
        title: {
            text: "{{ timeline_chart_settings.name }}"
        }
    });
});

</script>

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}scripts/highcharts.js"></script>


<div id="form:eventLine_db" style="position: relative; width: 870px; height: 550px;">
<div id="chartdiv" style="position: absolute; left: 40px; top: 20px; height: 350px; width: 800px;">



</div>
</div>