{% load i18n %}
{% load voyage_extras %}

<style>
.axis path,
.axis line {
	fill: none;
	stroke: gray;
	stroke-width: 0.35px;
}

.x.axis path {
  display: none;
}
</style>
<div>
  <table style="border-collapse: collapse; width: 100%;"1>
    <tbody>
      <tr>
	<td style="vertical-align: top; padding: 0px 10px 0px 0px; width: 380px;">
	  <div style="margin-bottom: 5px; padding: 2px 10px 2px 5px; background-color: #F2E3B8; font-weight: bold;">{% trans 'Chart setup' %}</div>
	  <table>
	    <tbody>
	      {% for field in graphs_select_form %}
              <tr>
		<td> <b> {{ field.label }}: </b> </td>
		<td> {% for i in field %} {{ i }} {% endfor %} </td>
	      </tr>
	      {% endfor %}
	      <tr>
		<td></td>
		<td>
		  <!-- Show button -->
		  <button type="submit" value="Add Series" onclick="submitWithValue('tab_graphs_lin_add');" name="buttonAddSeries">{% trans 'Add Series' %}</button>
		  <button type="submit" value="Show" onclick="submitWithValue('tab_graphs_lin_show');" name="buttonShow">{% trans 'Show' %}</button>
		</td>
	      </tr>
	    </tbody>
	  </table>
	</td>
	<td style="vertical-align: top;">
	  <div style="padding: 2px 10px 2px 5px; background-color: #F2E3B8; font-weight: bold;">{% trans 'Current series' %}</div>
	  <table>
	    <tbody>
	      {% for field in graph_remove_plots_form %}
	      <tr>
		<td> {{ field }}
		<b> {{ field.label }} </b> </td>
	      </tr>
	      {% endfor %}
	      <tr>
		<td>
			<button type="submit" value="Remove Selected" onclick="submitWithValue('tab_graphs_lin_remove')" name="buttonRemoveSeries">{% trans 'Remove Selected' %}</button>
		</td>
	      </tr>
	    </tbody>
	  </table>
	</td>
      </tr>
    </tbody>
  </table>
  <div>
    <div style="padding: 2px 10px 2px 5px; background-color: #F2E3B8; font-weight: bold; margin-top: 10px;">{% trans 'Graph' %}</div>
	<div id="graphContainer"></div>
	<script src="{{ STATIC_URL }}scripts/library/d3.min.js"></script>
	<script type="text/javascript">
	{% load l10n %}
	{% localize off %}
		var None = 0;
		var series = {
		{% for yid, series in graph_data.items %}
			"{{ yid }}": [
			{% for datum in series %}
				{ x: "{{ datum.0 }}", value: {{ datum.1 }} },
			{% endfor %}
			],
		{% endfor %}
		};
		// Compute ordinal scales.
		var xValues = [];
		var seriesNames = [];
		var maxValue = 0;
		for (var yid in series) {
			seriesNames.push(yid);
			var items = series[yid];
			for (var i = 0; i < items.length; ++i) {
				xValues.push(items[i].x);
				if (items[i].value > maxValue) maxValue = items[i].value;
			}
		}
		xValues = d3.set(xValues).values().map(function(s) { return parseFloat(s); });

		var margin = {top: 90 + 20 * (seriesNames.length - 2), right: 15, bottom: 110, left: 80},
			width = 960 - margin.left - margin.right,
			height = 460 - margin.top - margin.bottom;
		var x = d3.scale.linear()
			.domain([d3.min(xValues), d3.max(xValues)])
			.nice()
			.range([0, width]);
		var y = d3.scale.linear()
		    .domain([0, maxValue * 1.1])
		    .range([height, 0]);
		var color = d3.scale.category10();
		var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom")
    		.tickSize(-height);
		{% if graph_xfun_index == 0 %}
			xAxis = xAxis.tickFormat(function(d, i) { return d.toString(); });
		{% endif %}
		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left")
    		.tickSize(-width);
		var svg = d3.select("#graphContainer")
			.append("svg")
			.attr("width", width + margin.left + margin.right)
			.attr("height", height + margin.top + margin.bottom)
		  	.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + (height + 4) + ")")
            .call(xAxis);
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("x", 0)
            .attr("y", 0)
            .attr("dy", "-1em")
            .style("text-anchor", "end")
            .text("{% trans 'Value' %}");

        var legend = svg.selectAll(".legend")
            .data(seriesNames)
            .enter()
            .append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + (i * 20 - margin.top + 30) + ")"; });

        legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", color);

        legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function(d) { return d; });

		for (var yid in series) {
			var line = d3.svg.line()
				.x(function(d) { return x(d.x); })
				.y(function(d) { return y(d.value); });
			svg.append('svg:path')
				.attr('d', line(series[yid]))
				.attr('stroke', color(yid))
				.attr('stroke-width', 2)
				.attr('fill', 'none');
		}
	{% endlocalize %}
	</script>
  </div>
</div>
