{% load i18n %}
<!-- Left menu for Understanding the Database -->

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/popup.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/popup-permlink.css">

<script type="text/javascript">
$(document).ready(function() {
  $('#link-button').click(shortenURL);
});
/* Get bitly shortened search url */
function shortenURL(){
  var long_url_var = $("#permlink-text-link").text();
  $.get( "{% url 'voyage:shorten_search_url' %}",
    { long_url: long_url_var},
    function ( data ) {
      $("#permlink-text-link").text(data.url);
      strtBlackout();
    });
}
</script>

<div class="search-side-panel">

    <div class="box-main-table box-expanded">
        <div class="box-header">
            <div class="box-button" onclick="">
                &nbsp;
            </div>
            <div class="box-text-label">
                {% trans 'Select time frame' %}
            </div>

        </div>

        <div class="box-mid-end">
            From {{ time_frame_search_form.frame_from_year }}&nbsp;&nbsp;
            To {{ time_frame_search_form.frame_to_year }}
            <br />
            <span class="italic">
                {% trans 'The full extent of time from the first to the last voyage is ' %}
                {{ voyage_span_first_year }}-{{ voyage_span_last_year }}
                <a id="restore_form"
                   onclick="set_elem('id_frame_from_year', {{ voyage_span_first_year }});
                        set_elem('id_frame_to_year', {{ voyage_span_last_year }});"
                   href="">{%  trans '(restore it)' %}</a>.
            </span>
        </div>


    </div>
    <div>
        <input type="hidden" name="basic_list_expanded" value="true"
                {% if not request.session.basic_list_contracted %}disabled="true"{% endif %} />

        <div class="{% if request.session.basic_list_contracted %}box-collapsed{% else %}box-expanded{% endif %}">
            <div class="box-header-head">
                <div class="box-button" onclick="">

                </div>
                <div class="box-text-label">
                    {% trans 'Basic variables' %}
                </div>

            </div>

            <div class="box-mid">
                {% regroup basic_variables by var_category as basic_var_all_list %}

                {% for variable in basic_var_all_list %}
                <div class="menu-popup-item-main">
                    <div class="menu-popup-submenu-frame hidden">
                        <div class="menu-popup-submenu">

                        {% for item in variable.list %}
                          {% if item.is_basic == True %}
                               <div class="menu-popup-submenu-item" name="{{ item.var_name }}">
                                {{ item.var_full_name }}
                               </div>
                          {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <span class="bold">{{ variable.grouper }}</span> ({{ variable.list|length }} {% spaceless %}
                    {% if variable.list|length == 1 %}
                        variable)
                    {% else %}
                        variables)
                    {% endif %}
                    {% endspaceless %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="box-main-table-tail {% if request.session.basic_list_contracted %}box-expanded{% else %}box-collapsed{% endif %}">
             <div class="box-header-tail">
                <div class="box-button">
                    &nbsp;
                </div>
                <div class="box-text-label">
                    {% trans 'General variables' %}
                </div>

            </div>

            <div class="box-mid-end">
                {% regroup general_variables by var_category as general_var_all_list %}

                {% for variable in general_var_all_list %}
                <div class="menu-popup-item-main">
                    <div class="menu-popup-submenu-frame hidden">
                        <div class="menu-popup-submenu">
                        {% for item in variable.list %}
                          {% if item.is_general == True %}
                               <div class="menu-popup-submenu-item" name="{{ item.var_name }}">
                                {{ item.var_full_name }}
                               </div>
                          {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <span class="bold">{{ variable.grouper }}</span> ({{ variable.list|length }} variable{{ variable.list|pluralize }})
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="box-main-table box-expanded">
         <div class="box-header">
            <div class="box-button">
                &nbsp;
            </div>
            <div class="box-text-label">
                {% trans 'Current query' %}
            </div>
        </div>

        <div class="box-mid-end">
	    <div class="query-builder" id="search_form_show">
	    </div>
            <div class="hidden" id="search_form_hide">
                {%  if form_list %}
                    {% for item in form_list %}
		    <!-- item has var_name, var_full_namel, and form -->
		    {% with varname_wrapper="select_"|add:item.var_name %}
                    <div class="sidebox" id="search_form_box_{{ item.var_name }}">
                        <!-- Search box header -->
                        <span class="query-builder-label" id="header_{{ item.var_name }}">{{ item.var_full_name }}</span>

                        <span class="query-builder-button close-button">
                            <img src="{{ STATIC_URL }}images/voyage/icon-remove.png"
                                 onclick="delete_box('header_{{ item.var_name }}', '{{ item.var_name }}');" />
                        </span>

                        <span class="query-builder-button move-down-button">
                            <img src="{{ STATIC_URL }}images/voyage/icon-move-down.png"
                                 onclick="move_box_down('header_{{ item.var_name }}');" />
                        </span>

                        <span class="query-builder-button move-up-button">
                            <img src="{{ STATIC_URL }}images/voyage/icon-move-up.png"
                                 onclick="move_box_up('header_{{ item.var_name }}');" />
                        </span>
			
			{% for field in item.form.hidden_fields %}
			    {{ field.as_widget }}
			{% endfor %}


                        {% if item.form.type_str == "plain_text" %}
                            {% for field in item.form.visible_fields %}
                                <span class="simple-field">{{ field }}</span>
                            {% endfor %}

                        {% elif item.form.type_str == "numeric" %}
                            {{ item.form.options }}
                            <span class="range_field between_field hidden">
                            {{ item.form.lower_bound }} - {{ item.form.upper_bound }}
                            </span>
                            <span class="range_field threshold_field">
                            {{ item.form.threshold }}
                            </span>

                        {% elif item.form.type_str == "select" %}
                            <div id="{{ varname_wrapper }}">
                                <div class="query-select-initial" >
                                    <div class="query-select-selected-text">[{% trans 'nothing selected' %}]
                                    </div>
                                <br /><input type="button" onclick="expandChoices('{{ varname_wrapper }}');"
                                             value="Select" class="display_inline">
                                </div>

                                <div class="query-select-full hidden">
                                    {% trans 'Quicksearch' %}
                                        <input class="quick-query-builder-text" type="text" autocomplete="off" value=""
                                           onkeyup="filter_edit_list('{{ varname_wrapper }}');"
                                           name="tmp" style="width: 200px;" />

                                    <div class="query-builder-edit-list">
				      {{ item.form.choice_field }}
                                    </div>


                                    <div style="margin-top: 5px;">
                                        <input type="button" class="collapseCheckBoxButton"
                                               onclick="collapseCheckBoxes('{{ varname_wrapper }}', 'var-checkbox')"
                                               value="OK" class="display_inline">
                                        <input type="button" onclick="checkAllBoxes('{{ varname_wrapper }}');"
                                               value="Select all" class="display_inline">
                                        <input type="button" onclick="uncheckAllBoxes('{{ varname_wrapper }}');"
                                               value="Deselect all" class="display_inline">
                                    </div>
                                </div>
                            </div>
                        {% elif item.form.type_str == "select_three_layers" %}
                            <div id="{{ varname_wrapper }}">
                                <div class="query-select-initial" >
                                    <div class="query-select-selected-text">[{% trans 'nothing selected' %}]
                                    </div>
                                <br /><input type="button" onclick="expandChoices('{{ varname_wrapper }}');"
                                             value="Select" class="display_inline">
                                </div>

                                <div class="query-select-full hidden">
                                    {% trans 'Quicksearch' %}
                                        <input class="quick-query-builder-text" type="text" autocomplete="off" value=""
                                           onkeyup="filter_hierarchical_list('{{ varname_wrapper }}');"
                                           name="" style="width: 200px;" />

                                    <div class="query-builder-edit-list-expandable">
                                        {% if item.nested_choices %}
                                            <ul>
                                            {% for item_layer0 in item.nested_choices %}
                                                <li>
                                                    <div class="query-builder-list-item-collapsed"
                                                         onclick="expandOrCollapse('{{ item_layer0.id }}')" >&nbsp;</div>
                                                    <label for="{{ item_layer0.id }}">
                                                        <input id="{{ item_layer0.id }}"
                                                               name="{{ item.var_name }}_selected_areas"
                                                               value="{{ item_layer0.text }}"
                                                               class="var-checkbox checkbox-layer0" type="checkbox"
                                                               {% if item_layer0.is_selected == True %} checked="checked" {% endif %}
                                                               onclick="click_select_checkbox('{{ item_layer0.id }}', null, true);" >
                                                        <span class="text-label">{{ item_layer0.text }}</span>
                                                    </label>
                                                    <ul class="hidden">
                                                    {% for item_layer1 in item_layer0.choices %}
                                                        <li class="select-collapsed">
                                                        <div class="query-builder-list-item-collapsed"
                                                             onclick="expandOrCollapse('{{ item_layer1.id }}')" >&nbsp;</div>
                                                        <label for="{{ item_layer1.id }}">
                                                        <input id="{{ item_layer1.id }}"
                                                               class="var-checkbox checkbox-layer1" type="checkbox"
                                                               name="{{ item.var_name }}_selected_regs"
                                                               value="{{ item_layer1.text }}"
                                                               {% if item_layer1.is_selected == True %} checked="checked" {% endif %}
                                                               onclick="click_select_checkbox('{{ item_layer1.id }}', '{{ item_layer0.id }}', true);" >
                                                            <span class="text-label">{{ item_layer1.text }}</span>
                                                        </label>
                                                        <ul class="hidden">
                                                            {% for item_layer2 in item_layer1.choices %}
                                                                <li>
                                                                    <label for="{{ item_layer2.id }}">
                                                                    <input id="{{ item_layer2.id }}"
                                                                           class="var-checkbox checkbox-layer2" type="checkbox"
                                                                           name="{{ item.var_name }}-choice_field"
                                                                            {% if item_layer2.text in item.selected_choices %} checked="checked" {% endif %}
									   
                                                                           value="{{ item_layer2.text }}"
                                                                            onclick="click_select_checkbox('{{ item_layer2.id }}', '{{ item_layer1.id }}', false);">
                                                                    <span class="text-label">{{ item_layer2.text }}</span>
                                                                    </label>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <input type="button"
                                               class="place_collapse_button"
                                               onclick="collapseCheckBoxes('{{ varname_wrapper }}', 'checkbox-layer2')"
                                               value="OK" class="display_inline">
                                        <input type="button" onclick="checkAllBoxes('{{ varname_wrapper }}');"
                                               value="Select all" class="display_inline">
                                        <input type="button" onclick="uncheckAllBoxes('{{ varname_wrapper }}');"
                                               value="Deselect all" class="display_inline">
                                    </div>
                                </div>
                            </div>


                        {% elif item.form.type_str == "date" %}
                            {{ item.form.options }}
                            <span class="date_field_wrapper between_field">
                            {{ item.form.from_month }} / {{ item.form.from_year }} -
                            {{ item.form.to_month }} / {{ item.form.to_year }}
                            </span>
                            <span class="date_field_wrapper threshold_field hidden">
                            {{ item.form.threshold_month }} - {{ item.form.threshold_year }}
                            </span>

                            <div class="month-list">
                                {% for month in item.list_months %}
                                <span {% if month.1 in item.list_deselected %}
                                                class="month-untoggled"
                                      {% else %}
                                                class="month-toggled"
                                      {% endif %} >
                                    {{ month.0 }}
                                    <input type="hidden"
                                           {% if month.1 not in item.list_deselected %}disabled="disabled"{% endif %}
                                           name="{{ item.deselected_months }}" value="{{ month.1 }}" /></span>
                                {% endfor %}
                            </div>

                        {% elif item.form.type_str == "boolean" %}
                            {% for field in item.form.visible_fields %}
                                <span class="simple-field">{{ field }}</span>
                            {% endfor %}

                        {% endif %}
                        </div>
		    {% endwith %}
                    {% endfor %}
                {% endif %}
            </div>
            <input type="submit" onclick="submitWithValue('search');" value="{% trans 'Search' %}" name="buttonSearch"/>
            <input type="reset" onclick="submitWithValue('reset');" value="{% trans 'New query' %}" name="buttonAgain"/>

        </div>
    </div>

    <div class="box-main-table box-expanded">
         <div class="box-header">
            <div class="box-button">
                &nbsp;
            </div>
            <div class="box-text-label">
                {% trans 'Create a link' %}
            </div>

        </div>

        <div class="box-mid-end">
            <p>{% blocktrans %}Use this button to obtain a URL that will serve as a link to the current query.
                To reactivate the query in the future, paste the URL into the address bar.{% endblocktrans %}</p>
            <div class="blackout"></div>
            <div class="msgbox">
                <div class="permlink-info">
                    <div class="permlink-title">
                        URL has been created
                    </div>
                    <div class="permlink-desc">
                        To reactivate the current database query in the future, copy the following URL and then paste it into the address bar:
                    </div>
                    <div class="permlink-link">
                        <textarea id="permlink-text-link" wrap="virtual" rows="4">{{ url_to_copy }}</textarea>
                    </div>
                    <div class="permlink-close">
                        <input class="permlink-close-button" type="submit" value="OK, Close This">
                    </div>
                </div>
            </div>
            <input type="button" id="link-button" value="Click Here"/>
        </div>
    </div>

    <div class="box-main-table box-collapsed">
         <div class="box-header ">
            <div class="box-button">
                &nbsp;
            </div>
            <div class="box-text-label">
                {% trans 'Previous query' %}
            </div>
        </div>
        <div class="box-mid-end">
            &nbsp;

        </div>
    </div>

</div>
