{% load i18n %}
{% load voyage_extras %}
{% load voyage_tags %}
{% load humanize %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-search-basic-stats.css">

<h1>{% trans 'Summary Statistics' %}</h1>

<table cellspacing="0" cellpadding="0" border="0" class="simple-table">

     <tr>
     {% for columnname in result_data.summary_statistics_columns %}
        <td class="search-simple-stat-h_c{{ forloop.counter0 }}">{{ columnname|trans_log }}</td>
     {% endfor %}
    </tr>
    {% if result_data.summary_statistics %}
    {% for variable in result_data.summary_statistics %}
    <tr>
       {% for col in variable %}

        <td class="{% if forloop.first %}search-simple-stat-c_c1{% else %}search-simple-stat-c_c2{% endif %}" >
            {% if forloop.first %}
                {{ col|trans_log }}
            {% else %}
                {{ col|intcomma }}
            {% endif %}
        </td>
       {% endfor %}
    </tr>
    {% endfor %}

    {% endif %}

</table>
<br />
<div class="download_button">
  <a href="{% url 'voyage:csv_stats_download' %}" target="_blank">{% trans 'Download table view' %}</a>
</div>
