{% load i18n %}

{% include 'voyage/search_box_header.html' %}

{% if form %}
    {% if form.errors %}
        <p style="color: red;">
           Invalid input {{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    {{ form.options }}

    <span class="date_field_wrapper between_field">
    {{ form.from_month }} / {{ form.from_year }} -
    {{ form.to_month }} / {{ form.to_year }}
    </span>
    <span class="date_field_wrapper threshold_field hidden">
    {{ form.threshold_month }} - {{ form.threshold_year }}
    </span>

    <div class="month-list">
    {% for month in list_months %}
    <span class="month-toggled">{{ month }}</span>
    {% endfor %}
    </div>
{% endif %}
