{% load i18n %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-search-table.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/qtip/jquery.qtip.min.css">

<div>
  <h1>{% trans 'Table' %}</h1>
</div>
<div class="database-table-options">
  <table>
    <tbody>
      {% for field in table_stats_form %}
        <tr>
          <td> <b> {{ field.label }}: </b> </td>
          <td> {% for i in field %} {{ i }} {% endfor %} </td>
	</tr>
      {% endfor %}
      <tr>
	<td></td>
	<td>
	  <!-- Show button -->
	  <input type="submit" value="{% trans 'Show' %}" onclick="submitWithValue('tab_tables');" name="buttonShow" />
	</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <table class="grid">
    <tbody>
	{% for collbllist in col_labels_list %}
	  <tr>
	    {% if forloop.first %} <td colspan="{{ num_row_labels }}" rowspan="{{ num_col_labels }}"/> {% endif %}
	    {% for label_tuple in collbllist %}
	      {% if label_tuple.1 > 0 %}
	        <th class="grid-header-text" colspan="{{ label_tuple.1 }}"> {{ label_tuple.0 }} </th>
	      {% endif %}
	    {% endfor %}
	    {% if forloop.first %} <th class="grid-header-text" rowspan="{{ num_col_labels }}"> Totals </th> {% endif %}
	  </tr>
	{% endfor %}
      {% for row_tuple in row_list %}
        <tr class="grid-row-even grid-row-first">
	  {% for label_tuple in row_tuple.0 %}
	    <th class="grid-header-text" rowspan="{{ label_tuple.1 }}"> {{ label_tuple.0 }} </th>
	  {% endfor %}
	  {% for cell_value in row_tuple.1 %}
	    <td> {% if cell_value != None %} {{ cell_value }} {% endif %} </td>
	  {% endfor %}
	  <th class="grid-header-text">
	    <b> {{ row_tuple.2 }} </b>
	  </th>
      {% endfor %}
      <tr class="grid-row-even grid-row-first">
	<th class="grid-header-text" colspan="{{ num_row_labels }}"> Totals </th>
	{% for total in col_totals %}
	  <th class="grid-header-text">
	    <b> {{ total }} </b>
	  </th>
	{% endfor %}
    </tbody>
  </table>
</div>
