{% load i18n %}

{% include 'voyage/search_box_header.html' %}
<div id="{{ varname_wrapper }}">
    <div class="query-select-initial" >
        <div class="query-select-selected-text">[{% trans 'nothing selected' %}]
        </div>
    <br /><input type="button" onclick="expandChoices('{{ varname_wrapper }}');" value="Select" class="display_inline">
    </div>

    <div class="query-select-full hidden">
        {% trans 'Quicksearch' %}
            <input class="quick-query-builder-text" type="text" autocomplete="off" value=""
               onkeyup="filter_edit_list('{{ varname_wrapper }}');"
               name="" style="width: 200px;" />

        <div class="query-builder-edit-list-expandable newly_inserted">
            {% if choices %}
                <ul>
                {% for item_layer0 in choices %}
                    <li>
                        <div class="query-builder-list-item-collapsed">&nbsp;</div>
                        <label for="{{ item_layer0.id }}">
                            <input id="{{ item_layer0.id }}" class="var-checkbox checkbox-layer0" type="checkbox"
                                   value="{{ item_layer0.order_num }}" >
                            {{ item_layer0.text }}
                        </label>
                        <ul>
                        {% for item_layer1 in item_layer0.choices %}
                            <li class="select-collapsed">
                            <div class="query-builder-list-item-collapsed">&nbsp;</div>
                            <label for="{{ item_layer1.id }}">
                            <input id="{{ item_layer1.id }}" class="var-checkbox checkbox-layer1" type="checkbox"
                                   value="{{ item_layer1.order_num }}" >
                            {{ item_layer1.text }}
                            </label>
                            <ul>
                                {% for item_layer2 in item_layer1.choices %}
                                    <li class="hidden">
                                        <label for="{{ item_layer2.id }}">
                                        <input id="{{ item_layer2.id }}" class="var-checkbox checkbox-layer2" type="checkbox"
                                               value="{{ item_layer2.order_num }}" >
                                        {{ item_layer2.text }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div style="margin-top: 5px;">
            <input type="button" onclick="collapseCheckBoxes('{{ varname_wrapper }}')" value="OK" class="display_inline">
            <input type="button" onclick="checkAllBoxes('{{ varname_wrapper }}');" value="Select all" class="display_inline">
            <input type="button" onclick="uncheckAllBoxes('{{ varname_wrapper }}');" value="Deselect all" class="display_inline">
        </div>
    </div>
</div>