{% load i18n %}

<div class="search-main-panel" style="display: table; height: 100%; width: 100%;">
    <div class="tabs-selection">
        <ul>
            <li>
            {% if tab == 'result' %}
                <span class="tab-menu-item tab-menu-item-selected">{% trans "Results" %}</span>
            {% else %}
                <a href="#" id="tab_results"
                   class="tab-menu-item">
                    {% trans "Results" %}</a>
            {% endif %}
            </li>
            <li>
            {% if tab == 'statistics' %}
                <span class="tab-menu-item tab-menu-item-selected">{% trans "Summary statistics" %}</span>
            {% else %}
                <a href="#" id="tab_statistics"
                   class="tab-menu-item">
                     {% trans "Summary statistics" %}</a>
            {% endif %}
            </li>
            <li>
            {% if tab == 'tables' %}
                <span class="tab-menu-item tab-menu-item-selected">{% trans "Tables" %}</span>
            {% else %}
                <a href="#" id="tab_tables"
                   class="tab-menu-item">
                     {% trans "Tables" %}</a>
            {% endif %}
            </li>
            <li>
            {% if tab == 'graphs' %}
                <span class="tab-menu-item tab-menu-item-selected">{% trans "Custom graphs" %}</span>
            {% else %}
                <a href="#" id="tab_graphs"
                   class="tab-menu-item">
                     {% trans "Custom graphs" %}</a>
            {% endif %}
            </li>
            <li>
            {% if tab == 'timeline' %}
                <span class="tab-menu-item tab-menu-item-selected">{% trans "Timeline" %}</span>
            {% else %}
                <a href="#" id="tab_timeline"
                   class="tab-menu-item">
                     {% trans "Timeline" %}</a>
            {% endif %}
            </li>
            <li>
            {% if tab == 'maps' %}
                <span class="tab-menu-item tab-menu-item-selected">{% trans "Maps" %}</span>
            {% else %}
                <a href="#" id="tab_maps"
                   class="tab-menu-item">
                     {% trans "Maps" %}</a>
            {% endif %}
            {% if tab == 'animation' %}
                <span class="tab-menu-item tab-menu-item-selected">{% trans "Animation" %}</span>
            {% else %}
                <a href="#" id="tab_animation"
                   class="tab-menu-item">
                     {% trans "Animation" %}</a>
            {% endif %}
            </li>
        </ul>
    </div>

    <div class="search-panel" style="display: table; height: 100%; width: {% if tab == 'maps' or tab == 'animation' %}100%{% else %}calc(100% - 20px){% endif %};{% if tab == 'maps' or tab == 'animation' %}margin:0px;{% endif %}">
        {% if no_result == True %}
            {% include "voyage/search_no_result.html" %}
        {% elif tab == 'statistics' %}
            {% include "voyage/search_statistics.html" %}
        {% elif tab == 'config_column' %}
            {% include "voyage/search_config.html" %}
        {% elif tab == 'tables' %}
            {% include "voyage/search_tables.html" %}
        {% elif tab == 'graphs' %}
            {% include "voyage/search_graphs.html" %}
        {% elif tab == 'timeline' %}
            {% include "voyage/search_timeline.html" %}
        {% elif tab == 'maps' %}
            {% include "voyage/search_maps.html" %}
        {% elif tab == 'animation' %}
            {% include "voyage/search_animation.html" %}
	{% elif tab == 'variables' %}
	    {% include "voyage/voyage_variables.html" %}
        {% else %}
            {% include "voyage/search_results.html" %}
        {%  endif %}
    </div>
</div>

