{% load i18n %}

<h1>{% trans 'List of voyages' %}</h1>

<div>{% trans 'Configure columns' %}</div>

{% regroup general_variables by var_category as general_var_all_list %}

<div class="voyage_configure_panel">
    <div>{% trans 'Choose group of variables' %}</div>

        <select id="configure_group" onchange="config_change_group();" style="width: 300px;" size="1"
                name="configure_group">
            {% for variable in general_var_all_list %}
                <option value="{{ variable.grouper }}">{{ variable.grouper }}</option>
            {% endfor %}
        </select>
</div>

<div>
    <table>
        <tbody>
        <tr>
            <td>
                <div style="font-weight: normal; margin-bottom: 5px;">Available variables</div>

                {% for variable in general_var_all_list %}
                    <select style="width: 300px" size="10" multiple="multiple"
                            name="config_{{ variable.grouper }}"
                             id="config_{{ variable.grouper }}">
                         {% for item in variable.list %}
                        <option value="{{ item.var_full_name }}">{{ item.var_full_name }}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
            </td>

            <td>
                <div><input type="submit" style="width: 30px" onclick="clear_form();"
                           value="&gt;" name="form:configure_AddAttrButton"
                           id="configure_AddAttrButton"></div>
                <div><input type="submit" style="width: 30px" onclick="clear_form();"
                           value="&lt;" name="form:configure_RemAttrButton"
                           id="configure_RemAttrButton"></div>
            </td>
            <td>
                <div style="font-weight: normal; margin-bottom: 5px;">Selected columns</div>

                <select style="width: 300px" size="10" multiple="multiple" name="form:configure_visibleAttributes"
                        id="configure_visibleAttributes">
                    {% for item in result_columns %}
                        <option value="{{ item.0 }}">{{ item.1 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <div style="margin-bottom: 5px;">
                    <input type="submit" style="width: 80px" onclick="clear_form();"
                                                        value="Move up" name="form:configure_UpAttrButton"
                                                        id="form:configure_UpAttrButton"></div>
                <div><input type="submit" style="width: 80px" onclick="clear_form();" value="Move down"
                            name="form:configure_DownAttrButton" id="form:configure_DownAttrButton"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <input type="submit" onclick="clear_form();" value="Apply configuration"
           name="form:configureApplyConfigButton"
           id="form:configureApplyConfigButton">
    <input type="submit" onclick="clear_form();" value="Cancel" name="form:configureCancel"
           id="form:configureCancel">
</div>
