{% load i18n %}
<!-- Left menu for Understanding the Database -->

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/popup.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/popup-permlink.css">

<div class="search-side-panel">

    <div class="box-main-table box-expanded">
        <div class="box-header">
            <div class="box-button" onclick="">
                &nbsp;
            </div>
            <div class="box-text-label">
                {% trans 'Select time frame' %}
            </div>

        </div>

        <div class="box-mid-end">
            From {{ request.session.time_span_form.frame_from_year }}&nbsp;&nbsp;
            To {{ request.session.time_span_form.frame_to_year }}
            <br />
            <span class="italic">
                {% trans 'The full extent of time from the first to the last voyage is ' %}
                {{ voyage_span_first_year }}-{{ voyage_span_last_year }}
                <a id="restore_form"
                   onclick="set_elem('id_frame_from_year', {{ voyage_span_first_year }});
                        set_elem('id_frame_to_year', {{ voyage_span_last_year }});"
                   href="">{%  trans '(restore it)' %}</a>.
            </span>
        </div>


    </div>
    <div>
        <input type="hidden" name="basic_list_expanded" value="true"
                {% if not request.session.basic_list_contracted %}disabled="true"{% endif %} />

        <div class="{% if request.session.basic_list_contracted %}box-collapsed{% else %}box-expanded{% endif %}">
            <div class="box-header-head">
                <div class="box-button" onclick="">

                </div>
                <div class="box-text-label">
                    {% trans 'Basic variables' %}
                </div>

            </div>

            <div class="box-mid">
                {% regroup basic_variables by var_category as basic_var_all_list %}

                {% for variable in basic_var_all_list %}
                <div class="menu-popup-item-main">
                    <div class="menu-popup-submenu-frame hidden">
                        <div class="menu-popup-submenu">

                        {% for item in variable.list %}
                          {% if item.is_basic == True %}
                               <div class="menu-popup-submenu-item" name="{{ item.var_name }}">
                                {{ item.var_full_name }}
                               </div>
                          {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <span class="bold">{{ variable.grouper }}</span> ({{ variable.list | length }} variables)
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="box-main-table-tail {% if request.session.basic_list_contracted %}box-expanded{% else %}box-collapsed{% endif %}">
             <div class="box-header-tail">
                <div class="box-button">
                    &nbsp;
                </div>
                <div class="box-text-label">
                    {% trans 'General variables' %}
                </div>

            </div>

            <div class="box-mid-end">
                {% regroup general_variables by var_category as general_var_all_list %}

                {% for variable in general_var_all_list %}
                <div class="menu-popup-item-main">
                    <div class="menu-popup-submenu-frame hidden">
                        <div class="menu-popup-submenu">
                        {% for item in variable.list %}
                          {% if item.is_general == True %}
                               <div class="menu-popup-submenu-item" name="{{ item.var_name }}">
                                {{ item.var_full_name }}
                               </div>
                          {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <span class="bold">{{ variable.grouper }}</span> ({{ variable.list | length }} variables)
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="box-main-table box-expanded">
         <div class="box-header">
            <div class="box-button">
                &nbsp;
            </div>
            <div class="box-text-label">
                {% trans 'Current query' %}
            </div>
        </div>

        <div class="box-mid-end">
            <div class=query-builder>
                {%  if request.session.existing_form %}
                    {% for elem in request.session.existing_form %}
                    <div class="sidebox">
                        <!-- Search box header -->
                        <span class="query-builder-label" id="{{ elem.input_field_name }}">{{ elem.var_full_name }}</span>
                        <input type="hidden" name="list-input-params" value="{{ elem.varname }}">

                        <span class="query-builder-button close-button">
                            <img src="{{ STATIC_URL }}images/voyage/icon-remove.png"
                                 onclick="delete_box('header_{{ elem.varname }}', '{{ elem.varname }}');" />
                        </span>

                        <span class="query-builder-button move-down-button">
                            <img src="{{ STATIC_URL }}images/voyage/icon-move-down.png"
                                 onclick="move_box_down('header_{{ elem.varname }}');" />
                        </span>

                        <span class="query-builder-button move-up-button">
                            <img src="{{ STATIC_URL }}images/voyage/icon-move-up.png"
                                 onclick="move_box_up('{{ elem.input_field_name }}');" />
                        </span>


                        {% if elem.type == "plain_text" %}
                            {% for field in elem.form %}
                                <span class="simple-field">{{ field }}</span>
                            {% endfor %}

                        {% elif elem.type == "numeric" %}
                            {{ elem.form.options }}
                            <span class="range_field between_field hidden">
                            {{ elem.form.lower_bound }} - {{ elem.form.upper_bound }}
                            </span>
                            <span class="range_field threshold_field">
                            {{ elem.form.threshold }}
                            </span>

                        {% elif elem.type == "select" %}
                            <div id="{{ elem.varname_wrapper }}">
                                <div class="query-select-initial" >
                                    <div class="query-select-selected-text">[{% trans 'nothing selected' %}]
                                    </div>
                                <br /><input type="button" onclick="expandChoices('{{ elem.varname_wrapper }}');"
                                             value="Select" class="display_inline">
                                </div>

                                <div class="query-select-full hidden">
                                    {% trans 'Quicksearch' %}
                                        <input class="quick-query-builder-text" type="text" autocomplete="off" value=""
                                           onkeyup="filter_edit_list('{{ elem.varname_wrapper }}');"
                                           name="tmp" style="width: 200px;" />

                                    <div class="query-builder-edit-list">
                                        {% for opt in elem.form.choice_field %}
                                            {{ opt }}
                                        {% endfor %}
                                    </div>


                                    <div style="margin-top: 5px;">
                                        <input type="button" class="collapseCheckBoxButton"
                                               onclick="collapseCheckBoxes('{{ elem.varname_wrapper }}', 'var-checkbox')"
                                               value="OK" class="display_inline">
                                        <input type="button" onclick="checkAllBoxes('{{ elem.varname_wrapper }}');"
                                               value="Select all" class="display_inline">
                                        <input type="button" onclick="uncheckAllBoxes('{{ elem.varname_wrapper }}');"
                                               value="Deselect all" class="display_inline">
                                    </div>
                                </div>
                            </div>

                        {% elif elem.type == "select_three_layers" %}
                            <div id="{{ elem.varname_wrapper }}">
                                <div class="query-select-initial" >
                                    <div class="query-select-selected-text">[{% trans 'nothing selected' %}]
                                    </div>
                                <br /><input type="button" onclick="expandChoices('{{ elem.varname_wrapper }}');"
                                             value="Select" class="display_inline">
                                </div>

                                <div class="query-select-full hidden">
                                    {% trans 'Quicksearch' %}
                                        <input class="quick-query-builder-text" type="text" autocomplete="off" value=""
                                           onkeyup="filter_hierarchical_list('{{ elem.varname_wrapper }}');"
                                           name="" style="width: 200px;" />

                                    <div class="query-builder-edit-list-expandable">
                                        {% if elem.choices %}
                                            <ul>
                                            {% for item_layer0 in elem.choices %}
                                                <li>
                                                    <div class="query-builder-list-item-collapsed"
                                                         onclick="expandOrCollapse('{{ item_layer0.id }}')" >&nbsp;</div>
                                                    <label for="{{ item_layer0.id }}">
                                                        <input id="{{ item_layer0.id }}"
                                                               name="{{ elem.selected_areas }}"
                                                               value="{{ item_layer0.text }}"
                                                               class="var-checkbox checkbox-layer0" type="checkbox"
                                                               {% if item_layer0.selected == True %} checked="checked" {% endif %}
                                                               onclick="click_select_checkbox('{{ item_layer0.id }}', null, true);" >
                                                        {{ item_layer0.text }}
                                                    </label>
                                                    <ul class="hidden">
                                                    {% for item_layer1 in item_layer0.choices %}
                                                        <li class="select-collapsed">
                                                        <div class="query-builder-list-item-collapsed"
                                                             onclick="expandOrCollapse('{{ item_layer1.id }}')" >&nbsp;</div>
                                                        <label for="{{ item_layer1.id }}">
                                                        <input id="{{ item_layer1.id }}"
                                                               class="var-checkbox checkbox-layer1" type="checkbox"
                                                               name="{{ elem.selected_regs }}"
                                                               value="{{ item_layer1.text }}"
                                                               {% if item_layer1.selected == True %} checked="checked" {% endif %}
                                                               onclick="click_select_checkbox('{{ item_layer1.id }}', '{{ item_layer0.id }}', true);" >
                                                        {{ item_layer1.text }}
                                                        </label>
                                                        <ul class="hidden">
                                                            {% for item_layer2 in item_layer1.choices %}
                                                                <li>
                                                                    <label for="{{ item_layer2.id }}">
                                                                    <input id="{{ item_layer2.id }}"
                                                                           class="var-checkbox checkbox-layer2" type="checkbox"
                                                                           name="{{ elem.selected_choices }}"
                                                                            {% if item_layer2.selected == True %} checked="checked" {% endif %}
                                                                           value="{{ item_layer2.text }}"
                                                                            onclick="click_select_checkbox('{{ item_layer2.id }}', '{{ item_layer1.id }}', false);">
                                                                    {{ item_layer2.text }}
                                                                    </label>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <input type="button"
                                               class="place_collapse_button"
                                               onclick="collapseCheckBoxes('{{ elem.varname_wrapper }}', 'checkbox-layer2')"
                                               value="OK" class="display_inline">
                                        <input type="button" onclick="checkAllBoxes('{{ elem.varname_wrapper }}');"
                                               value="Select all" class="display_inline">
                                        <input type="button" onclick="uncheckAllBoxes('{{ elem.varname_wrapper }}');"
                                               value="Deselect all" class="display_inline">
                                    </div>
                                </div>
                            </div>


                        {% elif elem.type == "date" %}
                            {{ elem.form.options }}
                            <span class="date_field_wrapper between_field">
                            {{ elem.form.from_month }} / {{ elem.form.from_year }} -
                            {{ elem.form.to_month }} / {{ elem.form.to_year }}
                            </span>
                            <span class="date_field_wrapper threshold_field hidden">
                            {{ elem.form.threshold_month }} - {{ elem.form.threshold_year }}
                            </span>

                            <div class="month-list">
                                {% for month in elem.list_months %}
                                <span {% if month.1 in elem.list_deselected %}
                                                class="month-untoggled"
                                      {% else %}
                                                class="month-toggled"
                                      {% endif %} >
                                    {{ month.0 }}
                                    <input type="hidden"
                                           {% if month.1 not in elem.list_deselected %}disabled="disabled"{% endif %}
                                           name="{{ elem.deselected_months }}" value="{{ month.1 }}" /></span>
                                {% endfor %}
                            </div>

                        {% elif elem.type == "boolean" %}

                            {% for field in elem.form %}
                                <span class="simple-field">{{ field }}</span>
                            {% endfor %}

                        {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <input type="submit" onclick="submitWithValue('search');" value="{% trans 'Search' %}" name="buttonSearch"/>
            <input type="reset" onclick="submitWithValue('reset');" value="{% trans 'New query' %}" name="buttonAgain"/>

        </div>
    </div>

    <div class="box-main-table box-expanded">
         <div class="box-header">
            <div class="box-button">
                &nbsp;
            </div>
            <div class="box-text-label">
                {% trans 'Create a link' %}
            </div>

        </div>

        <div class="box-mid-end">
            <p>{% blocktrans %}Use this button to obtain a URL that will serve as a link to the current query.
                To reactivate the query in the future, paste the URL into the address bar.{% endblocktrans %}</p>
            <div class="blackout"></div>
            <div class="msgbox">
                <div class="permlink-info">
                    <div class="permlink-title">
                        URL has been created
                    </div>
                    <div class="permlink-desc">
                        To reactivate the current database query in the future, copy the following URL and then paste it into the address bar:
                    </div>
                    <div class="permlink-link">
                        <textarea wrap="virtual" rows="4">{{ url_to_copy }}</textarea>
                    </div>
                    <div class="permlink-close">
                        <input class="permlink-close-button" type="submit" value="OK, Close This">
                    </div>
                </div>
            </div>
            <input type="button" id="link-button" value="Click Here"/>
        </div>
    </div>

    <div class="box-main-table box-collapsed">
         <div class="box-header ">
            <div class="box-button">
                &nbsp;
            </div>
            <div class="box-text-label">
                {% trans 'Previous query' %}
            </div>
        </div>
        <div class="box-mid-end">
            &nbsp;

        </div>
    </div>

</div>
