{% load i18n %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-search-basic-stats.css">

<table cellspacing="0" cellpadding="0" border="0" class="simple-table">
    <tbody>
    <tr>
        <td class="search-simple-stat-h_c1"></td>
        <td class="search-simple-stat-h_c2">Total slaves</td>
        <td class="search-simple-stat-h_c3">Total voyages</td>
        <td class="search-simple-stat-h_c4">Average</td>
        <td class="search-simple-stat-h_c4">Standard deviation</td>
    </tr>
    <tr>
        <td class="search-simple-stat-c_c1">Slaves embarked *</td>
        <td class="search-simple-stat-c_c2">10,147,907</td>
        <td class="search-simple-stat-c_c3">33,366</td>
        <td class="search-simple-stat-c_c4">304.1</td>
        <td class="search-simple-stat-c_c4">156.2</td>
    </tr>
    <tr>
        <td class="search-simple-stat-c_c1">Slaves disembarked *</td>
        <td class="search-simple-stat-c_c2">8,752,593</td>
        <td class="search-simple-stat-c_c3">33,047</td>
        <td class="search-simple-stat-c_c4">264.9</td>
        <td class="search-simple-stat-c_c4">139.9</td>
    </tr>
    <tr>
        <td class="search-simple-stat-c_c1">Percentage of slaves embarked who died during voyage *</td>
        <td class="search-simple-stat-c_c2"></td>
        <td class="search-simple-stat-c_c3">6,404</td>
        <td class="search-simple-stat-c_c4">12.1%</td>
        <td class="search-simple-stat-c_c4">14.7%</td>
    </tr>
    <tr>
        <td class="search-simple-stat-c_c1">Length of Middle Passage (in days) *</td>
        <td class="search-simple-stat-c_c2"></td>
        <td class="search-simple-stat-c_c3">7,002</td>
        <td class="search-simple-stat-c_c4">60.2</td>
        <td class="search-simple-stat-c_c4">32.7</td>
    </tr>
    <tr>
        <td class="search-simple-stat-c_c1">Percentage male *</td>
        <td class="search-simple-stat-c_c2"></td>
        <td class="search-simple-stat-c_c3">3,891</td>
        <td class="search-simple-stat-c_c4">64.6%</td>
        <td class="search-simple-stat-c_c4">12.4%</td>
    </tr>
    <tr>
        <td class="search-simple-stat-c_c1">Percentage children *</td>
        <td class="search-simple-stat-c_c2"></td>
        <td class="search-simple-stat-c_c3">4,219</td>
        <td class="search-simple-stat-c_c4">20.9%</td>
        <td class="search-simple-stat-c_c4">16.8%</td>
    </tr>
    <tr>
        <td class="search-simple-stat-c_c1">Tonnage of vessel</td>
        <td class="search-simple-stat-c_c2"></td>
        <td class="search-simple-stat-c_c3">17,606</td>
        <td class="search-simple-stat-c_c4">157.8</td>
        <td class="search-simple-stat-c_c4">113.8</td>
    </tr>
    </tbody>
</table>