{% load i18n %}

<div class="search-main-panel">
    <div class="tabs-selection">
        <ul>
            <li>
                <a href="#" id="result_results" class="top-bar-menu-item">{% trans "Result" %}</a>
            </li>
            <li>
                <a href="#" id="result_statistics" class="top-bar-menu-item">{% trans "FAQs" %}</a>
            </li>
            <li>
                <a href="#" id="result_tables" class="top-bar-menu-item">{% trans "Demos" %}</a>
            </li>
            <li>
                <a href="#" id="result_graphs" class="top-bar-menu-item">{% trans "Glossary" %}</a>
            </li>
            <li>
                <a href="#" id="result_timeline" class="top-bar-menu-item">{% trans "Legal" %}</a>
            </li>
            <li>
                <a href="#" id="result_maps" class="top-bar-menu-item">{% trans "Legal" %}</a>
            </li>
        </ul>
    </div>
</div>