{% load i18n %}

{% include 'voyage/search_box_header.html' %}
<div id="{{ varname }}_select">
    <div class="query-select-initial" >
        <div class="query-select-selected-text">[{% trans 'nothing selected' %}]
        </div>
    <br /><input type="button" onclick="expandChoices('{{ varname }}_select');" value="Select" class="display_inline">
    </div>

    <div class="query-select-full hidden">
        {% trans 'Quicksearch' %}
            <input class="quick-query-builder-text" type="text" autocomplete="off" value=""
               onkeyup="filter_edit_list('{{ varname }}_select');"
               name="input_{{  varname }}_range" style="width: 200px;" />

        <div class="query-builder-edit-list">
            {% if choices %}
                {% for choice in choices %}
                    <div><input type="checkbox" name="{{ varname }}_choice_{{ choice.choice_id }}"
                           value="{{ choice.choice_text }}" class="var-checkbox"/>{{ choice.choice_text }}<br />
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div style="margin-top: 5px;">
            <input type="button" onclick="collapseCheckBoxes('{{ varname }}_select')" value="OK" class="display_inline">
            <input type="button" onclick="checkAllBoxes('{{ varname }}_select');" value="Select all" class="display_inline">
            <input type="button" onclick="uncheckAllBoxes('{{ varname }}_select');" value="Deselect all" class="display_inline">
        </div>
    </div>
</div>