{% extends "voyage/voyagebase.html" %}
{% load voyage_extras %}
{% load sass_tags %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block jslist %}
<script type="text/javascript" src="https://npmcdn.com/js-offcanvas@1.0/dist/_js/js-offcanvas.pkgd.min.js" charset="utf-8"></script>
<script type="text/javascript">
	$(breadCrumbs.getUI(null, document.title)).appendTo($('#breadcrumb-host'));
</script>
{% endblock %}

{% block content %}

<!-- CSS for Trans-Atlantic -->
<link rel="stylesheet" href="https://npmcdn.com/js-offcanvas@1.0/dist/_css/minified/js-offcanvas.css">
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

<nav aria-label="breadcrumb" role="navigation" id="breadcrumb-host"></nav>

<div class="container-new">

  <div class="row  row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			{% include "voyage/understanding_left_menu.html" %}
		</div>

    <div class="col-md-8 col-xs-12 col-lg-9 ">

			<p class="hidden-md">
        <button type="button" class="btn btn-trans btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
            <span>Toggle Sidebar</span>
          </div>
        </button>
      </p>

			<div id="center-content-inner">
				{% if not page %} {% include "voyage/guide.html" %} {% else %} {% include page %} {% endif %}
			</div>

			<!-- Previous/Next navigation menu -->
			{% if left or right %}
      <div class="page-navigation-flexbox">
					{% if left %}
          <a href="{{ left.page }}" ><div class="page-navigation-item">Previous: {{ left.name|trans_log }}</div></a>
					{% endif %} {% if right %}
          <a href="{% url 'voyage:understanding-page' right.page %}"><div class="page-navigation-item">Next: {{ right.name|trans_log }}</div></a>
					{% endif %}
        </div>
			{% endif %}

    </div>
  </div>
</div>



{% endblock %}
