{% load i18n %}
<!-- Left menu for Understanding the Database -->

<div class="left-menu-title">
	<h3>{% trans "Understanding the Database" %}</h3>
</div>

<div class="secondary-menu-item-0">
	<a href="{% url 'voyage:understanding-page' 'guide' %}">{% trans "Guide" %}</a>
</div>

<div class="secondary-menu-item-0">
	<a href={% url 'voyage:understanding-page' 'methodology-1' %}>{% trans "Methodology" %}</a>
</div>

<div class="secondary-menu-subitems-0" id="c01_s02_submenu">

    {% if pagename == "methodology-1" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-1' %}>{% trans "Introduction" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-1' %}>{% trans "Introduction" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-2" %}
        <div class="secondary-menu-item-1-selected">
		    <a href={% url 'voyage:understanding-page' 'methodology-2' %}>{% trans "Coverage of the Slave Trade" %}</a>
	    </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-2' %}>{% trans "Coverage of the Slave Trade" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-3" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-3' %}>{% trans "Nature of Sources" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-3' %}>{% trans "Nature of Sources" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-4" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-4' %}>{% trans "Cases and Variables" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-4' %}>{% trans "Cases and Variables" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-5" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-5' %}>{% trans "Data Variables" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-5' %}>{% trans "Data Variables" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-6" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-6' %}>{% trans "Age Categories" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-6' %}>{% trans "Age Categories" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-7" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-7' %}>{% trans "Date" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-7' %}>{% trans "Date" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-8" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-8' %}>{% trans "Names" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-8' %}>{% trans "Names" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-9" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-9' %}>{% trans "Imputed Variables" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-9' %}>{% trans "Imputed Variables" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-10" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-10' %}>{% trans "Geographic Data" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-10' %}>{% trans "Geographic Data" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-11" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-11' %}>{% trans "Imputed Voyage Dates" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-11' %}>{% trans "Imputed Voyage Dates" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-12" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-12' %}>{% trans "Classification as a Trans-Atlantic Slaving Voyage" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-12' %}>{% trans "Classification as a Trans-Atlantic Slaving Voyage" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-13" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-13' %}>{% trans "Voyage Outcomes" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-13' %}>{% trans "Voyage Outcomes" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-14" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-14' %}>{% trans "Inferring Places of Trade" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-14' %}>{% trans "Inferring Places of Trade" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-15" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-15' %}>{% trans "Imputing Numbers of Slaves" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-15' %}>{% trans "Imputing Numbers of Slaves" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-16" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-16' %}>{% trans "Regions of Embarkation and Disembarkation" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-16' %}>{% trans "Regions of Embarkation and Disembarkation" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-17" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-17' %}>{% trans "Age and Gender Ratios" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-17' %}>{% trans "Age and Gender Ratios" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-18" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-18' %}>{% trans "National Carriers" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-18' %}>{% trans "National Carriers" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-19" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-19' %}>{% trans "Tonnage" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-19' %}>{% trans "Tonnage" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-20" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-20' %}>{% trans "Resistance and Price of Slaves" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-20' %}>{% trans "Resistance and Price of Slaves" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-21" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-21' %}>{% trans "Appendix" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-21' %}>{% trans "Appendix" %}</a>
        </div>
    {% endif %}

    {% if pagename == "methodology-22" %}
        <div class="secondary-menu-item-1-selected">
            <a href={% url 'voyage:understanding-page' 'methodology-22' %}>{% trans "Notes" %}</a>
        </div>
    {% else %}
        <div class="secondary-menu-item-1">
            <a href={% url 'voyage:understanding-page' 'methodology-22' %}>{% trans "Notes" %}</a>
        </div>
    {% endif %}

</div>
<div class="secondary-menu-item-0">
	<a href={% url 'voyage:understanding-page' 'variable-list' %}>{% trans "Variable List" %}</a>
</div>

<div class="secondary-menu-item-0">
	<a href="{% url 'voyage:sources-list' 'documentary_sources' %}" id="source_cover">{% trans "Sources" %}</a>
</div>
<div class="secondary-menu-subitems-0">
	<div class="secondary-menu-item-1">
        <a href="{% url 'voyage:sources-list' 'documentary_sources' %}">{% trans "Documentary Sources" %}</a>
	</div>
    <div class="secondary-menu-item-1">
        <a href="{% url 'voyage:sources-list' 'newspapers' %}">{% trans "Newspapers" %}</a>
	</div>
    <div class="secondary-menu-item-1">
        <a href="{% url 'voyage:sources-list' 'published_sources' %}">{% trans "Published Sources" %}</a>
	</div>
    <div class="secondary-menu-item-1">
        <a href="{% url 'voyage:sources-list' 'unpublished_secondary_sources' %}">{% trans "Unpublished Secondary Sources" %}</a>
	</div>
    <div class="secondary-menu-item-1">
        <a href="{% url 'voyage:sources-list' 'private_notes_and_collections' %}">{% trans "Private Notes and Collections" %}</a>
	</div>
</div>