{% load i18n %}
{% load voyage_extras %}
{% load humanize %}

<div class="page-title-1">{% trans "Variable list" %}</div>

<p>{% blocktrans %}The variable list provides summary information on variables of the Voyages Database in the "Search the Database"
    section. The variables are displayed here in the form of short labels. The second column gives their equivalents in
    the downloadable SPSS version of the database, where variable names take the form of acronyms. These names are also
    used in downloads of data for listings, tables and graphics from the website.{% endblocktrans %}</p>

<p>{% blocktrans %}Variables without an asterisk are "data variables" - information as found in a primary source documenting a slaving
    voyage. Variables followed by an asterisk are "imputed variables." They include information, such as the mortality
    rate on slave voyages, that is calculated from data variables as well as information which, although not directly
    documented, can be supplied on the basis of patterns observed in data variables.{% endblocktrans %}</p>

<div id="variables-list">
<table class="table table-responsive">
    {% for group in var_list_stats %}
    <tr>
        <td class="header-group" colspan="7">{{ group.var_category|trans_log }}</td>
    </tr>
    <tr>
        <th class="header">{% trans 'Variables' %}</th>
        <th class="header">SPSS</th>
        <th class="header">{% trans 'Voyages' %}</th>
        <th class="header">{% trans 'Estimates' %}</th>
        <th class="header">{% trans 'Basic' %}</th>
        <th class="header">{% trans 'General' %}</th>
        <th class="header">{% trans 'Note' %}</th>
    </tr>
        {% for variable in group.variables %}
        <tr class="{% cycle 'odd_row' 'even_row' %}">
            <td class="">{{ variable.var_full_name|trans_log }}</td>
            <td class="">{{ variable.spss_name }}</td>
            <td class="number">{{ variable.num_voyages|intcomma }}</td>
            <td class="check">{% if variable.is_estimate == True %}&bull;{% endif %}</td>
            <td class="check">{% if variable.is_basic == True %}&bull;{% endif %}</td>
            <td class="check">{% if variable.is_general == True %}&bull;{% endif %}</td>
            <td class="">{% if variable.note %}{{ variable.note|trans_log }}{% endif %}</td>
        </tr>

        {% endfor %}
    {% endfor %}
</table>
</div>
