{% extends "base.html" %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage-info.css">
{% endblock %}

{% block jslist %}
<script src="{{ STATIC_URL }}scripts/toc_voyage.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/next_prev_navi.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/embedLeftMenu.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
<div id="left-menu" class="left-menu-box">
	<div class="left-menu-title">
		<h3>Understanding the Database </h3>
	</div>
	
	<!-- Left menu goes here -->
	{% load menu_tags %}
	<ul>
	   	{{ menu_items|unordered_href_list }}
	</ul>
</div>

<div id="center-content">
	{% block center-content %}
	{% endblock %}
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
