{% extends "voyage/voyagebase.html" %}

<!-- Basic template for pages in the Voyage section -->

{% load i18n %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-detail.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-search.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-search-menu.css">
{% endblock %}

{% block title %}{% trans 'Voyage Information' %}{% endblock %}


{% block jslist %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/qtip/jquery.qtip.min.js"></script>
{% endblock %}

{% block content %}
<table class="query-window">
<tr>
<td id="center-content">
	{% block center-content %}
        {% include "voyage/voyage_main_content.html" %}
	{% endblock %}
</td>

</tr>
</table>


{% endblock %}
