{% extends "base.html" %}
{% load sass_tags %}
{% load i18n %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans.scss' %}" rel="stylesheet" type="text/css" />

<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-info.css"> -->
<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-search-menu.css"> -->
{% endblock %}

{% block jslist %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
{% include "footerhome.html" %}
{% endblock %}
