{% load i18n %}
{% load voyage_extras %}
{% load l10n %}

<div class="search-main-panel" style="display: table; height: 100%; width: 100%;">
  <div class="tabs-selection" style="display: table-row; height: 0px;">
    <ul>
      <li>
	<a href="/voyage/search?submit_val=restore_prev_query&prev_query_num=0" id="tab_back_to_list" class="tab-back-to-list tab-menu-item">{% trans "Back to the list of voyages" %}</a>
      </li>
      <li>
	{% if tab == 'variables' %}
	  <span class="tab-menu-item tab-menu-item-selected">{% trans "Voyage Variables" %}</span>
	{% else %}
	  <a href="/voyage/{{ voyage_id }}/variables" id="tab_variables" class="tab-menu-item">{% trans "Voyage variables" %}</a>
	{% endif %}
      </li>
      <li>
	{% if tab == 'map' %}
	  <span class="tab-menu-item tab-menu-item-selected">{% trans "Map" %}</span>
	{% else %}
	  <a href="/voyage/{{ voyage_id }}/map" id="tab_map" class="tab-menu-item">{% trans "Map" %}</a>
	{% endif %}
      </li>
      <li>
	{% if tab == 'images' %}
	  <span class="tab-menu-item tab-menu-item-selected">{% trans "Images" %}</span>
	{% else %}
	  <a href="/voyage/{{ voyage_id }}/images" id="tab_images" class="tab-menu-item">{% trans "Images" %}</a>
	{% endif %}
      </li>
    </ul>
  </div>
  <div class="search-panel" style="display:table-row; height:100%; width: 100%;">
      <div style="display:table; height: 100%; width: 100%">
        <div class="detail-title" style="display:table-row; height:0%">
            <div style="margin: 10px">
                {% if not voyage %}
                    {% trans 'Voyage not found' %}
                {% else %}
                    {% trans 'Voyage' %} {{ voyage.var_voyage_id }}, <i>{{ voyage.var_ship_name }}</i> ({{ voyage.var_imp_voyage_began }})
                {% endif %}
            </div>
        </div>

        {% if tab == 'variables' %}
          {% include "voyage/voyage_variables.html" %}
        {% endif %}

        {% if tab == 'map' %}
            {% with itinerary=voyage.object.voyage_itinerary numbers=voyage.object.voyage_slaves_numbers %}
            <link rel="stylesheet" href="{{ STATIC_URL }}maps/css/leaflet.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}maps/css/MarkerCluster.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}maps/css/MarkerCluster.Default.css" />
            <div style="display:table-row; height:100%">
                <div id="map" style="width: 100%;height: 100%;position: relative; min-height: 500px;"></div>
            </div>
            <script src="{{ STATIC_URL }}maps/js/leaflet.js"></script>
            <script src="{{ STATIC_URL }}maps/js/leaflet.markercluster.js"></script>
            <script src="{{ STATIC_URL }}maps/js/leaflet.polylineDecorator.js"></script>
            <script src="{{ STATIC_URL }}maps/js/routeNodes.js"></script>
            <script src="{{ STATIC_URL }}maps/js/voyagesMap.js"></script>
            <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script>
                {% localize off %}
                    {% with source=itinerary.imp_principal_place_of_slave_purchase destination=itinerary.imp_principal_port_slave_dis %}
                        voyagesMap.
                            init('{{ map_year }}', '{{ STATIC_URL }}maps/', routeNodes, links).
                            setMaxPathWidth(10).
                            setPathOpacity(0.75);
                        var ports = {
                            "{{ source.place }}": new Port(
                                new NamedPoint("{{ source.place|trans_log }}", new L.LatLng({{ source.latitude }}, {{ source.longitude }})),
                                null,
                                null),
                            "{{ destination.place }}": new Port(
                                new NamedPoint("{{ destination.place|trans_log }}", new L.LatLng({{ destination.latitude }}, {{ destination.longitude }})),
                                null,
                                null)
                        };
                        var flows = [
                            new Flow(
                                "{{ source.place }}",
                                "{{ destination.place }}",
                                {{ numbers.imp_total_num_slaves_embarked }} || 0,
                                {{ numbers.imp_total_num_slaves_disembarked }} || 0)
                        ];
                        voyagesMap.setNetworkFlow(ports, flows);
                    {% endwith %}
                {% endlocalize %}
            </script>
            {% endwith %}
        {% endif %}
      </div>
  </div>
</div>
