{% load i18n %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-detail.css">
<div class="detail-title">
  Voyage {{ voyage.var_voyage_id }}, <i>{{ voyage.var_ship_name }}</i> ({{ voyage.var_imp_voyage_began }})
</div>
<div style="margin-right: 10px;">
  <table class="detail" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      {% for lblmain, lbllabel, lbldata in voyage_variables %}
        <tr>
	  {% if lblmain.0 %}
	    <td class="detail-label-main" rowspan="{{ lblmain.0 }}">{{ lblmain.1 }}</td>
	  {% endif %}
	  <td class="detail-label">{{ lbllabel }}</td>
	  <td class="detail-data">{{ lbldata | safe }}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
