{% extends "_base.html" %}
{% load sass_tags %}
{% load i18n %}
{% load voyage_extras %}

{% block title %}{% trans 'Sources (bibliography)' %}{% endblock %}

{% block content %}
<link href="{% sass_src 'scss/database-sources.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

<nav aria-label="breadcrumb" role="navigation">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">Trans-Atlantic Slave Trade</a></li>
		<li class="breadcrumb-item active" aria-current="page">About</li>
	</ol>
</nav>

<div class="container-new">
	<div class="row  row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			{% include "voyage/understanding_left_menu.html" %}
		</div>

		<div class="col-md-8 col-xs-12 col-lg-9 ">

			<p class="hidden-md">
				<button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
					<div>
						<span class="fa fa-exchange" style=" vertical-align: middle;"></span>
						<span>Toggle Sidebar</span>
					</div>
				</button>
			</p>
    <div id="center-content-inner">

			{% if category == "documentary_sources" %}
					<div class="page-title-1">{% trans 'Documentary Sources' %}</div>
			{% else %}
					<div class="page-title-1">{{ category|translate_source_name|trans_log }}</div>
			{% endif %}

			<div class="page-section">
				Sort by
				{% if sort_method == "full_ref" %}
						<div class="btn btn-outline-primary btn-outline btn-sm" href="{% url 'voyage:sources-list-sort' category "full_ref" %}">{% trans 'Long Reference' %}</div>
				{% else %}
						<a class="btn btn-outline-primary btn-solid btn-sm" href="{% url 'voyage:sources-list-sort' category "full_ref" %}">{% trans 'Long Reference' %}</a>
				{% endif %}
				{% if sort_method == "short_ref" %}
						<div class="btn btn-outline-primary btn-outline btn-sm" href="{% url 'voyage:sources-list-sort' category "short_ref" %}">{% trans 'Short Reference' %}</div>
				{% else %}
						<a class="btn btn-outline-primary btn-solid btn-sm" href="{% url 'voyage:sources-list-sort' category "short_ref" %}">{% trans 'Short Reference' %}</a>
				{% endif %}
			</div>

			<div class="page-section">
        {% if category == "documentary_sources" %}
            <div id="sources">
                <table class="table table-responsive table-break" >
                <tbody>
                {% for country_dict in results %}
                    <tr>
                    {# Print country name #}
                    {% if forloop.first %}
                        <td class="header-group" colspan="3">{{ country_dict.country|trans_log }}</td>
                    {% else %}
                        <td class="header-group" colspan="3">{{ country_dict.country|trans_log }}</td>
                    {% endif %}
                    </tr>
                    {# For all cities in country #}
                    {% for city in country_dict.cities_list %}
                        {# If first city, use *-first classes #}
                        <tr>
                        {% if forloop.first %}
                            <td class="sources-city-first" rowspan="{{ city.number_of_rows }}">{{ city.city_name }}</td>
                            {% if sort_method == "short_ref" %}
                                {% if city.city_groups_dict.0.short_ref != None %}
                                    <td class="source-id-first">{{ city.city_groups_dict.0.short_ref|safe }}</td>
                                {% else %}
                                    <td class="source-id-first"></td>
                                {% endif %}
                                <td class="source-name-first">{{ city.city_groups_dict.0.group_name|safe }}</td>
                            {% else %}
                                <td class="source-name-first">{{ city.city_groups_dict.0.group_name|safe }}</td>
                                {% if city.city_groups_dict.0.short_ref != None %}
                                    <td class="source-id-first">{{ city.city_groups_dict.0.short_ref|safe }}</td>
                                {% else %}
                                    <td class="source-id-first"></td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <td class="sources-city" rowspan="{{ city.number_of_rows }}">{{ city.city_name }}</td>
                            {% if sort_method == "short_ref" %}
                                {% if city.city_groups_dict.0.mark == 0 %}
                                    {% if city.city_groups_dict.0.short_ref != None %}
                                        <td class="source-id-even">{{ city.city_groups_dict.0.short_ref|safe }}</td>
                                    {% else %}
                                        <td class="source-id-even"></td>
                                    {% endif %}
                                    <td class="source-name-even">{{ city.city_groups_dict.0.group_name|safe }}</td>
                                {% else %}
                                    {% if city.city_groups_dict.0.short_ref != None %}
                                        <td class="source-id-odd">{{ city.city_groups_dict.0.short_ref|safe }}</td>
                                    {% else %}
                                        <td class="source-id-odd"></td>
                                    {% endif %}
                                    <td class="source-name-odd">{{ city.city_groups_dict.0.group_name|safe }}</td>
                                {% endif %}
                            {% else %}
                                {% if city.city_groups_dict.0.mark == 0 %}
                                    <td class="source-name-even">{{ city.city_groups_dict.0.group_name|safe }}</td>
                                    {% if city.city_groups_dict.0.short_ref != None %}
                                        <td class="source-id-even">{{ city.city_groups_dict.0.short_ref|safe }}</td>
                                    {% else %}
                                        <td class="source-id-even"></td>
                                    {% endif %}
                                {% else %}
                                    <td class="source-name-odd">{{ city.city_groups_dict.0.group_name|safe }}</td>
                                    {% if city.city_groups_dict.0.short_ref != None %}
                                        <td class="source-id-odd">{{ city.city_groups_dict.0.short_ref|safe }}</td>
                                    {% else %}
                                        <td class="source-id-odd"></td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </tr>
                        {# Print all groups for each city #}
                        {% for group in city.city_groups_dict %}
                            {% if not forloop.first %}
                                <tr>
                                    {% if sort_method == "short_ref" %}
                                        {% if group.mark == 0 %}
                                            <td class="source-id-even">{{ group.short_ref|safe }}</td>
                                            <td class="source-name-even">{{ group.group_name|safe }}</td>
                                        {% else %}
                                            <td class="source-id-odd">{{ group.short_ref|safe }}</td>
                                            <td class="source-name-odd">{{ group.group_name|safe }}</td>
                                        {% endif %}
                                    {% else %}
                                        {% if group.mark == 0 %}
                                            <td class="source-name-even">{{ group.group_name|safe }}</td>
                                            <td class="source-id-even">{{ group.short_ref|safe }}</td>

                                        {% else %}
                                            <td class="source-name-odd">{{ group.group_name|safe }}</td>
                                            <td class="source-id-odd">{{ group.short_ref|safe }}</td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endif %}
                            {% for source in group.sources %}
                                <tr>
                                    {% if sort_method == "short_ref" %}
                                        {% if source.mark == 0 %}
                                            {% if source.short_ref != None %}
                                                <td class="source-id-even">{{ source.short_ref|safe }}</td>
                                            {% else %}
                                                <td class="source-id-even"></td>
                                            {% endif %}
                                            <td class="source-name-even">{{ source.full_ref|safe }}</td>
                                        {% else %}
                                            {% if source.short_ref != None %}
                                                <td class="source-id-odd">{{ source.short_ref|safe }}</td>
                                            {% else %}
                                                <td class="source-id-odd"></td>
                                            {% endif %}
                                            <td class="source-name-odd">{{ source.full_ref|safe }}</td>
                                        {% endif %}
                                    {% else %}
                                        {% if source.mark == 0 %}
                                            <td class="source-name-even">{{ source.full_ref|safe }}</td>
                                            {% if source.short_ref != None %}
                                                <td class="source-id-even">{{ source.short_ref|safe }}</td>
                                            {% else %}
                                                <td class="source-id-even"></td>
                                            {% endif %}
                                        {% else %}
                                            <td class="source-name-odd">{{ source.full_ref|safe }}</td>
                                            {% if source.short_ref != None %}
                                                <td class="source-id-odd">{{ source.short_ref|safe }}</td>
                                            {% else %}
                                                <td class="source-id-odd"></td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </tbody>
                </table>
            </div>
        {% elif sorted_letters %}
            <div id="sources">
                <table class="table table-responsive table-break table-striped">
                <tbody>
                    {% for i in results %}
                        {% if forloop.first %}
                            <tr>
                                <td class="sources-letter-first" colspan="2">
                                    <span>{{ i.letter }}</span>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="sources-letter" colspan="2">
                                    <span>{{ i.letter }}</span>
                                </td>
                            </tr>
                        {% endif %}
                            {% for j in i.items %}
                                <tr>
                                {% if forloop.counter0|divisibleby:2 == 0 %}
                                    {% if sort_method == "short_ref" %}
                                        <td class="source-id-odd">{{ j.short_ref|safe }}</td>
                                        <td class="source-name-odd">
                                            {{ j.full_ref|safe }}
                                        </td>
                                    {% else %}
                                        <td class="source-name-odd">
                                            {{ j.full_ref|safe }}
                                        </td>
                                        <td class="source-id-odd">{{ j.short_ref|safe }}</td>
                                    {% endif %}
                                {% else %}
                                    {% if sort_method == "short_ref" %}
                                        <td class="source-id-even">{{ j.short_ref|safe }}</td>
                                        <td class="source-name-even">
                                            {{ j.full_ref|safe }}
                                        </td>
                                    {% else %}
                                        <td class="source-name-even">
                                            {{ j.full_ref|safe }}
                                        </td>
                                        <td class="source-id-even">{{ j.short_ref|safe }}</td>
                                    {% endif %}
                                {% endif %}
                                </tr>
                            {% endfor %}
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% else %}
            <div id="sources">
                <table class="table table-responsive table-break table-striped">
                <tbody>
                    {% for i in results %}
                        <tr>
                        {% if forloop.counter0|divisibleby:2 == 0 %}
                            {% if sort_method == "short_ref" %}
                                <td class="source-id-odd">{{ i.short_ref|safe }}</td>
                                <td class="source-name-odd">
                                    {{ i.full_ref|safe }}
                                </td>
                            {% else %}
                                <td class="source-name-odd">
                                    {{ i.full_ref|safe }}
                                </td>
                                <td class="source-id-odd">{{ i.short_ref|safe }}</td>
                            {% endif %}
                        {% else %}
                            {% if sort_method == "short_ref" %}
                                <td class="source-id-even">{{ i.short_ref|safe }}</td>
                                <td class="source-name-even">
                                    {{ i.full_ref|safe }}
                                </td>
                            {% else %}
                                <td class="source-name-even">
                                    {{ i.full_ref|safe }}
                                </td>
                                <td class="source-id-even">{{ i.short_ref|safe }}</td>
                            {% endif %}
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        	{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}