{% load i18n %}
<div class="page-title-1">{% trans "Catherine  Zimmermann-Mulgrave: A Slave Odyssey" %}</div>

{% url 'voyage:voyage' as voyage_voyage_url %}
{% url 'resources:images-detail' as resources_images-detail %}

<div class="essay-info">
	<span class="essay-author">Daniel Domingues da Silva</span>
	<span class="essay-location">({% trans "Emory University" %})</span>,
	<span class="essay-date">{% trans "August 2007" %}</span>
</div>

<div class="essay-image-left">
	<a href="{% url 'resources:images-search' %}?q=mulgrave"><img src="{{ STATIC_URL}}images/assessment/essays-images/mulgrave.jpg" width="200" height="180" border="0" alt="Catherine Zimmermann-Mulgrave (1873)"/></a>
	<div style="width: 200px;">
		<div class="caption">
			{% trans "Catherine Zimmermann-Mulgrave (1873)" %}
		</div>
	</div>
</div>

<p>
	{% blocktrans %}Catherine Zimmermann-Mulgrave’s life experiences after imprisonment
	on a slave vessel were highly unusual when measured against the stories
	of most captive Africans. She was an eight year old survivor of the
	Portuguese Schooner “Heroína,” shipwrecked on the coast of Jamaica in
	1833. The vessel had embarked 303 slaves on the coast of Angola, and
	was intended for Cuba. Contemporary records indicate that only four
	slaves had drowned in the wreck, but many more had died the transatlantic
	crossing. (For additional details, see <a href="{{ voyage_voyage_url }}?voyageId=41890">VoyageID
	41890</a>).{% endblocktrans %}
</p>

<p>
	{% blocktrans %}The shipwreck occurred on what was then British soil and, under
	the terms of the 1807 act abolishing the slave trade, she and the
	other survivors of the wreck were freed and apprenticed – in her
	case to members of the Moravian church. Catherine left no memoirs,
	and details of her life come from letters written by her second
	husband, Johannes Zimmermann, a missionary from the Basel Mission
	of Switzerland who eventually lived in what is today Ghana, and
	from accounts of the shipwreck. Catherine’s African name was Gewe,
	and she was apparently renamed after the Earl of Mulgrave, the
	Governor of Jamaica at the time of the shipwreck. She was descended
	from a family of chiefs on her father’s side, and belonged to a
	prominent family of mulattos on her mother’s side. Catherine described
	her home town to Zimmermann as a major seaport where several Europeans
	lived. Many of the details she provided indicate that she may have been
	born and spent her early years in Luanda, a Portuguese port located on
	the coast of Angola, although we cannot verify this.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Sometime around 1833, Catherine was kidnapped on the way to school
	along with a group of friends. The group was lured to the “Heroína,”
	by sailors who offered them candies. Catherine, together with her
	friends, was carried away from the coast of Angola. She reported to
	her husband that the captain had treated her well all the way to the
	Americas, and, like many other children caught up in the slave trade,
	she did not travel chained in the hold with the other slaves. Nevertheless,
	Catherine must have witnessed every day life on board a slave vessel.
	Zimmermann tells that Catherine saw a slave badly beaten because he had
	attempted to commit suicide, and that slaves were brought from the hold
	daily for air. Conditions in that hold were no doubt appalling.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Catherine may have avoided the slave hold, but undoubtedly felt the
	fear of being kidnapped and carried to a strange land. In the Americas,
	she married for the first time in 1843 to Georg Peter Thompson, by whom
	she had two children, Rosie and Georg. In 1849, she divorced Thompson,
	and two years later, in 1851, married Zimmermann. <a href="{{ resources_images-detail }}?image=mulgrave">The image</a> available
	in our gallery of images is a photograph of the new family showing her
	husband standing behind her chair. Catherine became a teacher and returned
	to Africa with her husband to engage in missionary work in Ghana.{% endblocktrans %}
</p>