{% load i18n %}

<div class="page-title-2">{% trans "Introduction" %}</div>

<p>
	{% blocktrans %}The trans-Atlantic slave trade was the largest long-distance
	coerced movement of people in history and, prior to the
	mid-nineteenth century, formed the major demographic well-spring
	for the re-peopling of the Americas following the collapse of the
	Amerindian population. Cumulatively, as late as 1820, nearly four
	Africans had crossed the Atlantic for every European, and, given
	the differences in the sex ratios between European and African
	migrant streams, about four out of every five females that
	traversed the Atlantic were from Africa. From the late fifteenth
	century, the Atlantic Ocean, once a formidable barrier that
	prevented regular interaction between those peoples inhabiting the
	four continents it touched, became a commercial highway that
	integrated the histories of Africa, Europe, and the Americas for
	the first time. As the above figures suggest, slavery and the slave
	trade were the linchpins of this process. With the decline of the
	Amerindian population, labor from Africa formed the basis of the
	exploitation of the gold and agricultural resources of the export
	sectors of the Americas, with sugar plantations absorbing well over
	two thirds of slaves carried across the Atlantic by the major
	European and Euro-American powers. For several centuries slaves
	were the most important reason for contact between Europeans and
	Africans.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}What can explain this extraordinary migration, organized
	initially on a continent where the institution of slavery had
	declined or totally disappeared in the centuries prior to Columbian
	contact, and where, even when it had existed, slavery had never
	been confined to one group of people? To pose the question
	differently, why slavery, and why were the slaves carried across
	the Atlantic exclusively African? The short answer to the first of
	these two questions is that European expansion to the Americas was
	to mainly tropical and semi-tropical areas. Several products that
	were either unknown to Europeans (like tobacco), or occupied a
	luxury niche in pre-expansion European tastes (like gold or sugar),
	now fell within the capacity of Europeans to produce more
	abundantly. But while Europeans could control the production of
	such exotic goods, it became apparent in the first two centuries
	after Columbian contact that they chose not to supply the labor
	that would make such output possible. Free European migrants and
	indentured servants never traveled across the Atlantic in
	sufficient numbers to meet the labor needs of expanding
	plantations. Convicts and prisoners – the only Europeans who were
	ever forced to migrate – were much fewer in numbers again. Slavery
	or some form of coerced labor was the only possible option if
	European consumers were to gain access to more tropical produce and
	precious metals.{% endblocktrans %}
</p>