{% load i18n %}
<div class="page-title-1">{% trans "Ayuba Suleiman Diallo and Slavery in the Atlantic World" %}</div>

{% url 'voyage:voyage' as voyage_voyage_url %}
{% url 'resources:images-detail' as resources_images-detail %}

<div class="essay-info">
	<span class="essay-author">Daniel Domingues da Silva</span>
	<span class="essay-location">({% trans "Emory University" %})</span>, <span class="essay-date">{% trans "July 2007" %}</span>
</div>

<div class="essay-image-left">
	<a href="{% url 'resources:images-search' %}?q=solomon">
		<img src="{{ STATIC_URL }}images/assessment/essays-images/solomon.jpg" width="150" height="170" border="0" alt="Job Ben Solomon in in the Gentleman’s Magazine (1750)" />
	</a>
	<div style="width: 150px;">
		<div class="caption">
			{% trans "Ayuba Suleiman Diallo in the Gentleman’s Magazine (1750)" %}
		</div>
	</div>
</div>

<p>
	{% blocktrans %}Before the nineteenth century most people in the world lived under
	some type of dependency of which slavery was just one form. The story
	of Ayuba Suleiman Diallo provides insight into a world where slavery
	was just another social relationship. Ayuba was a Fulbe Muslim known
	as Job Ben Solomon to Europeans. In 1731, he traveled from Bondu to
	the Gambia River to sell two slaves at his father’s request. He tried
	to sell the slaves to a Captain Pike but they could not agree on a
	price, so Ayuba sold the slaves for cows to another African trader.
	Ironically, on the way home Ayuba was captured by raiders and sold to
	the same captain with whom he had recently haggled. Captain Pike carried
	Ayuba off to Maryland, one of the British colonies on the North American
	mainland, where he spent about a year as a slave before returning to Africa via England.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}In the Americas, Ayuba shared the experiences of many enslaved Africans,
	and like many of his fellow Africans he attempted to run away. Ayuba was a
	slave at the tobacco plantations of Kent Island, Maryland. He had probably
	never worked under a labor regime that approached what was the norm on
	American plantations. During one of his attempts to escape, he met Thomas
	Bluett, an Englishmen, who, impressed by Ayuba’s Muslim education, helped
	him gain his liberty and return to Africa. Indeed, one of Ayuba’s letters
	still survives in the British Library and his religious convictions inspired
	images such as the one available in our gallery of images, published originally
	in 1750 in the <a href="{{ resources_images-detail }}?image=solomon">Gentleman’s
	Magazine</a>.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Bluett’s memoirs, published in 1734, provide one of the most complete accounts
	of Ayuba’s life. Another is available by Francis Moore, who in 1744 published his
	accounts of travel up the River Gambia, where he met Ayuba. Thanks to the accounts
	of Bluett and Moore, it is possible to trace in the archives the vessel in which
	Ayuba crossed the Atlantic. This was the ship “Arabella,” commanded by the said
	Captain Pike and owned by William and Henry Hunt, merchants of London. (For more details see
	<a href="{{ voyage_voyage_url }}?voyageId=75094">VoyageID
	75094</a>).{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Despite his life trajectory, Ayuba’s story has received much less attention
	than have other known survivors of the Middle Passage such as Olaudah Equiano or
	Venture Smith. Ayuba Suleiman Diallo was clearly a victim of the traffic as well
	as a trader in slaves, and indeed he resumed his slave trading activities when he
	returned to Africa, working for the English Royal African Company. An important
	lesson to be drawn from Ayuba’s life is that slavery was widely accepted in the
	mid-eighteenth century among both Europeans and Africans.{% endblocktrans %}
</p>
