{% load i18n %}

<div class="page-title-2">{% trans "Provisioning-slaving seasons" %}</div>
{% url 'voyage:search' as voyage_search_url %}
{% url 'voyage:voyage' as voyage_voyage_url %}

<p>
	{% blocktrans %}Seasonality in Atlantic slaving markets linked closely to
	food supplies, since merchants, whether African, European, or
	American, would not purchase large numbers of people they could not
	keep alive. There were distinct provisioning-slaving seasons in
	Atlantic regions dependent upon a short rainy season and a staple
	crop. In more diversified early modern economies, often those with
	fewer dry months (and hence more evenly distributed rainfall), food
	production and labor requirements on farms became less seasonal.
	Provisioning-slaving seasons ebbed during rainy planting months and
	increased during and after dry season harvests. After crops were
	harvested and stored, African merchants sold enslaved farmers and
	provisions to coastal middlemen who, in turn, sold these captives
	to ship captains.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}In Africa, Upper Guinea (from Senegal to the Ivory Coast)
	and the Bight of Biafra had marked provisioning-slaving seasons. In
	Senegal and Gambia, millet stocks increased in March-May before the
	summer rains. May-July was correspondingly the greatest quarter in
	the Senegambian slave export trade—three times greater than in the
	September-November quarter. Along the Sierra Leone/Windward Coasts,
	the rice-slave season began in November and supplies of food and
	people began to dwindle in late April. In spring 1751, south of
	Sierra Leone, Liverpool captain John Newton <a
	href="{{ voyage_voyage_url }}?voyageId=90350">VoyageID 90350</a>,
	the author of “Amazing Grace,” purchased late-season rice and
	slaves. He remarked on April 30th in his logbook, held today at the
	National Maritime Museum (UK), “the season is so far advanced.”
	Sierra Leone/Windward Coast slave exports from March to May almost
	doubled totals from June to August. In the Bight of Biafra, the
	season’s first yams arrived in markets in July and August; the peak
	harvest occurred in October, and supplies remained until February
	or March. September-November slave exports doubled those totals
	from June-August. Fewer dry months along the Gold Coast or Bight of
	Benin enabled farmers to often double-crop maize and other cereals.
	Given greater food supplies, slave exports exhibited less of a
	seasonal trend. Traders also did not identify provisioning-slaving
	seasons along the West-Central African coast. With few foodstuffs
	available for export overseas, the link between harvest cycles and
	slave supplies is weakest in the South Atlantic African slaving
	markets.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}The timing of dry season grain and cash crop harvests
	regulated the New World demand for enslaved African labor. The
	sugar producing West Indies and Guianas imported more slaves during
	the December-May corn and cane harvests. In Brazilian
	sugar-producing centers, such as Bahia, the provisioning-slaving
	season centered on the drier November-February quarter. During
	three months of the harvest season, slave import figures ranged from
	twenty-nine percent of annual totals (Cuba, Pernambuco, Bahia) to
	forty-four percent (northwest Jamaica). In the smaller
	non-sugar-growing regions of North and South America, captains
	disembarked comparatively large numbers of slaves in-season during
	rainier months. Chesapeake tobacco planters only demanded new
	migrant farmers during the April-May spring rains, when men and
	women transplanted tobacco stalks to the fields, and in
	June-August, before harvesting and curing. The autumn corn harvest
	provided food stocks to sustain workers forced to produce the
	annual tobacco crop. In the rice-growing Carolina/Georgia
	Lowcountry, Surinam, and Maranhão, planters purchased twice as many
	workers during the four in-crop months.{% endblocktrans %}
</p>