{% load i18n %}
<h2>{% trans "Notes" %}</h2>

<p>
	{% blocktrans %}1  The Portuguese delivered slaves through two separate trading networks,
	one rooted in the Iberian Peninsula that supplied the early Spanish Americas
	and Amazonia, and a second, much larger, network based in Brazil, which brought
	slaves directly from Africa to northeast Brazil and Rio de Janeiro.
	See Daniel B. Domingues da Silva, “The Atlantic Slave Trade to Maranhão,
	1680-1846: Volume, Routes and Organization,” <span class="italic"> and Abolition</span> (forthcoming).{% endblocktrans %}
</p>

<p>
	{% blocktrans %}2  A.C. de C. M. Saunders, <span class="italic"> A Social History of
		Black Slaves and Freedmen in Portugal</span>, 1441-1555, (New York: Cambridge University Press, 1982), 59.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}3  For the full account, see Antione Edme Pruneau de Pommegorge,
	<span class="italic"> Description de la Nigritie</span>, (Paris: Chez Maradan, 1789), 104-118.{% endblocktrans %}
</p>