<!-- Corresponds to the left menu of the Assessment Essay sections -->

{% load i18n %}

<div class="sidebar-header-container"><div class="sidebar-title-1">{% trans "Essays" %}</div></div>

<div class="sidebar-section">
<div class="sidebar-title-2">{% trans "Interpretation" %}</div>

<div class="secondary-menu-item-0">
	<a href="#" id="c01_s01_cover">{% trans "A Brief Overview of the Trans-Atlantic Slave Trade" %}</a>
</div>

<div class="secondary-menu-subitems-0" id="c01_s01_submenu">
	<div class="secondary-menu-item-1 assessment_selected" id="c01_s01_p01">
			<a href="#">{% trans "Introduction" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p02">
			<a href="#">{% trans "The Enslavement of Africans" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p03">
			<a href="#">{% trans "African Agency and Resistance" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p04">
			<a href="#">{% trans "Early Slaving Voyages" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p05">
			<a href="#">{% trans "Empire and Slavery" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p06">
			<a href="#">{% trans "The African Side of the Trade" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p07">
			<a href="#">{% trans "The Middle Passage" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p08">
			<a href="#">{% trans "The Ending of the Slave Trade" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p09">
			<a href="#">{% trans "The Trade’s Influence on Ethnic and Racial Identity" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p10">
			<a href="#">{% trans "Eventual Abolition" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s01_p11">
			<a href="#">{% trans "Notes" %}</a>
		</div>
</div>

<div class="secondary-menu-item-0" >
	<a href="#" id="c01_s02_cover">{% trans "Seasonality in the Trans-Atlantic Slave Trade" %}</a>
</div>
<div class="secondary-menu-subitems-0" id="c01_s02_submenu">

		<div class="secondary-menu-item-1" id="c01_s02_p01">
			<a href="#">{% trans "Introduction" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s02_p02">
			<a href="#">{% trans "Agriculture in the era of the trans-Atlantic slave trade" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s02_p03">
			<a href="#">{% trans "Seasonal rainfall in the Atlantic slaving world" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s02_p04">
			<a href="#">{% trans "Rainfall, crop type and agricultural calendars" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s02_p05">
			<a href="#">{% trans "Agricultural calendars and labor requirements" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s02_p06">
			<a href="#">{% trans "Provisioning-slaving seasons" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s02_p07">
			<a href="#">{% trans "Slave-trading seasonality: case studies" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s02_p08">
			<a href="#">{% trans "Trans-Atlantic pathways and harvest cycles" %}</a>
		</div>
		<div class="secondary-menu-item-1" id="c01_s02_p09">
			<a href="#">{% trans "Conclusion" %}</a>
		</div>
</div>
<div class="secondary-menu-item-0">
		<a href="#" id="c01_s03_cover">{% trans "Dobo: A Liberated African in Nineteenth-Century Havana" %}</a>
</div>

</div>
<div class="sidebar-section">

<div class="sidebar-title-2">
	{% trans "Vignettes" %}
</div>
<div class="secondary-menu-item-0">
		<a href="#" id="c01_s04_cover">{% trans "Ayuba Suleiman Diallo and Slavery in the Atlantic World" %}</a>
</div>
<div class="secondary-menu-item-0" >
		<a href="#" id="c01_s05_cover">{% trans "Catherine Zimmermann-Mulgrave: A Slave Odyssey" %}</a>
</div>
</div>

<div class="sidebar-section">

<div class="sidebar-title-2">
	{% trans "Research notes" %}
</div>
<div class="secondary-menu-item-0">
	<a href="#" id="c01_s06_cover">{% trans "Voyages and Applied History" %}</a>
</div>
</div>
