{% extends "assessment/assessmentbase.html" %}
{% load sass_tags %}
{% load i18n %}

<!-- The basic template for assessment essays -->

{% block title %}{% trans "A Brief Overview of the Trans-Atlantic Slave Trade" %}{% endblock %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans.scss' %}" rel="stylesheet" type="text/css" />

<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/assessment/assessment-essays.css" /> -->
{% endblock %}

{% block jslist %}
<script src="{{ STATIC_URL }}scripts/legacy/navigation_assessment.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/legacy/setup_left_menu.js" type="text/javascript"></script>
{% endblock %}

{% block center-content %}
<div class="container-new">

  <div class="row  row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			{% block left-menu %}
				{%include "assessment/c01_left_menu.html" %}
			{% endblock %}
		</div>

    <div class="col-md-8 col-xs-12 col-lg-9 ">

			<p class="hidden-md">
        <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
            <span>Toggle Sidebar</span>
          </div>
        </button>
      </p>

			<div id="center-content-inner">
			</div>
    </div>
  </div>
</div>

{% endblock %}
