{% load i18n %}
<div class="page-title-2">{% trans "African Agency and Resistance" %}</div>

<p>
	{% blocktrans %}If demand for slave-grown produce, social identity, and the
	Atlantic environment were three key factors shaping the traffic,
	the agency of Africans comprised a fourth major influence, but one
	which has received less attention from historians. The merchants
	who traded slaves on the coast to European ship captains – for
	example the Vili traders north of the Congo, the Efik in the Bight
	of Biafra - and behind them the groups that supplied the slaves,
	such as the Kingdom of Dahomey, the Aro network, and further south,
	the Imbangala, all had strict conceptions of what made an
	individual eligible for enslavement. Among such criteria were
	constructions of gender, definitions of criminal behavior, and
	conventions for dealing with prisoners of war. The make up of
	slaves purchased on the Atlantic coast thus reflected whom Africans
	were prepared to sell as much as whom Euro-American plantation
	owners wanted to buy. But the victims of the slave trade also had a
	major impact on the trade. Probably about one in ten slaving
	voyages experienced major rebellions, of which the attempts to control
	increased the costs of a slave voyage to the point where far fewer
	slaves entered the traffic than would have been the case without
	resistance. In addition, vessels from some regions on the coast
	appear to have been more prone to experience slave uprisings than
	those from other regions. The rebellion-prone areas were precisely
	those regions, broadly comprising Upper Guinea (Senegambia, Sierra
	Leone, and the Windward Coast) which had the least participation in
	the slave trade. The strong inference is that European slave
	traders avoided this part of the African coast except in those
	years when demand for slaves, and their prices, were particularly
	high.{% endblocktrans %}
</p>