{% extends "assessment/assessmentbase.html" %}

{% block title %}A Brief Overview of the Trans-Atlantic Slave Trade{% endblock %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/assessment/assessment-essays.css" />
{% endblock %}

{% block jslist %}
<script src="{{ STATIC_URL }}scripts/navigation_assessment.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/embed_left_menu.js" type="text/javascript"></script>
{% endblock %}

{% block left-menu %}
<div id="left-menu" class="left-menu-box">
	
{%include "assessment/c01_left-menu.html" %}
 
</div>
{% endblock %}

{% block center-content %}
<div id="center-content-inner">

</div>
<table border="0" cellspacing="0" cellpadding="0" class="essay-prev-next">
	<tr>
		<td class="essay-prev"><a id="prev-page" href="#">&nbsp;</a></td>
		<td class="essay-next"><a id="next-page" href="#">&nbsp;</a></td>
	</tr>
</table>

{% endblock %}
