
<!-- NOT SURE IF THIS PAGE IS IN USE OR NOT -->


{% extends "assessment/assessmentbase.html" %}

<!--Base template for the essay section of Assessment -->

{% block title %}A Brief Overview of the Trans-Atlantic Slave Trade{% endblock %}

{% block csslist %}
{% endblock %}

{% block jslist %}
<!-- <script src="{{ STATIC_URL }}scripts/legacy/navigation_assessment.js" type="text/javascript"></script> -->
<!-- <script src="{{ STATIC_URL }}scripts/embed_left_menu.js" type="text/javascript"></script> -->
{% endblock %}

{% block left-menu %}
<div id="left-menu" class="left-menu-box">

{%include "assessment/c01_left-menu.html" %}

</div>
{% endblock %}

{% block center-content %}
<div id="center-content-inner">

</div>
<table border="0" cellspacing="0" cellpadding="0" class="essay-prev-next">
	<tr>
		<td class="essay-prev"><a id="prev-page" href="#">&nbsp;</a></td>
		<td class="essay-next"><a id="next-page" href="#">&nbsp;</a></td>
	</tr>
</table>

{% endblock %}
