<div class="left-menu-title">
	<h3>Essays </h3>
</div>

<div class="left-menu-subtitle">
	Interpretation
</div>

<div class="secondary-menu-item-0">
	<a href="#" id="essays-introduction">A Brief Overview of the Trans-Atlantic Slave Trade</a>
</div>

<div class="secondary-menu-subitems-0" id="essays-intro00">
	<div class="secondary-menu-item-1 assessment_selected" id="essays-intro-01">
			<a href="#">Introduction</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-02">
			<a href="#">The Enslavement of Africans</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-03">
			<a href="#">African Agency and Resistance</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-04">
			<a href="#">Early Slaving Voyages</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-05">
			<a href="#">Empire and Slavery</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-06">
			<a href="#">The African Side of the Trade</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-07">
			<a href="#">The Middle Passage</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-08">
			<a href="#">The Ending of the Slave Trade</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-09">
			<a href="#">The Trade’s Influence on Ethnic and Racial Identity</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-10">
			<a href="#">Eventual Abolition</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-11">
			<a href="#">Notes</a>
		</div>
</div>

<div class="secondary-menu-item-0" >
	<a href="#" id="essays-seasonality">Seasonality in the Trans-Atlantic Slave Trade</a>
</div>
<div class="secondary-menu-subitems-0" id="essays-seasonality00">
	
		<div class="secondary-menu-item-1" id="essays-seasonality-01">
			<a href="#">Introduction</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-seasonality-02">
			<a href="#">Agriculture in the era of the trans-Atlantic slave trade</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-seasonality-03">
			<a href="#">Seasonal rainfall in the Atlantic slaving world</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-seasonality-04">
			<a href="#">Rainfall, crop type and agricultural calendars</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-seasonality-05">
			<a href="#">Agricultural calendars and labor requirements</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-seasonality-06">
			<a href="#">Provisioning-slaving seasons</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-seasonality-07">
			<a href="#">Slave-trading seasonality: case studies</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-seasonality-08">
			<a href="#">Trans-Atlantic pathways and harvest cycles</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-seasonality-09">
			<a href="#">Conclusion</a>
		</div>
</div>
<div class="secondary-menu-item-0">
		<a href="#" id="essays-grandio">Dobo: A Liberated African in Nineteenth-Century Havana</a>
</div>

<div class="left-menu-subtitle">
	Vignettes
</div>
<div class="secondary-menu-item-0">
		<a href="#" id="essays-solomon">Ayuba Suleiman Diallo and Slavery in the Atlantic World</a>
</div>
<div class="secondary-menu-item-0" >
		<a href="#" id="essays-mulgrave">Catherine  Zimmermann-Mulgrave: A Slave Odyssey</a>
</div>

<div class="left-menu-subtitle">
	Research notes
</div>
<div class="secondary-menu-item-0">
	<a href="#" id="essays-applied-history">Voyages and Applied History</a>
</div>
