{% load i18n %}
{% load assessment_extras %}
{% load humanize %}
<div class="results-panel">
    <h1>Table</h1>

    <div class="estimates-table-options">
        <ul class="estimates-table-form">
            {{ table_form.as_ul }}
        </ul>
        <p>
            <input type="submit" value="{% trans 'Show' %}" name="buttonShow"/>
        </p>
    </div>

    <div id="main-table-wrapper" class="estimates-table" style="min-width: 320px; position:relative;min-height:500px;">
        <div id="inner-main-table_wrapper" style="position:absolute;right:0px;left:0px;top:0px;background-color:white;">
            <table class="simple-table" id="estimates-table" cellspacing="0" cellpadding="0" border="0">
                <thead>
                    {% for header_row in header_rows %}
                    <tr name="header">
                        {% if forloop.first %}
                        <td class="tbl-label col_header" rowspan="{{ header_rows_len }}"></td>
                        {% endif %}
                        {% for header_cell in header_row %}
                        <td class="tbl-label col_header" name="header" colspan="{{ header_cell.1 }}">{{ header_cell.0 }}</td>
                        {% endfor %}
                        {% if forloop.first %}
                        <td class="tbl-label col_header" name="header" rowspan="{{ totals_header_rows_len }}"
                            colspan="{{ totals_header_cols_span }}">Totals
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in rows %}
                        {% if forloop.last == False %}
                            <tr>
                                {% for cell in row %}
                                    {% if forloop.first %}
                                        <td class="tbl-label row_header" name="header">{{ cell }}</td>
                                    {% else %}
                                        <td>{{ cell|intcomma }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% with row=rows|last %}
                        <tr>
                            {% for cell in row %}
                                {% if forloop.first %}
                                    <td class="tbl-label row_header" name="header">{{ cell }}</td>
                                {% else %}
                                    <td>{{ cell|intcomma }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endwith %}
                </tfoot>
            </table>
            <p style="margin-top: 30px;">
                <input type="submit" name="download" value="{% trans 'Download table' %}"/>
            </p>
        </div>
    </div>
    <script src="{{ STATIC_URL }}scripts/assessment/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/assessment/dataTables.fixedColumns.js" type="text/javascript"></script>
    <script type="text/javascript">
        {% for i in totals_header_cols_span|get_range %}
            $('#estimates-table tr td:nth-last-child({{ i|add:"1" }})').filter("[name!='header']").addClass('tbl-total');
        {% endfor %}
        $('#estimates-table tfoot tr:last-child').attr('name', 'header');
        $('#estimates-table tfoot tr:last-child').children().filter("[name!='header']").addClass('tbl-total');
        $('#estimates-table tr').filter("[name!='header']").hover(function() {
            $(this).addClass('highlight-row');
        }, function() {
            $(this).removeClass('highlight-row');
        });
        $('#estimates-table tr td').filter("[name!='header']").hover(function() {
            var index = $(this).prevAll().length;
            $('#estimates-table tr').find(':nth-child(' + (index + 1) + ')').filter("[name!='header']").addClass('highlight-col');
        }, function() {
            var index = $(this).prevAll().length;
            $('#estimates-table tr').find(':nth-child(' + (index + 1) + ')').filter("[name!='header']").removeClass('highlight-col');
        });
        var sizeHelper = function() {
            console.log('hello');
            var h = $('#inner-main-table_wrapper').height();
            $(".DTFC_LeftBodyWrapper").get(0).style.height = h + "px";
            var wrapper = $('#main-table-wrapper');
            wrapper.get(0).style.height = (h + 60) + "px";
        };
        var table = $('#estimates-table').dataTable({
            "aaSorting": [],
            "bAutoWidth": false,
            "scrollX": true,
            "bFilter": false,
            "bPaginate": {{ rows|length }} > 100,
        });
        new $.fn.dataTable.FixedColumns( table );
    </script>
</div>
