{% extends "base.html" %}
{% load sass_tags %}
{% load humanize %}
{% load i18n %}
{% load assessment_extras %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/intro-maps.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment-estimates.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment-expandable-box.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment-tabs.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/expandable-box.css">
{% endblock %}

{% block jslist %}

{% endblock %}

{% block title %}{% trans 'Estimates' %}{% endblock %}

{% block content %}
<form id="form" name="form" method="post" action="{% url 'assessment:estimates' %}"
      enctype="application/x-www-form-urlencoded" >{% csrf_token %}
<input type="hidden" name="selected_tab" value="{{ tab_selected }}" />
<table cellspacing="0" cellpadding="0" border="0" style="width: 100%">
<tbody>
  <tr>
    <td class="td-side-panel">
      {% include "assessment/estimates-left-menu.html" %}
    </td>
    <td class="td-main-panel" style="display:table; width: 100%; height:100%">
      <div class="tabs-selection">
        <table class="tabs-selection" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td class="tabs-tab-first-filler"></td>
            <td class="{% if tab_selected == 'table' %}tabs-tab-left-selected{% else %}tabs-tab-left{% endif %}"></td>
            <td class="{% if tab_selected == 'table' %}tabs-tab-middle-selected{% else %}tabs-tab-middle{% endif %}" onclick="document.forms['form'].elements['selected_tab'].value = 'table'; document.forms['form'].submit(); return false;">{% trans 'Tables' %}</td>
            <td class="{% if tab_selected == 'table' %}tabs-tab-right-selected{% else %}tabs-tab-right{% endif %}"></td>
            <td class="tabs-tab-filler"></td>
            <td class="{% if tab_selected == 'timeline' %}tabs-tab-left-selected{% else %}tabs-tab-left{% endif %}"></td>
            <td class="{% if tab_selected == 'timeline' %}tabs-tab-middle-selected{% else %}tabs-tab-middle{% endif %}" onclick="document.forms['form'].elements['selected_tab'].value = 'timeline'; document.forms['form'].submit(); return false;">{% trans 'Timeline' %}</td>
            <td class="{% if tab_selected == 'timeline' %}tabs-tab-right-selected{% else %}tabs-tab-right{% endif %}"></td>
            <td class="tabs-tab-filler"></td>
            <td class="{% if tab_selected == 'map' %}tabs-tab-left-selected{% else %}tabs-tab-left{% endif %}"></td>
            <td class="{% if tab_selected == 'map' %}tabs-tab-middle-selected{% else %}tabs-tab-middle{% endif %}" onclick="document.forms['form'].elements['selected_tab'].value = 'map'; document.forms['form'].submit(); return false;">{% trans 'Maps' %}</td>
            <td class="{% if tab_selected == 'map' %}tabs-tab-right-selected{% else %}tabs-tab-right{% endif %}"></td>
            <td class="tabs-tab-last-filler"></td>
          </tr>
        </tbody>
        </table>
      </div>
      {% if tab_selected == 'table' %}
        {% include "assessment/estimates_table.html" %}
      {% elif tab_selected == 'timeline' %}
        {% include "assessment/estimates_timeline.html" %}
      {% elif tab_selected == 'map' %}
        {% include "assessment/estimates_map.html" %}
      {% endif %}
    </td>
  </tr>
</tbody>
</table>


</form>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
