{% extends "base.html" %}
{% load i18n %}

{% block csslist %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment-estimates.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment-expandable-box.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment-tabs.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/expandable-box.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/">
{% endblock %}

{% block jslist %}

{% endblock %}

{% block title %}Estimates{% endblock %}

{% block content %}
<form id="form" name="form" method="post" action="{% url 'resources:origins' %}"
      enctype="application/x-www-form-urlencoded" >{% csrf_token %}

<table cellspacing="0" cellpadding="0" border="0" style="width: 100%">
<tbody>
  <tr>
    <td class="td-side-panel">
      {% include "assessment/estimates-left-menu.html" %}
    </td>
    <td class="td-main-panel">
      <div class="tabs-selection">
        <table class="tabs-selection" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td class="tabs-tab-first-filler"></td>
            <td class="tabs-tab-left-selected"></td>
            <td class="tabs-tab-middle-selected" onclick="document.forms['form'].elements['form:mainPanelSection_selected_tab'].value = 'table'; document.forms['form'].submit(); return false;">Tables</td>
            <td class="tabs-tab-right-selected"></td>
            <td class="tabs-tab-filler"></td>
            <td class="tabs-tab-left"></td>
            <td class="tabs-tab-middle" onclick="document.forms['form'].elements['form:mainPanelSection_selected_tab'].value = 'timeline'; document.forms['form'].submit(); return false;">Timeline</td>
            <td class="tabs-tab-right"></td>
            <td class="tabs-tab-filler"></td>
            <td class="tabs-tab-left"></td>
            <td class="tabs-tab-middle" onclick="document.forms['form'].elements['form:mainPanelSection_selected_tab'].value = 'map'; document.forms['form'].submit(); return false;">Maps</td>
            <td class="tabs-tab-right"></td>
            <td class="tabs-tab-last-filler"></td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="results-panel">
        <h1>Table</h1>
        <div class="estimates-table-options">
          <table style="border-collapse: collapse;">
          <tbody>
            {% for field in table_form %}
              <tr>
                <td> <b> {{ field.label }}: </b> </td>
                <td> {% for i in field %} {{ i }} {% endfor %} </td>
	          </tr>
            {% endfor %}
            <tr>
	          <td></td>
	          <td>
	            <!-- Show button -->
	            <input type="submit" value="{% trans 'Show' %}" onclick="submitWithValue('tab_tables_in');" name="buttonShow" />
	          </td>
            </tr>
          </tbody>
          </table>
        </div>


        {# table #}
        <div class="estimates-table">
          <table class="simple-table" cellspacing="0" cellpadding="0" border="0">

            {% for col_label in col_labels %}
              <tr>
                {% if forloop.first %}
                  <td rowspan="{{ rows_before_titles }}" colspan="{{ columns_before_titles }}"/>
                {% endif %}
                {% for col_label_tuple in col_label %}
                  <td class="tbl-label" colspan="{{ col_label_tuple.1 }}">{{ col_label_tuple.0 }}</td>
                {% endfor %}
                {% if forloop.first %}
                  <td class="tbl-label" rowspan="{{ rows_before_titles }}">Totals</td>
                {% endif %}
              </tr>
            {% endfor %}
            {% for row_item in row_list %}
              <tr>
	            {% for label_tuple in row_item.0 %}
	              <td class="tbl-label" rowspan="{{ label_tuple.1 }}"> {{ label_tuple.0 }} </th>
	            {% endfor %}
                {% for value in row_item.1 %}
	              <td> {{ value }} </th>
	            {% endfor %}
                <td class="tbl-total"> {{ row_item.2 }} </th>
              </tr>
            {% endfor %}
            <tr>
              <td class="tbl-label" colspan="{{ columns_before_titles }}">Totals</td>
              {% for column in col_sums %}
                <td class="tbl-total">{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>




      </div>
    </td>
  </tr>
</tbody>
</table>


</form>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}