{% load i18n %}
{% load assessment_extras %}

<script src="{{ STATIC_URL }}scripts/assessment/assessment-left-menu.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/legacy/navigation_boxes.js" type="text/javascript"></script>

    <input type="hidden" value="time-frame" name="form:_idJsp6_selected">

    <div role="tablist" id="accordion">
      <div id="accordion" class="accordion">
        <div class="card mb-0">
          <div class="card-header trans-card-header" data-toggle="collapse" data-target="#collapseOne" href="#">
            <a class="card-title">
              {% trans 'Time Frame' %}
            </a>
          </div>
          <div id="collapseOne" class="card-body sidebar-card-body collapse show" data-parent="">
            <div class="form-group row">
              <div class="col-md-12">
                <div id="form:_idJsp7">
                  <div class="sidebar-label">
                    {% trans 'Show data from' %}
                    {{ year_form.frame_from_year }}
                    {% trans 'to' %}
                    {{ year_form.frame_to_year }}
                  </div>
                  <div class="text-description">{% trans 'Full extent of coverage by estimates is 1501 - 1866.' %}</div>
            
                  <button class="btn btn-solid btn-sm margin-v" type="submit" name="submit_year" value="Change selection">{% trans 'Apply' %}</button>
                  <button class="btn btn-outline btn-sm margin-v" type="submit" name="submit_year" value="Reset to default">{% trans 'Reset' %}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header trans-card-header" data-toggle="collapse" data-target="#collapseTwo" data-parent="" href="#">
            <a class="card-title">
              {% trans 'Flag' %}
            </a>
          </div>
          <div id="collapseTwo" class="card-body sidebar-card-body collapse show" data-parent="">
            <div class="form-group row">
              <div class="col-md-12">
                <div>
                  <div>
                    {% for nation in nations %}
                    <div>
                      {% ifequal nation.2 1 %}
                      <input id="form:checkbox_nation_{{ nation.1 }}" type="checkbox" checked="checked" value="1" name="checkbox_nation_{{ nation.1 }}">
                      {% else %}
                      <input id="form:checkbox_nation_{{ nation.1 }}" type="checkbox" name="checkbox_nation_{{ nation.1 }}">
                      {% endifequal %}
                      <label class="sidebar-label" for="form:checkbox_nation_{{ nation.1 }}">{{ nation.0|trans_log }}</label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div>
                <button class="btn btn-solid btn-sm margin-v" type="submit" name="submit_nation" value="Change selection" name="submit_regions">{% trans 'Apply' %}</button>
                <button class="btn btn-outline btn-sm margin-v" type="submit" name="submit_nation" type="submit" value="Reset to default"
                  name="submit_regions">{% trans 'Reset' %}</button>
                  </div>
              </div>
            </div>
          </div>
          <div class="card-header trans-card-header collapsed" data-toggle="collapse" data-target="#collapseThree" data-parent="" href="#">
            <a class="card-title">
              {% trans 'Regions' %}
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="">
            <div class="card-body sidebar-card-body">
              
              <div class="form-group row">
            <div class="col-md-12">

              <div>
                <div class="sidebar-title-3">{% trans 'Embarkation Regions' %}</div>
                <!-- Embkarkation menu -->
                <div class="region-list">
                <table>
                <tbody>
                  {% for area, region_list in export_regions.items %}
                  <tr id="row-{{ area.0.pk }}" class="checkbox-list-item-0">

                    <!-- Checkbox on the left of label -->
                    <td class="checkbox-list-checkbox-0" style="position: relative;">
                      {% ifequal area.1 1 %}
                        <input type="checkbox" checked="checked" value="{{ area.0.pk }}" name="earea-button-{{ area.0.pk }}" onclick="areaClick(this)">
                      {% else %}
                        <input type="checkbox" value="{{ area.0.pk }}" name="earea-button-{{ area.0.pk }}" onclick="areaClick(this)">
                      {% endifequal %}
                    </td>

                    <!-- Check if item is expendable and use proper class -->
                    {% if region_list|length == 1 and region_list.0.0.0 == area.0.name %}
                      <td class="checkbox-list-label-0">
                        <label class="sidebar-label" onclick="labelClick(this, 0)">{{ area.0.name|trans_log }}</label>
                      </td>
                    {% elif region_list %}
                      <td class="checkbox-list-label-0-expandable">
                        <label class="sidebar-label" onclick="labelClick(this, 0)">{{ area.0.name|trans_log }}</label>
                      </td>
                    {% else %}
                      <td class="checkbox-list-label-0">
                        <label class="sidebar-label" onclick="labelClick(this, 0)">{{ area.0.name|trans_log }}</label>
                      </td>
                    {% endif %}

                    <!-- Check if item is expendable, if so, third td exists -->
                    <td>
                    {% if region_list|length == 1 and region_list.0.0.0 == area.0.name %}
                    {% elif not region_list %}
                    {% else %}
                      <div class="checkbox-list-popup" style="position: absolute; display: none">
                        <table class="checkbox-list-table-1" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          {%  for region in region_list %}
                          <tr class="checkbox-list-item-0" >
                            <td class="checkbox-list-checkbox-0">
                              {% ifequal region.1 1 %}
                                <input name="eregion-button-{{ region.0.1 }}" type="checkbox" checked="checked" value="{{ region.0.1 }}" onclick="regionClick(this, 'earea-button-', 'eregion-button-')">
                              {% else %}
                                <input name="eregion-button-{{ region.0.1 }}" type="checkbox" value="{{ region.0.1 }}" onclick="regionClick(this, 'earea-button-', 'eregion-button-')">
                              {% endifequal %}
                            </td>
                            <td class="checkbox-list-label-0">
                              <label class="sidebar-label" onclick="labelClick(this, 1)">{{ region.0.0|trans_log }}</label>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                      </div>
                    {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>

                <!-- Select/Deselect all buttons -->
                <button class="btn btn-solid btn-sm" type="button" onclick="allClicked(this, 1)">{% trans 'Select All' %}</button>
                <button class="btn btn-outline btn-sm" type="button" onclick="allClicked(this, 0)">{% trans 'Deselect All' %}</button>
              </div>

              <div class="region-list margin-v">
                <!-- Disembarkation menu -->
                <div class="sidebar-title-3">{% trans 'Disembarkation Regions' %}</div>
                <table>
                <tbody>
                  {% for area, region_list in import_regions.items %}
                  <tr id="row-{{ area.pk }}" class="checkbox-list-item-0">

                    <!-- Checkbox on the left of label -->
                    <td class="checkbox-list-checkbox-0" style="position: relative;">
                      {% ifequal area.1 1 %}
                        <input type="checkbox" checked="checked" value="{{ area.0.pk }}" name="darea-button-{{ area.0.pk }}" onclick="areaClick(this)">
                      {% else %}
                        <input type="checkbox" value="{{ area.0.pk }}" name="darea-button-{{ area.0.pk }}" onclick="areaClick(this)">
                      {% endifequal %}
                    </td>

                    <!-- Check if item is expendable and use proper class -->
                    {% if region_list|length == 1 and region_list.0.0.0 == area.0.name %}
                      <td class="checkbox-list-label-0">
                        <label class="sidebar-label" onclick="labelClick(this, 0)">{{ area.0.name|trans_log }}</label>
                      </td>
                    {% elif region_list %}
                      <td class="checkbox-list-label-0-expandable">
                        <label class="sidebar-label" onclick="labelClick(this, 0)">{{ area.0.name|trans_log }}</label>
                      </td>
                    {% else %}
                      <td class="checkbox-list-label-0">
                        <label class="sidebar-label" onclick="labelClick(this, 0)">{{ area.0.name|trans_log }}</label>
                      </td>
                    {% endif %}

                    <!-- Check if item is expendable, if so, third td exists -->
                    <td>
                    {% if region_list|length == 1 and region_list.0.0.0 == area.0.name %}
                    {% elif not region_list %}
                    {% else %}
                      <div class="checkbox-list-popup" style="position: absolute; display: none">
                        <table class="checkbox-list-table-1" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          {%  for region in region_list %}
                          <tr class="checkbox-list-item-0" >
                            <td class="checkbox-list-checkbox-0">
                              {% ifequal region.1 1 %}
                                <input name="dregion-button-{{ region.0.1 }}" type="checkbox" checked="checked" value="{{ region.0.1 }}" onclick="regionClick(this, 'darea-button-', 'dregion-button-')">
                              {% else %}
                                <input name="dregion-button-{{ region.0.1 }}" type="checkbox" value="{{ region.0.1 }}" onclick="regionClick(this, 'darea-button-', 'dregion-button-')">
                              {% endifequal %}
                            </td>
                            <td class="checkbox-list-label-0">
                              <label class="sidebar-label" onclick="labelClick(this, 1)">{{ region.0.0|trans_log }}</label>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                      </div>
                    {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>

                <button class="btn btn-solid btn-sm margin-v" type="button" value="'Select all'" onclick="allClicked(this, 1)">{% trans 'Select All' %}</button>
                <button class="btn btn-outline btn-sm margin-v" type="button" value="'Deselect all'" onclick="allClicked(this, 0)">{% trans 'Deselect All' %}</button>

              </div>

              <button class="btn btn-sm btn-solid margin-v" type="submit" value="Change selection" name="submit_regions">{% trans 'Apply' %}</button>
              <button class="btn btn-sm btn-outline margin-v" type="submit" value="Reset to default" name="submit_regions">{% trans 'Reset' %}</button>

            </div>
          </div>
            </div>
          </div>

                    <div class="card-header trans-card-header collapsed" data-toggle="collapse" data-target="#collapseFour" href="#collapseFour">
            <a class="card-title">
              {% trans 'Create a Query Link' %}
            </a>
          </div>
          <div id="collapseFour" class="card-body sidebar-card-body collapse" data-parent="">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="sidebar-label">{% trans 'To reactivate the current query in the future, copy the following URL and then paste it into the address bar:' %}</div>
                <textarea contenteditable="true" id="url_string" class="full-input"></textarea>
                <button class="btn btn-solid btn-sm" onclick="return createLink();">{% trans 'Create Link' %}</button>
                <button class="btn btn-outline btn-sm" onclick="return resetAll();">{% trans 'Reset All' %}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript">
    $( "#dialog" ).dialog({ autoOpen: false, minWidth: 550, modal: true, title: "{% trans 'Link created' %}" });
    function createLink() {
      $.post('permalink', $('form').serialize(), function(link) {
        var urlTextArea = $('#url_string');
        urlTextArea.val(link);
        urlTextArea.focus(function(e) {
          e.target.select();
          try {
            document.execCommand('copy');
          } catch (e) {
            console.log('Unable to copy to clipboard using document.execCommand');
          }
          jQuery(e.target).one('mouseup', function(e) {
            e.preventDefault();
          });
        });
        $("#dialog").dialog('open');
      });
      return false;
    }

    function resetAll() {
      var helper = function(name) {
        var input = $("<input>")
          .attr("type", "hidden")
          .attr("name", name)
          .val("Reset to default");
        $('form').append($(input));
      }
      helper('submit_year');
      helper('submit_nation');
      helper('submit_regions');
      helper('table_options');
      $('form').submit();
      return false;
    }
  </script>
