{% load i18n %}
<style type="text/css">
    svg {
      font-family: "Helvetica Neue", Helvetica;
    }

    svg text {
        fill: gray;
    }

    .axis path {
        fill: none;
        stroke: none;
    }
    .axis line {
        fill: none;
        stroke: gray;
        stroke-width: 0.35px;
    }

    .vertical_line {
        stroke: darkgreen;
        stroke-width: 1px;
        stroke-dasharray: 1 1;
    }
</style>
<div id="graphContainer"></div>
<div id="mouseOverInfo" style="margin:20px"></div>
<p style="margin-left:20px;">
    <input type="submit" name="download" value="{% trans 'Download table' %}"/>
</p>
<script src="{{ STATIC_URL }}/scripts/d3.min.js"></script>
<script type="text/javascript">
var data = [
{% for year, r in timeline.items %}
    { x: {{ year }}, y0: {{ r.1 }}, y1: {{ r.0 }} },
{% endfor %}
];

data = data.sort(function(a, b) { return a.x - b.x; });

var stack = d3.layout.stack(),
    layers = stack(d3.range(2).map(function(i) { return data.map(function(d) { return { x: d.x, y: d['y' + i], embarked: d.y1, disembarked: d.y0 }; }); })),
    yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.embarked; }); });

var margin = {top: 40, right: 10, bottom: 20, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .domain(data.map(function(d) { return d.x; }))
    .rangeRoundBands([0, width], .08);

var y = d3.scale.linear()
    .domain([0, yStackMax])
    .range([height, 0]);

var color = ["004D71", "#009FBC", "rgb(30, 98, 127)"];

var tickHelper = Math.min(20, Math.round(data.length / 10));
var xAxis = d3.svg.axis()
    .scale(x)
	.tickValues(x.domain().filter(function(d, i) { return !(i % tickHelper); }))
    .tickSize(10)
    .tickPadding(2)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .ticks(5)
    .tickFormat(yTickFormat)
    .tickPadding(5)
    .tickSize(-width + margin.right + margin.left)
    .orient("left");

var svg = d3.select("#graphContainer").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var layer = svg.selectAll(".layer")
    .data(layers)
    .enter().append("g")
    .attr("class", "layer")
    .style("fill", function(d, i) { return color[i]; });

var lastMouseOver = null;

function mouseover(d) {
	$( '#mouseOverInfo' ).html("<strong>Year:</strong> " + d.x +
	    "<br /><strong>Embarked:</strong> " + Math.round(d.y1) +
	    "<br /><strong>Disembarked:</strong> " + Math.round(d.y0));
}

var rect = layer.selectAll("rect")
    .data(function(d) { return d; })
    .enter()
	.append("rect")
    .attr("x", function(d) { return x(d.x); })
    .attr("y", height)
    .attr("width", x.rangeBand())
    .attr("height", 0)
    .on('mouseover', mouseover);

rect.transition()
    .attr("y", function(d) { return y(d.y); })
    .attr("height", function(d) { return y(0) - y(d.y); })
	.style("fill-opacity", 0.55);

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

var gy = svg.append("g")
    .attr("class", "y axis")
    //.attr("transform", "translate(" + (margin.left + 25) + ",0)")
    .call(yAxis);

gy.selectAll("g").filter(function(d) { return d; })
    .classed("minor", true);

var vertical = svg
    .append("g")
    .attr("class", "vertical_highlight")
    .style("opacity", 0.0);

vertical.append("line")
    .attr("class", "vertical_line")
    .attr("y2", height);

var circle0 = vertical
    .append("circle")
    .attr("r", 5)
    .style("fill", color[2]);
var circle1 = vertical
    .append("circle")
    .attr("r", 5)
    .style("fill", color[2]);

d3.select("#graphContainer")
    .on("mousemove", function(){
        var mouseX = d3.mouse(this)[0] - margin.left - x.rangeBand();
        var index = d3.bisectLeft(x.range(), mouseX);
        if (index == 0) {
            index = d3.bisectRight(x.range(), mouseX) - 1;
        }
        var out = false;
        if (index < 0) {
            index = 0;
            out = true;
        } else if (index >= data.length) {
            index = data.length - 1;
            out = true;
        }
        mouseover(data[index]);
        vertical.style("opacity", 1.0);
        vertical.attr("transform", "translate(" + (x.rangeBand() / 2 + x(data[index].x)) + ",0)");
        circle0.attr("transform", "translate(0, " + y(data[index].y0) + ")");
        circle1.attr("transform", "translate(0, " + y(data[index].y1) + ")");
        if (out && vertical.timeoutfn == null) {
            vertical.timeoutfn = function() {
                if (vertical.timeoutfn != null) {
                    vertical.style("opacity", 0.0);
                    vertical.timeoutfn = null;
                }
            };
            setTimeout(vertical.timeoutfn, 3000);
        } else if (!out) {
            vertical.timeoutfn = null;
        }
    });

function yTickFormat(d) {
    formatNumber = d3.format("d");
    if (d >= 2000) {
        return formatNumber(d/1000) + "k";
    }
    return d;
}
</script>