{% load i18n %}

<div style="margin: 10px 10px 0px 10px;">
  <div>
    <input type="hidden" value="time-frame" name="form:_idJsp6_selected">

    <table class="box-main-table" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="box-set-upper-row-upper-left"></td>
        <td class="box-set-upper-row-upper-middle">
          <table class="box-header-table" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td class="box-label">
                Time frame
              </td>
              <td>
                <div class="box-button"></div>
              </td>
            </tr>
          </tbody>
          </table>
        </td>
        <td class="box-set-upper-row-upper-right"></td>
      </tr>
      <tr>
        <td class="box-middle-row-left">
          <div class="box-middle-row-left"></div>
        </td>
        <td class="box-middle-row-middle">
          <div id="form:_idJsp7" class="box-main-text">
            <table style="border-collapse: collapse;">
            <tbody>
              <tr>
                <td style="padding: 0px 10px 0px 0px">
                  Show data only from
                </td>
                <td style="padding: 0px 10px 0px 0px;">
                  <input id="form:_idJsp13" type="text" style="width: 40px" value="1501" name="form:_idJsp13">
                </td>
                <td style="padding: 0px 10px 0px 0px;">
                  to
                </td>
                <td style="padding: 0px;">
                <input id="form:_idJsp17" type="text" style="width: 40px" value="1866" name="form:_idJsp17">
                </td>
              </tr>
            </tbody>
            </table>
            <div style="padding: 5px 0px 0px 0px; font-style: italic;">
              The full extent of time covered by estimates is 1501 – 1866 (
              <a id="form:_idJsp21" href="#">restore it</a>
              ).
            </div>
            <div style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #9EDEE0;">
              <input id="form:_idJsp25" type="submit" value="Change selection" name="form:_idJsp25">
              <input id="form:_idJsp27" type="submit" value="Reset to default" name="form:_idJsp27">
            </div>
          </div>
        </td>
        <td class="box-middle-row-right">
          <div class="box-middle-row-right"></div>
        </td>
      </tr>
      <tr>
        <td class="box-set-lower-row-upper-left"></td>
        <td class="box-set-lower-row-upper-middle"></td>
        <td class="box-set-lower-row-upper-right"></td>
      </tr>
    </tbody>
    </table>












    <table class="box-main-table" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="box-set-upper-row-middle-left"></td>
        <td class="box-set-upper-row-middle-middle">
          <table class="box-header-table" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td class="box-label">Flag</td>
              <td>
                <div class="box-button"></div>
              </td>
            </tr>
          </tbody>
          </table>
        </td>
        <td class="box-set-upper-row-middle-right"></td>
      </tr>
      <tr>
        <td class="box-middle-row-left">
          <div class="box-middle-row-left"></div>
        </td>
        <td class="box-middle-row-middle">
          <div id="form:_idJsp28" class="box-main-text">
            <div class="nation-checkboxes">
              <input type="hidden" value="" name="form:nations_expanded_values">
                <table class="checkbox-list-table-0" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td class="checkbox-list-checkbox-0">
                      <input id="form:nations_checkbox_1" type="checkbox" checked="checked" value="1" name="form:nations">
                    </td>
                    <td class="checkbox-list-label-0">
                      <label for="form:nations_checkbox_1">Spain / Uruguay</label>
                    </td>
                    </tr>
                    <tr>
                    <td class="checkbox-list-checkbox-0">
                    <input id="form:nations_checkbox_2" type="checkbox" checked="checked" value="2" name="form:nations">
                    </td>
                    <td class="checkbox-list-label-0">
                    <label for="form:nations_checkbox_2">Portugal / Brazil</label>
                    </td>
                    </tr>
                    <tr>
                    <td class="checkbox-list-checkbox-0">
                    <input id="form:nations_checkbox_3" type="checkbox" checked="checked" value="3" name="form:nations">
                    </td>
                    <td class="checkbox-list-label-0">
                    <label for="form:nations_checkbox_3">Great Britain</label>
                    </td>
                    </tr>
                    <tr>
                    <td class="checkbox-list-checkbox-0">
                    <input id="form:nations_checkbox_4" type="checkbox" checked="checked" value="4" name="form:nations">
                    </td>
                    <td class="checkbox-list-label-0">
                    <label for="form:nations_checkbox_4">Netherlands</label>
                    </td>
                    </tr>
                    <tr>
                    <td class="checkbox-list-checkbox-0">
                    <input id="form:nations_checkbox_5" type="checkbox" checked="checked" value="5" name="form:nations">
                    </td>
                    <td class="checkbox-list-label-0">
                    <label for="form:nations_checkbox_5">U.S.A.</label>
                    </td>
                    </tr>
                    <tr>
                    <td class="checkbox-list-checkbox-0">
                    <input id="form:nations_checkbox_6" type="checkbox" checked="checked" value="6" name="form:nations">
                    </td>
                    <td class="checkbox-list-label-0">
                    <label for="form:nations_checkbox_6">France</label>
                    </td>
                    </tr>
                    <tr>
                    <td class="checkbox-list-checkbox-0">
                    <input id="form:nations_checkbox_7" type="checkbox" checked="checked" value="7" name="form:nations">
                    </td>
                    <td class="checkbox-list-label-0">
                    <label for="form:nations_checkbox_7">Denmark / Baltic</label>
                    </td>
                  </tr>
                </tbody>
                </table>

              <div style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #9EDEE0;">
                <input id="form:_idJsp31" type="submit" onclick="clear_form();" value="Change selection" name="form:_idJsp31">
                <input id="form:_idJsp33" type="submit" onclick="clear_form();" value="Reset to default" name="form:_idJsp33">
              </div>
            </div>
          </div>
        </td>

        <td class="box-middle-row-right">
          <div class="box-middle-row-right"></div>
        </td>
      </tr>
      <tr>
        <td class="box-set-lower-row-middle-left"></td>
        <td class="box-set-lower-row-middle-middle"></td>
        <td class="box-set-lower-row-middle-right"></td>
      </tr>
    </tbody>
    </table>

















  <table class="box-main-table" cellspacing="0" cellpadding="0" border="0"></table>

</div>



    <br><br>
    <table class="box-main-table" cellspacing="0" cellpadding="0" border="0"></table>
    <p style="font-style: italic;margin: 10px 10px 0px 10px;"></p>

</div>