{% extends "base.html" %}
{% load sass_tags %}
{% load humanize %}
{% load i18n %}
{% load assessment_extras %}


{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/intro-maps.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

<link href="{% sass_src 'scss/assessment/assessment-tabs.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/assessment/assessment-estimates.scss' %}" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}scss/legacy/expandable-box.css">
<link href="{% sass_src 'scss/search-ui.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans-search.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/v-component.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block jslist %}

{% endblock %}

{% block title %}{% trans 'Estimates' %}{% endblock %}

{% block content %}

<div class="nav-header">
  <div>{% trans 'Trans-Atlantic Slave Trade - Estimates' %}</div>
  <div class="navbar-subtitle flex">
    <div class="navbar-subitem">
      {% trans 'Current Query' %} <i class="fa fa-question-circle tooltip-pointer" data-toggle="tooltip" data-placement="top" title="{% trans 'For purposes of calculation, estimates of embarked and disembarked slaves in tables, the timeline, and maps have been rounded to integers. When users cite any number, they are advised to round it to the nearest hundred.' %}"></i>
    </div>
    <div class="navbar-subitem">
      <a data-toggle="collapse" href="#panelCollapse" role="button" aria-expanded="false" aria-controls="panelCollapse">
        <div class="btn-navbar">
          <i class="fa fa-filter"></i>
          {% trans 'View All' %}
        </div>
      </a>
    </div>
    <div class="navbar-subitem">
      <a role="button" 
        onclick="return resetAll();">
        <div class="btn-navbar">
          <i class="fa fa-times"></i>
          {% trans 'Reset All' %}
        </div>
      </a>
    </div>
  </div>
</div>

<div class="collapse" id="panelCollapse">
  <div class="panel-list" v-if="hasCurrentQuery">
    <span class="panel-list-item-wrapper">
      <div class="row">
        <div class="col">{% trans 'Selected National Carriers' %}</div>
          {% if all_nations_selected %}
            {% trans 'all' %}
          {% else %}
            {% for nation in nations %}
              {% ifequal nation.2 1 %}
                {{ nation.0|trans_log }},
              {% endifequal %}
            {% endfor %}
          {% endif %}
      </div>

      <div class="row">
        <div class="col">{% trans 'Selected Embarkation Regions' %}</div>
          {% if all_embarkations_selected %}
            {% trans 'all' %}
          {% else %}
            {% for region_list in export_regions.values %}
              {% for region in region_list %}
                {% ifequal region.1 1 %}
                  {{ region.0.0|trans_log }},
                {% endifequal %}
              {% endfor %}
            {% endfor %}
          {% endif %}
      </div>

      <div class="row">
        <div class="col">{% trans 'Selected Disembarkation Regions' %}</div>
          {% if all_disembarkations_selected %}
            {% trans 'all' %}
          {% else %}
            {% for region_list in import_regions.values %}
              {% for region in region_list %}
                {% ifequal region.1 1 %}
                  {{ region.0.0|trans_log }},
                {% endifequal %}
              {% endfor %}
            {% endfor %}
          {% endif %}
      </div>
    </span>

    <a data-toggle="collapse" href="#panelCollapse" role="button" aria-expanded="true" aria-controls="panelCollapse">
      <div class="btn-panel"><i class="fa fa-times-circle"></i> {% trans 'Hide' %}</div>
    </a>
  </div>
</div>


<form id="form" name="form" method="post" action="{% url 'assessment:estimates' %}"
      enctype="application/x-www-form-urlencoded" >{% csrf_token %}
      <input type="hidden" name="selected_tab" value="{{ tab_selected }}" />

      <div class="container-new">
        <div class="row  row-offcanvas row-offcanvas-right">
      		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
      			{% include "assessment/estimates-left-menu.html" %}
      		</div>

          <div class="col-md-6 col-xs-12 col-lg-9 ">

      			<p class="hidden-md">
              <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
                <div>
                  <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
                  <span>{% trans 'Toggle Sidebar' %}</span>
                </div>
              </button>
            </p>

            <input type="hidden" value="expanded" name="form:_idJsp45_state">

            <div class="tabs-selection">
              <table>
              <tbody>
                <tr>
                  <td class="tabs-tab-first-filler"></td>
                  <td class="{% if tab_selected == 'table' %}tabs-tab-left-selected{% else %}tabs-tab-left{% endif %}"></td>
                  <td class="{% if tab_selected == 'table' %}tabs-tab-middle-selected{% else %}tabs-tab-middle{% endif %}" onclick="document.forms['form'].elements['selected_tab'].value = 'table'; document.forms['form'].submit(); return false;">{% trans 'Tables' %}</td>
                  <td class="{% if tab_selected == 'table' %}tabs-tab-right-selected{% else %}tabs-tab-right{% endif %}"></td>
                  <td class="tabs-tab-filler"></td>
                  <td class="{% if tab_selected == 'timeline' %}tabs-tab-left-selected{% else %}tabs-tab-left{% endif %}"></td>
                  <td class="{% if tab_selected == 'timeline' %}tabs-tab-middle-selected{% else %}tabs-tab-middle{% endif %}" onclick="document.forms['form'].elements['selected_tab'].value = 'timeline'; document.forms['form'].submit(); return false;">{% trans 'Timeline' %}</td>
                  <td class="{% if tab_selected == 'timeline' %}tabs-tab-right-selected{% else %}tabs-tab-right{% endif %}"></td>
                  <td class="tabs-tab-filler"></td>
                  <td class="{% if tab_selected == 'map' %}tabs-tab-left-selected{% else %}tabs-tab-left{% endif %}"></td>
                  <td class="{% if tab_selected == 'map' %}tabs-tab-middle-selected{% else %}tabs-tab-middle{% endif %}" onclick="document.forms['form'].elements['selected_tab'].value = 'map'; document.forms['form'].submit(); return false;">{% trans 'Maps' %}</td>
                  <td class="{% if tab_selected == 'map' %}tabs-tab-right-selected{% else %}tabs-tab-right{% endif %}"></td>
                  <td class="tabs-tab-last-filler"></td>
                </tr>
              </tbody>
              </table>
            </div>
            {% if tab_selected == 'table' %}
              {% include "assessment/estimates_table.html" %}
            {% elif tab_selected == 'timeline' %}
              {% include "assessment/estimates_timeline.html" %}
            {% elif tab_selected == 'map' %}
              {% include "assessment/estimates_map.html" %}
            {% endif %}
          </div>
        </div>
      </div>
</form>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}

{% block footer %}
{% endblock %}
