{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Assessing the Slave Trade" %}{% endblock %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/section-index.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/assessment/assessment-index.css">
{% endblock %}

{% block content %}
<div id="index-intro-band">

	<div id="index-intro-title">
		{% trans "Assessing the Slave Trade" %}
	</div>

	<div id="index-intro-text">
		{% blocktrans %}This section of the Voyages website
		is organized around three ways historians and researchers have used
		the Trans-Atlantic Slave Trade Database to interpret the slave trade:
		essays, quantitative analysis, and maps. Interactive features of the
		“Estimates” sub-section enable users to raise their own questions
		about the full volume of the slave trade by year, national carrier,
		and routes of slaving expeditions, and obtain answers in the form of
		tables, a timeline, or maps.{% endblocktrans %}
	</div>

</div>

<div id="section-titles">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="section-title"><a href="{% url assessment:essays %}">{% trans "Essays" %}</a></td>
			<td class="section-title"><a href="{% url assessment:estimates %}">{% trans "Estimates" %}</a></td>
			<td class="section-title"><a href="{% url assessment:intro-maps%}">{% trans "Introductory Maps" %}</a></td>
		</tr>
	</table>
</div>
{% url about:contacts as about_contact_url %}
<div id="section-descs">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>

			<td class="section-desc">{% blocktrans %}Three essays offer an introduction to the
			Voyages website in the form of a broad interpretation and overview
			of the volume and structure of the trans-Atlantic slave trade from
			inception to suppression, an examination of seasonality in the
			trans-Atlantic slave trade, and a study of an African liberated
			in Cuba from a slave ship captured by a British cruiser in 1826.
			Vignettes and research notes focus on more specialized topics.
			Other essays will be added as the website develops. The <a href="{{ about_contact_url }}">editorial board</a> will consider
			for publication in the “Essays” section any text that uses databases
			on the website as a major source.{% endblocktrans %}</td>

			<td class="section-desc">{% blocktrans %}Although the Trans-Atlantic Slave Trade
			Database includes all slave voyages that have been documented up
			to now, it cannot claim to be complete. Records of many voyages
			have disappeared, in some cases irretrievably, while other
			documents remain to be discovered in public and private archives.
			The “Estimates,” on the other hand, provide an educated guess of
			how large the slave trade actually was. Altogether, the estimates
			are about 25 percent higher than unadjusted numbers in the main
			database. They raise the final totals to over 12,500,000 Africans
			forced to undertake the Middle Passage and around 10,700,000 who
			completed it, the largest forced migration in modern history.{% endblocktrans %}</td>

			<td class="section-desc">{% blocktrans %}A third way of using the
			Trans-Atlantic Slave Trade Database to interpret the slave trade is
			to represent statistics derived from it on historical maps. A
			project is now underway to create an atlas of the slave trade
			showing cartographically patterns and trends documented in the
			database. Yale University Press, the publisher of the atlas, and
			Mapping Specialists, Ltd., have given the Voyages website permission
			to preview 9 of over 200 maps that will make up the atlas. They
			depict the origins of the Atlantic slave trade, its development over
			time, how wind and ocean currents shaped its routes, and how it
			affected regions and ports in Africa and the Americas.{% endblocktrans %}</td>

		</tr>
	</table>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
