{% extends "assessment/assessmentbase.html" %}

{% load i18n %} 

{% block title %}Introductory Maps{% endblock %}

{% block csslist %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/assessment/assessment.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/assessment/assessment-intro-maps.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lightbox/lightbox.css" />
{% endblock %}

{% block jslist %}
<script src="{{ STATIC_URL }}scripts/lightbox/lightbox.js" type="text/javascript"></script>
{% endblock %}

{% block left-menu %}

<div id="left-menu" class="left-menu-box">
	<div class="left-menu-title">
		<h3>Introductory Maps </h3>
	</div>

	<div class="secondary-menu-item-0">
		<a href="#map1">Map 1: Overview of the slave trade out of Africa, 1500-1900</a>
	</div>
	<div class="secondary-menu-item-0">
		<a href="#map2">Map 2: Migration of sugar cultivation from Asia into the Atlantic</a>
	</div>
	<div class="secondary-menu-item-0">
		<a href="#map3">Map 3: Old World slave trade routes in the Atlantic before 1759</a>
	</div>
	<div class="secondary-menu-item-0">
		<a href="#map4">Map 4: Wind and ocean currents of the Atlantic basins</a>
	</div>
	<div class="secondary-menu-item-0">
		<a href="#map5">Map 5: Major regions and ports involved in the trans-Atlantic slave trade, all years</a>
	</div>
	<div class="secondary-menu-item-0">
		<a href="#map6">Map 6: Countries and regions in the Atlantic World where slave voyages were organized, by share of captives carried off from Africa</a>
	</div>
	<div class="secondary-menu-item-0">
		<a href="#map7">Map 7: Major coastal regions from which captives left Africa, all years</a>
	</div>
	<div class="secondary-menu-item-0">
		<a href="#map8">Map 8: Major regions where captives disembarked, all years</a>
	</div>
	<div class="secondary-menu-item-0">
		<a href="#map9">Map 9: Volume and direction of the trans-Atlantic slave trade from all African to all American regions</a>
	</div>

 
</div>
{% endblock %}

{% block center-content %}
<div id="center-content-inner">

	<h1>Introductory Maps</h1>
	<p>
		Source: David Eltis and David Richardson, <span class="italic"><a href="http://yalepress.yale.edu/yupbooks/book.asp?isbn=9780300124606">Atlas of the Transatlantic Slave Trade</a></span>
		(New Haven, 2010), reproduced with the permission of Yale University Press.
		For permission to reuse these images, contact Yale University Press.
	</p>

	<a name="map1">&nbsp;</a>
	<div class="map">

		<div class="map-thumbnail">
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/01.jpg" rel="lightbox[intro-map]" title="Map 1: Overview of the slave trade out of Africa, 1500-1900">
				<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/01-thumb.png"  border="0" />
				</div>
				<div class="map-caption">
					{% trans 'Show detail' %}
				</div> 
			</a>
		</div>

		<div class="map-description">

			<h2>Map 1: Overview of the slave trade out of Africa, 1500-1900</h2>

			<p>
				Captive Africans followed many routes from their homelands
				to other parts of the world. The map shows the trans-Atlantic
				movement of these captives in comparative perspective for the
				centuries since 1500 only. Estimates of the ocean-borne trade are
				more robust than are those for the trans-Saharan, Red Sea and
				Persian Gulf routes, but it is thought that for the period from the
				end of the Roman Empire to 1900 about the same number of captives
				crossed the Atlantic as left Africa by all other routes combined.
			</p>

		</div>

	</div>

	<a name="map2">&nbsp;</a>

	<div class="map">

		<div class="map-thumbnail">
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/02.jpg" rel="lightbox[intro-map]" title="Map 2: Migration of sugar cultivation from Asia into the Atlantic">
			<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/02-thumb.png"  border="0" />
			</div>
			<div class="map-caption">
				{% trans 'Show detail' %}
			</div>
			</a>
		</div>

		<div class="map-description">

			<h2>Map 2: Migration of sugar cultivation from Asia into the Atlantic</h2>

			<p>
				Sugar cultivation began in the Pacific in the pre-Christian
				era and gradually spread to the eastern Mediterranean, the Gulf of
				Guinea, then to Brazil, before entering the Caribbean in the
				mid-seventeenth century. Eighty percent of all captives carried
				from Africa were taken to sugar-growing areas.
			</p>

		</div>

	</div>

	<a name="map3">&nbsp;</a>

	<div class="map">

		<div class="map-thumbnail">
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/04.jpg" rel="lightbox[intro-map]" title="Map 3: Old World slave trade routes in the Atlantic before 1759">
			<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/03-thumb.png"  border="0" />
			</div>
			<div class="map-caption">
				{% trans 'Show detail' %}
			</div>
			</a>
		</div>

		<div class="map-description">

			<h2>Map 3: Old World slave trade routes in the Atlantic before 1759</h2>

			<p>
				Before the Atlantic slave trade began and for two centuries
				thereafter, some African captives were taken to Europe as well as
				to the Atlantic islands and between African ports. It is hard to
				get precise estimates of these flows, but they were certainly much
				smaller than the trans-Atlantic traffic. Many of the captives
				involved in this traffic were subsequently carried to sugar
				plantations in the Old World.
			</p>

		</div>

	</div>

	<a name="map4">&nbsp;</a>

	<div class="map">

		<div class="map-thumbnail">
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/04.jpg" rel="lightbox[intro-map]" title="Map 4: Wind and ocean currents of the Atlantic basins">
			<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/04-thumb.png"  border="0" />
			</div>
			<div class="map-caption">
				{% trans 'Show detail' %}
			</div>
			</a>
		</div>

		<div class="map-description">

			<h2>Map 4: Wind and ocean currents of the Atlantic basins</h2>

			<p>
				In the age of sail, winds and ocean currents shaped the
				direction of the trans-Atlantic slave trade, effectively creating
				two separate slave-trading systems – one in the north with voyages
				originating in Europe and North America, the other in the south
				with voyages originating in Brazil.
			</p>

		</div>

	</div>

	<a name="map5">&nbsp;</a>

	<div class="map">

		<div class="map-thumbnail" >
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/05.jpg" rel="lightbox[intro-map]" title="Map 5: Major regions and ports involved in the trans-Atlantic slave trade, all years">
			<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/05-thumb.png"  border="0" />
			</div>
			<div class="map-caption">
				{% trans 'Show detail' %}
			</div>
			</a>
		</div>

		<div class="map-description">

			<h2>Map 5: Major regions and ports involved in the trans-Atlantic slave trade, all years</h2>

			<p>
				Few commercial centers in the Atlantic world were untouched by the slave
				trade, and all the major ports had strong connections with the traffic.
			</p>

		</div>

	</div>

	<a name="map6">&nbsp;</a>

	<div class="map">

		<div class="map-thumbnail">
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/06.jpg" rel="lightbox[intro-map]" title="Map 6: Countries and regions in the Atlantic World where slave voyages were organized, by share of captives carried off from Africa">
			<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/06-thumb.png" width="200" height="200" border="0" />
			</div>
			<div class="map-caption">
				{% trans 'Show detail' %}
			</div>
			</a>
		</div>

		<div class="map-description">

			<h2>Map 6: Countries and regions in the Atlantic World where slave
			voyages were organized, by share of captives carried off from Africa</h2>

			<p>
				Slave voyages were organized and left from all major
				Atlantic ports at some point over the nearly four centuries of the
				trans-Atlantic slave trade. Nevertheless, vessels from the largest
				seven ports, Rio de Janeiro, Bahia, Liverpool, London, Nantes,
				Bristol, and Pernambuco carried off almost three-quarters of all
				captives removed from Africa via the Atlantic Ocean. There was a
				major shift in the organization of slaving voyages first from the
				Iberian peninsular to Northern Europe, and then later back again to
				ports in southern Europe. A similar, but less pronounced shift may
				be observed in the Americas from South to North and then back
				again.
			</p>

			<p>
				Total documented embarkations: <b>8,973,701 captives</b>
				<br>
				Percent of estimated embarkations: <b>72.1%</b>
			</p>

		</div>

	</div>

	<a name="map7">&nbsp;</a>

	<div class="map">

		<div class="map-thumbnail">
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/07.jpg" rel="lightbox[intro-map]" title="Map 7: Major coastal regions from which captives left Africa, all years">
			<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/07-thumb.png" width="200" height="200" border="0" />
			</div>
			<div class="map-caption">
				{% trans 'Show detail' %}
			</div>
			</a>
		</div>

		<div class="map-description">

			<h2>Map 7: Major coastal regions from which captives left Africa, all years</h2>

			<p>
				The limits of the regions shown here are “Senegambia,”
				anywhere north of the Rio Nunez. Sierra Leone region comprises the
				Rio Nunez to just short of Cape Mount. The Windward Coast is
				defined as Cape Mount south-east to and including the Assini river.
				The Gold Coast runs east of here up to and including the Volta
				River. Bight of Benin covers the Rio Volta to Rio Nun, and the
				Bight of Biafra, east of the Nun to Cape Lopez inclusive.
				West-central Africa is defined as the rest of the western coast of
				the continent south of this point, and south-eastern Africa
				anywhere from and to the north and east of the Cape of Good Hope.
				West-Central Africa was the largest regional departure point for
				captives through most the slave trade era. Regions closer to the
				Americas and Europe generated a relatively small share of the total
				carried across the Atlantic. Voyage length was determined as much
				by wind and ocean currents shown in Map 4 as by relative proximity
				of ports of embarkation and disembarkation.
			</p>

			<p>
				Total documented embarkations: <b>7,878,500 captives</b>
				<br>
				Percent of estimated embarkations: <b>63.3%</b>
			</p>

		</div>

	</div>

	<a name="map8">&nbsp;</a>

	<div class="map">

		<div class="map-thumbnail">
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/08.jpg" rel="lightbox[intro-map]" title="Map 8: Major regions where captives disembarked, all years">
			<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/08-thumb.png"  border="0" />
			</div>
			<div class="map-caption">
				{% trans 'Show detail' %}
			</div>
			</a>
		</div>

		<div class="map-description">

			<h2>Map 8: Major regions where captives disembarked, all years</h2>

			<p>
				The Caribbean and South America received 95 percent of the
				slaves arriving in the Americas. Some captives disembarked in
				Africa rather than the Americas because their trans-Atlantic voyage
				was diverted as a result of a slave rebellion or, during the era of
				suppression, because of capture by patrolling naval cruisers. Less
				than 4 percent disembarked in North America, and only just over
				10,000 in Europe.
			</p>

			<p>
				Total documented embarkations: <b>9,371,001 captives</b>
				<br>
				Percent of estimated embarkations: <b>88.5%</b>
			</p>

		</div>

	</div>

	<a name="map9">&nbsp;</a>

	<div class="map">

		<div class="map-thumbnail">
			<a href="{{ STATIC_URL}}images/assessment/intro-maps/09.jpg" rel="lightbox[intro-map]" title="Map 9: Volume and direction of the trans-Atlantic slave trade from all African to all American regions">
			<div class="map-img"><img src="{{ STATIC_URL}}images/assessment/intro-maps/09-thumb.png"  border="0" />
			</div>
			<div class="map-caption">
				{% trans 'Show detail' %}
			</div>
			</a>
		</div>

		<div class="map-description">

			<h2>Map 9: Volume and direction of the trans-Atlantic slave trade from all African to all American regions</h2>

			<p>
				This map summarizes and combines the many different paths by
				which captives left Africa and reached the Americas. While there
				were strong connections between particular embarkation and
				disembarkation regions, it was also the case that captives from any
				of the major regions of Africa could disembark in almost any of the
				major regions of the Americas. Even captives leaving Southeast
				Africa, the region most remote from the Americas, could disembark
				in mainland North America, as well as the Caribbean and South
				America. The data in this map are based on estimates of the total
				slave trade rather than documented departures and arrivals.
			</p>

		</div>

	</div>


</div>
<table border="0" cellspacing="0" cellpadding="0" class="essay-prev-next">
	<tr>
		<td class="essay-prev"><a id="prev-page" href="#">&nbsp;</a></td>
		<td class="essay-next"><a id="next-page" href="#">&nbsp;</a></td>
	</tr>
</table>

{% endblock %}
