<div class="left-menu-title">
	<h3>Essays </h3>
</div>

<h4 class="bold">Interpretation</h4>

<div class="secondary-menu-item-0">
	<a href="#">A Brief Overview of the Trans-Atlantic Slave Trade</a>
</div>

<div class="secondary-menu-subitems-0" id="essays-intro00">
	<div class="secondary-menu-item-1 assessment_selected" id="essays-intro-01">
			<a href="#">Introduction</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-02">
			<a href="#">The Enslavement of Africans</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-03">
			<a href="#">African Agency and Resistance</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-04">
			<a href="#">Early Slaving Voyages</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-05">
			<a href="#">Empire and Slavery</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-06">
			<a href="#">The African Side of the Trade</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-07">
			<a href="#">The Middle Passage</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-08">
			<a href="#">The Ending of the Slave Trade</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-09">
			<a href="#">The Trade’s Influence on Ethnic and Racial Identity</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-10">
			<a href="#">Eventual Abolition</a>
		</div>
		<div class="secondary-menu-item-1" id="essays-intro-11">
			<a href="#">Notes</a>
		</div>
</div>

<div class="secondary-menu-item-0" id="seasonality">
	<a href="essays-seasonality-01.html">Seasonality in the Trans-Atlantic Slave Trade</a>
</div>
<div class="secondary-menu-subitems-0">
</div>


<h4 class="bold">Vignettes</h4>
<div class="secondary-menu-item-0">
		<a href="essays-solomon.html">Ayuba Suleiman Diallo and Slavery in the Atlantic World</a>
</div>
<div class="secondary-menu-item-0">
		<a href="essays-mulgrave.html">Catherine  Zimmermann-Mulgrave: A Slave Odyssey</a>
</div>

<h4 class="bold">Research notes</h4>
<div class="secondary-menu-item-0">
	<a href="essays-applied-history.html">Voyages and Applied History</a>
</div>
