{% extends "voyage/voyagebase.html" %}                                                                                                                                                                                                                                                                                        

{% load i18n %}
{% load voyage_extras %}

{% block title %}Downloads{% endblock %}

{% block jslist %}
<script src="{{ STATIC_URL }}scripts/navigation_voyage.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/setup_left_menu.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

{{ flatpage.content|parse_blocks }}

{% endblock %}

