{% extends "voyage/voyagebase.html" %}
{% load sass_tags %}
{% load i18n %}
{% load humanize %}
{% load voyage_extras %}

{% block title %}{% trans 'Downloads' %}{% endblock %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://npmcdn.com/js-offcanvas@1.0/dist/_css/minified/js-offcanvas.css">
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />

<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-info.css"> -->
<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/voyage/voyage-search-menu.css"> -->
{% endblock %}



{% block jslist %}
<script src="{{ STATIC_URL }}scripts/navigation_voyage.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/setup_left_menu.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/link_open_handler.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-new">

  <div class="row  row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
		</div>

    <div class="col-md-8 col-xs-12 col-lg-9 ">

			<p class="hidden-md">
        <button type="button" class="btn btn-trans btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
            <span>Toggle Article Navigation</span>
          </div>
        </button>
      </p>

			<div id="center-content-inner-2">
        {% with num_voyages|intcomma as nvoyages %}
            {% with "/{num_voyages}/"|add:nvoyages as num_replace %}
                {% with "/{db_year}/"|add:year as year_replace %}
                    {% with flatpage.content|trans_log as content %}
                        {{ content|replace:num_replace|replace:year_replace|parse_blocks }}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        {% endwith %}
			</div>

    </div>
  </div>
</div>



{% endblock %}
