{% extends "about/aboutbase.html" %}
{% load i18n %} 

<!-- Corresponds to the About: Contributors of data -->

{% block title %}{% trans "Contributors of data" %}{% endblock %}

{% block center-content %}

<h1>{% trans "Contributors of data" %}</h1>

<p>
	{% blocktrans %}The following have added data to the Voyages Database since the
	publication of the 1999 CD-ROM, <em>The Trans-Atlantic Slave Trade: A
	Database on CD-ROM:</em>{% endblocktrans %}
</p>

<ul>
	<li>
		Rosanne Adderley
	</li>
	<li>
		Richard A Arzill
	</li>
	<li>
		Joseph Avitable
	</li>
	<li>
		James G. Basker
	</li>
	<li>
		Stephen D. Behrendt
	</li>
	<li>
		Franz Binder
	</li>
	<li>
		Richard Birkett
	</li>
	<li>
		Ernst van den Boogart
	</li>
	<li>
		Alex Borucki
	</li>
	<li>
		Angela J. Campbell
	</li>
	<li>
		James Campbell
	</li>
	<li>
		Mariana Pinho Candido
	</li>
	<li>
		José Capela
	</li>
	<li>
		Comité de Liaison et d'Application des Sources Historiques (Saint-Barthélemy), <a href="http://www.MemoireStBarth.com">http://www.MemoireStBarth.com</a>
	</li>
	<li>
		John C. Coombs
	</li>
	<li>
		Jose Curto
	</li>
	<li>
		Maika Dennis
	</li>
	<li>
		Daniel B. Domingues da Silva
	</li>
	<li>
		David Eltis
	</li>
	<li>
		Suzan Eltis
	</li>
	<li>
		Roquinaldo Ferreira
	</li>
	<li>
		Manolo Florentino
	</li>
	<li>
		Charles Foy
	</li>
	<li>
		David Geggus
	</li>
	<li>
		Oscar Grandío Moráguez
	</li>
	<li>
		Jerome Handler
	</li>
	<li>
		Robert Harms
	</li>
	<li>
		Candice Harrison
	</li>
	<li>
		Henk den Heijer
	</li>
	<li>
		Nick Hibbert Steele
	</li>
	<li>
		Jane Hooper
	</li>
	<li>
		Willem Klooster
	</li>
	<li>
		Ruud Koopman
	</li>
	<li>
		Nancy Kougeas
	</li>
	<li>
		Robin Law
	</li>
	<li>
		Jean-Pierre Le Glaunec
	</li>
	<li>
		Pedro Machado
	</li>
	<li>
		Leonardo Marques
	</li>
	<li>
		Antonio de Almeida Mendes
	</li>
	<li>
		Philip Misevich
	</li>
	<li>
		Greg O’Malley
	</li>
	<li>
		Cláudia Paixão
	</li>
	<li>
		Manuel Barcia Paz
	</li>
	<li>
		Janaína Perrayon Lopes
	</li>
	<li>
		David Pettee
	</li>
	<li>
		Johannes Postma
	</li>
	<li>
		Fabricio Prado
	</li>
	<li>
		James Pritchard
	</li>
	<li>
		Nicholas Radburn
	</li>
	<li>
		Vanessa Ramos
	</li>
	<li>
		Alexandre Vieira Ribeiro
	</li>
	<li>
		David Richardson
	</li>
	<li>
		Justin Roberts
	</li>
	<li>
		Jelmer Vos
	</li>
	<li>
		Lorena Walsh
	</li>
	<li>
		Andrea Weindl
	</li>
	<li>
		Rik van Welie
	</li>
	<li>
		David Wheat
	</li>
</ul>

{% endblock %}
