{% extends "about/aboutbase.html" %}
{% load i18n %}
{% load highlight %}
{% load voyage_extras %}

{% block jslist %}
<script src="{{ STATIC_URL }}scripts/help/faqs.js" type="text/javascript"></script>
{% endblock %}

<!-- Corresponds to the About: FAQ page -->

{% block title %}{% trans "FAQ" %}{% endblock %}

{% block center-content %}

<div class="page-title-1">{% trans "FAQ" %}</div>

<div id="search_box_wrapper">
	<form action="{% url 'help:faqs' %}" method="post">
		{% csrf_token %}
		{% for field in form %}
		{{ field }}
		{% endfor %}
		<input type="submit" value="Search">
	</form>
</div>

{% if faq_list %}
<div class="faq-list-cont">
	<div class="faq-list">
		<ul class="faq-toc">
			{% for category_item in faq_list %}
			<li class="faq-category">
				<a href="#faq{{ category_item.qorder }}">{{ category_item.text }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class='faq-main'>
		{% for category_item in faq_list %}
		<a name="faq{{ category_item.qorder }}" id="faq{{ category_item.qorder }}"></a>
		<div class="faq-category">
			{{ category_item.text }}
		</div>
		<div class="faq">
			{% for q_item in category_item.questions %}
			<div class="faq-question">
				{% with the_question=q_item.question %}
					{% if current_query %}
						{% highlight the_question with current_query %}
					{% else %}
						{{ the_question }}
					{% endif %}
				{% endwith %}
			</div>
				{% with the_answer=q_item.answer %}
					{% if current_query %}
						{% highlight the_answer with current_query %}
					{% else %}
						{{ the_answer|safe }}
					{% endif %}
				{% endwith %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>
{% else %}
<h1>{% trans 'No Results' %}</h1>
{% endif %}

{% endblock %}
