<div class="left-menu-title">
	<h3>About the Project</h3>
</div>

<div class="secondary-menu-item-0"id="history">
	<a href="history.html" >History</a>
</div>
<div class="secondary-menu-item-0" id="team">
	<a href="team.html">Project Team</a>
</div>
<div class="secondary-menu-item-0" id="data">
	<a href="data.html">Contributors of data</a>
</div>
<div class="secondary-menu-item-0" id="acknowledgements">
	<a href="acknowledgements.html">Acknowledgements</a>
</div>
<div class="secondary-menu-item-0" id="origins">
	<a href="origins.html">African Origins Project</a>
</div>
<div class="secondary-menu-item-0" id="contacts">
	<a href="contacts.html">Contact Us</a>
</div>