<!-- Left side menu for the About section -->

{% load i18n %}

<div class="sidebar-header-container">
	<div class="sidebar-title-1">{% trans "About the Project" %}</div>
</div>

<div class="sidebar-section">
<div class="secondary-menu-item-0" id="history">
	<a href="{% url 'about:history' %}">{% trans "History" %}</a>
</div>
<div class="secondary-menu-item-0" id="team">
	<a href="{% url 'about:team' %}">{% trans "Project Team" %}</a>
</div>
<div class="secondary-menu-item-0" id="data">
	<a href="{% url 'about:data' %}">{% trans "Contributors of data" %}</a>
</div>
<div class="secondary-menu-item-0" id="acknowledgements">
	<a href="{% url 'about:acknowledgements' %}">{% trans "Acknowledgements" %}</a>
</div>
<div class="secondary-menu-item-0" id="origins">
	<a href="{% url 'about:origins' %}">{% trans "African Origins Project" %}</a>
</div>
<div class="secondary-menu-item-0" id="contacts">
	<a href="{% url 'about:contacts' %}">{% trans "Contact Us" %}</a>
</div>
</div>
