<div class="left-menu-title">
	<h3>About the Project</h3>
</div>

<div class="secondary-menu-item-0"id="history">
	<a href="{% url about:history %}" >History</a>
</div>
<div class="secondary-menu-item-0" id="team">
	<a href="{% url about:team %}">Project Team</a>
</div>
<div class="secondary-menu-item-0" id="data">
	<a href="{% url about:data %}">Contributors of data</a>
</div>
<div class="secondary-menu-item-0" id="acknowledgements">
	<a href="{% url about:acknowledgements %}">Acknowledgements</a>
</div>
<div class="secondary-menu-item-0" id="origins">
	<a href="{% url about:origins %}">African Origins Project</a>
</div>
<div class="secondary-menu-item-0" id="contacts">
	<a href="{% url about:contacts %}">Contact Us</a>
</div>