{% extends "about/aboutbase.html" %}
{% load i18n %} 

<!-- Corresponds to About: The African Origins Project -->

{% block title %}{% trans "African Origins Project" %}{% endblock %}

{% block center-content %}

<h1 style="float:left; margin-right:10px;">{% trans "African Origins Project" %}"</h1>
<a href="http://www.african-origins.org" target="_blank">Explore the site <img src="{{ STATIC_URL }}images/about/origins.png"> </a>
{% url 'resources:images' as resources_images %}
{% blocktrans %}
<p>
	In January 2009 the directors of the project to create <em>Voyages:
	The Trans-Atlantic Slave Trade Database</em> began the African Origins
	Project, a scholar-public collaborative endeavor to trace the
	geographic origins of Africans transported in the transatlantic
	slave trade. African Origins seeks the help of members of
	the African diaspora, Africans, scholars, and others to identify
	the likely origins of these liberated Africans and thus begin to
	trace the migration histories of other Africans transported across
	the Atlantic during the 19<sup>th</sup> century suppression of the
	slave trade. Those with knowledge of African languages, cultural
	naming practices, and ethnic groups will assist in identifying
	these Africans’ origins by drawing on their own expertise to
	identify the likely ethno-linguistic origin of an individual’s
	name.
</p>

<p>
	The African Origins Project arose directly from the work of
	G. Ugo Nwokeji and David Eltis, who in 2002 used audio recordings
	of names found in Courts of Mixed Commission records for Havana,
	Cuba, and Freetown, Sierra Leone, to identify likely
	ethno-linguistic origins. The names in these recordings were
	pronounced by speakers of the same language and accent that the
	Courts of Mixed Commission registrars would likely have had (e.g.,
	if the name was written in a Havana register, Eltis and Nwokeji had
	the name pronounced by a Spanish speaker with a Havana accent).
	This helped connect the sound of the name to its spelling and thus
	enabled a more accurate assessment of the name’s possible ethnic
	origins than provided by its written counterpart alone.
</p>

<p>
	Eltis and Nwokeji played these recordings to informants in
	Nigeria and to members of the African
	diaspora in parts of North America, who were able to identify
	through these pronunciations the likely ethnic group from which the
	name derived. Such one-on-one research with informants, though
	successful, proved highly time consuming and yielded little more
	than two identifications for each African in their dataset, and led
	to the pursuit of an online method of broadly soliciting volunteers
	to assist with this project.
</p>

<p>View digitized images of the first pages of the <a href="{{ resources_images }}">Sierra
	Leone and Cuba Courts of Mixed Commission registers</a>, from which the
	information on these Africans was drawn. An earlier database drawn
	from these sources called the African names database is available
	on the downloads page of this site. It contains data on stature
	that are not available on African-Origins. Information on liberated
	Africans and registers of the Courts of Mixed Commission may also
	be found in the Glossary. For more information about the African
	Origins Project and opportunities to participate, please visit
	<a href="http://www.african-origins.org" target="_blank">http://www.african-origins.org</a>.
</p>
{% endblocktrans %}

{% endblock %}

