<h1>
Voyages Database
</h1>

<p>
The Trans-Atlantic Slave Trade Database comprises nearly 35,000 individual slaving expeditions between 1514 and 1866. Records of the voyages have been found in archives and libraries throughout the Atlantic world. They provide information about vessels, enslaved peoples, slave traders and owners, and trading routes. A variable (Source) cites the records for each voyage in the database. Other variables enable users to search for information about a particular voyage or group of voyages. The website provides full interactive capability to analyze the data and report results in the form of statistical tables, graphs, maps, or on a timeline.
</p>
