@import "ember-bootstrap/bootstrap";
@import "landing-page";
// for ember paper styling
// Define desired color palettes.
$primary: "cyan";
$accent: "pink";
$warn: "pink";
@import "color-palette";
@import "ember-paper"; // end of for ember paper styling
@import "vendor/mapbox-gl-v0.32.1";
@import "vendor/datatables.min";
// @import "materialize/materialize";
// @import "ember-cli-loaders/loaders";


// TODO Will break down this SASS into individual files for
// individual components for better readability
// For the time being they are all in one file (mostly) for now

* {
  font-family: 'Roboto', sans-serif;

  a {
    cursor: pointer;
  }
}

.navbar-default {
  background-color: #00ABC7;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  opacity: 0.8;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  opacity: 1;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a.active {
  color: white;
  background-color: transparent;
  font-weight: 900;
  opacity: 1;
}

.maintainHover {
  background-color: #f5f5f5;
  font-weight: 900;
  opacity: 1;
}

.language-toggle {
  text-decoration: underline;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.sub-menu {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #22BED5;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  height: 87px;
}

h1 {
  font-size: 2em;
}

.dropdown-toggle.search-menu {
  cursor: pointer;
}

.dropdown {
  // cursor: pointer;
  float: left;
  padding: 0.5em 1em;
}

.dropdown-menu > li > a:focus {
  background-color: white;
}

.dropdown-menu > li > a:hover {
  background-color: #f5f5f5;
}

.search-bar {
  margin-bottom: 15px;
}

.menu-canvas {
  background-color: white;
  position: absolute;
  left: 0;
  display: none;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid #B6B6B6;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  padding: 0 2em;
  margin: 2px 1px 0;
  width: 600px;
}

.menu-canvas:hover + .maintainHover {
  background-color: #f5f5f5;
}

.dropdown-menu {
  border-radius: 4px 0 0 4px;
  margin: 0;
}

.menu-canvas-title {
  color: #4f4f4f;
  font-size: 2em;
}

ul.dropdown-menu {
  a {
    height: 3em;
    line-height: 2.5em;
  }
}

.menu-item-description {
  color: #9f9f9f;
  margin-bottom: 1em;
}

.search-menu {
  font-weight: 400;
  font-size: 1.25em;
}

.padding-left-none {
  padding-left: 0;
}

.banner-title {
  margin: 0.5em 0 0.15em;
  color: white;
}

span.badge {
  // float: right;
  margin-top: 0.5em;
  color: white;
  right: 2em;
  position: absolute;
  min-width: 2rem;
}

.dropdown-menu > li > a {
  width: 270px;
  clear: left;
}

.badge {
  border-radius: 0;
  background-color: #D33A3A;
}
// switches
.lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  float: left;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: rgb(245, 245, 245);
  color: rgba(0, 0, 0, 0.870588);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.117647);
  content: '';
  transition: all 0.3s ease;
}

.lbl:active:after {
  transform: scale(1.15, 0.85);
}

.cbx:checked ~ label {
  background: #80DEEA;
}

.cbx:checked ~ label:after {
  left: 20px;
  background: #22BED5;
}

.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after {
  background: #bcbdbc;
}

.cbx:checked ~ .menu-canvas-element-label {
  color: #22bed5;
}

.menu-canvas-element {
  padding: 2em 0;
}
// menu-canvas-element-label
.menu-canvas-element-label {
  margin-left: 5em;
  color: #333333;
  font-weight: normal;
}

.dropdown-toggle.search-menu {
  color: white;
}

.element-container {
  margin-bottom: 2em;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus:active {
  outline: none;
  color: white;
  background-color: #22bed5;
  border-color: #22bed5;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
}

.btn-primary:hover {
  outline: none;
  color: white;
  background-color: #22bed5;
  border-color: #22bed5;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  transition: 0.2s ease;
}

.btn-primary:focus:active:hover {
  outline: none;
  color: white;
  background-color: #00ACC1;
  border-color: #00ACC1;
  transition: 0.2s ease;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary {
  opacity: 0.4;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover {
  outline: none;
  color: white;
  background-color: #22bed5;
  border-color: #22bed5;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
  opacity: 0.4;
}

.sv-container {
  padding: 0 2em 2em;
}

.sv-image-gallery-title {
  margin: 1em 0;
}

.image-gallery {
  margin: 1em 0;
}

.disabled {
  cursor: not-allowed;
}
// footer
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: -120px;
  height: 120px;
  background-color: $about-color;
}

.wrapper {
  margin-bottom: 120px;
  height: 100%;
}

.information-section {
  background-color: #F2F2F2;
  color: #808080;
  padding: 2em 0;
}
// layout
// footer

.footer-bottom {
  padding-left: 15px;
  background-color: #00A6C1;
  display: block;
  padding: 15px 30px;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  // /* Set the fixed height of the footer here */
  background-color: #1DB4CC;
}

.highlight {
  color: #FFFFFF;
}

.link {
  color: #E6E6E6;
  text-decoration: underline;
}

.footer-title {
  color: #4D4D4D;
  font-size: 1.25em;
  padding: 0.5em 0;
  font-weight: 600;
}
// menu-aim
.dropdown-menu {
  min-height: 400px;
}
// footer-logo
.footer-logo {
  height: 6em;
}
// landing page
.cover-image {
  width: 100%;
  /*or 70%, or what you want*/
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/images/site/cover_grad.png');
  z-index: 1;
}

.cover-image-container {
  background-color: #261902;
}

.sv-feature-title {
  color: white;
  font-size: 2em;
  opacity: 1;
}

.landing-section {
  color: white;
}

.jumbotron {
  margin: 5% 0 10%;
  background-color: rgba(255,255,255,0.2);
}

.display-3 {
  color: white;
  font-weight: 900;
  font-size: 3em;
  padding: 1em 0;
}

.lead {
  color: #e6e6e6;
  font-weight: 400;
}

.sponsors-card {
  background-color: #008CA8;
}

.partners-card {
  background-color: #669988;
}

.margin-right-none {
  margin: 0;
}

.sponsors-partners-logo {
  height: 4em;
  margin: 2em 0;
}

.sv-card-title {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 1em;
}

.partners-card,
.sponsors-card {
  padding: 2em 0;
}

.padding-none {
  padding-left: 0;
  padding-right: 0;
}
// mapbox
.mapboxgl-popup-content {
  color: black;
}

.mapbox-marker,
.mapboxgl-marker {
  background-image: url('/assets/images/site/map-marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  // border-radius: 50%;
  cursor: pointer;
}

.mapbox-info-card {
  background-color: #617D8A;
  height: 600px;
  padding: 4em;
}

.mapbox-card-title {
  font-size: 3em;
  font-weight: 600;
  margin: 0.5em 0;
}

.mapbox-card-content {
  font-size: 1.5em;
  margin: 1em 0;
}
// jumbotron database
.jumbotron-database {
  margin: 2em 0 4em;
}

.jumbotron-title {
  color: #00abc7;
  font-size: 4em;
  font-weight: 600;
  margin: 0.5em 0;
}

.jumbo-container {
  padding: 0 30px;
  height: 100%;
}

.databases-badge {
  color: white;
  opacity: 0.8;

  &:hover {
    color: white;
    opacity: 1;
  }
}

.db-title {
  font-size: 3em;
  margin: 0.5em 0;
  font-weight: 600;
  color: #00abc7;
}

a {
  color: #00abc7;

  &:hover {
    color: #0097A7;
    text-decoration: none;
  }
}

.jumbotron-db {
  margin: 0;
  padding: 0;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #22bed5;
  border-color: #22bed5;
  opacity: 0.4;
}

.section-statistics {
  color: rgba(255,255,255,0.9);
  background-color: #3D3D3D;
}

.section-statistics-title {
  font-size: 2em;
  margin: 2em 0;
  font-weight: 600;
}

.section-statistics-number {
  font-weight: 700;
  font-size: 4em;
}

.content-tab {
  padding: 0.5em 0 1em;

  li {
    &.active {
      a {
        border-bottom: 3px solid #00abc7;
        padding-bottom: 7px;
        font-weight: 800;
      }
    }

    a {
      font-size: 1.25em;
      padding: 15px;
      font-weight: 400;

      &:focus,
      &:hover {
        background: transparent;
        color: #00abc7;
      }
    }
  }

  li:first-child {
    a {
      padding-left: 15px;
    }
  }
}

.padding {
  padding-left: 30px;
  padding-right: 30px;
}
// dataTables_length
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
  background-color: #00abc7;
  border-color: #00abc7;
}

.pagination > li > a {
  color: #00abc7;
}
// EMBER paper
.md-button {
  color: rgba(255,255,255, 0.87) !important;
}

md-input-container {
  label {
    margin-bottom: 0;
  }
}

.inline-form {}
// button
.search-bar-button {
  color: rgba(255,255,255,1);
  cursor: pointer;
  float: left;
  margin: 0.3em 0.5em;
  padding: 0.1em 0.5em;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255,255,255,1);
    // box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
  }
}

.jumbo-description {
  margin-top: 1em;
  color: #333333;
}

.query-title {
  font-size: 1.25em;
}
