<div class="jumbo-container">

  <div class="jumbo-container">
    <div class="jumbotron jumbotron-db">
      <div class="db-title">
        {{#link-to "databases.voyages"}}Voyages{{/link-to}}
        <p class="jumbo-description">
          The Trans-Atlantic Slave Trade Database comprises more than 35,000 individual slaving expeditions between 1514 and 1866. Records of the voyages have been found in archives and libraries throughout the Atlantic world. They provide information about vessels,
          enslaved peoples, slave traders and owners, and trading routes. A variable (Source) cites the records for each voyage in the database. Other variables enable users to search for information about a particular voyage or group of voyages. The
          website provides full interactive capability to analyze the data and report results in the form of statistical tables, graphs, maps, a timeline, and an animation.
        </p>
      </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>guide</a>
        {{#link-to "databases.voyages.search" class="btn btn-primary btn-lg" role="button" }}search database{{/link-to}}
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>downloads</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>contribute</a>
      </p>
      <hr class="my-4">

      <div class="db-title">
        {{#link-to "databases.intra-american"}}Intra-American{{/link-to}}
        <p class="jumbo-description">
          An intra-American trade in slaves – originating in the Caribbean - supplied additional slaves, however. This region was exceptional in the Americas in that a positive rate of natural population growth began relatively early, thus reducing the dependence
          of the region on coerced migrants.
        </p>
      </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>guide</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>search database</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>downloads</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>contribute</a>
      </p>
      <hr class="my-4">

      <div class="db-title">
        {{#link-to "databases.slave-trade"}}Slave Trade Assessment{{/link-to}}
        <p class="jumbo-description">
          This section of the Voyages website is organized around the three ways historians and researchers have used the Trans-Atlantic Slave Trade Database to interpret the slave trade: essays, quantitative analysis, and maps. Interactive features of the “Estimates”
          sub-section enable users to raise their own questions about the full volume of the slave trade by year, national carrier, and routes of slaving expeditions, and obtain answers in the form of tables, a timeline, or maps.
        </p>
      </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>guide</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>search database</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>downloads</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>contribute</a>
      </p>
      <hr class="my-4">

      <div class="db-title">
        {{#link-to "databases.african-names"}}African Names{{/link-to}}
        <p class="jumbo-description">
          During the last 60 years of the trans-Atlantic slave trade, courts around the Atlantic basins condemned over two thousand vessels for engaging in the traffic and recorded the details of captives found on board including their African names. The African
          Names Database was created from these records, now located in the Registers of Liberated Africans at the Sierra Leone National Archives, Freetown, as well as Series FO84, FO313, CO247 and CO267 held at the British National Archives in London.
          Links are provided to the ships in the Voyages Database from which the liberated Africans were rescued, as well as to the African Origins site where users can hear the names pronounced and help us identify the languages in which they think the
          names are used.
        </p>
      </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>guide</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>search database</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>downloads</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" disabled>contribute</a>
      </p>
      <hr class="my-4">
    </div>
  </div>

</div>

{{outlet}}
