
// module colors
$trans-color: #008ca8;
// $intra-color: #645D9B;
// $intra-hover-color: #645D9B;
$intra-color: #6c65a4;
$intra-hover-color: #6c65a4;
// $past-color: #47A58A;
// $past-hover-color: #47A58A;
$past-color: #3f967d;
$past-hover-color: #3f967d;
// $resource-color: #47A58A;
// $resource-hover-color: #47A58A;
$resource-color: #3F75AA;
$resource-hover-color: #3F75AA;
$about-color: #5d7b8a;
// $about-color: #7B919C;

// site colors
$site-color: #008ca8;

// text colors
$text-primary: #333333;
$text-dark-1: #333333;
$text-dark-2: #666666;
