
// module colors
$trans-color: #008ca8;

// $intra-color: #645D9B;
// $intra-hover-color: #645D9B;
$intra-color: #6c65a4;
$intra-secondary-color: #7F76BF;
$intra-hover-color: #605A91;
// $past-color: #47A58A;
// $past-hover-color: #47A58A;
$past-color: #3f967d;
$past-secondary-color: #46A88C;
// $past-hover-color: #3f967d;
$past-hover-color: #30725f;

$past-contribute-color: #dd514c;
$past-contribute-secondary-color: #e36662;
$white: #FFFFFF;
$grey-1: #DDDDDD;

// $resource-color: #47A58A;
// $resource-hover-color: #47A58A;
$resource-color: #3F75AA;
$resource-hover-color: #3F75AA;
$resource-secondary-color: #4784C1;

$about-color: #5d7b8a;
$about-secondary-color: #7E9AA8;
// $about-color: #7B919C;

// site colors
$site-color: #008ca8;
$trans-primary-color: #008ca8;
$trans-secondary-color: #0c9ab1;

// text colors
$text-primary: #333;
$text-dark-1: #333;
$text-dark-2: #666;
$text-dark-3: #999;

// theme colors
$assessment-table-bg-color: #D0EFF0;


$dropdown-bg-hover: #f8f9fa;
