// variables for the scss

$sidebar-header-font-size: 1.25rem;
$large-font-size: 1.25rem;
$normalized-font-size: 1rem;
$regular-font-size: 0.8rem;
$reduced-font-size: 0.7rem;
$small-font-size: 0.6rem;
$compact-font-size: 0.5rem;
