@import "footer";
@import "headings";
@import "variables";
@import "colors";

// #timelapse_control_layer {
//   z-index: 400;
// }

.leaflet-pane, .leaflet-top, .leaflet-bottom, .leaflet-control {
  z-index: 0 !important;
}

.voyage-info-container {
  display: flex;
  justify-content: space-between;
}

.voyage-info-title {
  font-size: $large-font-size;
  font-weight: bold;
}

.timelapse-info-card {
  padding: 10px;
}

.voyage-nationality-title {
  color: $text-dark-3;
  font-size: 1rem;
}

.voyage-title-container,
.voyage-nationality-container {
  display: flex;
  justify-content: space-between;
}

.voyage-nationality-flag {
  height: 25px;
  max-height: 25px;
}

.voyage-title-container {
  padding-bottom: 5px;
  align-items: start;
}

.voyage-nationality-container {
  padding-bottom: 5px;
  align-items: center;
}

.voyage-description-container {
  font-weight: normal;
  line-height: normal;
  padding-top: 5px;
}
.voyage-info-close {
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

// circles around the dots
.animation_voyage_inner_circle {
  fill: black;
}

.animation_voyage_outer_circle {
  stroke: gray;
  stroke-width: 2;
  fill: transparent;
}