@import "footer";
@import "colors";

// card-container
.card-container {
  margin: 2rem 0;
  padding-left: 0;
}

// drop-shadow-1
.drop-shadow-1:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2);
  transition: box-shadow 0.3s ease-in-out;
}

.drop-shadow-1 {
  transition: box-shadow 0.3s ease-in-out;
}

.zoom-1 {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
// .zoom-1:hover {
//   -moz-transform: scale(1.1);
//   -webkit-transform: scale(1.1);
//   transform: scale(1.1);
// }

.fade-in {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Proxima Nova", "Helvetica", "Arial", sans-serif !important;
}

a:hover {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

footer {
  background-color: $about-color;
}

.hero,
.content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  min-height: 600px;
  position: relative;
}

.hero .inner {
  background: rgba(0, 0, 0, 0.7) url("img/sv/trans.png") no-repeat;
  width: 100%;
  width: 100%;
  background-size: 100%;
}

.trans-color {
  color: $trans-color;
}

.normal-color {
  color: #777777;
}

.intra-color {
  color: $intra-color;
  /* #47A58A */
}

.gallery-color {
  color: $resource-color;
}

.past-color {
  color: $past-color;
}

.db-title-color {
  color: #bababa;
}

.card-title-color {
  color: #777777;
  margin-top: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.weight-700 {
  font-weight: bold;
}




.trans-btn {
  color: $trans-color;
  border-color: $trans-color;
}

.trans-btn:hover, .trans-btn:active {
  background-color: $trans-color !important;
  border-color: $trans-color !important;
}

.intra-btn {
  color: $intra-color;
  border-color: $intra-color;
}

.intra-btn:hover, .intra-btn:active  {
  background-color: $intra-color !important;
  border-color: $intra-color !important;
}

.past-btn {
  color: $past-color;
  border-color: $past-color;
}

.past-btn:hover, .past-btn:active {
  background-color: $past-color !important;
  border-color: $past-color !important;
}

.band {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.band-image {
  width: 100%;
}

.band-story {
}


.cover-flex-container {
  margin-top: 9rem;
}


.block {
  /*width: 100px;*/
  /*height: 100%;*/
  /*width: 12%;*/
  /*background-color: blue;*/
  /*margin: 15px;*/
}

.cover-band {
  /*background: grey;*/
  position: absolute;
  z-index: 1;
  margin: 0 4rem;
}

.cover-color {
  color: #eeeeee;
}

.special-feature-flex-container {
    display: flex;
    flex-wrap: wrap;
}


.special-feature-flex-item {
  padding: 0.5rem 2rem 1rem 0rem;
  justify-content: space-between;
}

.special-feature-flex-item:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  /*background: rgba(255,255,255, 0.75);*/
}

.special-feature-flex-item:hover p {
  /*color: #545454;*/
  opacity: 1;
}

.special-feature-flex-item:hover a {
  /*color: #353535;*/
  opacity: 1;
}

.special-feature-flex-item:hover .special-feature-title {
  /*color: #353535;*/
  opacity: 1;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.special-feature-flex-item:hover .special-feature-desc {
  opacity: 0.95;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.special-feature {
  /*padding: 0 4rem;*/
  font-size: 1rem;
  font-weight: bold;
  color: #dddddd;
  opacity: 0.8;
}

.special-feature-container {
  margin-top: 3rem;
}

.special-feature-title {
  color: #00abc7;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0;
  opacity: 0.7;
}

.special-feature-desc {
  font-size: 1rem;
  font-weight: 500;
  color: #dddddd;
  opacity: 0.75;
}

.social-icon-container {
  /*width: 300px;*/
  justify-content: center;
  flex-wrap: wrap;
  /*border: 1px white solid;*/
}

.separator {
  color:  #dddddd;
  opacity: 0.5;
}

.social-icon {
  width: 1.5rem;
  opacity: 0.5;
  color: #dddddd;
  margin: 0 .3rem;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.donate-icon {
  width: 1.5rem;
  color: #dddddd;
  margin: 0;
  border-radius: 100%;
  box-shadow:
    // inset 0 0 50px $trans-color,      /* inner trans */
    // inset 20px 0 80px $trans-color,   /* inner left trans short */
    // inset -20px 0 80px $trans-color,  /* inner right trans short */
    // inset 20px 0 80px $trans-color,  /* inner left trans broad */
    // inset -20px 0 80px $trans-color, /* inner right trans broad */
    0 0 20px white;            /* outer white */
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.legacy-icon {
  width: 1.5rem;
  color: #dddddd;
  margin: 0;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.no-margin-left {
  margin-left: 0;
}

.social-icon:first-child {
  margin-left: 0;
}

.social-icon:hover {
  opacity: 1;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
  color: #dddddd;
}

.social-flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.cover-logo {
  margin: 1rem 0;
  height: 50px; 
  opacity: 0.5; 
  display: flex !important;
  transition: ease 0.3s;
  &:hover {
    opacity: 1;
  }
}

.scroll-text {
  color: #dddddd;
}
/* Video */

#bgvid-container {
  background: black;
  /*position: fixed;*/
  /*width: 100%;*/
  /*height: 100%;*/
  z-index: 0;
  /*overflow: hidden;*/
  object-fit: cover;
  top: -2px;
  overflow: hidden;

}


video#bgvid {
  /*position: fixed;*/
  /*min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;*/
  /*position: absolute;*/
  /*top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  /*border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;*/
  /*height: 100%;*/
  /*width: 100%;*/
  overflow: hidden;
  /*width: 100%;
  height: 100%;*/
  z-index: 0;
  background-color: rgba(67, 45, 31, 1);
  opacity: .2;
}


#home-welcome {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: normal;
  position: absolute;
  z-index: 1;
  color: #dddddd;
  top: 20%;
  width: 80%;
  padding-left: 4rem;
  padding-right: 4rem;
}

.scroll {
  color: #dddddd;
  opacity: 0.5;
  margin-top: 1rem;
}




.cover-center {
  margin-top: 6rem;
}

.cover-end {
  margin-top: 0rem;
}


.dropdown-item.active, .dropdown-item:active {
    background-color: #7B919C;
    opacity: 1;
  }

.navbar {
  margin-top: 2rem;
  padding: 0 4rem;
  z-index: 2;
  position: absolute;
  background: none !important;
  border: none;
  width: 100%;
}




.nav-item {
  padding-right: 1rem;
}

.nav-link {
  font-weight: 500;
}

.navbar-brand {
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .9);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}
/* Large devices (desktops, 992px and up) */

.site-headline {
  font-size: 2rem;
}

.site-story {
  font-size: 1.15rem;
}

.sv-logo {
  height: 3rem;
}

/* original large device */
@media (max-width: 1199px) {
  .navbar-collapse {
    margin-top: 1rem;
    background: #38393B;
    opacity: 0.95;
    padding: 1rem;
    border-radius: 5px;
  }

  .site-headline {
    font-size: 1.75rem;
  }

  .sv-logo {
    height: 4rem;
  }
}

.design {
  margin: 1rem 0;
  text-align: right;
}
@media (max-width: 992px) {
  .design {
    text-align: left;
  }
}

.bold {
  font-weight: bold;
}

.trans-btn, .intra-btn, .past-btn {
margin-top: .25rem;
margin-right: .25rem;
margin-bottom: .25rem;


}

/*@media (max-width: 1160px) {
  .navbar-collapse {
    background: #000000;
    opacity: 0.95;
    padding: 1rem;
    border-radius: 5px;
  }
}*/

/*@media (min-width: 1160px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
  }
}*/

// link
.link {
  font-weight: bold;
  transition: ease 0.3s;

  &:hover {
    color: #fff !important;
    transition: ease 0.3s;
  }
}

// footer color
.grey {
  color: #ececec;
}

.sv-card-title {
  margin-left: 0.5rem;
}

.nav-container {
  margin-right: auto;
  margin-left: auto;
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  width: 100%;
  flex-wrap: nowrap;
  /*margin-left: 2rem;*/
  /*margin-right: 2rem;*/
}

@media (min-width: 992px) {
  .nav-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}

.card-resource-img-top {
  width: 25%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-text {
  color: #777777;

}

.card-title {
  color: #777777;
  text-align: center;
}

.logo-grid-container {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 0;
  background-color: #BBC2CB;
  /*padding: 1rem 4rem;*/
  &:last-child {
    padding: 2.5rem 0;
  }
}

.logo-grid {
  /*width: 900px;*/

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-grid-item {
  /*border: 1px solid #fff;*/
  width: 250px;
  height: 100px;
  padding: 0 20px;
  align-items: center;
  display: flex;
}

.news-grid-item {
  width: 300px;
  height: 100px;
  padding: 0 20px;
  align-items: center;
  display: flex;
  // overflow: hidden;
  color: white;
}

/*.logo-grid-item:first-child {
  padding-left: 0;
}

.logo-grid-item:last-child {
  padding-right: 0;
}*/


.no-padding {
  padding: 0;
}

@media (min-width: 576px) {
  .band-story {
    padding: 0;
  }
  /*.container {
    max-width: none;
  }*/
}

/*@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}*/

.band {
  margin: 4rem 2rem;
  align-items: center;
}



@media (max-width: 768px) {
    .sm-hidden {
      display: none;
    }

    .band-story {
      padding: 0;
    }

    .cover-flex-container {
      margin-top: 8rem;
    }

    .col-md-4 .band {
      margin: 0;
    }

    .cover-band {
      margin: 0 2rem;
    }


    .navbar {
      padding: 0 2rem;

    }

    .cover-start {

    }
    .cover-center {
      margin-top: 2rem;
    }

    .site-story {
      font-size: 1rem;
    }
  }

.margin-top {
  margin-top: 1rem;
}

.db-title {
  margin: 0;
}


.news-grid-item {
  width: 100%;
  height: 180px;
  padding: 0 2rem;
  align-items: center;
  color: white;		
  overflow: hidden;
  line-height: 1.25rem;
  display: block;
}

.news-grid-title {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
  color: white;
  // display: flex;
  // justify-content: space-between;
}

.news-container {
  /* display: flex; */
  justify-content: center;
  padding: 2.5rem 0 0;
  background-color: #3f3f3f;
  padding-bottom: 2.5rem;
}

.news-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  &:hover {
    cursor: pointer;
  }
}

.news-container-title {
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
  opacity: 0.95;
  text-transform: capitalize;
}

.news-grid-body {
  padding: 1rem 0;
  color: #dfdfdf;
}

.inline-block {
  display: inline-block;
}

.news-grid-title-date {
  font-size: 0.75rem;
  padding: 0;
}

.news-grid-title-date-bg {
  background: white;
  color: #454545;
  padding: 0 0.25rem;
}

.card-title-btn {
  color: #00abc7;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-text-btn, .timelapse-modal-title {
  color: #454545 !important;
}

.timelapse-modal-title {
  font-weight: bold;
}

.card-btn:hover {
  transition: all 400ms cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 0 6px rgba(0,0,0,0.25), 0 0 6px rgba(0,0,0,0.22);
  cursor: pointer;
}


.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}