.carousel
{
    width:1200px;
    margin:auto;
}

.carousel-inner  img
{
    height:300px !important;
    width:auto !important; 
    margin: auto;
    
    
}

.carousel-caption
{
    background: rgba(0, 0, 0, 0.3);        
}

.carousel-caption h5
{
    /*text-shadow: 0 0 2px blue;*/
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
    background-color: black;
}

.pagebreak
{
    background: white;      
    overflow-y: scroll;
}

.pagebreak .card-body
{
    color: black !important;
}