@import "colors";


.nav-header {
    color: white;
    background: $enslavers-secondary-color !important;
    padding: 0.5rem 4rem 0;
    font-size: 1rem;
    font-weight: bold;
  }

  .navbar {
    background: $enslavers-color !important;
  }
  
a {
    color: $enslavers-color;
}

a:hover {
    color: $enslavers-secondary-color;
}


.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    //max-width: 400px;
    margin: auto;
    overflow: hidden;
    margin-top:20px;
    
}
.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 600px;
    width: 600px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}


.content-image {
    width: 100%;
    height: auto;
    
}


img.blog-thumbnail {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 600px;
    height: 600px;
    object-fit: cover;    
}

img.blog-detail-thumbnail{
    height:300px;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}