@import "footer";
@import "headings";
@import "variables";
@import "colors";

html, body {
  height: 100% !important;
}

// body text
.body-text {
  font-size: $regular-font-size;
  color: $text-primary;
}

// timelapse
.timelapse-info-container {
  background: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  color: $text-dark-2;
  position: relative;
  margin: 0 0 5px 0;
  max-width: 300px;
}

.timelapse-title {
  font-size: $regular-font-size;
  padding: 0 5px;
}

#timelapse-year {
  display: inline-block;
}

.timelapse-year {
  font-size: 2rem;
  // position: absolute;
  padding: 0 5px;
  background: rgba(255, 255, 255, 0.9);
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0;
}

// offset white space under menu
.dropdown-menu {
  margin: 0;
}

// Editorial platform input box + comment btn inline
.selectize-control.single,  .selectize-control.multi {
  display: inherit;
}

.control-label {
  font-weight: bold;
}

.input-group {
  margin-bottom: 1em;
}
// End of Edtiorial platform input form

// inline display
.inline {
  display: inline;
}

// django admin style fix
.deletelink {
  height: 100% !important;
}

// table compact
.table-compact {
  thead {
    font-weight: bold;
    padding: 0.25rem 0;
  }
  th, td {
    padding: 0.25rem 0.75rem;
  }
}

// make a table scroll horizontally
.scroll-x {
  overflow-x: scroll;
  display: block;
}

// make all tooltip elements to show pointer cursor
.tooltip-pointer:hover {
  cursor: pointer;
}

// accordion
.sidebar-section-accordion:first-child {
  // margin-top: 1.5rem;
}

.sidebar-collapse {
  margin-bottom: 2rem;
}

// .collapse.show {
//   margin-bottom: 1.5rem;
// }

// text-primary
.text-title {
  font-weight: 500;
}

.text-bold {
  font-weight: bold;
}

// text-secondary
.text-description {
  color: $text-dark-3;
}


// link
.link {
  font-weight: bold;
  transition: ease 0.3s;

  &:hover {
    color: #fff !important;
    transition: ease 0.3s;
    opacity: 1;
  }
}

// footer color
.grey {
  color: #ececec;
  &:hover {
    opacity: 1;
  }
}


// hidden
.hidden {
  display: none;
}

// datatable responsive elements
@media (max-width: 768px) {
  .dataTables_filter {
    text-align: left !important;
  }
  .pagination {
    justify-content: center !important;
    margin: 1rem !important;
  }
  .dataTables_info {
    float: none !important;
  }
}

// margin-v
.margin-v, #v-tables_wrapper {
  margin-top: 1rem;
}

// drop-shadow-1
.drop-shadow-1:hover {
  box-shadow: 0 0 10px rgba(33,33,33,.2);
  transition: box-shadow 0.3s ease-in-out;
}

.drop-shadow-1 {
  transition: box-shadow 0.3s ease-in-out;
}

// table word break
.table-break {
  width: 100%;
  word-wrap:break-word;
  table-layout: fixed;
}

// layout
.page-section {
  margin-bottom: 1rem;
}

// form
.form-check-label {
  padding-left: 0;
  padding-right: 1rem;
}

// dataTables
.dataTables_length, .dataTables_info {
  float: left;
  font-size: $regular-font-size !important;
  color: $text-dark-2 !important;
}

div.dataTables_wrapper div.dataTables_info {
	padding-top: 0 !important;
}


//table style
.fixed-width-table {
	// table-layout: fixed;
	width: 100%;

	td {
		word-wrap: break-word;
		// word-break:break-all;
	}
}


.full-input {
	width: 100%;
}

.partial-input {
	width: 40%;
}

.sidebar-section {
  margin: 1.5rem 0;
}

.sv-col-form-label, .form-check-label, .lookup-checkbox-list-item-0 {
  font-size: 1rem;
  margin-bottom: 0;
}

.form-group {
  align-items: center;
  // margin-bottom: 0.25rem;
  margin-bottom: 0;
}

.form-check {
  margin-bottom: 0;
}

.section {
  margin: 1rem 0;
}
// .table {
//
//   th {
//     text-align: center;
//   }
//
//   tr {
//     text-align: center;
//   }
// }

html {
  position: relative;
  min-height: 100%;
}

body {
  // margin-bottom: 60px; /* Margin bottom by footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 60px; /* Set the fixed height of the footer here */
  // line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.page-title-1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .5rem;
  color: $text-dark-1;
}

.page-title-2 {
  font-weight: bold;
  font-size: 1.4rem;
  color: $text-dark-1;
}

.sidebar-title-1 {
  font-weight: bold;
  font-size: 1.2rem;
  color: $text-dark-1;
  // margin-bottom: 1rem;
}

.sidebar-title-2 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 1rem 0.5rem 0;
  color: $text-dark-1;
}

.sidebar-section-2 {
  padding: 0 0 5px 15px;
}

.sidebar-title-3 {
  font-weight: bold;
}

.table-sm {
  font-size: 0.8rem;
}
.container {
  margin: 2rem 15px;
}

.method-info {
  opacity: 0.8;
}

.secondary-menu-item-1 {
  padding-left: 30px;
}

.secondary-menu-item-0 {
  padding-top: 5px;
  padding-bottom: 5px;

}

.method-info, .essay-info {
  margin-bottom: 2rem;
  color: #666666;
}

.page-navigation-flexbox {
  margin-top: 2rem;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.page-navigation-item {
  margin-top: 10px;
  font-weight: bold;
  color: #008ca8;
  cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.article-list-item {
  color: #008ca8 !important;
  cursor: pointer;
}

.indentation-1 {

}

.indentation-2 {
  padding-left: 1rem;
}

.indentation-3 {
  padding-left: 2rem;
}

.article-list-active {
  font-weight: bold;
  // padding-left: 25px;
  // border-left: 4px solid #008ca8;
}

// .leaflet-control-container {
//   z-index: 0;
// }

// .leaflet-pane {
//   z-index: 0 !important;
// }

// .leaflet-overlay-pane {
//   z-index: 200 !important;
// }

.navbar-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 1);
  padding: .5rem 0 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.margin-h1 {
  margin: 1rem;
}

.margin-h-025 {
  margin: 0 0.25rem;
}

.space-between {
  justify-content: space-between;
}

.tab-title {
  color: $text-dark-2;
  font-size: $regular-font-size;
  font-weight: bold;
}

.navbar-subitem {
  margin-right: 1rem;
}

.tooltip > .tooltip-inner {background-color: $text-dark-1;}
.tooltip > .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before { 
  border-bottom-color:$text-dark-1;
}
.tooltip > .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before { 
  border-top-color:$text-dark-1;
}
.tooltip > .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before { 
  border-left-color:$text-dark-1;
}
.tooltip > .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before { 
  border-right-color:$text-dark-1;
}
.tooltip-inner {
  text-align: left;
}

// admin page override
.login .submit-row {
    padding: 1rem 0 0 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.padding-right-05 {
  padding-right: 0.5rem;
}

.dt-button-collection.dropdown-menu:last-child {
  left: auto !important;
  right: 0;
}

.table td, .table th {
  padding: 0 .25rem !important;
  vertical-align: middle !important;
}

// datatables past
.table-past {
  font-size: 0.8rem;
}

.table {
  border-collapse: collapse; 
  border-spacing: 0;
  width: 100% !important;
}

.margin-bottom-05 {
  margin-bottom: 0.5rem;
}

.sidebar-card-body {
  padding-bottom: 1rem !important;
}

// accordion plus and minus indicators
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after, .accordion .card-header .show:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
.card-header:first-child {
  border-radius: 0;
}

.tick, .legend, .sidebar-label {
  color: $text-primary !important;
  font-size: $regular-font-size !important;
}

.sidebar-label {
	margin-bottom: 0 !important;
}


/* original large device */
@media (max-width: 1199px) {
  .nav-header {
    padding: 0.5rem 2rem 0 !important;
  }
}