@import "colors";

.navbar {
  padding: 0 4rem;
  z-index: 2;
  border: none;
  width: 100%;
}

.nav-item {
  margin-right: 0.25rem;
}

.nav-link {
  font-weight: 500;
  font-size: 0.8rem;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link, .v-breadcrumb-link, .v-breadcrumb-link {
  color: rgba(255, 255, 255, 0.75);
}


.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover, .v-breadcrumb-link:hover {
  color: #fff !important;
  cursor: pointer;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-breadcrumb-separator {
  margin: 0 0.25rem;
}
.active-link {
  .nav-link {
    color: rgba(255, 255, 255, 1) !important;
  }
}

.nav-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  flex-wrap: nowrap;
}

@media (min-width: 992px) {
  .nav-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .navbar {
    padding-top: 0;
  }
}

.breadcrumb {
  padding: 0.75rem 4rem;
}

.container-new {
  margin: 1rem 4rem;
}

@media (max-width: 991px) {
  .navbar {
    padding: 0.5rem 2rem;
  }

  .container-new {
    margin: 2rem;
  }
}

.navbar-subitem-link {
  color: rgba(255,255,255,0.85);
  &:hover {
    color: white;
  }
  font-weight: bold;
}

.navbar-padding-bottom {
  padding-bottom: 0.5rem;
}