@import "colors";


.navbar {
  background: $past-color !important;
}

.footer-flex-container {
  background-color: $past-color;
}

a {
  color: $past-color;

  &:hover {
    color: $past-color;
    opacity: 0.6;
    text-decoration: none;
  }
}

.btn-trans {
  background-color: $past-color;
  color: #fff;
}

.secondary-menu-item-1-selected, .assessment_selected {
  padding-left: 25px;
  border-left: 4px solid $past-color;
  font-weight: bold;
}
