@import "colors";
@import "variables";

// for the timelapse jquery ui scroll handle
.ui-state-active, .ui-widget-content .ui-state-active {
  border-color: #6c757d !important;
  background-color: #6c757d !important;
}

// Map leaftlet marker text
div.leaflet-pane.leaflet-marker-pane > div > div > span {
  color: white;
}

.search-menu {
  border-radius: 0;
  border-right: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
  padding: 0;
  left: -25px;
  width: 330px;
  height: 475px;
}

.search-submenu {
  min-width: 550px;
  height: 475px;
  // overflow-y: scroll;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
  padding: .75rem 1.5rem;
  border-radius: 0;
  overflow-y: auto;
}

// for dataTables
.dropdown-item.active, .dropdown-item:active {
  // background-color: #f8f9fa;
  background-color: rgba(0, 0, 0, 0.1);
  color: #212529;
}

.dropdown-item-li {
    padding: 10px 24px;
}

.popover-title {
  margin-bottom: 1rem;
}

.search-dropdown-item {
  font-weight: 500;
  color: #555555 !important;
}

.dropdown-menu-title {
  cursor: default;
  align-content: center;
  justify-content: space-between;
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.badge-count {
  text-align: center;
  display:flex;
  font-size: 75%;
  font-weight: 700;
}

.badge-count-label {
  width: 20px;
  height: 20px;
  border: 0.5px solid #dc3545;
  color: #dc3545;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.badge-count-btn {
  width: 20px;
  height: 20px;
  border: 0.5px solid #dc3545;
  background: #dc3545;
  color: white;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.maintainHover {
  background: rgba(0, 0, 0, 0.15) !important;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 0.35px;
}

.x path {
    stroke: transparent;
}

.vertical_line {
    stroke: darkgreen;
    stroke-width: 1px;
    stroke-dasharray: 1 1;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.timeline_main_g {
    cursor:pointer;
    // pointer-events: all;
}

.imputed-result {
  // font-style: italic;
}

.highcharts-menu {
  hr {
    margin: 0;
    padding: 0;
  }
}


// for leaflet map
.leaflet-container {
  background: #8bbec4 !important;
}

// Timelapse timeline title; SVG element
.timelapse-timeline-title-label {
  font-size: $regular-font-size;
  font-weight: 500;
  text-transform: capitalize;
  fill: $text-primary;
}

// Timelapse timeline group; SVG element
.timelapse-timeline-group-label {
  fill: $text-dark-2;
}

// table-estimates
.table-estimates {
  .row_header {
  	min-width: 110px;
  }
}

.header-group {
  background-color: #dddddd;
  font-weight: bold;
}

td.header {
  font-weight: bold;
}

// estimates
.tabs-selection {
  margin: 0 0 1rem 0;
  border-bottom: 1px solid #008ca8;
}

#id_frame_from_year, #id_frame_to_year {
  width: 50px;
}

.modal-lg {
  max-width: 75%;
}

.v-variable-container {
  font-size: 0.8rem;
  padding: .75rem 0 0.5rem 0;
  color: $text-dark-2;
}

.variable-text {
  color: $text-dark-2;
}

// loader

.sv-loader-img {
  animation-duration: 2.5s !important;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 75px;
  margin-top: -37.5px; /* Half the height */
  margin-left: -37.5px; /* Half the width */
  opacity: 0.9;
}

/* hide the current gif */
.sv-loader-bg, .sv-loader-bg[style] {
  position: absolute;
  height: 100%;
  z-index: 1;
  width:100%;
  background: rgba(0, 0, 0, 0.1);
}

.sv-loader-helm {
  left: 50%;
  top: 50%;
  position: fixed;
  margin-left: -32px;
  margin-top: -32px;
}

.sv-loader-error-container {
  left: 50%;
  top: 50%;
  position: fixed;
  margin-left: -208px;
  margin-top: -128px;
  text-align: center;
}

.sv-loader-error-image {
  width: 128px;
}

.sv-loader-error-quote {
  font-size: 2rem;
  font-weight: bold;
}

.sv-loader-error-message-container {
  background: rgba(255,255,255, 0.9);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.sv-loader-error-btns {
  margin-top: 0.5rem;
}

.display-none {
  display: none !important;
}

// animation
.animation_voyage_year_slider {
  width: 100%;
}

.animation-control {
  font-size: 1.5rem;
  color: $text-dark-2;
  margin: 0 1rem 0 1rem;
}

.animation-control-btn {
  cursor: pointer;
}

.search-menu-singular {
  height: auto !important;
  padding-bottom: 1.5rem !important;
  overflow: visible;
}

#searchNav > ul:nth-child(1) > li:nth-child(1) > a {
  padding-left: 0;
}

// #map > div.leaflet-control-container > div.leaflet-top.leaflet-left {
//   z-index: 0;
// }

.imputed {
  font-style: italic;
}

.source-title {
  font-weight: bold;
}

.source-content {
  color: $text-dark-2;
}

// jquery slider handle needs to be within the layer
.ui-slider .ui-slider-handle {
  z-index: auto !important;
}



.highcharts-menu-item {
  &:hover {
    background-color: $dropdown-bg-hover !important;
    color: black !important;
  }
}
