@import "colors";

.table td {
  padding-top: 0rem;
  padding-bottom: 0rem;
  // border-top: none;
}

.table th {
  // padding: 0.25rem 0.25rem;
  // border-top: none;
}

// hotpatch?

.btn-group>.btn:first-child {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

// datatables header configuration alignment
// #results_main_table_wrapper {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#results_main_table_paginate {
  float: right;
}

.tab-pane {
  padding: 1rem 0;
}

.dataTables_info {
  color: #555555;
}

.trans-tab {
  padding-top: .5rem;
}

#results_main_table {
  font-size: 0.8rem;
}

.dt-buttons > .buttons-collection  {
  padding: .175rem .5rem;
  font-size: 0.8rem;
}

.dataTables_paginate {
  .page-link {
    padding: .375rem .5rem;
    font-size: 0.8rem;
  }
}
.dataTables_info {
  font-size: 0.8rem;
}

table.dataTable thead>tr>th.sorting, .table td {
  padding: 0.1rem .5rem !important;
}

table.dataTable thead>tr>th.sorting, .table th {
  padding: 0.25rem .5rem !important;
}



.trans-tab .nav-item {
  a {
    font-size: 0.8rem;
  }
  .nav-link {
    padding: 0.25rem .5rem;
  }
}

.trans-search-bar {
  z-index: 1;
  padding: 0 4rem;
  background: #0c9ab1 !important;
  @media (min-width: 1199px) {
    .nav-item {
      padding-top: 0;
    }
  }
}

.trans-container {
  margin: 0 4rem;
}

.navbar-dark .navbar-nav .nav-link:first-child {
  padding-left: 0;
}

#results_main_table_wrapper {
  padding: 0;
}

th {
  padding: 1px 5px;
}
#search-bar {
  margin-bottom: 75px;
  min-height: 750px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0.2em !important;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.2em !important;
}

.page-item.active .page-link {
  z-index: 0;
}

.vue-treeselect__label, .vue-treeselect__multi-value {
  font-size: 0.85rem;
}

.dt-button {
  font-size: 0.85rem;
}
