@import "colors";
@import "variables";

// save query panel
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.v-saved-searches-header {
  margin-top: 1rem;
}

.v-saved-searches-item {
  margin-bottom: 1rem;
  font-size: $regular-font-size;
  color: #666666;
  word-break: break-all;
}

// variable panel
#panelCollapse {
  background-color: #efefef;
}

.panel-list {
  margin-bottom: 0;
  list-style: none;
  font-size: $regular-font-size;
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: space-between;
}

.panel-list-item {
  padding-right: 1rem;
}

.btn-panel {
  color: #0c9ab1;
  border: 1px #0c9ab1 solid;
  border-radius: 3px;
  padding: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}
// end of variable panel

// hotpatch
.btn-group > .btn:first-child {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
// hotpatch ends

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#results_main_table_paginate {
  float: right;
}

.tab-pane {
  padding: 0.5rem 0;
}

.tab-pane-sm {
  padding: 0.75rem 0;
}

.trans-tab {
  padding-top: 0.5rem;
}

.dataTable {
  font-size: $regular-font-size;
}

table.dataTable tfoot > tr > td,
table.dataTable thead > tr > td,
table.dataTable tr > th {
  padding: 0 25px 0 5px !important;
}

table.dataTable tbody > tr > td {
  padding: 0 5px 0 5px !important;
}

.dt-font-sm {
  font-size: $reduced-font-size;
}

.dt-font-md {
  font-size: $regular-font-size;
}

.dt-buttons > .buttons-collection {
  padding: 0.175rem 0.5rem;
  font-size: $reduced-font-size;
}

.dataTables_paginate {
  .page-link {
    padding: 0.375rem 0.5rem;
    font-size: $reduced-font-size;
  }
}

.dataTables_info, .dataTables_length, .dataTables_filter{
  font-size: $regular-font-size;
  color: $text-dark-2;
}
// table.dataTable thead>tr>th.sorting, .table td {
//   padding: 0.1rem .25rem !important;
// }
//
// table.dataTable thead>tr>th.sorting, .table th {
//   padding: 0.1rem .25rem !important;
// }

.trans-tab .nav-item {
  a {
    font-size: $regular-font-size;
  }

  .nav-link {
    padding: 0.25rem 0.5rem;
  }
}

.trans-container {
  margin: 0 4rem;
}


/* original large device */
@media (max-width: 1199px) {
  .trans-container {
    margin: 0 2rem !important;
  }
}

.navbar-dark .navbar-nav {
  padding-left: 0;
}

#results_main_table_wrapper {
  padding: 0;
}

th {
  padding: 1px 5px;
}

#search-bar {
  margin-bottom: 75px;
  min-height: 750px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0.2em !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.2em !important;
}

.page-item.active .page-link {
  z-index: 0;
}

.vue-treeselect__label,
.vue-treeselect__multi-value {
  font-size: $reduced-font-size;
}

.dt-button {
  font-size: $reduced-font-size;
}

.vue-treeselect__placeholder,
.vue-treeselect__single-value {
  font-size: $reduced-font-size !important;
}

.popover {
  display: none;
}
