@import "colors";

.dropdown-menu-title-text {
  font-size: 0.85rem;
}

.v-title {
  font-weight: bold;
  color: #666666;
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.v-toggle-control {
  color: #666666;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.v-description {
  color: #666666;
  margin-bottom: 0.35rem;
  font-size: 0.85rem;
}

.v-panel-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.v-panel-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #666666;
}

.v-panel-description {
  color: #666666;
  font-size: 0.85rem;
}

.v-panel-header {}

.v-form-group {
  // padding: 0 0 1.25rem;
  padding: 1.25rem 0 0;
}

.v-database-title {
  color: #333333;
  font-weight: bold;
  font-size: 1.5rem;
}

.v-database-description {
  color: #666666;
}

.v-form-element-caption {
  color: #888888;
  font-size: 0.85rem;
  // padding-top: 0.125rem;
}

.v-badge-imputed {
  background-color: #fa8837;
  color: white;
}

.v-badge-advanced {
  background-color: #f41d6d;
}
// v-toggle
.fa-control {
  cursor: pointer;
  font-size: 1.5rem !important;
  color: #17a2b8;
}
// v-toggle
// v-modal
.modal-footer {
  position: relative !important;
}

.v-modal-title {
  font-size: 1rem;
  font-weight: bold;
  color: #666666;
  text-align: left;
}

.modal-content {
  color: #666666;
}

.modal-body {
  text-align: left;
}
// v-modal
// tabs - tables
#v-summary-statistics {
  tr {
    td:not(:first-child) {
      text-align: right;
    }
  }
}

.side-control-tab.active {
  font-weight: bold;
}

.control-tab-pane {
  padding: 0 !important;
}

.page-title-3 {
  font-weight: bold;
  font-size: 1.25rem;
}

.pointer:hover {
  cursor: pointer;
}

.card-header {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.card-body {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.btn-navbar {
  border: 1px white solid;
  border-radius: 3px;
  color: white;
  padding: 0 0.5rem 0 0.35rem;
  cursor: pointer;
}

.nav-item-compact {
  margin-right: 0.25rem;
}

[v-cloak] > * {
  display: none;
}

[v-cloak]::before {
  content: " ";
  position: fixed;
  height: 100%;
  z-index: 100;
  width:100%;
  background: rgba(0,0,0,0.05) url('../images/site/helm.gif') no-repeat center center;
}
