.v-title {
  font-weight: bold;
  color: #666666;
  // margin-bottom: 0.125rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.v-description {
  color: #666666;
  margin-bottom: 0.35rem;
}

.v-panel-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.v-panel-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555555;
}

.v-panel-description {
  color: #666666;
}

.v-panel-header {
}

.v-form-group {
  padding: 1rem 0 0;
}


.v-database-title {
  color: #333333;
  font-weight: bold;
  font-size: 1.5rem;
}

.v-database-description {
  color: #666666;
}

.v-form-element-caption {
  color: #888888;
  // padding-top: 0.125rem;
}

.v-badge-imputed {
  background-color: #fa8837;
  color: white;
}

.v-badge-advanced {
  background-color: #f41d6d;
}


// v-toggle

.fa-control {
  cursor: pointer;
  font-size: 1.5rem !important;
  color: #17a2b8;
}

// v-toggle
