<section id="section1" class="padding-bottom-0 landing-section">

  <h1 class="text-center v-center"></h1>
  <div class="row">
    {{#link-to "databases.voyages" class="databases-badge" }}
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12 text-center">
            <i class="fa fa-ship fa-5x"></i>
            <h3 class="sv-feature-title">Slave Voyages Database</h3>
          </div>
        </div>
      </div>
    {{/link-to}}

    {{#link-to "databases.intra-american" class="databases-badge" }}
      <div class="col-sm-3 text-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <i class="fa fa-flag-checkered fa-5x"></i>
            <h3 class="sv-feature-title">Intra-American Voyages Database</h3>
          </div>
        </div>
      </div>
    {{/link-to}}

    {{#link-to "databases.slave-trade" class="databases-badge" }}
      <div class="col-sm-3 text-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <i class="fa fa-line-chart fa-5x"></i>
            <h3 class="sv-feature-title">Slave Trade Estimates</h3>
          </div>
        </div>
      </div>
    {{/link-to}}

    {{#link-to "databases.african-names" class="databases-badge" }}
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12 text-center">
            <i class="fa fa-bold fa-5x"></i>
            <h3 class="sv-feature-title">African Names Database</h3>
          </div>
        </div>
      </div>
    {{/link-to}}
  </div>

</section>
