<footer class="footer-bottom">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<div class="copyright">
				<strong class="highlight"> Slave Voyages</strong>
				<div class="highlight">Copyright 2017 Emory University. Software licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"><span class="link">GNU General Public License 3.0</span></a> or later version.</div>
				<div class="highlight">Some content licensed under <a href="https://creativecommons.org/licenses/by-nc/3.0/us/"><span class="link">Creative Commons Attribution-Non-Commercial 3.0</span></a>.</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-right">
			<div class="design highlight">
				<img src="/assets/images/site/emory_lits_logo.svg" class="footer-logo">
			</div>
		</div>
	</div>
</footer>
