<div class="information-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footerleft ">
        <div class="footer-title"> Glossary</div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="footer-title">FAQ</div>
        <ul class="footer-ul list-unstyled">
          <li><a href="#"> General</a></li>
          <li><a href="#"> Citing the Voyages website</a></li>
          <li><a href="#"> Variables</a></li>
          <li><a href="#"> Queries</a></li>
          <li><a href="#"> Results</a></li>
          <li><a href="#"> Summary statistics</a></li>
          <li><a href="#"> View full list</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="footer-title">Contact</div>
        <div class="post">
          <p>
            <div class="icon-right-aligned">
              Robert W. Woodruff Library<br/> Emory University<br/> 540 Asbury Circle<br/> Atlanta, GA 30322 USA
            </div>
          </p>
          <p> voyages@emory.edu</p>
          <p> +1 (404) 727-6123</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="footer-title"> Legal </div>
        <ul class="list-unstyled">
          <li><a href="#"> General</a></li>
          <li><a href="#"> Conditions of Use</a></li>
          <li><a href="#"> Permissions to Reproduce</a></li>
          <li><a href="#"> Licenses</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
