<div id="mainNav" class="navbar navbar-default navbar-custom">
  <div class="col-md-12">
    {{#link-to 'index' class="navbar-brand"}}Slave Voyages{{/link-to}}
    <ul class="nav navbar-nav pull-right">
      <li>{{#link-to 'databases' class="page-scroll"}}Databases{{/link-to}}</li>
      <li><a href="#" class="disabled page-scroll">Slave Trade Assessment</a></li>
      <li>{{#link-to 'gallery' class="page-scroll"}}Image Gallery{{/link-to}}</li>
      <li><a href="#" class="disabled page-scroll">Education</a></li>
      <li><a href="#" class="disabled page-scroll">About</a></li>
      <li><a href="#" class='language-toggle page-scroll' class="disabled">EN</a></li>
    </ul>
  </div>
</div>
