{% extends "_base.html" %}
{% load voyage_extras %}
{% load sass_tags %}
{% load i18n %}

{% block title %} {% trans "Trans-Atlantic - About the Database" %} {% endblock %}

{% block content %}

  <div id="flatpage" v-cloak>
    <v-breadcrumb 
      module="{% trans 'Trans-Atlantic Slave Trade' %}" 
      title="{% trans 'Essays' %}" 
      :breadcrumb="breadcrumb"
      @clicked="navigate"></v-breadcrumb>

    <div class="container-new">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
          <v-flatpage @clicked="navigate" :list="articles"></v-flatpage>
        </div>

        <div class="col-md-8 col-xs-12 col-lg-9 ">

          <p class="hidden-md">
            <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
              <div>
                <span class="fa fa-exchange-alt" style=" vertical-align: middle;"></span>
                <span>{% trans "Toggle Sidebar" %}</span>
              </div>
            </button>
          </p>

          <div id="center-content-inner">
            <div v-html="content"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% include '_scripts.html' %}
<script src="{{ STATIC_URL }}scripts/vue/components/v-flatpage-data-essays.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/flatpage.js"></script>
{% endblock %}
