{% load i18n %}
<link rel="stylesheet" href="{{ STATIC_URL }}maps/css/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}maps/css/MarkerCluster.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}maps/css/MarkerCluster.Default.css" />
<div style="display:table-row; height:100%">
    <div id="map" style="width:100%; height:100%; min-height: 500px;"></div>
</div>
<div id="loading" style="position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);">
    <div class="page-title-1">{% trans 'Loading map voyages...' %}</div>
</div>
<script src="{{ STATIC_URL }}maps/js/leaflet.js"></script>
<script src="{{ STATIC_URL }}maps/js/leaflet.markercluster.js"></script>
<script src="{{ STATIC_URL }}maps/js/leaflet.polylineDecorator.js"></script>
<script src="{{ STATIC_URL }}maps/js/route_nodes.js"></script>
<script src="{{ STATIC_URL }}maps/js/voyagesMap.js"></script>
<script>
    voyagesMap.
        init('{{ map_year }}', '{{ STATIC_URL }}maps/', route_nodes, links).
        setMaxPathWidth(20).
        setPathOpacity(0.75);
    $( document ).ready(function() {
        var animate = true;
        var onCompleted = function(){
                animate = false;
                $("#loading").hide();
             };
        $.ajax({
             type: "POST",
             url: $("#form").attr('action'),
             data: $("#form").serialize() + '&submitVal=map_ajax',
             success: function(data) {
                onCompleted();
                eval(data);
                voyagesMap.setNetworkFlow(ports, flows);
             },
             error: function(jqXHR, textStatus, errorThrown) {
                onCompleted();
                console.log('Failed to load map data!');
             },
             beforeSend:function(){
                animate = true;
                var target = 0.25;
                $("#loading").show();
                loop = function() {
                    $('#loading').animate({
                        opacity: target,
                    }, 600, 'linear', function() {
                        target = target < 1 ? 1 : 0.25;
                        if (animate) loop();
                    });
                };
                loop();
             },
             complete: onCompleted
        });
    });
</script>