{% extends "_base.html" %}
{% load voyage_extras %}
{% load sass_tags %}
{% load i18n %}

{% block title %} {% trans "3D Videos of Slaving Vessels" %} {% endblock %}

{% block content %}

<div id="flatpage" v-cloak>
  <v-breadcrumb 
    module="{% trans 'Trans-Atlantic Slave Trade' %}" 
    title="{% trans '3D videos of Slaving Vessels' %}"></v-breadcrumb>
  <div class="container-new">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-md-12">
        <div id="center-content-inner">
          <div v-html="content"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include '_scripts.html' %}
<script src="{{ STATIC_URL }}scripts/vue/components/v-flatpage-ship.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/flatpage.js"></script>
{% endblock %}
