{% load i18n %}
{% load voyage_extras %}
{% load l10n %}
{% load sass_tags %}
{% load compress %}


{% compress css %}
<link href="{% sass_src 'scss/search-ui.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/trans-search.scss' %}" rel="stylesheet" type="text/css" />
{% endcompress %}

<div>
  <div class="nav-header">
    <div>{% trans 'Trans-Atlantic Slave Trade - Database' %}</div>
    <div class="navbar-subtitle">
      {% if not voyage %}
      {% trans 'Voyage not found' %}
      {% else %}
      {% trans 'Voyage' %} {{ voyage.var_voyage_id }}, <i>{{ voyage.var_ship_name }}</i> ({{ voyage.var_imp_arrival_at_port_of_dis }})
      {% endif %}
    </div>
  </div>

  <div class="trans-container">
    <div class="row">
      <div class="col-md-12">
        <div id="center-content-inner">
          <!-- Tabs -->
          <ul class="nav nav-tabs trans-tab">
            <li class="nav-item">
              {% if tab == 'variables' %}
              <a class="nav-link active" data-target="#voyage-variables" href="#" id="tab_variables">{% trans "Variables" %}</a>
              {% else %}
              <a class="nav-link" data-target="#voyage-variables" href="/voyage/{{ voyage_id }}/variables" id="tab_variables">{% trans "Variables" %}</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if tab == 'map' %}
              <a class="nav-link active" data-target="#map" href="#" id="tab_map">{% trans "Map" %}</a>
              {% else %}
              <a class="nav-link" data-target="#map" href="/voyage/{{ voyage_id }}/map" id="tab_map">{% trans "Map" %}</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if tab == 'images' %}
              <a class="nav-link active" data-target="#images" href="#" id="tab_images">{% trans "Images" %}</a>
              {% else %}
              <a class="nav-link" data-target="#images" href="/voyage/{{ voyage_id }}/images" id="tab_images">{% trans "Images" %}</a>
              {% endif %}
            </li>
          </ul>
          <!-- End of Tabs -->

          <!-- TabContainers -->
          <div id="tabsJustifiedContent" class="tab-content">

            {% if tab == 'variables' %}
            <div id="voyage-variables" class="tab-pane fade active show tab-container">
              {% include "voyage_variables.html" %}
            </div>
            {% endif %}

            {% if tab == 'map' %}
            <div id="map" class="tab-container">

              {% with itinerary=voyage.object.voyage_itinerary numbers=voyage.object.voyage_slaves_numbers %}
              <link rel="stylesheet" href="{{ STATIC_URL }}maps/css/leaflet.css" />
              <link rel="stylesheet" href="{{ STATIC_URL }}maps/css/MarkerCluster.css" />
              <link rel="stylesheet" href="{{ STATIC_URL }}maps/css/MarkerCluster.Default.css" />
              <div style="display:table-row; height:100%">
                <div id="map" style="width: 100%;height: 100%;position: relative; min-height: 500px;"></div>
              </div>
              <!-- I18n of javascript text -->
              <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

              <script src="{{ STATIC_URL }}maps/js/leaflet.js"></script>
              <script src="{{ STATIC_URL }}maps/js/leaflet.markercluster.js"></script>
              <script src="{{ STATIC_URL }}maps/js/leaflet.polylineDecorator.js"></script>
              <script src="{{ STATIC_URL }}maps/js/route_nodes.js"></script>
              <script src="{{ STATIC_URL }}maps/js/voyagesMap.js"></script>
              <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
              <script>
                {% localize off %}
                console.log("{{itinerary}}");
                console.log("{{itinerary.imp_principal_place_of_slave_purchase}}");
                console.log("{{itinerary.imp_principal_port_slave_dis}}");
                {% with source=itinerary.imp_principal_place_of_slave_purchase destination=itinerary.imp_principal_port_slave_dis %}



                // Make Highcharts work with Bootstrap Tabs
                jQuery(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) { // on tab selection event
                  jQuery("#hc-container, #graph-container-red").each(function () {
                    // var chart = jQuery(this).highcharts(); // target the chart itself
                    // chart.reflow() // reflow that chart
                  });

                  // datatable
                  $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust()
                    .responsive.recalc();

                });
                voyagesMap.
                  init('{{ map_year }}', '{{ STATIC_URL }}maps/', route_nodes, links).
                  setMaxPathWidth(10).
                  setPathOpacity(0.75);
                var ports = {
                  "{{ source.place }}": new Port(
                    new NamedPoint("{{ source.place|trans_log }}", new L.LatLng({{ source.latitude }}, {{ source.longitude }})),
                null,
                  null),
                "{{ destination.place }}": new Port(
                  new NamedPoint("{{ destination.place|trans_log }}", new L.LatLng({{ destination.latitude }}, {{ destination.longitude }})),
                  null,
                  null)
		                        };
                var flows = [
                  new Flow(
                    "{{ source.place }}",
                    "{{ destination.place }}",
                    {{ numbers.imp_total_num_slaves_embarked }} || 0,
                      {{ numbers.imp_total_num_slaves_disembarked }} || 0)
		                        ];
                voyagesMap.setNetworkFlow(ports, flows);
                {% endwith %}

                {% endlocalize %}
              </script>
              {% endwith %}

            </div>
            {% endif %}

            {% if tab == 'images' %}
            <div id="images" class="tab-container">

              {% if not images %}
              <div class="tab-title">{% trans "No images are available." %}</div>
              {% endif %}

              {% for image in images %}
              <img src="{{ MEDIA_URL }}/{{ image.file }}" class="img-fluid" />
              {% endfor %}
            </div>
            {% endif %}


          </div>
          <!-- End of TabContainers -->

        </div>
      </div>
    </div>
  </div>
</div>