<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/topbar.css" />

	{% block csslist %}{% endblock %}
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	{% block jslist %}{% endblock %}

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Title of the page{% endblock %}</title>

</head>

<body>
	<div id="main_logo">
		<a href="{% url myhome %}"><img src="{{ STATIC_URL}}images/menu/logo.png"/>	</a>	
	</div>
	
    <div id="main_nav">
        {% include "topbar.html" %}
    </div>

	<div id="secondarybar">
		{% include "secondarybar.html" %}
	</div>
	
	<div id="mycontent">
 
    </div>
	
    <div id="content">
    	
        {% block content %}{% endblock %}
    </div>

	{% block footer %}{% endblock %}
	
	{% include "googlecode.html" %}
	
	<script src="{{ STATIC_URL }}scripts/nav.js" language="javascript" type="text/javascript"></script>	
	<script src="{{ STATIC_URL }}scripts/hover.js" language="javascript" type="text/javascript"></script>
</body>
</html>


