{% load i18n %} 
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic common css styles -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/topbar.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />

	{% block csslist %}
	{% endblock %}
	<!-- Basic common javascripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}scripts/jquery.ba-resize.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/hover.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}scripts/navigation_topbar.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}scripts/breadcrumb.js" type="text/javascript"></script>
	{% block jslist %}
	{% endblock %}

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Title of the page{% endblock %}</title>

</head>

<body>
	{% block top_bar %}
	<table class="top-bar">
		<tr>
			<td style="width:240px;">
			<div id="main_logo"><a href="{% url index %}"><img src="{{ STATIC_URL}}images/menu/logo.png"/></a></div>
			</td>
			<td>
			<div id="main_nav">
				{% include "topbar.html" %}
			</div>
			</td>
		</tr>
	</table>
	{% endblock %}
	
	{% block secondary_bar %}
	<div id="secondarybar">
		{% include "secondarybar.html" %} 
	</div>
	{% endblock %}
	
    <div id="main-content">
    <div id="main-content-container">
    {% block content %}{% endblock %}
    
    </div>
	</div>
	{% block footer %}{% endblock %}
	
	{% include "googlecode.html" %}
</body>
</html>


