{% load i18n %} 
<!DOCTYPE html>
<html lang="en">
<head>
	{% comment %}<!-- Basic common css styles -->{% endcomment %}
    {% comment %}	<!-- Top navigation menu styles -->{% endcomment %}
    
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/topbar.css" />
    
    	<!-- Basic tyles for the rest of the page -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />

	{% block csslist %}
	{% endblock %}
	<!-- Basic common javascript source files -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	<!-- For resizing div bodies when loading content via AJAX -->
	<script src="{{ STATIC_URL }}scripts/jquery.ba-resize.min.js" type="text/javascript"></script>
	
	<!-- Fly-out top navigation menu !-->
    <script src="{{ STATIC_URL }}scripts/hover.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}scripts/navigation_topbar.js" type="text/javascript"></script>
	
	<!-- Breadcrumb - page-navigation -->
	<script src="{{ STATIC_URL }}scripts/breadcrumb.js" type="text/javascript"></script>
	{% block jslist %}
	{% endblock %}

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Title of the page{% endblock %}</title>

</head>

<body>
	{% block top_bar %}
	<table class="top-bar">
		<tr>
			<!--Voyage Website logo -->
			<td style="width:240px;">
			<div id="main_logo"><a href="{% url index %}"><img src="{{ STATIC_URL}}images/menu/logo.png"/></a></div>
			</td>
			<td>
			<!-- Navigation menu -->
			<div id="main_nav">
				{% include "topbar.html" %}
			</div>
			</td>
		</tr>
	</table>
	{% endblock %}
	
	<!-- Secondary menu containing breadcrumb links and help links -->
	{% block secondary_bar %}
	<div id="secondarybar">
		{% include "secondarybar.html" %} 
	</div>
	{% endblock %}
	
	<!-- Actual content of the page - two nested divs 
		because of different background vs. text spanning -->
    <div id="main-content">
    <div id="main-content-container">
    {% block content %}{% endblock %}
    
    </div>
	</div>
	<!-- Page footer -->
	{% block footer %}{% endblock %}
	
	<!-- Google Analytics code -->
	{% include "googlecode.html" %}
</body>
</html>


