{% extends "base.html" %}
{% load i18n %} 
<!-- Page title here -->
{% block title %}{% trans "Trans-Atlantic Slave Trade" %}{% endblock %}

{% block csslist %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css" />
{% endblock %}

{% block jslist %}
	<script src="{{ STATIC_URL }}scripts/utils.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}scripts/welcome-map.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<table border="0" cellspacing="0" cellpadding="0" class="welcome-band">
	<tr>
		<td valign="top">
		<div id="welcome-map">
			<img style="position: absolute; top: 0px; left: 0px;"
			id="welcome-image" src="{{ STATIC_URL}}images/index/map.png"
			width="430" height="340" border="0" />

			<img style="position: absolute; top: 50px; left: 50px;"
			id="map_north_america_label" src="{{ STATIC_URL}}images/index/map-north-america.png"
			width="120" height="80" border="0"  />

			<img style="position: absolute; top: 200px; left: 100px;"
			id="map_brazil_label" src="{{ STATIC_URL}}images/index/map-brazil.png"
			width="100" height="60" border="0"  />

			<img style="position: absolute; top: 125px; left: 95px;"
			id="map_caribbean_label" src="{{ STATIC_URL}}images/index/map-caribbean.png"
			width="120" height="60" border="0"  />

			<img style="position: absolute; top: 50px; left: 260px;"
			id="map_europe_label" src="{{ STATIC_URL}}images/index/map-europe.png"
			width="100" height="60" border="0"  />

			<img style="position: absolute; top: 130px; left: 270px;"
			id="map_africa_label" src="{{ STATIC_URL}}images/index/map-africa.png"
			width="100" height="60" border="0"  />
		</div>
		<div id="welcome-map-region-placeholder">
			<div id="map-hint">
				{% blocktrans %}Roll over names of designated regions on the map
				above for descriptions of the role of each in
				the trans-Atlantic slave trade.{% endblocktrans %}
			</div>

			<div class="welcome-map-region-text" id="map_north_america_text" style="display: none">
				<div class="welcome-map-region-name">
					{% trans "North America" %}
				</div>
				<div class="welcome-map-region-desc">
					{% blocktrans %}The North American mainland played a relatively minor role in the trans-Atlantic
					slave trade. Its ports sent out less than five percent of all known voyages, and its
					slave markets absorbed less than four percent of all slaves carried off from Africa.
					An intra-American trade in slaves – originating in the Caribbean - supplied additional
					slaves, however. This region was exceptional in the Americas in that a positive rate
					of natural population growth began relatively early, thus reducing the dependence
					of the region on coerced migrants.{% endblocktrans %}
				</div>
			</div>

			<div class="welcome-map-region-text" id="map_caribbean_text" style="display: none">
				<div class="welcome-map-region-name">
					{% trans "Carribbean" %}
				</div>
				<div class="welcome-map-region-desc">
					{% blocktrans %}The Caribbean was one of the two major broad regional markets for slaves from
					Africa. Over the two centuries when the trade was at its height, the major
					locations for sugar production, and therefore the major slave markets, shifted
					from the eastern Caribbean to the west. Here, first Jamaica, then St. Domingue,
					and finally in the nineteenth century, Cuba, absorbed most of the slaves brought into
					the region. As this implies, few islands developed self-sustaining populations
					at any point in the slave trade era. Caribbean ports also sent out more slaving
					expeditions to Africa than did the North American mainland ports.{% endblocktrans %}
				</div>
			</div>

			<div class="welcome-map-region-text" id="map_brazil_text" style="display: none">
				<div class="welcome-map-region-name">
					{% trans "Brazil" %}
				</div>
				<div class="welcome-map-region-desc">
					{% blocktrans %}Brazil was the center of the slave trade carried on under the Portuguese
					flag, both before and after Brazilian independence in 1822, and Portugal was by
					far the largest of the national carriers. Brazil dominated the slave trade in the
					sense that Rio de Janeiro and Bahia sent out more slaving voyages than any port in
					Europe, and certainly many times more than did Lisbon. Over nearly three centuries
					between 1560 and 1850, Brazil was consistently the largest destination for slaves
					in the Americas. Almost all the slaves coming into the region came from just two
					coastal areas in Africa: the Bight of Benin and West-central Africa.{% endblocktrans %}
				</div>
			</div>

			<div class="welcome-map-region-text" id="map_europe_text" style="display: none">
				<div class="welcome-map-region-name">
					{% trans "Europe" %}
				</div>
				<div class="welcome-map-region-desc">
					{% blocktrans %}Europe was the starting point for about half of all trans-Atlantic slaving voyages.
					This traffic dominated the West African to Caribbean section of the slave trade.
					The major ports were at first located in the Iberian peninsula, but by the eighteenth
					century northern European ports had become dominant. After 1807, France and the
					Iberian ports sent out the great majority of European-based slaving voyages.
					The European consumers’ demand for sugar was the driving force behind 350 years
					of trans-Atlantic slave trading.{% endblocktrans %}
				</div>
			</div>

			<div class="welcome-map-region-text" id="map_africa_text" style="display: none">
				<div class="welcome-map-region-name">
					{% trans "Africa" %}
				</div>
				<div class="welcome-map-region-desc">
					{% blocktrans %}Sub-Saharan Africa lost over twelve and a half million people to the
					trans-Atlantic slave trade alone between 1525 and 1867. Perhaps as many
					again were carried off to slave markets across the Sahara and the Indian Ocean.
					Over forty percent of captives left from West-central Africa alone with most of
					the remainder leaving from the Bight of Benin, the Bight of Biafra, and the Gold
					Coast. About one in eight died on board the slave vessel and many others died
					prior to departure and after arrival. Departures were channeled through a dozen
					or so major embarkation points such as Whydah, Bonny, Loango, Luanda, and Benguela,
					though many smaller ports also supplied slaves.{% endblocktrans %}
				</div>
			</div>

		</div></td>
		<td valign="top">
		<div id="welcome-text">
			<h1>{% blocktrans %}The Trans-Atlantic Slave Trade Database has
				information on more than 35,000 slaving voyages{% endblocktrans %}
			</h1>
			<p>
				{% blocktrans %}that forcibly embarked over 10 million Africans for transport to the
				 Americas between the sixteenth and nineteenth centuries. It offers 
				researchers, students and the general public a chance to rediscover the 
				reality of one of the largest forced movements of peoples in world history.{% endblocktrans %}</p>
		</div>
	
		<table border="0" cellspacing="0" cellpadding="0" id="featured-sections">
			<tr>
				<td class="featured-section-image"><a href="/voyage/search.html"> <img src="{{ STATIC_URL}}images/index/link-voyage.png" width="124" height="64" border="0" /> </a></td>
				<td class="featured-section-text">
				<div class="featured-section-caption">
					<a href="/database/search.html">{% trans 'Search the Voyages Database' %} <img src="{{ STATIC_URL}}images/index/link-arrow.png" border="0" width="16" height="16" align="top" alt="" /> </a>
				</div>
				<div class="featured-section-description">
					{% blocktrans %}Look for particular voyages in this database of documented slaving
					expeditions.  Create listings, tables, charts, and maps using
					information from the database.{% endblocktrans %}
				</div></td>
			</tr>
			<tr>
				<td class="featured-section-image"><a href="/assessment/estimates.html"> <img src="{{ STATIC_URL}}images/index/link-estimates.png" width="124" height="64" border="0" /> </a></td>
				<td class="featured-section-text">
				<div class="featured-section-caption">
					<a href="/assessment/estimates.html">{% trans 'Examine Estimates of the Slave Trade' %} <img src="{{ STATIC_URL}}images/index/link-arrow.png" border="0" width="16" height="16" align="top" alt="" /> </a>
				</div>
				<div class="featured-section-description">
					{% blocktrans %}Slaves on documented voyages represent four-fifths of the number
					who were actually transported.  Use the interactive estimates page
					to analyze the full volume and multiple routes of the slave trade.{% endblocktrans %}
				</div></td>
			</tr>
			<tr>
				<td class="featured-section-image"><a href="/about/origins.html"> <img src="{{ STATIC_URL}}images/index/link-slaves.png" width="124" height="64" border="0" /> </a></td>
				<td class="featured-section-text">
				<div class="featured-section-caption">
					<a href="/about/origins.html">{% trans 'Explore the African Names Database' %} <img src="{{ STATIC_URL}}images/index/link-arrow.png" border="0" width="16" height="16" align="top" alt="" /> </a>
				</div>
				<div class="featured-section-description">
					{% blocktrans %}This database identifies 91,491 Africans taken from captured
                    slave ships or from African trading sites. It displays the
                    African name, age, gender, origin, country, and places of
                    embarkation and disembarkation of each individual.{% endblocktrans %}
				</div></td>
			</tr>
		</table>
	
		<div id="other-links">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
				
					<td>
						<div class="special-features-title">
							{% trans 'Special features' %}
						</div>
					</td>
					<td style="padding-left: 20px;"><img src="{{ STATIC_URL}}images/index/link-arrow.png" border="0" width="16" height="16" align="top" alt="" /></td>
					<td style="padding-left: 5px;"><a href="/assessment/intro-maps.html">{% trans 'Introductory Maps' %}</a></td>
					<td style="padding-left: 20px;"><img src="{{ STATIC_URL}}images/index/link-arrow.png" border="0" width="16" height="16" align="top" alt="" /></td>
					<td style="padding-left: 5px;"><a href="/assessment/estimates.html">{% trans 'Timeline and Chronology' %}</a></td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</table>

{% endblock %}

{% block footer %}
{% include "footerhome.html" %}
{% endblock %}
