{% load i18n %}
{% get_language_info for LANGUAGE_CODE as lang %}

<!-- Containing breadcrumb and help links -->
<div class="secondary-bar">
	<table border="0" cellspacing="0" cellpadding="0" class="secondary-bar">
		<tr>
			<!-- Breadcrumb: handlers in breadcrumb.js will change the content depending on current page -->
			<td class="secondary-bar-breadcrumb">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="secondary-bar-breadcrumb">
          			  &nbsp;
					</td>
				</tr>
			</table>
			</td>
			
			<!-- Help links: handlers in navigation_topbar.js -->
			<td class="secondary-bar-help-links">
			<table border="0" cellspacing="0" cellpadding="0" class="secondary-bar-help-links">
				<tr>
					<td class="secondary-bar-help-link"><a href="{% url 'help:sitemap' %}" id="sitemap">{% trans 'Sitemap' %}</a></td>
					<td class="secondary-bar-help-link"><a href="{% url 'help:faqs' %}" id="faqs">{% trans 'FAQs' %}</a></td>
					<td class="secondary-bar-help-link"><a href="{% url 'help:demos' %}" id="demos">{% trans 'Demos' %}</a></td>
					<td class="secondary-bar-help-link"><a href="{% url 'help:glossary' %}" id="glossary">{% trans 'Glossary' %}</a></td>
					<td class="secondary-bar-help-link"><a href="{% url 'help:legal' %}" id="legal">{% trans 'Legal' %}</a></td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</div>

