<div class="secondary-bar">
	<table border="0" cellspacing="0" cellpadding="0" class="secondary-bar">
		<tr>
			<td class="secondary-bar-breadcrumb">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="secondary-bar-breadcrumb">
				      <div id="container">
          			  <script src="{{ STATIC_URL }}scripts/breadcrumb.js" type="text/javascript"></script>
					</div>
					</td>
				</tr>
			</table></td><td class="secondary-bar-help-links">
			<table border="0" cellspacing="0" cellpadding="0" class="secondary-bar-help-links">
				<tr>
					<td class="secondary-bar-help-link-first"><a href="">Sitemap</a></td>
					<td class="secondary-bar-help-link"><a href="">FAQs</a></td>
					<td class="secondary-bar-help-link"><a href="">Demos</a></td>
					<td class="secondary-bar-help-link"><a href="">Glossary</a></td>
					<td class="secondary-bar-help-link"><a href="">Legal</a></td>
				</tr>
			</table></td>
		</tr>
	</table>
</div>

