{% load i18n %} 
<!--  Contains the navigation menu - links are managed by the navigation_topbar.js menu -->
<ul id="toplinks">
	<li id="block01">
		<!--Top is the main link  -->
		<a href="/voyage/index.html" id="voyage">{% trans "Voyages Database" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="/voyage/guide.html" id="item01a">{% trans "Understanding the Database" %}</a>
				</li>
				<li>
					<a href="/voyage/search.html" id="item01b" >{% trans "Search the Voyages Database" %}</a>
				</li>
				<li>
					<a href="/voyage/download.html" id="item01c">{% trans "Downloads the Database" %}</a>
				</li>
				<li>
					<a href="/voyage/submission-login.html" id="item01d">{% trans "Contribute the Database" %}</a>
				</li>

			</ul>
		</div>
	</li>

	<li id="block02">
		<a href="/assessment/index.html" id="assessment">{% trans "Assessing the Slave Trade" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="/assessment/essays.html" id="item02a">{% trans "Essays" %}</a>
				</li>
				<li>
					<a href="/assessment/estimates.html" id="item02b">{% trans "Estimates" %}</a>
				</li>
				<li>
					<a href="/assessment/intro-maps.html" id="item02c">{% trans "Introductory Maps" %}</a>
				</li>

			</ul>
		</div>
	</li>

	<li id="block03">
		<a href="/resources/index.html" id="resources">{% trans "Resources" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="/resources/images.html" id="item03a">{% trans "Images" %}</a>
				</li>
				<li>
					<a href="/resources/origins.html" id="item03b">{% trans "African Names Database" %}</a>
				</li>
			</ul>
		</div>
	</li>

	<li id="block04">
		<a href="/education/index.html" id="education">{% trans "Educational Materials" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="/education/lesson-plans.html" id="item04a">{% trans "Lessons Plans" %}</a>
				</li>
				<li>
					<a href="/education/others.html" id="item04b">{% trans "Web Resources" %}</a>
				</li>

			</ul>
		</div>
	</li>

	<li id="block05">
		<a href="/about/index.html" id="about">{% trans "About the Project" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="/about/history.html" id="item05a">{% trans "History" %}</a>
				</li>
				<li>
					<a href="/about/team.html#" id="item05b">{% trans "Project Team" %}</a>
				</li>
				<li>
					<a href="/about/data.html" id="item05c">{% trans "Contributors of data" %}</a>
				</li>
				<li>
					<a href="/about/acknowledgements.html" id="item05d">{% trans "Acknowledgement" %}</a>
				</li>
				<li>
					<a href="/about/origins.html" id="item05e">{% trans "African Origins Project" %}</a>
				</li>
				<li>
					<a href="/about/contacts.html" id="item05f">{% trans "Contact Us" %}</a>
				</li>
			</ul>
		</div>
	</li>
</ul>
