{% load i18n %} 
<!-- 
	Contains the navigation menu - links are managed by the nav.js menu
-->
<ul id="toplinks">
	<li id="block01">
		<!--Top is the main link  -->
		<a href="#" id="item01">{% trans "Voyages Database" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="#" id="item01a">{% trans "Understanding the Database" %}</a>
				</li>
				<li>
					<a href="#" id="item01b" >{% trans "Search the Voyages Database" %}</a>
				</li>
				<li>
					<a href="#" id="item01c">{% trans "Downloads the Database" %}</a>
				</li>
				<li>
					<a href="#" id="item01d">{% trans "Contribute the Database" %}</a>
				</li>

			</ul>
		</div>
	</li>

	<li id="block02">
		<a href="#" id="item02">{% trans "Assessing the Slave Trade" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="#" id="item02a">{% trans "Essays" %}</a>
				</li>
				<li>
					<a href="#" id="item02b">{% trans "Estimates" %}</a>
				</li>
				<li>
					<a href="#" id="item02c">{% trans "Introductory Maps" %}</a>
				</li>

			</ul>
		</div>
	</li>

	<li id="block03">
		<a href="#" id="item03">{% trans "Resources" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="#" id="item03a">{% trans "Images" %}</a>
				</li>
				<li>
					<a href="#" id="item03b">{% trans "Name Database" %}</a>
				</li>
			</ul>
		</div>
	</li>

	<li id="block04">
		<a href="#" id="item04">{% trans "Educational Materials" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="#" id="item04a">{% trans "Lessons Plans" %}</a>
				</li>
				<li>
					<a href="#" id="item04b">{% trans "Web Resources" %}</a>
				</li>

			</ul>
		</div>
	</li>

	<li id="block05">
		<a href="#" id="item05">{% trans "About the Project" %}</a>
		<div class="linkbox">
			<ul>
				<li>
					<a href="#" id="item05a">{% trans "History" %}</a>
				</li>
				<li>
					<a href="#" id="item05b">{% trans "Project Team" %}</a>
				</li>
				<li>
					<a href="#" id="item05c">{% trans "Contributors of data" %}</a>
				</li>
				<li>
					<a href="#" id="item05d">{% trans "Acknowledgement" %}</a>
				</li>
				<li>
					<a href="#" id="item05e">{% trans "African Origins Project" %}</a>
				</li>
				<li>
					<a href="#" id="item05f">{% trans "Contact Us" %}</a>
				</li>
			</ul>
		</div>
	</li>
</ul>
