{% extends "base.html" %}
{% load i18n %} 

{% block title %}{% trans "About the Project" %}{% endblock %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/section-index.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/about/about.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/about/about-index.css">
{% endblock %}

{% block content %}
<div id="index-intro-band">

	<div id="index-intro-title">
		{{ objs.0.title|safe }}
	</div>

	<div id="index-intro-text">
		{{ objs.0.description|safe }}
	</div>

</div>

<div id="section-titles">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="section-title"><a href="{% url 'about:history' %}">{{ objs.1.title|safe }}</a></td>
			<td class="section-title"><a href="{% url 'about:team' %}">{{ objs.2.title|safe }}</a></td>
			<td class="section-title"><a href="{% url 'about:data' %}">{{ objs.3.title|safe }}</a></td>
			<td class="section-title"><a href="{% url 'about:acknowledgements' %}">{{ objs.4.title|safe }}</a></td>
			<td class="section-title"><a href="{% url 'about:origins' %}">{{ objs.5.title|safe }}</a></td>
			<td class="section-title"><a href="{% url 'about:contacts' %}">{{ objs.6.title|safe }}</a></td>
		</tr>
	</table>
</div>

<div id="section-descs">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>

			<td class="section-desc">{{ objs.1.description|safe }}</td>

			<td class="section-desc">{{ objs.2.description|safe }}</td>

			<td class="section-desc">{{ objs.3.description|safe }}</td>

			<td class="section-desc">{{ objs.4.description|safe }}</td>

			<td class="section-desc">{{ objs.5.description|safe }}</td>

			<td class="section-desc">{{ objs.6.description|safe }}</td>

		</tr>
	</table>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
