{% extends "base.html" %} {% load i18n %} {% load sass_tags %} {% load voyage_extras %} {% load compress %}


<!-- Page title here -->
{% block title %}{% trans "Slave Voyages" %}{% endblock %}
{% block csslist %}
	{% comment %} Additional styles for the home page {% endcomment %}
	{% compress css %}
	<link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
	<link href="{% sass_src 'scss/video-player.scss' %}" rel="stylesheet" type="text/css" />
	<link href="{% sass_src 'scss/library/aos@2.1.1.min.css' %}" rel="stylesheet" type="text/css" />
	{% endcompress %}
{% endblock %}

{% block content %}

<div id="video-overlay" class="video-overlay embed-responsive embed-responsive-16by9">
	<a class="video-overlay-close">&times;</a>
</div>

<div id="bgvid-container">

	<div class="cover-band">
		<div class="cover-flex-container">

			<div class="align-self-start cover-start col-md-10 col-lg-12 col-xl-10 col-sm-12 col-xs-12 no-padding">
				<h1 class="uppercase cover-color weight-700 db-title site-headline " data-aos="fade-in" data-aos-easing="ease" data-aos-duration="500" data-aos-anchor="#bgvid-container">{% trans 'Explore the Origins and Forced Relocations of Enslaved Africans Across the Atlantic World' %}</h1>
				<p class="cover-color site-story" data-aos="fade-in" data-aos-easing="ease" data-aos-delay="400" data-aos-duration="500" data-aos-anchor="#bgvid-container">
					{% blocktrans %} 
					The SlaveVoyages website is a collaborative digital initiative that compiles and makes publicly accessible records of the largest slave trades in history. Search these records to learn about the broad origins and forced relocations of more than 12 million African people who were sent across the Atlantic in slave ships, and hundreds of thousands more who were trafficked within the Americas. Explore where they were taken, the numerous rebellions that occurred, the horrific loss of life during the voyages, the identities and nationalities of the perpetrators, and much more.
					{% endblocktrans %}
				</p>
				<div class="video-player-flexbox" data-aos="fade-in" data-aos-easing="ease" data-aos-delay="600" data-aos-duration="500" data-aos-anchor="#bgvid-container">
					<a id="play-video" class="video-play-button" href="#">
						<span></span>
					</a>
					<div class="special-feature-desc video-player-desc">{% trans 'Henry Louis Gates introduces Slave Voyages 2.0 and some of its people' %}</div>
				</div>
			</div>


			<div class="align-self-center special-feature-container cover-center">
				<div class="special-feature" data-aos="fade-in" data-aos-easing="ease" data-aos-delay="900" data-aos-duration="500" data-aos-anchor="#bgvid-container">{% trans 'Special features' %}</div>
				<div class="special-feature-flex-container">
					<a href="{% url 'voyage:maps' %}" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="900" data-aos-duration="500" data-aos-anchor="#bgvid-container">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">{% trans 'Introductory maps' %}</div>
							<div class="special-feature-desc">{% trans 'View places and routes of the slave trade' %} </div>
						</div>
					</a>

					<a href="{% url 'voyage:ship' %}" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="1100" data-aos-duration="500"
						data-aos-anchor="#bgvid-container">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">{% trans '3D video reconstructions' %}</div>
							<div class="special-feature-desc">{% trans 'View 3D renditions of slaving vessels' %} </div>
						</div>
					</a>
					
					<a href="{% url 'assessment:estimates' %}?selected_tab=timeline" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="1300" data-aos-duration="500" data-aos-anchor="#bgvid-container">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">{% trans 'Timeline' %}</div>
							<div class="special-feature-desc">{% trans 'Examine estimated numbers of people trafficked across the Atlantic' %} </div>
						</div>
					</a>

					<a data-toggle="modal" data-target="#timelapse-modal"
						href="#" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="1500" data-aos-duration="500" data-aos-anchor="#bgvid-container">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">{% trans 'Timelapse' %}</div>
							<div class="special-feature-desc">{% trans 'View the movement of slave ships across the Atlantic' %} </div>
						</div>
					</a>

				</div>
			</div>

			<div class="align-self-end cover-end" data-aos="fade-in" data-aos-easing="ease" data-aos-delay="1700" data-aos-duration="500" data-aos-anchor="#bgvid-container">
				<div class="social-flex-container">
					<div class="social-icon-container">
						<a href="https://www.facebook.com/Voyages-The-Trans-Atlantic-Slave-Trade-Database-125441173016/" target="_blank" rel="noopener" alt="Slave Voyages on Facebook"><img data-src="{{STATIC_URL}}images/site/social-media/fb.svg" class="social-icon lazy" alt="Facebook Logo"></img></a>
						<a href="https://twitter.com/slavevoyages" target="_blank" rel="noopener" alt="Slave Voyages on Twitter"><img data-src="{{STATIC_URL}}images/site/social-media/twitter.svg" class="social-icon lazy" alt="Twitter Logo"></img></a>
						<!-- <a href="https://archive.slavevoyages.org" class="social-icon lazy no-margin-left tooltip-pointer" target="_blank" rel="noopener"
							alt="Slave Voyages - Legacy Site"
							data-toggle="tooltip" data-placement="top"
							title="{% trans 'The Slave Voyages 1.0 is now available as a read-only archive until late 2019.' %}">
							<img class="legacy-icon" src="{{STATIC_URL}}images/site/social-media/legacy.svg" alt="Legacy Site Button">
						</a> -->
						<!-- <a href="https://securelb.imodules.com/s/1705/giving/index.aspx?sid=1705&gid=3&pgid=600&cid=1358&bledit=1&dids=11428&appealcode=8WLSV" class="social-icon lazy no-margin-left tooltip-pointer" target="_blank" rel="noopener" alt="Donate to Slave Voyages">
							<img class="donate-icon" src="{{STATIC_URL}}images/site/social-media/love.svg" alt="Donate Button">
							<span>{% trans 'donate to this project' %}</span>
						</a> -->
						<span class="separator">|</span>
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSfGvxLA7B3pe2YVAdwn-biL2qJM9_w9UcbfpHLXWIUoJb80Gw/viewform?usp=sf_link" 
							data-toggle="tooltip" data-placement="top" title="{% trans 'Provide your thoughts and suggestions about the Slave Voyages site.' %}"
							class="social-icon lazy" target="_blank" rel="noopener" alt="Provide user feedback">
							<img class="legacy-icon" src="{{STATIC_URL}}images/site/feedback.svg" alt="Feedback Button">
							<span>{% trans 'user feedback' %}</span>
						</a>
						<a href="mailto:svopcom@googlegroups.com?subject=Report an Issue" data-toggle="tooltip" data-placement="top" title="{% trans 'Report a specific issue/bug found on the site.' %}"
							class="social-icon lazy" target="_blank" rel="noopener" alt="Report an issue">
							<img class="legacy-icon" src="{{STATIC_URL}}images/site/bug.svg" alt="Issue Button">
							<span>{% trans 'report issues' %}</span>
						</a>
						<div class="scroll"> {% trans 'scroll down to learn more' %}</div>
					</div>

					<div class="social-icon-container">
						<a target="_blank" rel="noopener" aria-label="Rice University" href="https://www.rice.edu" alt="Rice University"><img class="cover-logo lazy" data-src="{{STATIC_URL}}images/site/landing/Rice_Logo_Reverse_White.svg" alt="Rice University Logo"></a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<video id="bgvid" playsinline autoplay muted loop preload>
		<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
		<source src="{{STATIC_URL}}videos/sv-bgvid-1.webm" type="video/webm">
		<source src="{{STATIC_URL}}videos/sv-bgvid-1.mp4" type="video/mp4">
	</video>

</div>
		

<!-- Modal -->
<div class="modal fade" id="timelapse-modal" tabindex="-1" role="dialog" aria-labelledby="timelapse-modal-label"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title timelapse-modal-title" id="timelapse-modal-label">Choose how to continue</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body row">
				<div class="col-md-6 d-flex align-items-stretch">
					<div class="card card-btn">
						<a href="#" id="timelapse-video-btn" data-dismiss="modal">
							<div class="card-body">
								<h5 class="card-title-btn">Watch Intro Video</h5>
								<p class="card-text-btn">View an introductory video that describes the historical context and features of the timelapse.
								</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 d-flex align-items-stretch">
					<div class="card card-btn">
						<a href="/voyage/database#timelapse">
							<div class="card-body">
								<h5 class="card-title-btn">View Timelapse</h5>
								<p class="card-text-btn">View the movement of slaveships across the Atlantic on an interactive map.
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="aos-container news-container" data-aos="fade-in" data-aos-easing="ease" data-aos-duration="500">
	<div class="container">
		<div class="news-container-title">
			Recent News
		</div>


		<div class="news-grid-container row" id="recent-news">
			<div class="news-grid col-xs-12 col-sm-12 col-md-6 col-lg-4" v-for="article in news" >
				<a :href="article.url" target="_blank" rel="noopener"
					alt="Emory University Center for Digital Scholarship (US)">
					<div class="news-grid-item row fade-in ">
							<div class="news-grid-title col-sm-12 no-padding"> [[article.title]]</div>
							<div class="news-grid-title-date col-sm-12 no-padding" ><span class="news-grid-title-date-bg">[[article.timestamp]]</span></div>
						<p class="news-grid-body">
							[[article.text]]
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>

</div>

<div class="container">
	<div class="row">

		<div class="row band" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="500">
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase trans-color weight-700 db-title">{% trans 'Trans-Atlantic' %}</h1>
					<h1 class="uppercase db-title-color weight-700 db-title">{% trans 'Slave Trade Database' %}</h1>
				</div>
				<div class="align-self-center">
					<p class="trans-color margin-top">
						{% blocktrans %}
This database compiles information about more than 36,000 voyages that forcibly transported enslaved Africans across the Atlantic between 1514 and 1866. Search and analyze the database for information on the broad origins of enslaved people, the tortuous Middle Passage, and the destinations of Africans in the Americas.
						{% endblocktrans %}
				 	</p>
				</div>
				<div class="align-self-end band-buttons">
					<a class="" href="{% url 'voyage:about' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "About" %}</button>
					</a>
					<a class="" href="{% url 'voyage:database' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Database" %}</button>
					</a>
					<a class="" href="{% url 'assessment:estimates' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Estimates" %}</button>
					</a>
					<a class="" href="{% url 'voyage:essays' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Essays" %}</button>
					</a>
					<a class="" href="{% url 'voyage:downloads' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Downloads" %}</button>
					</a>

					<a class="" href="{% url 'contribute:index' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Contribute" %}</button>
					</a>

				</div>
			</div>
			<div class="col-md-4 sm-hidden">
				<img class="band-image lazy" data-src="{{STATIC_URL}}images/site/modules/trans.jpg" alt="Trans-Atlantic Slave Trade Database">
			</div>
		</div>

		<div class="row band" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="500">
			<div class="col-md-4 sm-hidden">
				<img class="band-image lazy" data-src="{{STATIC_URL}}images/site/modules/intra.jpg" alt="Intra-American Slave Trade Database">
			</div>
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase intra-color weight-700 db-title">{% trans 'Intra-American' %}</h1>
					<h1 class="uppercase db-title-color weight-700 db-title">{% trans 'Slave Trade Database' %}</h1>
				</div>
				<div class="align-self-center">
					<p class="intra-color margin-top">
						{% blocktrans %}
						This database contains information on more than 11,000 maritime voyages trafficking enslaved people within the Americas. These slave trades operated within colonial empires, across imperial boundaries, and inside the borders of nations such as the United States and Brazil. Explore the forced removals, which not only dispersed African survivors of the Atlantic crossing but also displaced enslaved people born in the Americas.
						{% endblocktrans %}
					</p>
				</div>
				<div class="align-self-end band-buttons">

					<a class="btn btn-outline-primary intra-btn" href="{% url 'american:about' %}">{% trans "About" %}</a>
					<a class="btn btn-outline-primary intra-btn" href="{% url 'american:database' %}">{% trans "Database" %}</a>
					<a class="btn btn-outline-primary intra-btn" href="{% url 'american:downloads' %}">{% trans "Downloads" %}</a>
					<a class="btn btn-outline-primary intra-btn" href="{% url 'contribute:index' %}">{% trans "Contribute" %}</a>
				</div>
			</div>
		</div>

		<div class="row band" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="500">
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase past-color weight-700 db-title">{% trans 'People of the African Slave Trade' %}</h1>
					<h1 class="uppercase db-title-color weight-700 db-title"> {% trans 'Database' %}</h1>
				</div>
				<div class="align-self-center">
					<p class="past-color margin-top">
						{% blocktrans %}
						The People of the African Slave Trade databases provide personal details on 91,491 enslaved people. In the African Origins dataset are the personal details of 91,491 Africans taken from nineteenth-century slave ships captured by anti-slave trade patrols or from African trading sites between 1808-1862. In the Oceans of Kinfolk dataset are the personal details of 63,562 people transported to New Orleans, and in many cases records on the people who transported, bought, and sold them there. Analyze the name, age, gender, origin, places of embarkation and disembarkation of these individuals, and some of their linkages to enslavers.
						{% endblocktrans %}
					</p>
				</div>
				<div class="align-self-end band-buttons">
					<a class="" href="{% url 'resources:about' %}">
						<button class="btn btn-outline-primary past-btn">{% trans 'About' %}</button>
					</a>
					<a class="" href="{% url 'past:database' %}">
						<button class="btn btn-outline-primary past-btn">{% trans 'Database' %}</button>
					</a>
					<a class="" href="{% url 'resources:downloads' %}">
						<button class="btn btn-outline-primary past-btn">{% trans 'Downloads' %}</button>
					</a>
				</div>
			</div>
			<div class="col-md-4 sm-hidden ">
				<img class="band-image lazy" data-src="{{STATIC_URL}}images/site/modules/past.jpg" alt="People of the Trans-Atlantic Slave Trade Image">
			</div>
		</div>

		<div class="row band" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="500">
			<div class="col-md-12 band-story">
				<div class="align-self-start">
					<h1 class="uppercase gallery-color weight-700 db-title">{% trans 'Image Galleries' %}</h1>
				</div>
				<div class="align-self-center">
					<p class="gallery-color margin-top">
						{% blocktrans %}
						Explore images of the people, places, vessels, and documents linked to the Trans-Atlantic and Intra-American slave trades. Where available, each image contains a link to a corresponding slave voyage in the databases and a reference to the original source.
						{% endblocktrans %}
					</p>
				</div>
			</div>




			<div class="col-md-3 card-container">
				<a href="/resources/images/category/People" >
					<img class="card-img-top drop-shadow-1 lazy" data-src="{{STATIC_URL}}images/site/gallery/4.jpg" alt="People">
					<div class="card-block">
						<h4 class="sv-card-title card-title-color "> {% trans 'people' %} </h4>
						<p class="card-text"></p>
					</div>
				</a>
			</div>



			<div class="col-md-3 card-container">
					<a href="/resources/images/category/Places" >
						<img class="card-img-top drop-shadow-1 lazy" data-src="{{STATIC_URL}}images/site/gallery/2.jpg" alt="Places">
						<div class="card-block">
							<h4 class="sv-card-title card-title-color "> {% trans 'places' %} </h4>
							<p class="card-text"></p>
						</div>
					</a>
			</div>

			<div class="col-md-3 card-container">
					<a href="/resources/images/category/Documents" >
						<img class="card-img-top drop-shadow-1 lazy" data-src="{{STATIC_URL}}images/site/gallery/1.jpg" alt="Documents">
						<div class="card-block">
							<h4 class="sv-card-title card-title-color "> {% trans 'documents' %} </h4>
							<p class="card-text"></p>
						</div>
					</a>
			</div>

			<div class="col-md-3 card-container">
				<a href="/resources/images/category/Vessels" >
					<img class="card-img-top drop-shadow-1 lazy" data-src="{{STATIC_URL}}images/site/gallery/3.jpg" alt="Vessels">
					<div class="card-block">
						<h4 class="sv-card-title card-title-color "> {% trans 'vessels' %} </h4>
						<p class="card-text"></p>
					</div>
				</a>
			</div>

		</div>

	</div>
</div>

<div class="aos-container" data-aos="fade-in" data-aos-easing="ease" data-aos-duration="500">
	<!-- This is getting crowded. added a third row for uc using the uc seal in front of all the uc wordmarks to save a little more space. Also pulled the Rice logo as we've already got it twice on the homepage. -->
	<div class="logo-grid-container">
		<!-- Row1: omohundro, hutchins, nmaahc, emory -->
		
		
		<div class="logo-grid">
		
		<a href="https://rice.edu/" target="_blank" rel="noopener" alt="Rice University">
				<div class="logo-grid-item fade-in" style="width:269px">
					<img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/rice_white_205_76.svg" alt="Rice University">
				</div>
			</a>
						<a href="https://emory.edu/" target="_blank" rel="noopener" alt="Emory University">
				<div class="logo-grid-item fade-in" style="width: 330px">
					<img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/emory_white_500_130.png" alt="Emory University">
				</div>
			</a>
			 

                        
                        
            			<a href="https://hutchinscenter.fas.harvard.edu/" target="_blank" rel="noopener" alt="Hutchins Center for African and African American Research (Harvard University)">
				<div class="logo-grid-item fade-in" style="width:250px">
					<img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/hutchins_white_580_204.png" alt="Hutchins Center for African and African American Research (Harvard University)" >
				</div>
			</a>
			
			</a>
		
<a href="https://nmaahc.si.edu/" target="_blank" rel="noopener" alt="National Museum of African American History and Culture">
                                <div class="logo-grid-item fade-in" style="width:280px">
                                        <img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/nmaahc_white_7510_3126.png"
                                                alt="National Museum of African American History and Culture">
                                </div>
                        </a>
			
			
			
			



		</div>
	</div>



	<div class="logo-grid-container">
		<!-- Row2: UC -->

		<div class="logo-grid">
		
			<a href="https://oieahc.wm.edu/" target="_blank" rel="noopener" alt="Omohundro Institute">
                                <div class="logo-grid-item fade-in" style="width:180px">
                                        <img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/oi_white_686_528.svg" alt="Omohundro Institute">
                                </div>
                        </a>

				<div class="logo-grid-item fade-in" style="width: 130px">
					<img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/ucshield_white_250_250.svg"
						alt="University of California" >
				</div>

			<a href="https://www.berkeley.edu/" target="_blank" rel="noopener" alt="University of California, Berkeley">
				<div class="logo-grid-item fade-in" style="width: 260px">
					<img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/ucberkeley_noshield_white_1200_369.png"
						alt="University of California, Berkeley">
				</div>
			</a>
			
						<a href="https://uci.edu/" target="_blank" rel="noopener" alt="University of California, Irvine">
				<div class="logo-grid-item fade-in" style="width: 230px">
					<img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/uci_noshield_white_751_240.svg" alt="University of California, Irvine">
				</div>
			</a>
		
			<a href="https://www.ucsc.edu/" target="_blank" rel="noopener" alt="University of California, Santa Cruz">
				<div class="logo-grid-item fade-in" style="width: 260px">
					<img class="card-img sponsor-card-img block lazy" data-src="{{ STATIC_URL }}images/site/logos/ucsc_noshield_white_691_164.svg"
						alt="University of California, Santa Cruz">
				</div>
			</a>
			

			
			
			
			

		</div>
		
	</div>

</div>

{% compress js %}
<script src="{{ STATIC_URL }}scripts/library/axios@0.18.0.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/vue@2.6.7.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vue/includes/homepage-reflow.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vue/includes/video-player.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/vue/recent-news.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/library/aos@2.1.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/library/lazyload@8.10.0.min.js"></script>
<script>
	AOS.init({
		disable: 'mobile'
	});

	var myLazyLoad = new LazyLoad({
    elements_selector: ".lazy"
	});
	
	// initialize tooltip
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>

{% endcompress %}

{% endblock %} {% block footer %} {% include "footer.html" %} {% endblock %}
