{% extends "base.html" %} {% load i18n %} {% load sass_tags %} {% load voyage_extras %}

<!-- Page title here -->
{% block title %}{% trans "Trans-Atlantic Slave Trade" %}{% endblock %}
{% block csslist %}
	{% comment %} Additional styles for the home page {% endcomment %}
	<link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
	<link href="{% sass_src 'scss/library/aos@2.1.1.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div id="bgvid-container">

	<div class=" cover-band">
		<div class="cover-flex-container">

			<div class="align-self-start cover-start col-md-10 col-lg-12 col-xl-8 col-sm-12 col-xs-12 no-padding">
				<h1 class="uppercase cover-color weight-700 db-title site-headline " data-aos="fade-in" data-aos-easing="ease" data-aos-duration="500" data-aos-anchor="#bgvid-container">EXPLORE THE DISPERSAL OF ENSLAVED AFRICANS ACROSS THE ATLANTIC WORLD</h1>
				<p class="cover-color site-story" data-aos="fade-in" data-aos-easing="ease" data-aos-delay="400" data-aos-duration="500" data-aos-anchor="#bgvid-container">{% blocktrans %} Drawing on extensive archival records, this digital memorial allows analysis of the ships, traders, and captives in the Atlantic slave trade. The three databases below provide details of 36,000 trans-Atlantic slave voyages, 10,000 intra-American ventures, names and personal information. You can read the introductory maps for a high-level guided explanation, view the timeline and chronology of the traffic, or watch the slave ship and slave trade animations to see the dispersal in action. {% endblocktrans %}
				</p>
			</div>


			<div class="align-self-center special-feature-container cover-center">
				<div class="special-feature" data-aos="fade-in" data-aos-easing="ease" data-aos-delay="900" data-aos-duration="800" data-aos-anchor="#bgvid-container">{% trans 'Special features' %}</div>
				<div class="special-feature-flex-container">
					<a href="{% url 'assessment:intro-maps' %}" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="900" data-aos-duration="800" data-aos-anchor="#bgvid-container">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">{% trans 'Introductory Maps' %}</div>
							<div class="special-feature-desc">Overview of slave trade in a series of maps </div>
						</div>
					</a>

					<a href="{% url 'assessment:estimates' %}?selected_tab=timeline" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="1100" data-aos-duration="800" data-aos-anchor="#bgvid-container">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">{% trans 'Timelines of Estimates' %}</div>
							<div class="special-feature-desc">Number of captives embarked and disembarked </div>
						</div>
					</a>

					<a href="/voyage/new-ui#animation" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="1300" data-aos-duration="800" data-aos-anchor="#bgvid-container">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">Animation</div>
							<div class="special-feature-desc">View the movement of slave ships across the Atlantic </div>
						</div>
					</a>

					<a href="{% url 'voyage:search' %}?selected_tab=animation" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="1300" data-aos-duration="800" data-aos-anchor="#bgvid-container">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">Slave Ship in 3D</div>
							<div class="special-feature-desc">View a 3D rendition of a slave ship </div>
						</div>
					</a>
				</div>
			</div>

			<div class="align-self-end cover-end" data-aos="fade-in" data-aos-easing="ease" data-aos-delay="1500" data-aos-duration="500" data-aos-anchor="#bgvid-container">
				<div class="social-flex-container">
					<div class="social-icon-container">
						<a href="https://www.facebook.com/Voyages-The-Trans-Atlantic-Slave-Trade-Database-125441173016/" target="_blank" alt="Slave Voyages on Facebook"><img src="{{STATIC_URL}}images/site/social-media/fb.svg" class="social-icon"></img></a>
						<!-- <a href="" target="_blank" alt=""><img src="{{STATIC_URL}}images/site/social-media/instagram.svg" class="social-icon"></img></a>
						<a href="https://www.youtube.com/user/EmoryUniversity/" target="_blank" alt=""><img src="{{STATIC_URL}}images/site/social-media/youtube.svg" class="social-icon"></img></a> -->
						<a href="https://securelb.imodules.com/s/1705/giving/index.aspx?sid=1705&gid=3&pgid=600&cid=1358&bledit=1&dids=11428&appealcode=8WLSV" alt="Donate to This Project" rel="noopener" target="_blank"><span class="social-icon" style="opacity: 1;">donate to this project</span></a>
					</div>

					<div class="social-icon-container">
						<a target="_blank" href="http://digitalscholarship.emory.edu/" alt="Emory University Center for Digital Scholarship"><img class="cover-logo" src="{{STATIC_URL}}images/site/eu-lits-grey.svg" alt="" style="height: 50px; opacity: 0.7; display: flex!important;"></a>
					</div>

				</div>

				<div class="social-flex-container">
					<div class="social-icon-container">
						<div class="scroll"> scroll down to learn more</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<video id="bgvid" playsinline autoplay muted loop preload>
		<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
		<source src="{{STATIC_URL}}videos/sv-bgvid-1.webm" type="video/webm">
		<source src="{{STATIC_URL}}videos/sv-bgvid-1.mp4" type="video/mp4">
	</video>

</div>

<div class="container">
	<div class="row">

		<div class="row band" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="500">
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase trans-color weight-700 db-title">Trans-Atlantic</h1>
					<h1 class="uppercase db-title-color weight-700 db-title">Slave Trade Database</h1>
				</div>
				<div class="align-self-center">
					<p class="trans-color">
						{% blocktrans %}
						 Drawing on extensive archival records, this digital memorial allows analysis of the ships, traders, and captives in the Atlantic slave trade. The three databases below provide details of 36,000 trans-Atlantic slave voyages, 10,000 intra-American ventures, and the names and personal details of 92,000 captives. Users can read the introductory maps for an overview of the evolution of the slave trade, view the timeline and chronology of the traffic, or watch the slave ship or slave trade animations to see the dispersal in action.
					 	{% endblocktrans %}
				 	</p>
				</div>
				<div class="align-self-end band-buttons">
					<a class="" href="{% url 'voyage:guide' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "About" %}</button>
					</a>
					<a class="" href="{% url 'voyage:search' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Database" %}</button>
					</a>
					<a class="" href="{% url 'assessment:estimates' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Estimates" %}</button>
					</a>
					<a class="" href="{% url 'assessment:essays' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Essays" %}</button>
					</a>
					<a class="" href="{% url 'voyage:download' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Downloads" %}</button>
					</a>

					<a class="" href="{% url 'contribute:index' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Contribute" %}</button>
					</a>

				</div>
			</div>
			<div class="col-md-4 sm-hidden">
				<img class="band-image" src="{{STATIC_URL}}images/site/modules/trans.png">
			</div>
		</div>

		<div class="row band" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="500">
			<div class="col-md-4 sm-hidden">
				<img class="band-image" src="{{STATIC_URL}}images/site/modules/intra.png">
			</div>
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase intra-color weight-700 db-title">Intra-American</h1>
					<h1 class="uppercase db-title-color weight-700 db-title">Slave Trade Database</h1>
				</div>
				<div class="align-self-center">
					<p class="intra-color">The Intra-American Slave Trade Database contains information on approximately 10,000 slave voyages within the Americas. These voyages operated within colonial empires, across imperial boundaries, and inside the borders of nations such as the United
						States and Brazil. The database enables users to explore the contours of this enormous New World slave trade, which not only dispersed African survivors of the Atlantic crossing but also displaced enslaved people born in the Americas.
					</p>
				</div>
				<div class="align-self-end band-buttons">

					<a class="btn btn-outline-primary intra-btn" href="{% url 'american:about' %}">{% trans "About" %}</a>
					<a class="btn btn-outline-primary intra-btn" href="{% url 'american:database' %}">{% trans "Database" %}</a>
					<button class="btn btn-outline-primary intra-btn" data-toggle="modal" data-target="#intra-modal">Downloads</button>
					<button class="btn btn-outline-primary intra-btn" data-toggle="modal" data-target="#intra-modal">Contribute</button>
				</div>
			</div>
		</div>

		<div class="row band" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="500">
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase past-color weight-700 db-title">People of Trans-Atlantic</h1>
					<h1 class="uppercase db-title-color weight-700 db-title"> Slave Trade</h1>
				</div>
				<div class="align-self-center">
					<p class="past-color">People of the Atlantic Slave Trade provides personal details of 91,491 Africans taken from captured slave ships or from African trading sites. It displays the African name, age, gender, origin, country, and places of embarkation and disembarkation
						of each individual.</p>
				</div>
				<div class="align-self-end band-buttons">
					<a class="" href="{% url 'resources:about' %}">
						<button class="btn btn-outline-primary past-btn">About</button>
					</a>
					<a class="" href="{% url 'resources:origins' %}">
						<button class="btn btn-outline-primary past-btn">Database</button>
					</a>
					<!-- <button class="btn btn-outline-primary past-btn">Downloads</button> -->
					<!-- <button class="btn btn-outline-primary past-btn">Contribute</button> -->
				</div>
			</div>
			<div class="col-md-4 sm-hidden ">
				<img class="band-image" src="{{STATIC_URL}}images/site/modules/past.png">
			</div>
		</div>

		<div class="row band" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="500">
			<div class='col-md-12 band-story'>
				<div class="align-self-start">
					<h1 class="uppercase gallery-color weight-700 db-title">Image Galleries</h1>
				</div>
				<div class="align-self-center">
					<p class="gallery-color">Explore several hundred images of the people, places, vessels and manuscripts of the Trans-Atlantic and Intra-American slave trades. Where available, each image contains a link to a corresponding slave voyage in the databases and a reference to the
						original source.</p>
				</div>
			</div>

			<div class="col-md-3 card-container">
					<a href="/resources/images/category/Manuscripts" >
						<img class="card-img-top drop-shadow-1" src="{{STATIC_URL}}images/site/gallery/1.jpg" alt="Card image cap">
						<div class="card-block">
							<h4 class="sv-card-title card-title-color "> manuscripts </h4>
							<p class="card-text"></p>
						</div>
					</a>
			</div>

			<div class="col-md-3 card-container">
					<a href="/resources/images/category/Places" >
						<img class="card-img-top drop-shadow-1" src="{{STATIC_URL}}images/site/gallery/2.jpg" alt="Card image cap">
						<div class="card-block">
							<h4 class="sv-card-title card-title-color "> places </h4>
							<p class="card-text"></p>
						</div>
					</a>
			</div>

			<div class="col-md-3 card-container">
				<a href="/resources/images/category/Slaves" >
					<img class="card-img-top drop-shadow-1" src="{{STATIC_URL}}images/site/gallery/4.jpg" alt="Card image cap">
					<div class="card-block">
						<h4 class="sv-card-title card-title-color "> slaves </h4>
						<p class="card-text"></p>
					</div>
				</a>
			</div>

			<div class="col-md-3 card-container">
				<a href="/resources/images/category/Vessels" >
					<img class="card-img-top drop-shadow-1" src="{{STATIC_URL}}images/site/gallery/3.jpg" alt="Card image cap">
					<div class="card-block">
						<h4 class="sv-card-title card-title-color "> vessels </h4>
						<p class="card-text"></p>
					</div>
				</a>
			</div>

		</div>

	</div>
</div>

<div class="aos-container" data-aos="fade-in" data-aos-easing="ease" data-aos-duration="500">
	<div class="logo-grid-container" style="background: #BBC2CB; margin-top: 4rem;" >
		<div class="logo-grid">
			<a href="http://digitalscholarship.emory.edu/" target="_blank" alt="Emory University Center for Digital Scholarship (US)">
				<div class="logo-grid-item zoom-1">
					<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/eu-lits.svg" alt="" style="">
				</div>
			</a>

			<a href="https://www.ucsc.edu/" target="_blank" alt="University of California, Santa Cruz (US)">
				<div class="logo-grid-item zoom-1">
					<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/ucsc.svg" alt="" style="">
				</div>
			</a>

			<a href="https://uci.edu/" target="_blank" alt="University of California, Irvine (US)">
				<div class="logo-grid-item zoom-1">
					<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/uci.svg">
				</div>
			</a>

			<a href="https://www.victoria.ac.nz" target="_blank" alt="Victoria University of Wellington (New Zealand)">
				<div class="logo-grid-item zoom-1">
					<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/victoria.png" alt="" style="">
				</div>
			</a>

			<a href="https://www.hull.ac.uk" target="_blank" alt="University of Hull (UK)">
				<div class="logo-grid-item zoom-1">
					<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/university-of-hull.svg" alt="" style="">
				</div>
			</a>

			<a href="https://ufrj.br/" target="_blank" alt="UFRJ: Universidade Federal do Rio de Janeiro (Brazil)">
				<div class="logo-grid-item zoom-1">
					<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/ufrj.svg" alt="" style="color: white; fill2 white;">
				</div>
			</a>

		</div>
	</div>

	<div class="logo-grid-container" style="background: #BBC2CB;">
		<div class="logo-grid">
			<a href="http://dubois.fas.harvard.edu/" target="_blank" alt="Hutchins Center for African and African American Research (Harvard University)">
				<div class="logo-grid-item zoom-1">
					<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/hutchins.png" alt="" style="">
				</div>
			</a>

			<a href="https://www.neh.gov" target="_blank" alt="National Endowment for the Humanities">
				<div class="logo-grid-item zoom-1">
					<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/neh.png" alt="" style="">
				</div>
			</a>
		</div>
	</div>

</div>


<!-- Modal -->
<div class="modal fade" id="intra-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Intra-American Is Coming Soon!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>It will look similar to other modules (e.g. Trans-Atlantic) but due to the overwhelming amount of work on my list, I will roll out Intra-American later.</p>
				<img src="static/images/site/gone-fishing.gif" style="width: 100%;"></img>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div><!-- Gone Fishing -->

<script type="text/javascript" src="{{ STATIC_URL }}scripts/homepage-reflow.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/library/aos@2.1.1.min.js"></script>
<script>
	AOS.init({
		disable: 'mobile'
	});
</script>
{% endblock %} {% block footer %} {% include "footer.html" %} {% endblock %}
