{% extends "base.html" %} {% load i18n %} {% load sass_tags %} {% load voyage_extras %}

<!-- Page title here -->
{% block title %}{% trans "Trans-Atlantic Slave Trade" %}{% endblock %}
{% block csslist %}
	{% comment %} Additional styles for the home page {% endcomment %}
	<link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

<!-- {% block jslist %}
	{% comment %} Javascript files for hovering above maps {% endcomment %}
	<script src="{{ STATIC_URL }}scripts/utils.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}scripts/welcome-map.js" type="text/javascript"></script>
{% endblock %} -->

{% block content %}

<div id="bgvid-container">

	<div class=" cover-band">
		<div class="cover-flex-container">

			<div class="align-self-start cover-start col-md-10 col-lg-12 col-xl-8 col-sm-12 col-xs-12 no-padding">
				<h1 class="uppercase cover-color weight-700 db-title site-headline ">EXPLORE THE MOVEMENT OF THE ENSLAVED AROUND THE ATLANTIC WORLD</h1>
				<p class="cover-color site-story">{% blocktrans %} Over 12.5 million Africans were forcibly embarked for the Americas between the sixteenth and nineteenth centuries – the largest coerced movement of people in global history. Many thousands of the survivors experienced grueling additional
					journeys within the Americas. Drawing on extensive archival records, the three databases below provide details of 36,000 Trans-Atlantic and 10,000 Intra-American slave voyages, the names and personal details 92,000 captives in the slave. {% endblocktrans %} trade.
				</p>
			</div>


			<div class="align-self-center special-feature-container cover-center">
				<div class="special-feature">{% trans 'Special features' %}</div>
				<div class="special-feature-flex-container">
					<a href="{% url 'assessment:intro-maps' %}">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">{% trans 'Introductory Maps' %}</div>
							<div class="special-feature-desc">Overview of slave trade history in a series of maps </div>
						</div>
					</a>

					<a href="{% url 'assessment:estimates' %}?selected_tab=timeline">
						<div class="special-feature-flex-item">
							<div class="special-feature-title">{% trans 'Timeline and Chronology' %}</div>
							<div class="special-feature-desc">Number of captives embarked and disembarked </div>
						</div>
					</a>

					<div class="special-feature-flex-item">
						<div class="special-feature-title">Animation</div>
						<div class="special-feature-desc">View slave trade movements in animation on map </div>
					</div>
				</div>
			</div>

			<div class="align-self-end cover-end">
				<div class="social-flex-container">
					<div class="social-icon-container">
						<a href="https://www.facebook.com/Voyages-The-Trans-Atlantic-Slave-Trade-Database-125441173016/" target="-_blank" alt="Slave Voyages on Facebook"><img src="{{STATIC_URL}}images/site/social-media/fb.svg" class="social-icon"></img></a>
						<a href="" target="-_blank" alt=""><img src="{{STATIC_URL}}images/site/social-media/instagram.svg" class="social-icon"></img></a>
						<a href="https://www.youtube.com/user/EmoryUniversity/" target="-_blank" alt=""><img src="{{STATIC_URL}}images/site/social-media/youtube.svg" class="social-icon"></img></a>
						<span class="social-icon">donate to this project</span>
					</div>

					<div class="social-icon-container">
						<a href="http://digitalscholarship.emory.edu/" alt="Emory University Center for Digital Scholarship"><img class="cover-logo" src="{{STATIC_URL}}images/site/eu-lits-grey.svg" alt="" style="height: 50px; opacity: 0.7; display: flex!important;"></a>
					</div>

				</div>

				<div class="social-flex-container">
					<div class="social-icon-container">
						<div class="scroll"> scroll down to learn more</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<video id="bgvid" playsinline autoplay muted loop preload>
		<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
		<source src="{{STATIC_URL}}videos/sv-bgvid-1.webm" type="video/webm">
		<source src="{{STATIC_URL}}videos/sv-bgvid-1.mp4" type="video/mp4">
	</video>

</div>

<div class="container">
	<div class="row">

		<div class="row band">
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase trans-color weight-700 db-title">Trans-Atlantic</h1>
					<h1 class="uppercase db-title-color weight-700 db-title">Slave Trade Database</h1>
				</div>
				<div class="align-self-center">
					<p class="trans-color">The Trans-Atlantic Slave Trade Database has information on almost 36,000 slaving voyages that forcibly embarked more than 12 million Africans for transportation to the Americas between the sixteenth and nineteenth centuries. Drawing from port records,
						merchant accounts, newspapers, and other primary sources, the database compiles information about slave trading routes, demographics, owners of ships, and enslaved people’s resistance. The database and a separate estimates interface offer scholarly
						researchers, students, and the general public a chance to discover the reality of the largest forced migration in world history.</p>
				</div>
				<div class="align-self-end band-buttons">
					<a class="" href="{% url 'voyage:guide' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "About" %}</button>
					</a>
					<a class="" href="{% url 'voyage:search' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Database" %}</button>
					</a>
					<a class="" href="{% url 'assessment:estimates' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Estimates" %}</button>
					</a>
					<a class="" href="{% url 'assessment:essays' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Essays" %}</button>
					</a>
					<a class="" href="{% url 'voyage:download' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Downloads" %}</button>
					</a>

					<a class="" href="{% url 'contribute:index' %}">
						<button class="btn btn-outline-primary trans-btn">{% trans "Contribute" %}</button>
					</a>

				</div>
			</div>
			<div class="col-md-4 sm-hidden">
				<img class="band-image" src="{{STATIC_URL}}images/site/modules/trans.png">
			</div>
		</div>

		<div class="row band">
			<div class="col-md-4 sm-hidden">
				<img class="band-image" src="{{STATIC_URL}}images/site/modules/intra.png">
			</div>
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase intra-color weight-700 db-title">intra-American</h1>
					<h1 class="uppercase db-title-color weight-700 db-title">Slave Trade Database</h1>
				</div>
				<div class="align-self-center">
					<p class="intra-color">The Intra-American Slave Trade Database contains information on approximately 10,000 slave voyages within the Americas. These voyages operated within colonial empires, across imperial boundaries, and inside the borders of nations such as the United
						States and Brazil. The database enables users to explore the contours of this enormous New World slave trade, which not only dispersed African survivors of the Atlantic crossing but also displaced enslaved people born in the Americas.
					</p>
				</div>
				<div class="align-self-end band-buttons">
					<button class="btn btn-outline-primary intra-btn">About</button>
					<button class="btn btn-outline-primary intra-btn">Database</button>
					<button class="btn btn-outline-primary intra-btn">Downloads</button>
					<button class="btn btn-outline-primary intra-btn">Contribute</button>
				</div>
			</div>
		</div>

		<div class="row band">
			<div class="col-md-8 band-story">
				<div class="align-self-start">
					<h1 class="uppercase past-color weight-700 db-title">People of Trans-Atlantic</h1>
					<h1 class="uppercase db-title-color weight-700 db-title"> Slave Trade</h1>
				</div>
				<div class="align-self-center">
					<p class="past-color">People of the Atlantic Slave Trade provides personal details of 91,491 Africans taken from captured slave ships or from African trading sites. It displays the African name, age, gender, origin, country, and places of embarkation and disembarkation
						of each individual.</p>
				</div>
				<div class="align-self-end band-buttons">
					<button class="btn btn-outline-primary past-btn">About</button>
					<button class="btn btn-outline-primary past-btn">Database</button>
					<!-- <button class="btn btn-outline-primary past-btn">Downloads</button> -->
					<!-- <button class="btn btn-outline-primary past-btn">Contribute</button> -->
				</div>
			</div>
			<div class="col-md-4 sm-hidden ">
				<img class="band-image" src="{{STATIC_URL}}images/site/modules/past.png">
			</div>
		</div>

		<div class="row band">
			<div class='col-md-12 band-story'>
				<div class="align-self-start">
					<h1 class="uppercase gallery-color weight-700 db-title">Image Galleries</h1>
				</div>
				<div class="align-self-center">
					<p class="gallery-color">Explore several hundred images of the people, places, vessels and manuscripts of the Trans-Atlantic and Intra-American slave trades. Where available, each image contains a link to a corresponding slave voyage in the databases and a reference to the
						original source.</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class=" col" style="">
					<img class="card-img-top" src="{{STATIC_URL}}images/site/gallery/1.jpg" alt="Card image cap">
					<div class="card-block">
						<h4 class="sv-card-title card-title-color "> manuscripts </h4>
						<p class="card-text"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class=" col" style="">
					<img class="card-img-top" src="{{STATIC_URL}}images/site/gallery/2.jpg" alt="Card image cap">
					<div class="card-block">
						<h4 class="sv-card-title card-title-color "> places </h4>
						<p class="card-text"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class=" col" style="">
					<img class="card-img-top" src="{{STATIC_URL}}images/site/gallery/4.jpg" alt="Card image cap">
					<div class="card-block">
						<h4 class="sv-card-title card-title-color "> slaves </h4>
						<p class="card-text"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class=" col" style="">
					<img class="card-img-top" src="{{STATIC_URL}}images/site/gallery/3.jpg" alt="Card image cap">
					<div class="card-block">
						<h4 class="sv-card-title card-title-color "> vessels </h4>
						<p class="card-text"></p>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>

<div class="logo-grid-container" style="background: #BBC2CB; margin-top: 4rem;">
	<div class="logo-grid">
		<a href="http://digitalscholarship.emory.edu/" target="_blank" alt="Emory University Center for Digital Scholarship (US)">
			<div class="logo-grid-item">
				<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/eu-lits.svg" alt="" style="">
			</div>
		</a>

		<a href="https://www.ucsc.edu/" target="_blank" alt="University of California, Santa Cruz (US)">
			<div class="logo-grid-item">
				<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/ucsc.svg" alt="" style="">
			</div>
		</a>

		<a href="https://uci.edu/" target="_blank" alt="University of California, Irvine (US)">
			<div class="logo-grid-item">
				<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/uci.svg">
			</div>
		</a>

		<a href="https://www.victoria.ac.nz" target="_blank" alt="Victoria University of Wellington (New Zealand)">
			<div class="logo-grid-item">
				<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/victoria.png" alt="" style="">
			</div>
		</a>

		<a href="www.hull.ac.uk" target="_blank" alt="University of Hull (UK)">
			<div class="logo-grid-item">
				<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/university-of-hull.svg" alt="" style="">
			</div>
		</a>

		<a href="https://ufrj.br/" target="_blank" alt="UFRJ: Universidade Federal do Rio de Janeiro (Brazil)">
			<div class="logo-grid-item">
				<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/ufrj.svg" alt="" style="color: white; fill2 white;">
			</div>
		</a>

	</div>
</div>

<div class="logo-grid-container" style="background: #BBC2CB;">
	<div class="logo-grid">
		<a href="http://www.fas.harvard.edu/" target="_blank" alt="Hutchins Center for African and African American Research (Harvard University)">
			<div class="logo-grid-item">
				<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/hutchins.png" alt="" style="">
			</div>
		</a>

		<a href="https://www.neh.gov" target="_blank" alt="National Endowment for the Humanities">
			<div class="logo-grid-item">
				<img class="card-img sponsor-card-img block" src="{{ STATIC_URL }}images/site/neh.png" alt="" style="">
			</div>
		</a>
	</div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}scripts/homepage-reflow.js"></script>

{% endblock %} {% block footer %} {% include "footer.html" %} {% endblock %}
