/* layout */
/* Set the width of the left-menu */
#left-menu {
	padding: 10px;
	width: 15%;
}

/* Set the width of the main content */
#center-content {
	padding: 5px 10px 5px 10px;
	width: 38%;
}

/* left menu */
div.left-menu-title {
	border-bottom: 1px solid #000000;
	padding-bottom: 4px;
}

div.left-menu-box a {
	display: block;
	color: #000000;
	text-decoration: none;
}

div.left-menu-box a:hover {
	background-color: #E0F5F5;
}

div.secondary-menu-item-0 a {
	background-image: url("/static/images/voyage/secondary-menu-symbol-0.png");
	background-repeat: no-repeat;
	background-position: 2px 4px;
	padding: 3px 3px 3px 15px;
	border-bottom: 1px dotted #B8E7E8;
}

/* maps */

div.map {
	clear: both;
}

h2 {
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

div.map-thumbnail {
	cursor: pointer;
	margin: 15px 0px 15px 0px;
	float: left;
	border: 2px solid #444444;
}

div.map-caption {
	background-color: #444444;
	display: block;
	color: White;
	text-decoration: none;
	background-image: url("/static/images/assessment/intro-maps/intro-maps-expand.png");
	background-repeat: no-repeat;
	background-position: 4px center;
	padding: 4px 5px 4px 20px;
}

div.map-thumbnail:hover div.map-caption {
	color: #B8E7E8;
}

div.map-description {
	margin: 15px 0px 15px 15px;
	width: 380px;
	float: left;
}

div.map-description p {
	margin-top: 4pt;
	margin-bottom: 0pt;
	line-height: 140%;
}

div.map-img img {
	width: 200px;
	height: 160px;
}
