body {
	background-position: 0px 60px;
	background-image: url(/static/images/assessment/assessment-bg.png);
	background-repeat: repeat-x; }

div#index-intro-band {
	background-color: #4AA9BA; }

div#section-titles {
	background-color: #4AA9BA; }

div#section-titles a {
	color: #FFFFFF; }

div#section-titles a:hover {
	color: #C6ECED; }
	
td.section-title {
	border-left: 1px solid #FFFFFF; }

td.section-desc {
	border-left: 1px solid #4AA9BA; }

td.section-title,
td.section-desc {
	width: 250px; }
