body {
	background-color: #E6F2F1;
	margin: 0;
	font-family: Arial, Helvetica, Bitstream Vera Sans, Sans, sans-serif;
	font-size: 8pt;
}

/* Standard header fonts */
h1 {
	font-size: 16pt;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 11pt;
	font-weight: bold;
}

/* Standard text style classes */
.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.italic {
	font-style: italic;
}

.bold {
	font-style: bold;
}

.hidden {
	display: none;
}

#main_logo {
	margin: 0;
	padding: 0;
	width: 240px;
	height: 60px;
}

#main_logo a, img {
	margin: 0;
	padding: 0;
}

/* Secondary bar */
div.secondary-bar {
	clear: both;
	background-color: #05768A;
	height: 12pt;
	color: white;
	width: 100%;
	padding: 5px 0px 4px 10px;
}

div.secondary-bar a {
	text-decoration: none;
	color: white;
}

div.secondary-bar a:hover {
	text-decoration: underline;
	color: #C0E0EA;
}

table.secondary-bar {
	width: 850px;
}

/* Breadcrumb section */
.breadcrumb, .breadCrumb a {
	font-size: 8pt;
	padding-left: 4px;
}

td.breadcrumb-separator {
	padding-left: 5px;
	padding-right: 5px;
}

/* Sitemap and miscellaneous links */
table.secondary-bar-help-links {
	margin-left: auto;
	margin-right: 0px;
}

td.secondary-bar-help-link {
	padding-left: 10px;
}

td.secondary-bar-language {
	padding-left: 10px;
}

td.secondary-bar-language-active {
	color: #FACA46;
	padding-left: 10px;
	font-size: 11pt;
}

div.secondary-bar ul, div.secondary-bar ul li, div.secondary-bar {
	padding: 2px;
	margin: 0px;
}

.language_change_bar {
	float: right;
}

/* Main content of the site  */
#main-content {
	clear: both;
	min-height: 100px;
	width: 800px;
	color: #000000;
	font-size: 10pt;
	display: block;
}

/* Footer */
.footer, .license-index, .licence {
	clear: both;
	font-size: 8pt;
	padding: 15px 5px 5px 5px;
}