#main_logo {
    margin: 0;
	padding: 0;
	
	width: 240px;
	height: 60px;
}

#main_logo a, img {
	margin: 0;
	padding: 0;
}


/* secondary bar */

div.secondary-bar {
	clear: both;
	background-color: #05768A;
	color: white;
	width: 100%;
	padding: 4px 0px 4px 10px; }
	
div.secondary-bar a {
	text-decoration: none;
	font-size: 12px;
	color: white; }
		
div.secondary-bar a:hover {
	text-decoration: underline;
	color: #C0E0EA; }

table.secondary-bar {
	width: 55%; }
	
td.secondary-bar-breadcrumb a {
	}
	
table.secondary-bar-help-links {
	margin-left: auto;
	margin-right: 0px; }
	

td.secondary-bar-help-link {
	padding-left: 10px; }
	
td.breadcrumb-separator {
	padding-left: 5px;
	padding-right: 5px; }

/* Footer */
.footer, .license-index {
	font-size: 10px;
}

#mycontent {
	position: absolute;
	top: 120px;
	left: 0px;
	clear: both;
	min-height: 100px;
	width: 700px;
	color: black;
	font-size: 12px;
	display: block;
}

#content {
	position: relative;
	clear: both;
	min-height: 50px;
	width: 700px;
	color: black;
	font-size: 12px;
}
