body {
	background-color: #E6F2F1;
	margin: 0;
	font-family: Arial,Helvetica,Bitstream Vera Sans,Sans,sans-serif;
	font-size: 8pt;
 }

#main_logo {
    margin: 0;
	padding: 0;
	
	width: 240px;
	height: 60px;
}

#main_logo a, img {
	margin: 0;
	padding: 0;
}


/* secondary bar */
div.secondary-bar {
	clear: both;
	background-color: #05768A;
	color: white;
	width: 100%;
	padding: 4px 0px 4px 10px; }
	
div.secondary-bar a {
	text-decoration: none;
	font-size: 12px;
	color: white; }
		
div.secondary-bar a:hover {
	text-decoration: underline;
	color: #C0E0EA; }

table.secondary-bar {
	width: 55%; }
	
td.secondary-bar-breadcrumb a {
	}
	
table.secondary-bar-help-links {
	margin-left: auto;
	margin-right: 0px; }
	

td.secondary-bar-help-link {
	padding-left: 10px; }
	
td.breadcrumb-separator {
	padding-left: 5px;
	padding-right: 5px; }

td.secondary-bar-language {
	padding-left: 10px; 
}

td.secondary-bar-language-active a {
	color: #FACA46;
	padding-left: 10px; 
	font-size: 11pt;
}


/* Footer */
.footer, .license-index, .licence {
	font-size: 8pt;
}

.footer {
	position: relative;
}

.licence {
	padding-top: 20px;
}

#main-content {
	clear: both;
	min-height: 100px;
	width: 700px;
	color: black;
	font-size: 12px;
	display: block;
}

div.secondary-bar ul, div.secondary-bar ul li, div.secondary-bar{
	padding: 2px;
	margin: 0px;
}
