body {
	background-color: #E2F2F5;
	margin: 0;
}

a {
	color: #FFFFFF;
}

table.top-bar {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	padding: 0;
}

.top-bar-logo {
	padding: 0px;
	margin: 0;
	background-color: #008CA5;
}

.top-bar-menu {
	margin-top: 25px;
	display: block;
	width: 45%;
	float: right;
}

.top-bar-menu {
	padding: 0px;
	background-color: #008CA5;
	vertical-align: bottom;
}

.top-bar-menu td {
	width: 80px;
	vertical-align: bottom;
	text-align: center;
	
}
.top-bar-menu td a {
	padding: 6px;
	margin: 6px 6px 0px 6px;
	color: #FFFFFF;
	text-decoration: none;
	width: 120%;
	background-color: #40A9BE;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.top-bar-menu-selected td {
	background-color: #B5DEE6;
}

div#help-section-title {
	background-color: #B5DEE6;
	min-height: 50px;
	color: #FFFFFF;
	margin: 0px;
	padding: 10px;
	font-weight:500;
	font-size: 24pt;
}

td.demo-links {
	color: White;
	padding-left: 20px;
}

td.demo-links a {
	display: inline-block;
	text-decoration: none;
	padding: 2px 5px;
	color: #008CA5;
}

td.demo-links a:hover {
	background-color: #40A9BE;
	color: White;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

td.demo-links a.demo-link-active {
	background-color: #008CA5;
	color: White;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
