div.query-summary-item {
    border-bottom: 1px solid #B4D6CD;
    padding-bottom: 5px;
    margin-bottom: 5px; }

div.query-summary-item-last {
    }

span.query-summary-variable {
    font-weight: bold; }


input.button-save {
    border:1px solid;
    text-decoration:none;
    background-color: white;
    border-color: #165B31;
    background-color: white;}

input.button-save:hover {
    background-color: #B4D6CD;
}
