body {
	background-color: #E6F2F1; }
	
div.main-content {
	background-image: url(../images/index/top-band.png); 
	background-repeat: repeat-x; }
	
div#welcome-text {
	padding-top: 15px;
	height: 245px; }
	
/* feature sections */

table#featured-sections {
	margin-left: 30px; }
	
td.featured-section-image {
	vertical-align: top; }

td.featured-section-text {
	vertical-align: top; }

td.featured-section-image {
	padding-bottom: 20px; }

div.featured-section-caption {
	margin-left: 10px;
	font-size: 11pt;
	font-weight: bold; }
	
div.featured-section-caption a {
	color: Black;
	text-decoration: none; }	

div.featured-section-caption a:hover {
	color: #759F9A; }

div.featured-section-description {
	width: 300px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 5px;
	margin-right: 20px; }
	
div#other-links {
	padding-top: 20px;
	padding-left: 5px;
	margin-left: 30px;
	background-image: url(../images/index/divider.png);
	background-repeat: no-repeat; }

div#other-links a {
	color: #57807B;
	text-decoration: none; }
	
div#other-links a:hover {
	color: Black; }
	
div.special-features-title {
	/* font-size: 11pt; */
	font-weight: bold; }
	
/* map */

div#welcome-map {
	width: 430px;
	height: 340px;
	position: relative; }

div#welcome-map-region-placeholder {
	min-height: 100px;
	width: 360px;
	background-image: url(../images/index/divider.png);
	background-repeat: no-repeat;
	margin-left: 40px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px; }

div#map-hint {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: #96AAA8;
	text-align: center; }

div.welcome-map-region-text {
	}
	
div.welcome-map-region-desc {
	line-height: 140%; }

/* footer */

div.footer {
	border-top: 1px solid #D2E2E1;
	padding-top: 5px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px; }
	
div.footer td {
	padding-right: 20px; } 

a.footer-link {
	color: #57807B;
	text-decoration: none; }
	
a.footer-link:hover {
	color: #333333; }

div.footer-section {
	margin-bottom: 5px; } 


/* licence */

div.licence-index {
	border-top: 1px dotted #D2E2E1;
	margin: 0px 20px;
	padding-top: 10px;
	padding-bottom: 10px; }

div.licence-index a {
	text-decoration: none;
	color: #57807B; }
	

/* copyright */

div.copyright {
	border-top: 1px dotted #D2E2E1;
	margin: 0px 20px;
	padding-top: 10px;
	padding-bottom: 10px; }
