#main-content {
	background-image: url('/static/images/index/top-band.png');
	background-repeat: repeat-x;
}

div#welcome-text {
	padding-top: 15px;
	padding-left: 0px;
	height: 220px;
	color: #404A49;
	font-family: "Times New Roman", Times, serif;
}

div#welcome-text h1, div#welcome-text p {
	text-align: justify;
	width: 450px;
}

div#welcome-text h1 {
	font-size: 16pt;
	font-weight: 600;
}

div#welcome-text p {
	font-size: 12pt;
	line-height: 130%;
	margin: 5px 0px 5px 0px;
}

/* feature sections */

table#featured-sections {
	margin-left: 30px;
	margin-top: 5px;
}

td.featured-section-image, td.featured-section-text {
	vertical-align: top;
}

td.featured-section-image {
	padding-bottom: 10px;
}

div.featured-section-caption {
	margin-left: 10px;
	font-size: 11pt;
	font-weight: bold;
}

div.featured-section-caption a {
	color: #000000;
	text-decoration: none;
}

div.featured-section-caption a:hover {
	color: #759F9A;
}

div.featured-section-description {
	width: 300px;
	margin: 5px 15px 20px 10px;
}

/* other featured links */
div#other-links {
	padding: 10px 10px 10px 5px;
	margin-left: 30px;
	background-image: url('/static/images/index/divider.png');
	background-repeat: no-repeat;
	padding-top: 10px;
}

div#other-links a {
	color: #4C6E6A;
	text-decoration: none;
	font-size: 9pt;
}

div#other-links a:hover {
	color: #000000;
}

div.special-features-title {
	font-size: 10pt;
	font-weight: bold;
}

/* map */
div#welcome-map {
	width: 430px;
	height: 340px;
	position: relative;
}

div#welcome-map-region-placeholder {
	min-height: 100px;
	width: 360px;
	background-image: url('/static/images/index/divider.png');
	background-repeat: no-repeat;
	margin-left: 40px;
	padding: 10px 2px 10px 10px;
}

div#map-hint {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: #96AAA8;
	text-align: center;
}

div.welcome-map-region-text {
}

div.welcome-map-region-name {
	font-size: 18pt;
	font-family: "Times New Roman", Times, serif;
	font-weight: 600;
	color: #404A49;
	padding-bottom: 5px;
}

div.welcome-map-region-desc {
	line-height: 140%;
}

/* footer */
div.footer {
	border-top: 1px solid #D2E2E1;
	padding-top: 5px;
	margin: 5px 20px 10px 20px;
}

div.footer td {
	padding-right: 20px;
}

a.footer-link {
	color: #57807B;
	text-decoration: none;
}

a.footer-link:hover {
	color: #333333;
}

div.footer-section {
	margin-bottom: 5px;
}

/* licence */
div.licence-index {
	border-top: 1px dotted #D2E2E1;
	margin: 0px 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.licence-index a {
	text-decoration: none;
	color: #57807B;
}

/* copyright */
div.copyright {
	border-top: 1px dotted #D2E2E1;
	margin: 0px 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
