div#index-intro-band {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 20px; }

div#index-intro-title {
	font-size: 24pt;
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
}

div#index-intro-text {
	font-size: 10pt;
	line-height: 130%;
	width: 880px;
	padding-top: 5px;
	color: #FFFFFF; }

div#section-titles {
	padding-left: 15px;
	font-size: 11pt; }

div#section-descs {
	padding-left: 15px;
	font-size: 8pt;
	line-height: 130%; }

td.section-title,
td.section-desc {
	vertical-align: top;
	padding-right: 15px;
	padding-left: 10px; }

td.section-title {
	padding-bottom: 5px; }

td.section-desc {
	padding-top: 10px; }
	
div#section-titles a {
	text-decoration: none; }
	