/* Logo and navigation background */
.top-bar, .top-bar td, .top-bar tr {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

.top-bar {
	background: #008CA8 url("/static/images/menu/menu-bg.png") repeat-y;
	width: 100%;
	height: 60px;
}

.top-bar ul li {
	list-style-type: none;
}


/* Horizontal navigation bar - settings for different browsers */
#main_nav {
	float: left;
	height: 60px;
	padding: 0;
	margin: 0;
	width: 100%;
}

html > body #main_nav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#main_nav ul {
	padding: 5px 0 0 0;
	list-style-type: none;
	margin: 0;
}

html > body #main_nav ul {
	margin: 0 0 0 0;
}

#groups ul li {
	display: inline;
	list-style-type: none;
}

#toplinks {
	width: 780px;
}

/* Set the lists in horizontal order  */
#toplinks li {
	float: left;
}

/* Main link menu background color */
#main_nav ul li a:hover, #main_nav li.active a:hover, #main_nav li.active {
	background: #005B6F;
}

.hovered a{
	background: #005B6F;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.main_nav-selected {
	background: #00738B;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

/* Link settings for main link */
#toplinks a {
	padding: 8px;
	padding-bottom: 18px;
	color: #fff;
	display: block;
	
	margin: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
}

/* Paddings of items in the dropdown menu */
#toplinks .linkbox ul {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	list-style-type: none;
}

/* Settings for each item in the nav list */
#main_nav ul li .linkbox ul li a {
	padding: 0 0 0 10px;
	text-align: left;
	height: auto;
}

#main_nav ul li .linkbox ul li {
	display: block;
	padding: 3px 0 3px 0;
}


/* Underline sublinks on hovering */
#main_nav ul li .linkbox ul li a:hover {
	background-color: inherit;
	text-decoration: underline;
}

.nav_block a {
	font-size: 11pt;
	font-family: "Times New Roman",Times,FreeSerif,serif;
	margin-top: 12px;
}

/* Style for the drop-down menu */
#main_nav ul li .linkbox {
	clear: both;
	width: 200px ;
	position: absolute;
	left: -999em;
	top: 40px;
	padding-bottom: 5px;
	
	border-bottom: 1px solid #aaa;
	text-transform: none;
	text-align: left;
	z-index: 100;
	
	/* Dropdown menu background color */
	background: #005B6F;
	margin-left: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#main_nav ul li .linkbox ul li {
	width: 90%;
}

/* Auto adjustment for menu to appear when hovering above the menu */
#toplinks li.hover .linkbox {
	left: auto;
}

/* Width of each navigation block
#block01, #block05 {
	
	width: 18%;
}

#block02 {
	width: 25%;
}

#block03 {
	width: 12%;
}

#block04 {
	width: 22%;
}
 */
.nav_block ul li a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 8pt;
	width: 100%;
	margin: 0px 0px 0px 0px;
}
