/* Logo and navigation background */
.top-bar, .top-bar td, .top-bar tr {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

.top-bar {
	background: #008CA8 url("/static/images/menu/menu-bg.png") repeat-y;
	width: 100%;
}

/* Horizontal navigation bar - settings for different browsers */
#main_nav {
	float: left;
	height: 60px;
	padding: 0;
	margin: 0;
}

html > body #main_nav {
	margin: 0 0 0 0;
}

#main_nav ul {
	padding: 5px 0 0 0;
	list-style-type: none;
	margin: -5px 0 0 0;
	float: left;
}

html > body #main_nav ul {
	margin: 0 0 0 0;
}

#groups ul li {
	display: inline;
}


/* Set the lists in horizontal order  */
#toplinks li {
	float: left;
}

/* Main link menu background color */
#main_nav ul li a:hover, #main_nav li.active a:hover, #main_nav li.active {
	background: #005B6F;
}

/* Link settings for main link */
#toplinks a {
	padding: 5px 0 10px 0;
	color: #fff;
	display: block;
	height: 28px;
	line-height: 20px;
	margin: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.highlighted {
	background-color: #005B6F;
}

/* Paddings of items in the dropdown menu */
#toplinks .linkbox ul {
	width: 100%;
	float: left;
	margin: 0 0 0 10px;
}

/* Settings for each item in the nav list */
#main_nav ul li .linkbox ul li a {
	padding: 0 10px 0 0;
	width: 100%;
	text-align: left;
	height: auto;
}

#main_nav ul li .linkbox ul li {
	display: block;
	width: 100%;
	padding: 3px 0 5px 0;
}


/* Underline sublinks on hovering */
#main_nav ul li .linkbox ul li a:hover {
	background-color: inherit;
	text-decoration: underline;
}

/* Style for the drop-down menu */
.linkbox {
	clear: both;
	width: 14%;
	position: absolute;
	left: -999em;
	top: 50px;
	
	/* Transparency settings (1 = opaque )*/
	z-index: 100;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #fff;
	border-bottom: 1px solid #aaa;
	text-transform: none;
	text-align: left;
	
	/* Dropdown menu background color */
	background: #005B6F;
	margin-left: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* Auto adjustment for menu to appear when hovering above the menu */
#toplinks li.hover .linkbox {
	left: auto;
}

#block01 a, #block02 a,#block03 a, #block04 a, #block05 a {
	font-size: 11pt;
	font-family: "Times New Roman",Times,FreeSerif,serif;
	margin-top: 5px;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

/* Width of each navigation block */
#block01 a, #block05 a {
	
	width: 120px;
}

#block02 a {
	width: 165px;
}

#block03 a {
	width: 90px;
}

#block04 a {
	width: 150px;
}

#block01 ul li a, #block02 ul li a, #block03 ul li a, #block04 ul li a, #block05 ul li a {
	font-family: Arial, Helvetica, Bitstream Vera Sans, Sans, sans-serif;
	font-size: 10pt;
}
