/* .animation_voyage_controls {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0);
}

.animation_voyage_year_label {
    font-family: "sl-Rockwell", sans-serif;
    font-size: 3em;
}

.animation_voyage_year_slider {
    margin: 5px;
}

.animation_voyage_pause_button, .animation_voyage_play_button {
    align: center;
}

.animation_voyage_inner_circle {
    fill: black;
}

.animation_voyage_outer_circle {
    stroke: gray;
    stroke-width: 2;
    fill: transparent;
}

.animation_voyage_controls {
    text-align: center;
    z-index: 999999;
}

.animation_voyage_info {
    position: absolute;
    color: white;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 20px;
    z-index: 9999999;
}

.animation_voyage_info h1 {
    color: yellow;
    padding-right: 72px;
    font-size: 28px;
}

.animation_voyage_content {
    background-repeat: no-repeat;
    background-position: right top;
    max-width: 300px;
} */


/* 
.animation_voyage_info h2 {
    font-variant: small-caps;
    font-size: 22px;
}

.animation_voyage_info_moreinfo {
    font-variant: small-caps;
    font-size: small;
}

.animation_voyage_info_close_button {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.animation_voyage_info_close_button:hover {
    color: red;
}

.leaflet-control-container {
    position: absolute;
}

.timelapse_btn_disabled > path {
    fill: gray !important;
}

.timeline_slider_group *, .timelapse_control_group * {
    cursor: pointer;
} */