{% load i18n %}

<li class="nav-item dropdown">
  <v-menu-title :count="filter.africanName.count" title="{% trans 'African Name' %}"></v-menu-title>

  <div class="">
    <ul class="dropdown-menu search-menu" id="africanName" role="menu">

      <v-panel @apply="apply" @reset="reset" group="africanName" sub-group="name" title="{% trans 'Documented name' %}" :filters="filter.africanName.name">
        <div slot="v-panel-header">
          <v-panel-header title="{% trans 'Name (possible modern counterpart)' %}" description="{% trans 'Filter 1' %}">
            <div slot="v-modal-content"></div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <v-text @change="changed"
            :filter="scope.filters.var_documented_name"
          ></v-text>
        </div>
      </v-panel>
      </ul>
  </div>
</li>


