{% load i18n %}

<li class="nav-item dropdown">
  <v-menu-title :count="filter.shipNationOwner.count" title="{% trans 'Personal Data' %}"></v-menu-title>

  <div class="">
    <ul class="dropdown-menu search-menu" id="shipNationOwner" role="menu">

      <v-panel @apply="apply" @reset="reset" group="shipNationOwner" sub-group="voyagesAndVessels" title="{% trans 'Sub Group Name 2' %}" :filters="filter.shipNationOwner.voyagesAndVessels">
        <div slot="v-panel-header">
          <v-panel-header title="{% trans 'Label 2' %}" description="{% trans 'Filter 2' %}">
            <div slot="v-modal-content"></div>
          </v-panel-header>
        </div>

        <div slot="v-panel-content" slot-scope="scope">
          <span>(CHANGE variables on the file (shipNationOwner, voyagesAndVessels, etc...))</span>
          <v-text @change="changed"
            :filter="scope.filters.var_ship_name"
          ></v-text>
        </div>
      </v-panel>
      </ul>
  </div>
</li>