{% load i18n %}

<!-- Tabs -->
<ul class="nav nav-tabs trans-tab">
  <li class="nav-item">
    <a class="nav-link active" @click="setActive('results')" href="#results" data-toggle="tab" data-target="#results">{% trans 'Results' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('statistics')" href="#statistics" data-toggle="tab" data-target="#statistics">{% trans 'Summary statistics' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('tables')" href="#tables" data-toggle="tab" data-target="#tables">{% trans 'Tables' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('visualization')" href="#visualization" data-toggle="tab" data-target="#visualization">{% trans 'Data visualization' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" @click="setActive('timeline')" href="#timeline" data-toggle="tab" data-target="#timeline">{% trans 'Timeline' %}</a>
  </li>
  {% if mode != "intra" %}
  <li class="nav-item">
    <a class="nav-link" @click="setActive('maps')" href="#maps" data-toggle="tab" data-target="#maps">{% trans 'Maps' %}</a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" id="timelapse" @click="setActive('timelapse')" href="#timelapse" data-toggle="tab" data-target="#maps">{% trans 'Timelapse' %}</a>
  </li>
</ul>
<!-- End of Tabs -->

<!-- TabContainers -->
<div id="tabsJustifiedContent" class="tab-content">
  <div id="results" class="tab-pane fade active show">
    {% include "database/tabs/results.html" %}
  </div>
  <div id="statistics" class="tab-pane fade">
    {% include "database/tabs/statistics.html" %}
  </div>
  <div id="tables" class="tab-pane fade">
    {% include "database/tabs/tables.html" %}
  </div>
  <div id="visualization" class="tab-pane fade">
    {% include "database/tabs/visualization.html" %}
  </div>
  <div id="timeline" class="tab-pane fade">
    {% include "database/tabs/timeline.html" %}
  </div>
  <div id="maps" class="tab-pane fade">
    {% include "database/tabs/maps.html" %}
  </div>
  
</div>
<!-- End of TabContainers -->
