{% extends "base.html" %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}
{% load resources_extras %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/resources.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/image-galleries.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/v-component.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}{% trans 'Image Detail' %}{% endblock %}

{% block content %}
<div class="nav-header">
	<div> {% trans "Resources - Image Galleries" %}</div>
	<div class="navbar-subtitle flex">
		<div class="navbar-subitem">
			{% for i in results %}
			{{ i.title|trans_log }}
			{% endfor %}
		</div>
		<div class="navbar-subitem">
			{% if not query %}
			{% if enabled_categories|length == 1 %}
			{% for i in enabled_categories %}
			<a href="{% url 'resources:get_images_category' i %}">
				<div class="btn-navbar">
					<i class="fa fa-arrow-circle-left"></i>
					{% trans 'Images of ' %}{{ i|trans_log }}
				</div>
			</a>
			{% endfor %}
			{% elif enabled_categories|length == 4 %}
			<a href="{% url 'resources:images-search' %}">
				<div class="btn-navbar">
					<i class="fa fa-arrow-circle-left"></i>
					{% trans 'All images' %}
				</div>
			</a>
			{% else %}
			<a href="{% url 'resources:images-search' %}">
				<div class="btn-navbar">
					<i class="fa fa-arrow-circle-left"></i>
					{% trans 'Search Results' %}
				</div>
			</a>
			{% endif %}
			{% else %}
			<a href="{% url 'resources:images-search' %}">
				<div class="btn-navbar">
					<i class="fa fa-arrow-circle-left"></i>
					{% trans 'Search Results' %}
				</div>
			</a>
			{% endif %}
			
		</div>
	</div>
</div>

<div class="container-new">
  <div class="row row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			{% include "resources/images-left-menu.html" %}
		</div>

    <div class="col-md-8 col-xs-12 col-lg-9 ">

			<p class="hidden-md">
        <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
            <span>{% trans 'Toggle Sidebar' %}</span>
          </div>
        </button>
      </p>

			<div id="center-content-inner">
				<div class="page-title-2">
					
				</div>

					    {% for i in results %}
								<div class='page-section'>
					            <a href="{% url 'resources:image-search-detail-window' results.number %}">
					                {% thumbnail i.file "400" as im %}
					                    <img src="{{ im.url }}" class="img-fluid">
					                    {% empty %}
					                        <img src="{{ MEDIA_URL }}{{ i.file }}" class="img-fluid">
					                {% endthumbnail %}
					            </a>
										</div>
											<div class='page-section'>

											{% if results.has_previous %}
													<a href={{ results.previous_page_number }}>{% trans 'Previous' %}</a>
											{% else %}
													{% trans 'Previous' %}
											{% endif %}

											{{ results.number }} / {{ results.paginator.num_pages }}

											{% if results.has_next %}
													<a href={{ results.next_page_number }}>{% trans 'Next' %}</a>
											{% else %}
													{% trans 'Next' %}
											{% endif %}
											</div>

					            <div class="page-section">
					                {{ i.description|trans_log }}
					            </div>

											<div class="page-section">
					            <div class="page-title-2">
												Metadata
											</div>
										  <table class="table">
					                <tbody>
					                {% if i.date %}
					                    <tr>
					                        <td>
					                            <div class="image-detail-info-label">
					                                {% trans 'Year' %}
					                            </div>
					                        </td>
					                        <td>
					                            {{ i.date }}
					                        </td>
					                    </tr>
					                {% endif %}
					                <tr>
					                    <td>
					                        <div class="image-detail-info-label">
					                            {% trans 'Source' %}
					                        </div>
					                    </td>
					                    <td>
					                        {{ i.source }}
					                    </td>
					                </tr>
					                {% if i.language %}
					                <tr>
					                    <td>
					                        <div class="image-detail-info-label">
					                            {% trans 'Language' %}
					                        </div>
					                    </td>
					                    <td>
					                        {{ i.language|decode_language }}
					                    </td>
					                </tr>
					                {% endif %}
					                </tbody>
					            </table>
											</div>

					            {% if i.voyage_vessel_name %}
											<div class="page-section">
						            <div class="page-title-2">
													{% trans 'Related Voyages' %}
												</div>
                        {% trans 'Voyage ID' %} =
                        {{ i.voyage_id }} - {{ i.voyage_vessel_name }}, {{ i.voyage_imp_voyage_began|get_year_value }}
											</div>
											{% endif %}

    			{% endfor %}

				</div>
				</div>
				</div>

{% endblock %}


{% block footer %}
{% endblock %}
