{% extends "base.html" %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}
{% load resources_extras %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/resources.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/image-galleries.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/v-component.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}{% trans 'Images' %}{% endblock %}

{% block content %}
<div class="nav-header">
	<div> {% trans "Resources - Image Galleries" %}</div>
	<div class="navbar-subtitle flex">
		<div class="navbar-subitem">
			{{ image.title|trans_log }}
		</div>
		<div class="navbar-subitem">
			<a href="{% url 'resources:images' %}">
				<div class="btn-navbar">
					<i class="fa fa-arrow-circle-left"></i>
					{% trans 'All Categories' %}
				</div>
			</a>
		</div>
	</div>
</div>

<div class="container-new">

  <div class="row  row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			{% include "resources/images-left-menu.html" %}
		</div>

    <div class="col-md-8 col-xs-12 col-lg-9 ">

			<p class="hidden-md">
        <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
            <span>Toggle Sidebar</span>
          </div>
        </button>
      </p>

			<div id="center-content-inner">
				<div class="images-category page-section">
					<img src="{{ MEDIA_URL }}/{{ image.file }}" class="img-fluid"/>
				</div>
			</div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
