{% extends "base.html" %}
{% load i18n %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-info.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-images.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-expandable-box.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/expandable-box.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/images-search-expandable-box.css">
{% endblock %}

{% block title %}Images{% endblock %}

{% block content %}

<div id="left-menu" class="left-menu-box">
	{% include "resources/images-left-menu.html" %}
</div>

<div id="center-content">

<div class="image-title"> Register of Africans from the Schooner "Esperanza" </div>
<div class="image-navigation">
    <table class="image-navigation">
    <tbody>
    <tr>
        <td style="padding: 0px 10px 0px 0px;">
        Images of {{ category }}
        </td>
        <td style="padding: 0px 0px 0px 0px;">
            {% if images.has_previous %}
                <a href={{ images.previous_page_number }}>Previous</a>
            {% else %}
                Previous
            {% endif %}
        </td>
        <td style="padding: 0px 10px 0px 10px"> {{ images.number }} / {{ images.paginator.num_pages }}  </td>
        <td style="padding: 0px;">
            {% if images.has_next %}
                <a href={{ images.next_page_number }}>Next</a>
            {% else %}
                Next
            {% endif %}
        </td>
    </tr>
    </tbody>
    </table>
</div>

<table style="border-collapse: collapse;">
<tbody>
<tr>
<td style="padding: 0px; vertical-align: top;">
<img class="image-detail" width=400, height=273 src="{{ MEDIA_URL }}/images/E5CBA0D5E5FFD4B94F4815E41F3F9A4B.JPG">
</td>
<td style="padding: 0px 10px 0px 10px;">
<div class="image-description">The Schooner "Fabiana" was captured at sea by British cruisers and adjudicated at a court established at Sierra Leone under international anti-slave trade treaties. The image is of a picture of the first page of the court’s register of "Liberated Africans" taken from the "Fabiana". The register was kept as a formal record of emancipation that helped protect the individual from subsequent re-enslavement. The image is reproduced courtesy of the British National Archives.</div>
<table class="image-detail-info">
<tbody id="form:_idJsp53:tbody_element">
<tr>
<td>
<div class="image-detail-info-label">Year:</div>
</td>
<td>1819</td>
</tr>
<tr>
<td>
<div class="image-detail-info-label">Source:</div>
</td>
<td>British National Archives, Foreign Office, ser. 84, vol. 4, p. 217.</td>
</tr>
<tr>
<td>
<div class="image-detail-info-label">Language:</div>
</td>
<td>English</td>
</tr>
</tbody>
</table>
<div class="image-detail-voyages-title">Related voyages</div>
<table class="image-detail-voyages">
<tbody id="form:_idJsp61:tbody_element">
<tr>
<td>
Voyage ID =
<a id="form:_idJsp61:0:_idJsp64" onclick="clear_form();document.forms['form'].elements['form:_link_hidden_'].value='form:_idJsp61:0:_idJsp64';if(document.forms['form'].onsubmit){var result=document.forms['form'].onsubmit(); if( (typeof result == 'undefined') || result ) {document.forms['form'].submit();}}else{document.forms['form'].submit();}return false;" href="#">2315</a>
- Fabiana, 1819
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>

{% endblock %}


{% block footer %}
{% include "footer.html" %}
{% endblock %}