{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load resources_extras %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-info.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-expandable-box.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/expandable-box.css">
{% endblock %}

{% block title %}Category Images{% endblock %}

{% block content %}

<div id="left-menu" class="left-menu-box">
	{% include "resources/images-left-menu.html" %}
</div>

<div id="center-content">

    <div class="images-query-title">
        Images of {{ category }}
    </div>
    <div class="image-navigation">
        <table class="image-navigation">
        <tbody>
            <tr>
                <td style="padding: 0px 10px 0px 0px;">
                    <a href="{% url 'resources:images' %}">Back to start</a>
                </td>
                <td style="padding: 0px">
                    {{ images|length }} images
                </td>
            </tr>
        </tbody>
        </table>
    </div>

        <table class="gallery-table" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            {% for k, v in images.iteritems %}
                {% ifequal forloop.counter0|modulo:5 0 %}
                    <tr>
                {% endifequal %}
                <td class="gallery-image">
                    {% for key, value in v.iteritems %}
                        {% if key == "file" %}
                            {% thumbnail value "100x100" as im %}
                                <div class="gallery-image">
                                <a href="{% url 'resources:images-category-detail' category forloop.parentloop.counter %}"><img src="{{ im.url }}" width="100" height="100"/></a>
                                </div>
                            {% endthumbnail %}
                        {% endif %}
                    {% endfor %}
                    <div class="gallery-image-text">
                        {% for key, value in v.iteritems %}
                            {% if key == "title" %}
                                <div class="gallery-image-label">
                                    <a href="{% url 'resources:images-category-detail' category forloop.parentloop.counter %}">{{ value }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for key, value in v.iteritems %}
                            {% if key == "year" and value %}
                                <div class="gallery-image-description">
                                    ({{ value }})
                                </div>
                            {% endif %}
                        {% endfor %}
                     </div>
                </td>
                {% if forloop.last or forloop.counter0|modulo:5 == 4 or forloop.las %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>

{% endblock %}


{% block footer %}
{% include "footer.html" %}
{% endblock %}