{% extends "base.html" %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}
{% load resources_extras %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/resources.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/image-galleries.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/search-ui.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/v-component.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}


<div class="nav-header">
	<div> {% trans "Resources - Image Galleries" %}</div>
	<div class="navbar-subtitle flex">
		<div class="navbar-subitem">
			{% trans 'All Categories ' %}
		</div>
	</div>
</div>

<div class="container-new">

  <div class="row  row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			{% include "resources/images-left-menu.html" %}
		</div>

    <div class="col-md-8 col-xs-12 col-lg-9 ">

			<p class="hidden-md">
        <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
            <span>{% trans 'Toggle Sidebar' %}</span>
          </div>
        </button>
      </p>

			<div id="center-content-inner">
				{%  for images_set in images %}
						{% if images_set.images %}
								<div class="images-category page-section">
										<div class="page-title-2">{{ images_set.label_name|trans_log }}</div>
										<div class="images-category-link"><a href="{%  url 'resources:images-category' images_set.label_name|spaces_to_underscores %}">{% trans 'View all images' %}</a></div>
								</div>

								<div class="row images-category">
										{% for image in images_set.images %}
										<div class="col-md-3 col-sm-6 col-xs-12 col-lg-3 col-xl-3">
												<div class="grid-image">
												{% for key, value in image.iteritems %}
														{% if key == "file" %}
																{% thumbnail value "100x100" as im %}
																		<a href="{% url 'resources:images-category-detail' category=images_set.label_name|spaces_to_underscores page=forloop.parentloop.counter %}">
																			<img src="{{ im.url }}" class="img-fluid img-thumbnail">
																		</a>
																		{% empty %}
																				<a href="{% url 'resources:images-category-detail' category=images_set.label_name|spaces_to_underscores page=forloop.parentloop.counter %}">
																				<img src="{{ MEDIA_URL }}{{ value }}" class="img-fluid img-thumbnail">
																				</a>
																{% endthumbnail %}
														{% endif %}
												{% endfor %}
												</div>

												<div class="grid-text">
												{% for key, value in image.iteritems %}
																{% if key == "title" %}
																<div class="gallery-image-label">
																<a href="{% url 'resources:images-category-detail' category=images_set.label_name|spaces_to_underscores page=forloop.parentloop.counter %}">
																		{{ value|trans_log }}
																</a>
																</div>
																{% endif %}
																{% if key == "year" and value != 0 %}
																<div class="gallery-image-description">({{ value|trans_log }})</div>
																{% endif %}
												{% endfor %}
												</div>
											</div>
										{% endfor %}
								</div>




						{% endif %}
				{% endfor %}
			</div>
    </div>
  </div>
</div>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}

{% block footer %}
{% endblock %}
