{% load i18n %}
<!-- Left menu for Images in Resources -->

<table class="box-main-table" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td class="box-upper-row-left"></td>
        <input type="hidden" value="expanded" name="form:_idJsp6_state">
        <table class="box-header-table" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="box-label">Search for images</td>
                <td>
            </tr>
</tbody>
</table>
</td>
        <td class="box-upper-row-right"></td>
    </tr>
    </tbody>
</table>