{% extends "base.html" %}
{% load i18n %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-info.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-images.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-expandable-box.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/expandable-box.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/images-search-expandable-box.css">
{% endblock %}

{% block title %}Images{% endblock %}

{% block content %}

<div id="left-menu" class="left-menu-box">
	{% include "resources/images-left-menu.html" %}
</div>
<div id="center-content">

    {%  for k, v in images.iteritems %}
        {% if v  %}
            <div class="images-category">
                <div class="images-category-name">{{ k }}</div>
                <div class="images-category-link"><a href="#">See all images ...</a></div>
            </div>
            <table class="gallery-table" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>

                {% for item in v %}
                    <td class="gallery-image">
                    {% for key, value in item.iteritems %}
                        <div class="gallery-image">
                            <a href={% url 'resources:images-detail' arg1=v arg2=1 %}>
                                <img width="100" height="100" border="0" src="{{ MEDIA_URL }}/{{ value }}">
                            </a>
                        </div>
                        <div class="gallery-image-text">
                            <div class="gallery-image-label">
                                Register of Africans from the Schooner "Esperanza"
                            </div>
                            <div class="gallery-image-description">(1819)</div>
                        </div>
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            </tbody>
            </table>
        {% endif %}
    {% endfor %}


</div>

{% endblock %}


{% block footer %}
{% include "footer.html" %}
{% endblock %}