{% load i18n %}
<!-- Left menu for Images in Resources -->
{# TODO: Number of images hardcoded, has to be changed! #}


<table class="box-main-table" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td class="box-upper-row-left"></td>
        <td class="box-upper-row-middle">
            <input type="hidden" value="expanded">
            <table class="box-header-table" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="box-label">{% trans "Search for images" %}</td>
                <td>
                    {# TODO: Load jquery to hiding this section #}
                    <div class="box-button"></div>
                </td>
            </tr>
            </tbody>
            </table>
        </td>
        <td class="box-upper-row-right"></td>
    </tr>
    <tr>
        <td class="box-middle-row-left">
            <div class="box-middle-row-left"></div>
        </td>
        <td class="box-middle-row-middle">
            <div class="box-main-text"><form action="/resources/images/search" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="images-query-box">
                    <table style="border-collapse: collapse">
                    <tbody>
                    <tr>
                        <td style="padding: 5px 10px 5px 0px;">{% trans "Keyword" %}</td>
                        <td style="padding: 5px 0px">
                            <input type="text" style="width: 150px;" value="" name="q">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 10px 5px 0px;">{% trans "Time frame" %}</td>
                        <td style="padding: 5px 0px">
                            <input type="text" style="width: 40px;" value="" name="time_start"> -
                            <input type="text" style="width: 40px;" value="" name="time_end">
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="images-query-box">
                    Category
                    <div style="margin: 5px 0px 0px 0px;">
                        <input type="hidden" value="">
                        <table class="checkbox-list-table-0" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td class="checkbox-list-checkbox-0">
                                <input type="checkbox" checked="checked" name="checkbox4" value="Manuscripts">
                            </td>
                            <td class="checkbox-list-label-0">
                                <label>
                                    {% trans "Manuscripts" %}
                                    <span class="images-count">(171 images)</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-list-checkbox-0">
                                <input type="checkbox" checked="checked" name="checkbox3" value="Places">
                            </td>
                            <td class="checkbox-list-label-0">
                                <label>
                                    {% trans "Places" %}
                                    <span class="images-count">(42 images)</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-list-checkbox-0">
                                <input type="checkbox" checked="checked" name="checkbox2" value="Slaves">
                            </td>
                            <td class="checkbox-list-label-0">
                                <label>
                                    {% trans "Slaves" %}
                                    <span class="images-count">(9 images)</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-list-checkbox-0">
                                <input type="checkbox" checked="checked" name="checkbox1" value="Vessel">
                            </td>
                            <td class="checkbox-list-label-0">
                                <label>
                                    {% trans "Vessels" %}
                                    <span class="images-count">(9 images)</span>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="images-query-search-button">
                    <input type="submit" value="Submit" >
                    <input type="submit" onclick="clear_form();" value="Start again">
                </div>
            </form></div>
        </td>
        <td class="box-middle-row-right">
            <div class="box-middle-row-right"></div>
        </td>
    </tr>
    <tr>
<td class="box-lower-row-left"></td>
<td class="box-lower-row-middle"></td>
<td class="box-lower-row-right"></td>
</tr>
    </tbody>
</table>