{% extends "base.html" %}
{% load sass_tags %}
{% load i18n %}
{% load thumbnail %}
{% load resources_extras %}

{% block csslist %}
<link href="{% sass_src 'scss/navbar-site.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/resources.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/image-galleries.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/v-component.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}{% trans 'Image Detail' %}{% endblock %}

{% block content %}
<div class="nav-header">
	<div> {% trans "Resources - Image Galleries" %}</div>
	<div class="navbar-subtitle flex">
		<div class="navbar-subitem">
			{{ pagins.0.title|trans_log }}
		</div>
		<div class="navbar-subitem">
			<a href="{% url 'resources:images-category' category|spaces_to_underscores %}">
				<div class="btn-navbar">
					<i class="fa fa-arrow-circle-left"></i>
					{% trans 'Images of ' %}{{ category|trans_log }}
				</div>
			</a>
		</div>
	</div>
</div>

<div class="container-new">
  <div class="row row-offcanvas row-offcanvas-right">
		<div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
			{% include "resources/images-left-menu.html" %}
		</div>

    <div class="col-md-8 col-xs-12 col-lg-9 ">

			<p class="hidden-md">
        <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
          <div>
            <span class="fa fa-exchange-alt" style=" vertical-align: middle;"></span>
            <span>{% trans 'Toggle Sidebar' %}</span>
          </div>
        </button>
      </p>

			<div id="center-content-inner">
		
			<div class="page-title-1">
				{% trans 'Image Detail' %}
			</div>
        <div class="page-section">

					<a href="{% url 'resources:image-detail' category|spaces_to_underscores pagins.number %}">
							{% thumbnail pagins.0.file "400" as im %}
									<img src="{{ im.url }}" class="img-fluid">
									{% empty %}
											<img src="{{ MEDIA_URL }}{{ pagins.0.file }}" class="img-fluid">
							{% endthumbnail %}
					</a>
				</div>

				<div class="page-section">
		      {% if pagins.has_previous %}
		          <a href={{ pagins.previous_page_number }}>{% trans 'Previous' %}</a>
		      {% else %}
		          {% trans 'Previous' %}
		      {% endif %}
		 			{{ pagins.number }} / {{ pagins.paginator.num_pages }}
		      {% if pagins.has_next %}
		          <a href={{ pagins.next_page_number }}>{% trans 'Next' %}</a>
		      {% else %}
		          {% trans 'Next' %}
		      {% endif %}
				</div>


				<div class="page-section">
			            <div class="image-description">
			                {{ pagins.0.description|trans_log }}
			            </div>
								</div>

									<div class="page-section">
									<div class="page-title-2">
										Metadata
									</div>
			            <table class="table">
			                <tbody>
			                {% if pagins.0.date %}
			                    <tr>
			                        <td>
			                            <div class="image-detail-info-label">
			                                {% trans 'Year' %}
			                            </div>
			                        </td>
			                        <td>
			                            {{ pagins.0.date }}
			                        </td>
			                    </tr>
			                {% endif %}
			                <tr>
			                    <td>
			                        <div class="image-detail-info-label">
			                            {% trans 'Source' %}
			                        </div>
			                    </td>
			                    <td>
			                        {{ pagins.0.source }}
			                    </td>
			                </tr>
			                {% if pagins.0.language %}
			                <tr>
			                    <td>
			                        <div class="image-detail-info-label">
			                            {% trans 'Language' %}
			                        </div>
			                    </td>
			                    <td>
			                        {{ pagins.0.language|decode_language|trans_log }}
			                    </td>
			                </tr>
			                {% endif %}
			                </tbody>
			            </table>
								</div>



			            {% if pagins.0.voyage_id %}
									<div class="page-section">
										<div class="page-title-2">
											{% trans 'Related Voyages' %}
										</div>
			                            {% trans 'Voyage ID' %} =
			                            {{ pagins.0.voyage_id }} - {{ pagins.0.voyage_vessel_name }}, {{ pagins.0.voyage_imp_voyage_began|get_year_value }}
																</div>
									{% endif %}

				</div>



													</div>
													</div>
													</div>
													</div>
													</div>

{% endblock %}


{% block footer %}
{% endblock %}
