{% load i18n %}
{% load resources_extras %}
<!-- Left menu for Images in Resources -->
{# TODO: Number of images hardcoded, has to be changed! #}
<script src="{{ STATIC_URL }}scripts/resources/resources-left-menu.js" type="text/javascript"></script>

  <form action="{% url 'resources:images-search' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
      <div class="form-group row">
        <label for="q" class="col-sm-5 sidebar-label">{% trans "Keyword" %}</label>
        <div class="col-sm-7">
          {% if not query %}
              <input type="text" value="" name="q" class="full-input">
          {% else %}
              <input type="text" value="{{ query }}" name="q" class="full-input">
          {% endif %}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 sidebar-label">{% trans 'Time frame' %}</label>
        <div class="col-sm-7">
          {% if not time_start %}
              <input type="text" class="partial-input" value="" name="time_start">
          {% else %}
              <input type="text" class="partial-input" value="{{ time_start }}" name="time_start"> -
          {% endif %}
          -
          {% if not time_end %}
              <input type="text" class="partial-input" value="" name="time_end">
          {% else %}
              <input type="text" class="partial-input" value="{{ time_end }}" name="time_end">
          {% endif %}
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
              <div class="sidebar-label">{% trans 'Category' %}</div>

              <input type="hidden" value="">
                {% for images_set in images %}
                    {% if images_set.number_of_images > 0 %}

                      <div class="checkbox-list-label-{{ forloop.counter0 }}">
                        <label class="sidebar-label">
                            {% if enabled_categories and images_set.label_name not in enabled_categories %}
                              <input type="checkbox" name="checkbox4" value="{% trans images_set.label_name|spaces_to_underscores %}">
                            {% else %}
                              <input type="checkbox" checked="checked" name="checkbox{{ images_set.label_code }}" value="{% trans images_set.label_name|spaces_to_underscores %}">
                            {% endif %}
                          {% trans images_set.label_name %}
                          {% spaceless %}
                          <span class="images-count">({{ images_set.number_of_images }}
                            {% if images_set.number_of_images == 1 %}
                                {% trans 'image' %})
                            {% else %}
                                {% trans 'images' %})
                            {% endif %}
                          </span>
                          {% endspaceless %}
                        </label>
                      </div>
                    {% endif %}
                {% endfor %}
        </div>
      </div>
      </div>

      <button class="btn btn-solid btn-sm margin-v" type="submit" value="Submit">{% trans 'Search' %}</button>
      <button class="btn btn-outline btn-sm margin-v" type="submit" value="Start again" name="restart">{% trans 'Reset All' %}</button>
  </form>