{% extends "base.html" %}

{% comment %}Corresponds to the landing page of the Resources section {% endcomment %}

{% load i18n %}

{% block title %}{% trans "Resources" %}{% endblock %}

{% block csslist %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/section-index.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/resources/resources-index.css">
{% endblock %}

{% block content %}
<div id="index-intro-band">

	<div id="index-intro-title">
		{% trans "Resources" %}
	</div>

	<div id="index-intro-text">
		{% blocktrans %}This section of the Voyages website provides resources for putting
		information in the databases into historical context.  The materials presently consist of a
		database of images contemporary to the slave trade and a database of names of Africans rescued
		from slave vessels in the nineteenth century, during the period of suppression.{% endblocktrans %}
	</div>

</div>

<div id="section-titles">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="section-title"><a href="{% url 'resources:images' %}">{% trans "Images" %}</a></td>
			<td class="section-title"><a href="{% url 'resources:origins' %}">{% trans "African Names Database" %}</a></td>
		</tr>
	</table>
</div>

<div id="section-descs">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>

			<td class="section-desc">{% blocktrans %}Representations of the trans-Atlantic slave trade,
			an activity that lasted for centuries, changed over time. With permission
			from various archives and libraries, selected images enable one to picture
			people, places, artifacts and vessels of the slave trade era.  Links are
			provided to relevant voyages in the Voyages Database.{% endblocktrans %}</td>

			<td class="section-desc">{% blocktrans %}During the last 60 years of the
                trans-Atlantic slave trade, courts around the Atlantic
                basins condemned over two thousand vessels for engaging
                in the traffic and recorded the details of captives found
                on board including their African names. The African Names
                Database was created from these records, now located in
                the Registers of Liberated Africans at the Sierra Leone
                National Archives, Freetown, as well as Series FO84,
                FO313, CO247 and CO267 held at the British National
                Archives in London. Links are provided to the ships
                in the Voyages Database from which the liberated
                Africans were rescued, as well as to the African
                Origins site where users can hear the names
                pronounced and help us identify the languages
                in which they think the names are used.{% endblocktrans %}</td>

		</tr>
	</table>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
