{% extends "resources/base.html" %}
{% load voyage_extras %}
{% load sass_tags %}
{% load i18n %}

{% block title %} {% trans 'Resources - Lesson Plans' %} {% endblock %}

{% block content %}

<!-- CSS for Trans-Atlantic -->
<link href="{% sass_src 'scss/library/js-offcanvas@1.0.0.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/off-canvas.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/resources.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'scss/library/bootstrap-vue-2.0.0-rc.11.css' %}" rel="stylesheet" type="text/css" />

  <div id="flatpage" v-cloak>
    <v-breadcrumb 
      module="{% trans 'Resources' %}" 
      title="{% trans 'Lesson Plans' %}"
      :breadcrumb="breadcrumb" 
      @clicked="navigate">
    </v-breadcrumb>
  
    <div class="container-new">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class='col-md-4 col-xs-12 col-lg-3 sidebar-offcanvas' id="sidebar">
          <v-flatpage @clicked="navigate" :list="articles"></v-flatpage>
        </div>

        <div class="col-md-8 col-xs-12 col-lg-9 ">

          <p class="hidden-md">
            <button type="button" class="btn btn-solid btn-sm" data-toggle="offcanvas">
              <div>
                <span class="fa fa-exchange" style=" vertical-align: middle;"></span>
                <span>{% trans 'Toggle Sidebar' %}</span>
              </div>
            </button>
          </p>

          <div id="center-content-inner">
            <div v-html="content"></div>
          </div>

        </div>
      </div>
    </div>
</div>

<script src="{{ STATIC_URL }}scripts/library/vue@2.6.7.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/babel-polyfill@6.26.0.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/bootstrap-vue@2.0.0-rc.11.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/library/axios@0.18.0.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/v-breadcrumb.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/v-flatpage.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/components/v-flatpage-data-resources-lessons.js"></script>
<script src="{{ STATIC_URL }}scripts/vue/flatpage.js"></script>

<script type="text/javascript" src="https://npmcdn.com/js-offcanvas@1.0/dist/_js/js-offcanvas.pkgd.min.js" charset="utf-8"></script>
{% endblock %}
