{% load i18n %}
{% load resources_extras %}
<!-- Left menu for Images in Resources -->
{# TODO: Number of images hardcoded, has to be changed! #}
{% block csslist %}

{% endblock %}
<script src="{{ STATIC_URL }}scripts/resources/resources-left-menu.js" type="text/javascript"></script>

<div>
<table class="box-main-table" cellspacing="0" cellpadding="0" border="0">
<tbody>

{#    Upper table (Search for africans)#}
    <tr>
        <td class="box-set-upper-row-upper-left"></td>
        <td class="box-set-upper-row-upper-middle">
            <table class="box-header-table" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td class="box-label">Search for Africans</td>
                    <td>
                        <div class="box-button"></div>
                    </td>
                </tr>
            </tbody>
            </table>
        </td>
        <td class="box-set-upper-row-upper-right"></td>
    </tr>
    <tr class="row-collapsed">
    <td class="box-middle-row-left">
        <div class="box-middle-row-left"></div>
    </td>
    <td class="box-middle-row-middle">
        <div id="form:_idJsp8" class="box-main-text">
        <div class="slaves-query-section">
            <table style="border-collapse: collapse;">
            <tbody>
                <tr>
                  <td class="slaves-query-variable-title">African name</td>
                  <td class="slaves-query-variable-controls">
                    <input id="search_slave_name" type="text" style="width: 150px;" value="" name="search_slave_name">
                  </td>
                </tr>
                <tr>
                  <td class="slaves-query-variable-title">Ship name</td>
                  <td class="slaves-query-variable-controls">
                    <input id="form:_idJsp20" type="text" style="width: 150px;" onkeyup="SlavesSearch.searchFromBasicBox(true)" value="" name="form:_idJsp20">
                  </td>
                </tr>
                <tr>
                  <td class="slaves-query-variable-title">Voyage ID</td>
                  <td class="slaves-query-variable-controls">
                    <input id="form:_idJsp25" type="text" style="width: 150px;" onkeyup="SlavesSearch.searchFromBasicBox(true)" value="" name="form:_idJsp25">
                  </td>
                </tr>
                <tr>
                    <td class="slaves-query-spacer"></td>
                </tr>
                <tr>
                  <td class="slaves-query-variable-title">Time frame</td>
                  <td class="slaves-query-variable-controls">
                    <div class="slaves-query-variable-controls">
                      <table style="border-collapse: collapse;">
                      <tbody>
                      <tr>
                        <td style="padding: 0px;">
                          <input id="form:_idJsp36" type="text" style="width: 40px;" onkeyup="SlavesSearch.searchFromBasicBox(true)" value="" name="form:_idJsp36">
                        </td>
                        <td style="padding: 0px 5px 0px 5px">-</td>
                        <td style="padding: 0px;">
                          <input id="form:_idJsp40" type="text" style="width: 40px;" onkeyup="SlavesSearch.searchFromBasicBox(true)" value="" name="form:_idJsp40">
                        </td>
                      </tr>
                      </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="slaves-query-spacer"></td>
                </tr>
                <tr>
                  <td class="slaves-query-variable-title">Age</td>
                  <td class="slaves-query-variable-controls">
                    <div class="slaves-query-variable-controls">
                      <table style="border-collapse: collapse;">
                      <tbody>
                      <tr>
                        <td style="padding: 0px;">
                          <input id="form:_idJsp51" type="text" style="width: 40px;" onkeyup="SlavesSearch.searchFromBasicBox(true)" value="" name="form:_idJsp51">
                        </td>
                        <td style="padding: 0px 5px 0px 5px">-</td>
                        <td style="padding: 0px;">
                          <input id="form:_idJsp55" type="text" style="width: 40px;" onkeyup="SlavesSearch.searchFromBasicBox(true)" value="" name="form:_idJsp55">
                        </td>
                      </tr>
                      </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="slaves-query-spacer"></td>
                </tr>
                <tr>
                  <td class="slaves-query-variable-title">Height (inches)</td>
                  <td class="slaves-query-variable-controls">
                    <div class="slaves-query-variable-controls">
                      <table style="border-collapse: collapse;">
                      <tbody>
                      <tr>
                        <td style="padding: 0px;">
                          <input id="form:_idJsp66" type="text" style="width: 40px;" onkeyup="SlavesSearch.searchFromBasicBox(true)" value="" name="form:_idJsp66">
                        </td>
                        <td style="padding: 0px 5px 0px 5px">-</td>
                        <td style="padding: 0px;">
                          <input id="form:_idJsp70" type="text" style="width: 40px;" onkeyup="SlavesSearch.searchFromBasicBox(true)" value="" name="form:_idJsp70">
                        </td>
                      </tr>
                </tbody>
                </table>
                </div>
                </td>
                </tr>
                <tr>
                  <td class="slaves-query-spacer"></td>
                </tr>
                <tr>
                  <td class="slaves-query-variable-title">Sex/Age</td>
                  <td class="slaves-query-variable-controls">
                    <table style="border-collapse: collapse;">
                    <tbody>
                    <tr>
                      <td style="padding: 0px;">
                        <input type="checkbox" onclick="SlavesSearch.searchFromBasicBox(false)" value="true" checked="checked" name="form:_idJsp80">
                      </td>
                      <td style="padding: 0px; width: 40px;">boys</td>
                      <td style="padding: 0px;">
                        <input type="checkbox" onclick="SlavesSearch.searchFromBasicBox(false)" value="true" checked="checked" name="form:_idJsp84">
                      </td>
                      <td style="padding: 0px;">girls</td>
                    </tr>
                    </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="slaves-query-variable-controls">
                  <table style="border-collapse: collapse;">
                  <tbody>
                    <tr>
                    <td style="padding: 0px;">
                      <input type="checkbox" onclick="SlavesSearch.searchFromBasicBox(false)" value="true" checked="checked" name="form:_idJsp93">
                    </td>
                    <td style="padding: 0px; width: 40px;">men</td>
                    <td style="padding: 0px;">
                      <input type="checkbox" onclick="SlavesSearch.searchFromBasicBox(false)" value="true" checked="checked" name="form:_idJsp97">
                    </td>
                    <td style="padding: 0px;">women</td>
                    </tr>
                  </tbody>
                  </table>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="slaves-query-variable-controls">
                  <table style="border-collapse: collapse;">
                  <tbody>
                    <tr>
                    <td style="padding: 0px;">
                      <input type="checkbox" onclick="SlavesSearch.searchFromBasicBox(false)" value="true" checked="checked" name="form:_idJsp106">
                    </td>
                    <td style="padding: 0px; width: 40px;">males</td>
                    <td style="padding: 0px;">
                      <input type="checkbox" onclick="SlavesSearch.searchFromBasicBox(false)" value="true" checked="checked" name="form:_idJsp110">
                    </td>
                    <td style="padding: 0px">females</td>
                    </tr>
                  </tbody>
                  </table>
                  </td>
                </tr>
                <tr>
                  <td class="slaves-query-spacer" style="height: 5px;"></td>
                </tr>
            </tbody>
            </table>
        </div>
        <table style="border-collapse: collapse;">
        <tbody>
            <tr>
                <td style="padding: 5px 0px 5px 0px;">
                    <input id="submitBoxBasic" type="submit" onclick="clear_form();" value="search" name="action">
                </td>
                <td style="padding: 5px 0px 5px 5px;">
                    <input id="form:_idJsp119" type="submit" onclick="clear_form();" value="reset" name="action">
                </td>
            </tr>
        </tbody>
        </table>
        </div>
    </td>
    <td class="box-middle-row-right">
        <div class="box-middle-row-right"></div>
    </td>
    </tr>
    <tr class="row-collapsed">
        <td class="box-set-lower-row-upper-left"></td>
        <td class="box-set-lower-row-upper-middle"></td>
        <td class="box-set-lower-row-upper-right"></td>
    </tr>

</tbody>
</table>

<table class="box-main-table" cellspacing="0" cellpadding="0" border="0">
<tbody>

{#    Middle table (Place of Origin)#}
    <tr>
        <td class="box-set-upper-row-middle-left-collapsed"></td>
        <td class="box-set-upper-row-middle-middle-collapsed">
            <table class="box-header-table" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td class="box-label">Place of origin</td>
                    <td>
                        <div class="box-button-collapsed"></div>
                    </td>
                </tr>
            </tbody>
            </table>
        </td>
        <td class="box-set-upper-row-middle-right-collapsed"></td>
    </tr>
    <tr class="row-collapsed">
    <td class="box-middle-row-left">
        <div class="box-middle-row-left"></div>
    </td>
    <td class="box-middle-row-middle">
      <div id="form:_idJsp122" class="box-main-text">
        <div class="slaves-query-section">
          <table class="lookup-checkbox-list-quicksearch" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td class="lookup-checkbox-list-quicksearch-label">Quicksearch</td>
              <td id="origin-lookup" class="lookup-checkbox-list-quicksearch-input">
                <input id="query-text-origin" type="text" onkeyup="filter_edit_list()" name="">
              </td>
            </tr>
          </tbody>
          </table>

          <div class="lookup-checkbox-list">
            <table cellspacing="0" cellpadding="0" border="0">
            <tbody id="origin_list">
              {% for record in origins %}
{#                {% if record.country_name %}#}
                  <tr>
                    <td></td>
                    <td>
                      <input id="form:c_196" type="checkbox" name="form:c" onclick="LookupCheckboxListGlobals.itemToggled('form:c',this)" value="196">
                    </td>
                    <td class="lookup-checkbox-list-item-0">{{ record.name }}</td>
                  </tr>
{#                {% endif %}#}
              {% endfor %}
            </tbody>
            </table>
          </div>

          <table class="lookup-checkbox-list-buttons" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td>
                <input type="button" onclick="LookupCheckboxListGlobals.selectAll('form:c')" value="Select all">
              </td>
              <td>
                <input type="button" onclick="LookupCheckboxListGlobals.deselectAll('form:c')" value="Deselect all">
              </td>
            </tr>
          </tbody>
          </table>
        </div>

        <table style="border-collapse: collapse;">
        <tbody>
          <tr>
            <td style="padding: 5px 0px 5px 0px;">
              <input id="submitBoxCountry" type="submit" onclick="clear_form();" value="Search" name="submitBoxCountry">
            </td>
            <td style="padding: 5px 0px 5px 5px;">
              <input id="form:_idJsp128" type="submit" onclick="clear_form();" value="New query" name="form:_idJsp128">
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </td>
    <td class="box-middle-row-right">
        <div class="box-middle-row-right"></div>
    </tr>
    <tr class="row-collapsed">
      <td class="box-set-lower-row-middle-left"></td>
      <td class="box-set-lower-row-middle-middle"></td>
      <td class="box-set-lower-row-middle-right"></td>
    </tr>

</tbody>
</table>

<table class="box-main-table" cellspacing="0" cellpadding="0" border="0">
<tbody>
    <tr>
        <td class="box-set-upper-row-bottom-left-collapsed"></td>
        <td class="box-set-upper-row-bottom-middle-collapsed">
            <table class="box-header-table" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td class="box-label">Embarkation and disembarkation </td>
                    <td>
                        <div class="box-button-collapsed"></div>
                    </td>
                </tr>
            </tbody>
            </table>
        </td>
        <td class="box-set-upper-row-bottom-right-collapsed"></td>
    </tr>
    <tr class="row">
        <td class="box-middle-row-left">
        <div class="box-middle-row-left"></div>
        </td>

        <td class="box-middle-row-middle">
          <div id="idJsp132" class="box-main-text">
            <div class="slaves-query-section">
              <div style="margin-bottom: 5px;">Place of embarkation</div>

              <table class="lookup-checkbox-list-quicksearch" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td class="lookup-checkbox-list-quicksearch-label">Quicksearch</td>
                  <td class="lookup-checkbox-list-quicksearch-input">
                    <input type="text" onkeyup="LookupCheckboxListGlobals.quickSearch('form:r', this)" name="">
                  </td>
                </tr>
              </tbody>
              </table>

              <div class="lookup-checkbox-list">
                <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  {% for k, v in embarkation_list.items %}
                    <tr id="tr_{{ k.value }}">
                      <td>
                        <div id="l_arrow_{{ k.value }}" class="lookup-checkbox-list-item-collapsed" onclick="expandable_embarkation(this, {{ k.value }})"></div>
                      </td>
                      <td>
                        <input type="checkbox" name="checkbox_{{ k.value }}" value="{{ k.value }}" onclick="embarkation_choices(this, {{ k.value }})">
                      </td>
                      <td class="lookup-checkbox-list-item-0 query-builder-list-item-with-children">{{ k }}</td>
                    </tr>
                    {% if v.items %}
                    <tr id="tr_{{ k.value }}_child" style="display: none">
                      <td></td>
                      <td></td>
                      <td>
                        <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        {% for region, places in v.items %}
                          {# Children of Broad Region (Regions) #}
                          <tr id="tr_{{ k.value }}_{{ region.value }}">
                            <td>
                              <div id="r_arrow_{{ region.value }}" class="lookup-checkbox-list-item-collapsed" onclick="expandable_embarkation(this, '{{ k.value }}_{{ region.value }}')"></div>
                            </td>
                            <td>
                              <input type="checkbox" name="checkbox_{{ k.value }}_{{ region.value }}" value="{{ k.value }}_{{ region.value }}" onclick="embarkation_choices(this, '{{ k.value }}_{{ region.value }}')">
                            </td>
                            <td class="lookup-checkbox-list-item-1 query-builder-list-item-with-children">{{ region }}</td>
                            </td>
                          </tr>
                          {% if places %}
                            <tr id="tr_{{ k.value }}_{{ region.value }}_child" style="display: none">
                            <td></td>
                            <td></td>
                            <td>
                              <table cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                              {% for place in places %}
                                {# Children of Region (Ports) #}
                                <tr id="tr_{{ k.value }}_{{ region.value }}_{{ place.value }}">
                                  <td></td>
                                  <td>
                                    <input type="checkbox" name="checkbox_{{ k.value }}_{{ region.value }}_{{ place.value }}" value="{{ k.value }}_{{ region.value }}_{{ place.value }}" onclick="embarkation_choices(this, '{{ k.value }}_{{ region.value }}_{{ place.value }}')">
                                  </td>
                                  <td class="lookup-checkbox-list-item-2">{{ place }}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                              </table>
                            </td>
                            </tr>
                          {% else %}
                            <tr id="tr_{{ k.value }}_{{ region.value }}_child" style="display: none">
                          {% endif %}
                        {% endfor %}
                        </tbody>
                        </table>
                      </td>
                    {% else %}
                    <tr id="tr_{{ k.value }}_child" style="display: none">
                    {% endif %}
                    </tr>
                  {% endfor %}
                  </td>
                </tbody>
                </table>
              </div>

              <table class="lookup-checkbox-list-buttons" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td>
                    <input type="button" onclick="LookupCheckboxListGlobals.selectAll('form:r')" value="Select all">
                  </td>
                  <td>
                    <input type="button" onclick="LookupCheckboxListGlobals.deselectAll('form:r')" value="Deselect all">
                  </td>
                </tr>
              </tbody>
              </table>

            </div>
            <div class="slaves-query-section">
              <table style="border-collapse: collapse;">
              <tbody>
                {% for bregion, regions in disembarkation_list.items %}
                {% for region, places in regions.items %}
                {% for place in places %}
                  <tr>
                    {% if forloop.parentloop.parentloop.first and forloop.parentloop.first%}
                      <td class="slaves-query-variable-title">Disembarkation</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    <td class="slaves-query-variable-controls">
                      <table style="border-collapse: collapse;">
                      <tbody>
                        <tr>
                          <td style="padding: 0px;">
                            <input type="checkbox" onclick="SlavesSearch.searchFromPlacesBox(false)" value="true" checked="checked" name="form:_idJsp145">
                          </td>
                          <td style="padding: 0px;">{{ place }}</td>
                        </tr>
                      </tbody>
                      </table>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
                {% endfor %}
              </tbody>
              </table>
            </div>

            <table style="border-collapse: collapse;">
            <tbody>
              <tr>
                <td style="padding: 5px 0px 5px 0px;">
                  <input id="submitBoxPlaces" type="submit" onclick="clear_form();" value="Search" name="submitBoxPlaces">
                </td>
                <td style="padding: 5px 0px 5px 5px;">
                  <input id="form:_idJsp161" type="submit" onclick="clear_form();" value="New query" name="form:_idJsp161">
                </td>
              </tr>
            </tbody>
            </table>

          </div>

        </td>
        <td class="box-middle-row-right">
          <div class="box-middle-row-right"></div>
        </td>

    </tr>

    <tr class="row">
      <td class="box-set-lower-row-bottom-left"></td>
      <td class="box-set-lower-row-bottom-middle"></td>
      <td class="box-set-lower-row-bottom-right"></td>
    </tr>

</tbody>
</table>
</div>

<br/>

<table class="box-main-table" cellspacing="0" cellpadding="0" border="0">
<tbody>
  <tr>
    <td class="box-upper-row-left"></td>
    <td class="box-upper-row-middle">
    <input type="hidden" value="expanded" name="form:_idJsp164_state">
    <table class="box-header-table" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
      <td class="box-label">Current query</td>
      <td>
        <div class="box-button"></div>
      </td>
      </tr>
    </tbody>
    </table>
    </td>
    <td class="box-upper-row-right"></td>
  </tr>
  <tr class="row">
    <td class="box-middle-row-left">
    <div class="box-middle-row-left"></div>
    </td>
    <td class="box-middle-row-middle">
    <div id="form:_idJsp164" class="box-main-text">
      <div class="query-summary">There are currently no conditions in your query. The listing on the right shows all Africans in the database.</div>
    </div>
    </td>
    <td class="box-middle-row-right">
    <div class="box-middle-row-right"></div>
    </td>
  </tr>
  <tr class="row">
    <td class="box-lower-row-left"></td>
    <td class="box-lower-row-middle"></td>
    <td class="box-lower-row-right"></td>
  </tr>
</tbody>
</table>