<div class="sv-container">
  <div class="row">
    <div class="col-md-12 sv-image-gallery-title">
      <div class="query-title">Current search query: </div>
      <code>
        {{voyagesSearch.readable}}
      </code>
    </div>

    <div class="col-md-12">
      {{#dt-voyages vs=voyagesSearch.readable}}
        <th>Voyage identification number</th>
        <th>Vessel name</th>
        <th>Capitain's name</th>
        <th>Year arrived with slaves*</th>
        <th>Principal region of slave purchase*</th>
        <th>Principal region of slave landing*</th>
        <th>Sources </th>
      {{/dt-voyages}}
    </div>

  </div>
</div>

{{outlet}}
